[2020-06-25 21:46] jeremyciak commented on #616
From my PR... we could replace this:
[code]

... with this
[code]

[2020-06-25 22:57] davidwallis3101 commented on #616
I'll post it here for reference - but I'm in a similar situation with the one way trust - i've got some code that works as a crude test for adding a computer account from an one way forest trust into  domain local group - but I haven't yet worked out how it could be made to fit with the current implementation..

This is the only way I've managed to add the group membership so far - obv the dscreso

[2020-06-26 17:10] johlju commented on #616
This would be to error prone when running on a non-english OS. Secondly I'm not in favor of having so much code inside of catch block. 🤔 Isn't there a better way to handle this? 🤔

[2020-06-26 17:12] johlju commented on #616
Is it possible to determine if the domain have this one-way trust relationship and change the the logic accordingly? How would that look like? 🤔

[2020-06-26 17:16] johlju commented on #616
@jeremyciak would @davidwallis3101 code example help in any way? It have a different logic.

[2020-06-26 18:19] jeremyciak commented on #616
@johlju,

The issue with the implementation from @davidwallis3101 is that it utilizes C# and would not allow us to benefit easily from the $commonParameters splat when someone specifies DomainController or Credential parameters.

Another method I was thinking is that if there is nothing specified for Members, IncludeMembers, or ExcludeMembers then we don't do any member logic. I will look into usi

[2020-06-26 18:33] johlju commented on #616
Yes, set should not enforce any Member parameters if they are not specified in the configuration, although the Get-function should return the Members regardless.

[2020-06-26 18:41] jeremyciak commented on #616
I just realized my above suggestion would break what was done for #189 which wants to blank out membership when nothing is specified.

Would you be open to adding a (switch or boolean) parameter to the DSC Resource for "IgnoreMembership" that allows for a situation like I have where I just want to create groups so that I can assign and manage permissions but I want to delegate to other people to c

[2020-06-26 22:25] jeremyciak commented on #616
My PR #617 has been updated to show a possible implementation of this new property.

[2020-06-27 06:57] davidwallis3101 commented on #616
@jeremyciak  why would the sample code I've provided be an issue - contexts are already used, and an implementation is provided here:

https://github.com/dsccommunity/ActiveDirectoryDsc/blob/05e2e29e4ef2f30832462881b160508371f42be2/source/Modules/ActiveDirectoryDsc.Common/ActiveDirectoryDsc.Common.psm1#L1850

surely additional optional parameters could/can be passed to the Add-ADCommonGroupMember

[2020-06-27 09:38] X-Guardian commented on #616
Hi @davidwallis3101, using this piece of your code:

[code]

I was able to get a list of group members from a group which contained a foreign security principal from a domain across a one way external trust. The member object had correctly populated `SamAccountName`, `UserPrincipalName`, `DistinguishedName` and `SID` properties. @jeremyciak, can you verify that you get the same results?

I would s

[2020-06-29 18:52] chasewilson opened #618 "New Resource Proposal: AD Schecma Extension"
### Description

I wrote a DSC resource for this a few years back and forgot about it. It may or may not need some updates. There are test written and a full resource for an LDF schema extension at least.

https://github.com/chasewilson/SchemaExtensionDsc

### Proposed properties

### Special considerations or limitations

[2020-06-30 16:25] X-Guardian commented on #618
Hi @chasewilson. Thanks for submitting this. We will take a look at it.

[2020-06-30 16:26] #611 closed

[2020-06-30 18:17] jeremyciak commented on #616
@X-Guardian, unfortunately I am not getting the same results. Here is my code:

[code]

I get this error:
`An error occurred while enumerating through a collection: The user name or password is incorrect.`

When I run the same code against a group with no foreign security principals it returns results just fine.

[2020-06-30 22:45] jeremyciak commented on #616
How about this:

[code]

The main thing to note here is the usage of `[System.Security.Principal.SecurityIdentifier]::new($_.objectSid).Translate([System.Security.Principal.NTAccount])` to resolve the SamAccountName for the objects of objectClass foreignSecurityPrincipal.

I created a quick little function `Test-GroupStuff` so that you can iterate through some groups and the various MembershipAttr

[2020-07-01 09:37] davidwallis3101 commented on #616
Its potentially not working due to the context not being authenticated. The constructor takes two additional arguments for username and password..
[code]

In my testing I never got it to work quite like that - but I was putting it down to my test env and intented to revisit that later - Looking at other code that's using the context if the credential object isnt passed then the constructor looks l

[2020-07-01 14:06] davidwallis3101 commented on #616
@jeremyciak  that example code works for me however I foresee a problem when when using this as the test as when you return the DN for the member you are returning the fsp DN

[code]

however that isn't what someone is going to specify as part of member(s) or members to include - so something would need to be done with this, At the moment the only way I have managed to get the member to populate w

[2020-07-01 15:20] jeremyciak commented on #616
@davidwallis3101, in my testing the DistinguishedName resolves correctly in a two-way trust but in a one-way trust it does represent the foreign security principal SID as you stated. I don't know what can be done to address that behavior for a one-way trust.

[2020-07-02 13:23] jeremyciak commented on #616
@X-Guardian @johlju
Any thoughts/comments on the latest proposal?

[2020-07-07 09:01] davidwallis3101 commented on #616
I could do with some movement in this as I really need the set part :) happy to work on a PR once we know how the get should look and work out whats acceptable for the additional creds etc

[2020-07-08 07:31] X-Guardian commented on #616
OK guys, I've tested @jeremyciak 's  `Test-GroupStuff` function, and it works for me, and it hopefully gives us a route forward. I'll now review PR #617.

[2020-07-13 19:22] X-Guardian opened #619 "ADGroup: Proposal to Support Group Members Across One-Way External Trusts"
#### Details of the scenario you tried and the problem that is occurring

The current `ADGroup` resource does not support `Getting` or `Setting` an AD group that contains foreign security principals that are members from one way trusted domains.

Issue #616 discusses this with regard to `Getting` an AD group in this scenario, and PR #617 resolves this. We now need to develop a solution for `Settin

[2020-07-13 20:35] jeremyciak commented on #619
One clarification in your table where you reference the **SamAccountName** and **DistinguishedName** for the foreign security principal is that if we are working in *contoso.com* and the foreign security principal is from *adatum.com* then you would want the **DistinguishedName** to represent that `ForeignSecurityPrincipals` container in Active Directory from *contoso.com* as you have done, but th

[2020-07-13 20:37] #616 closed

[2020-07-13 20:39] X-Guardian commented on #619
Yep good point, updated.

[2020-07-14 02:16] jeremyciak commented on #619
Here is my attempt at a starting point similar to what you have offered... this is just to translate whatever `Members` values into a  `DistinguishedName` for standard processing from there:

[code]

[2020-07-14 08:57] davidwallis3101 commented on #619
Embarrassingly my test env built with automated labs - I left a pretty generic pwd on and the boxes somehow got compromised.. SO I blew it all away... They've now added a feature to allow locking the NSG down to an IP during config which should help a bit.. So I'll re-provision this shortly and test.

I'm interested in the method you found for adding foreign security principals though as I didn't

[2020-07-14 15:57] X-Guardian commented on #619
Hi @davidwallis3101,  I thought it was too easy. The code I posted only works if there is already a `ForeignSecurityPrincipal` reference for the user. I just tested creating a brand new user in the trusted domain and I can resolve the SID from the trusting domain, but I need the `DistinguishedName` for `Set-ADGroup` which I don't have because there is no FSP yet :(
If this needs credentials for th

[2020-07-14 17:14] jeremyciak commented on #619
Alright, I think I have something that works now after referencing what @davidwallis3101 did with his code. Utilizing the SID value instead of the `DistinguishedName` is the key. Here is a function to resolve the SID for whatever `MembershipAttribute`:
[code]

With this function you can then reference various use cases, however the one that I think makes for the easiest testing is this:

- Assume

[2020-07-14 17:20] X-Guardian commented on #619
Yep, but that doesn't help with the initial challenge: Create a brand new user in the trusted domain, and then try and add it to a group in the trusting domain without having any credentials for the trusted domain. I don't think it can be done.

[2020-07-14 17:25] jeremyciak commented on #619
@X-Guardian, I just did exactly that and it worked. The secret is the reference to the Security Identifier instead of the `DistinguishedName`. Seriously, try my code snippets for yourself.

[2020-07-14 17:29] jeremyciak commented on #619
Also potentially worth noting that by performing the group member addition based on the Security Identifier of the Foreign Security Principal it will automatically create that object in the Active Directory domain. This effort may foray into another DSC resource or something to help manage orphaned FSP objects over time.

[2020-07-14 17:37] X-Guardian commented on #619
OK yes, you are right @jeremyciak. well done! I created another brand new user and specifying the SID for the `Set-ADGroup` `-Add` `Member` property works. I can see the FSP gets created, and no credentials are needed for the trusted domain.

This code snippet demonstrates it:
[code]

[2020-07-14 17:47] jeremyciak commented on #619
@X-Guardian, so what is the next step here? Should I start building out a PR?

[2020-07-15 13:22] jeremyciak commented on #619
I have gone ahead and started efforts on this in my fork under the `develop` branch. I will open a PR once I have something functional.

[2020-07-15 20:13] X-Guardian commented on #619
OK @jeremyciak, cheers.

[2020-07-16 01:02] jeremyciak commented on #619
Alright @X-Guardian  and @davidwallis3101, [the PR](https://github.com/dsccommunity/ActiveDirectoryDsc/pull/620) is out there. Please go check it out and provide some feedback. Thanks!

[2020-07-21 16:32] jeremyciak opened #622 "Expected requirements for contribution should be included in VSCode settings to make it easier"
Requirements like line length and other similar settings that can be added to the `settings.json` file under the `.vscode` folder should be so that contributors automatically benefit from those settings.

[2020-07-21 16:38] jeremyciak commented on #622
[code]

[2020-07-23 17:33] johlju commented on #622
We could also add a [`extensions.json`](https://code.visualstudio.com/docs/editor/extension-gallery#_workspace-recommended-extensions) that suggest adding the extension [markdownlint](https://marketplace.visualstudio.com/items?itemName=DavidAnson.vscode-markdownlint) that is used for validating markdown in HQRM tests.

[2020-08-07 08:03] jmos5156 opened #624 "ADOrganizationalUnit : Removing Credential from the list of desired values to compare"
#### Details of the scenario you tried and the problem that is occurring
When using resource: ADOrganizationalUnit, with a credential parameter, DSC will use the Credential as part of the `DesiredValues` (Compare-ResourcePropertyState function) when evaluating the state of an OU during the `Test-TargetResource`. In the event that the OU exists, this forces a re-evaluation of all the passed paramet

[2020-08-12 03:25] srikanth1997-in opened #625 "Migrating from Windows SBS 11 to Windows server 2016 - error in Active Directory"
Hi, I m trying to migrate the Windows SBS 11 to Windows server 2016 while in migration process, i am trying to install "Install-ADDSDomainController " in Power Shell, but I am Getting the below error....

Install-ADDSDomainController : Verification of prerequisites for Domain Controller promotion failed. The specified argument 'ConfirmGC' was not recognized.
At line:1 char:1

    Install-ADDSDomai

[2020-08-13 18:44] #584 closed

[2020-08-13 18:54] johlju commented on #625
This repository is for a DSC resource that is used together with Desired State Configuration, I sounds to me like you are not using DSC or functionality in the DSC resource at all. If so I suggest you talk to Microsoft Support. If I misunderstood you, then please provide more information about your issue, how you use the DSC resource.

[2020-08-18 18:05] camusicjunkie commented on #415
A lot of the long lines are the ones where formatting is taking place. Would you be OK with something like this?

### Before
[code]
### After
[code]
or
### After
[code]

[2020-08-18 18:41] johlju commented on #415
I’m good with the first one:

[code]

Or if there are one with more variables to format we could use an array after `-f`.

[code]

Since this issue is a bit old now let’s ask for @X-Guardian opinion too. 🙂

[2020-08-24 22:21] kewalaka commented on #265
Isn't there a circular logic issue if gMSA and groups are kept distinct, e.g. consider the below

[code]

It isn't possible to specify the "members" of the group for MSA, because it doesn't exist yet.

Conversely, if you switch it around, the then you can't specify the ManagedPasswordPrincipals property on the ADManagedServiceAccount.

I wasn't sure from the discussion above if the intent is to ca

[2020-08-25 13:48] johlju opened #626 "BREAKING CHANGE: xADUser: The parameter PasswordNeverExpires is wrongly used to handle if the password should be enforced"
#### Details of the scenario you tried and the problem that is occurring
If a configuration sets `PasswordNeverExpires` to `$true` it will not be enforced. But then it will probably set that property on the user account to `$true` as well. That might not be desired.

This scenario is not supported: An account is created by the configuration, with the property `PasswordNeverExpires` set to `$false`

[2020-08-25 13:54] johlju commented on #626
Ignore that. Too tired. Mixed up `PasswordNeverExpires` with `PasswordNeverResets`

[2020-08-25 13:54] #626 closed

[2020-08-25 14:18] johlju opened #627 "BREAKING CHANGE: xADUser: Suggest renaming parameter PasswordNeverResets to EnforcePassword"
#### Details of the scenario you tried and the problem that is occurring
Currently the parameter `PasswordNeverResets` is not very intuitive of what it meant to do, to enforce the password for an account or not. Suggest renaming the parameter to `EnforcePassword` to clearly show what it is meant to do.

#### Verbose logs showing the problem
n/a

#### Suggested solution to the issue
n/a

#### The D

[2020-08-25 14:19] johlju commented on #627
Adding this to track this as discussed in the Slack #DSC channel.

[2020-08-25 14:37] kungfu71186 commented on #627
I would recommend changing to PasswordResets or UpdatePassword instead and have 3 states.

Always
OnCreate
WhenDifferent

Always would always set the password
OnCreate only resets when the account is created
WhenDifferent sets the password back to the one from DSC (if it gets reset outside of DSC, reset it back)

Deprecate the PasswordNeverResets parameter. If this is set to true, then throw warni

[2020-08-25 15:46] X-Guardian commented on #627
I don't understand what would be the difference between `Always` and `WhenDifferent`.

[2020-08-25 15:47] X-Guardian commented on #625
Closing as not a DSC issue.

[2020-08-25 15:47] #625 closed

[2020-08-25 15:50] kungfu71186 commented on #627
Always will always set the password no matter what (it will basically be out of state anytime you run the config). WhenDifferent only sets the password if it's different than the password that is being set from DSC. If the passwords match, it won't change it. Always will.

Always is useful if you need to force a password change though.

[2020-08-25 15:55] X-Guardian commented on #415
Powershell and PSScriptAnalyzer naturally splits and indents after the `-f` if you wrap the `Message` parameter in brackets, so:

[code]

This pattern is used throughout the newer and refactored resources (ADFineGrainedPasswordPolicy, ADManagedServiceAccount etc)

[2020-08-25 16:05] X-Guardian commented on #627
Dsc resources should only apply changes when a resource is detected to be not in the desired state, so `Always` does not fit this pattern. I only see two options; only set the password when the user is initially created or always set the password when it is detected to not be in the desired state.

Making a breaking change to rename this parameter seems overkill to me. Much better to just add a be

[2020-08-25 16:11] kungfu71186 commented on #627
Makes sense. This is what ansible does or is supposed to do. Currently 'Always' is broken and its the same two states you mentioned.

https://github.com/ansible/ansible/issues/58246

I'm indifferent to whatever is decided. The only major thing from me is just adding a state to only set the password when the account is created.

[2020-08-25 16:15] X-Guardian commented on #627
That setting is already there @kungfu71186, use `PasswordNeverResets=$true`

[2020-08-25 16:59] kungfu71186 commented on #627
I see, so when this is true it only sets the password on create and when false it updates when the passwords differ. In that case, then yeah, it does make sense.

[2020-08-25 17:16] johlju commented on #627
Yes the two states already exist and works. It was just the naming of the parameter that I thought could be more intuitive.

But since that is a breaking change (eventually, first we could deprecate the old parameter name) we could do it when there are more breaking Ganges to be merged. But if we decide to just improve the documentation and provide a better example then that might be sufficient.

[2020-08-25 17:22] johlju commented on #415
Sometime there are arguments that are longer so using a array makes it possible to do this

[code]

But then, that probably should be formatted on a row before the Write-Verbose 😊

So I’m good with @x-guardian’s suggestion.

[2020-09-04 20:11] briantist commented on #616
This is awesome. I've been hoping for a fix to this for so long https://github.com/dsccommunity/ActiveDirectoryDsc/issues/235

[2020-09-27 18:58] #624 closed

[2020-10-05 15:21] Clebam commented on #563
Hi, there might be a use foreach of the ActiveDirectoryDsc Resources in a scenario where you have 2 domains, say:

- contoso.com
- child.contoso.com

You may have a server used to administrate both domain (using specified credentials), with the server being on consoto.com domain. This scenario prevents to expose directly AD DC.

[2020-10-10 08:16] #619 closed

[2020-10-10 09:39] X-Guardian commented on #619
@jeremyciak and @davidwallis3101, ActiveDirectoryDsc Module version [6.1.0-preview006](https://www.powershellgallery.com/packages/ActiveDirectoryDsc/6.1.0-preview0006) has been released which includes this change. Can you download and test before I release v6.1.0 officially?

[2020-10-25 21:23] albvar opened #630 "Issue: General question xAdUser supporting custom extended schemas properties"
Hello,

My environment has had the AD user schema to have ExtensionAttribute1-15.
I am currently supporting this by leveraging native Set-AdUser -Replace @{Extensionattribute1 = 'myvalue'}
Retrieval involves Get-AdUser abc -Properties ExtensionAttribute1
Is this possible to support within the xAdUser resource? Wanted to ask for guidance, thanks in advance.

[2020-10-30 18:02] johlju commented on #630
I think it would be fairly easy to add those properties as parameters to the resource. They are just handled as text values right? So the would be added like a similar property like `Description`. 🤔

[2020-11-03 14:04] jojiklmts opened #632 "ADDomainController: RODC requires site name"
#### Details of the scenario you tried and the problem that is occurring
When you create configuration for read only DC it requires SiteName. Error message:
This does not make any sense. If you are using DSC, chances are you are doing so because you have hundreds of DCs to manage. Hard-coding site name into MOF file is not feasible as each DC will have different site name. To mitigate this I could

[2020-11-12 18:03] johlju commented on #632
Then this logic that throws on missing site should be removed:

https://github.com/dsccommunity/ActiveDirectoryDsc/blob/87b1308891fb28d092aa12eb886661cd15d5d018/source/DSCResources/MSFT_ADDomainController/MSFT_ADDomainController.psm1#L296-L304

and

https://github.com/dsccommunity/ActiveDirectoryDsc/blob/87b1308891fb28d092aa12eb886661cd15d5d018/source/DSCResources/MSFT_ADDomainController/MSFT_ADDo

[2020-11-12 18:11] johlju commented on #632
Looking here it looks like SiteName is required for the cmdlet `Install-AddsDomainController` when not using staging on 2012 R2. Is that the reason it is required?
https://docs.microsoft.com/en-us/windows-server/identity/ad-ds/deploy/rodc/install-a-windows-server-2012-active-directory-read-only-domain-controller--rodc---level-200-#rodc-without-staging-windows-powershell

[2020-11-13 10:49] jojiklmts commented on #632
Good find @johlju
In my case I am doing the RODC deployment without staging. So according to the article you provided this should apply:
"The Domain Controller Options page also enables you to choose the appropriate Active Directory logical site name from the forest configuration. By default, it selects the site with the most correct subnet. If there is only one site, it selects that site automati

[2020-11-14 16:50] johlju commented on #632
Agree. Also looking at the PR https://github.com/dsccommunity/ActiveDirectoryDsc/pull/406 (and referenced issues and PR) where RODC was introduced (and the evaluation of site name) there is no mention of the site name need to be required.

Conclusion is that the evaluation in the two places mentioned in a previous comment could be safely removed (and related unit tests).

Happy to review a PR for

[2020-11-15 12:03] X-Guardian commented on #632
Guys, `SiteName` is a required parameter for `Install-ADDSDomainController` when `ReadOnlyReplica` is specified. You can see it in the cmdlet syntax:

[code]

And if you try running the cmdlet without `SiteName`, you are prompted for it:

[code]

That is why it is a required for the `ADDomainController` resource when `ReadOnlyReplica` is specified, and needs to remain so.

[2020-11-15 12:33] X-Guardian commented on #630
It would not make sense to include these as standard properties of the `ADUser` resource as they are not part of the standard AD Schema. The only sensible way to support this would be adding an `OtherAttributes` `hashtable` property to the `ADUser` resource, the same as the `New-ADUser` cmdlet uses in this scenario. This would need to make use of the `EmbeddedInstance("MSFT_KeyValuePair")` MOF res

[2020-11-15 12:51] johlju commented on #632
Thank you @X-Guardian! I saw that in the documentation but then @jojiklmts findings in the documentation contradicted it so I thought there was a bug with the documentation.
Thanks for clearing this up.

If cmdlet is changed in the future then what @jojiklmts suggest might work, but until then I think we can close this issue.

@jojiklmts feel free to reopen the issue if you want to discuss it more

[2020-11-15 12:51] #632 closed

[2020-11-15 17:50] X-Guardian opened #633 "ADGroup: Cannot Manage Child Domain User Membership Using DistinguishedName in v6.1.0-preview0006"
#### Details of the scenario you tried and the problem that is occurring

With the preview module `v6.1.0-preview0006`, containing the modified `ADGroup` resource code from PR #620, managing child domain user membership of an AD Group using the `DistinguishedName` MembershipAttribute now fails.

This is a blocker for the release of `v6.1.0` of the module.

#### Verbose logs showing the problem

[c

[2020-11-16 10:08] jojiklmts commented on #632
So this means if you have hundreds of DCs to manage you are going to need hundreds of MOF files. And will have to update all of those MOF files every time there is a change. That is unfortunate.

[2020-11-16 16:20] johlju commented on #633
Great that you found this, and awesome diagnosis of the problem! Should we revert the change that was introduced in PR #620, or do you see a way forward?

[2020-11-21 11:43] X-Guardian commented on #633
We can support all scenarios (same domain member, child domain member and one-way forest trust member) but it will need a rethink and refactor of the member addition/deletion code.

I've raised PR #631 to refactor the `ADGroup` resource, but this doesn't include any fix for this issue. I intend to finish that PR first, get it reviewed and merged then work on another PR to fix the child domain memb

[2020-12-10 15:23] ixniz opened #637 "Incorrect key reference when setting site link options?"
https://github.com/dsccommunity/ActiveDirectoryDsc/blob/87b1308891fb28d092aa12eb886661cd15d5d018/source/DSCResources/MSFT_ADReplicationSiteLink/MSFT_ADReplicationSiteLink.psm1#L290

A cursory glance through the code seems to indicate that the specified line contains a reference to the wrong key.

"if ($PSBoundParameters.ContainsKey('ReplicationFrequencyInMinutes') -and"
should probably be
"if ($PS

[2020-12-10 16:39] johlju commented on #637
Yes, looks like you are correct.

[2020-12-23 18:53] noendscripting opened #638 "ActiveDirectoryDsc: Modules fail to run port reboot after ADDomain created a forest"
#### Details of the scenario you tried and the problem that is occurring
* Affects Windows Server 2016-2019, Windows Server 2012 R2 runs fine
* Running DSC configuration that creates a single DC forest and then creates OUs and Group. Forest is created without any issues and system reboots. After reboot next task fails  with error:" Unable to find a default server with flags: 'MinimumDirectoryServi

[2020-12-24 08:32] X-Guardian commented on #638
You need to move the `WaitForADDomain` resource to just after the `ADDomain` resource. you are trying to create OUs before the Domain Controller is ready.

[2020-12-24 14:35] eebuta opened #639 "ADGroup: Resources Failing and Non-idempotent"
#### Details of the scenario you tried and the problem that is occurring
Hi All, I am using the MSFT_ADGroup resource in activedirectorydsc (https://forge.puppet.com/modules/dsc/activedirectorydsc) module to create a new group in AD. The module runs successfully on the first try, then throws errors on the sequential runs. I think this happens because the AD group is configured as required, however

[2020-12-26 10:58] X-Guardian commented on #639
@eebuta, this is Puppet configuration and Puppet logs which we do not support here. Please reproduce the issue with native DSC Configuration and post the DSC verbose logs if you want this to be investigated further.

[2020-12-27 12:59] johlju commented on #638
...and the resources after should depend on `WaitForADDomain`, not `'[ADDomain]CreateForest'`. 🤔

[2020-12-28 03:46] noendscripting commented on #638
The WaitForDomain function in the configuration is for trust creation and confirms existence of second domain.  You seem to be suggesting I should be running two "WaitForDomain"  functions one for local ( to the configuration) domain and one for the remote. However, this very same,  configuration works 100% each time and every time on Windows Server 2012 R2. (I'm attaching logs from successful run

[2020-12-30 17:46] johlju opened #641 "ActiveDirectoryDsc: Rename master branch to main"
As per [this statement](https://sfconservancy.org/news/2020/jun/23/gitbranchname/).

Follow this guide https://dsccommunity.org/blog/convert-master-to-main/

[2021-01-05 16:28] #641 closed

[2021-01-20 20:13] Antiohne opened #644 "ADManagedServiceAccount: Add support for setting the SAM account name and (common) name separately"
#### Details of the scenario you tried and the problem that is occurring
The ``ADManagedServiceAccount`` DSC resource configures Managed Service Accounts via the ``ServiceAccountName`` parameter only with the Security Account Manager (SAM) account name and the specified value is also applied to the (common) name of the object. When using the ``New-ADServiceAccount`` cmdlet you have to configure th

[2021-01-24 16:33] #494 closed

[2021-01-25 07:25] Antiohne commented on #644
The requested behavior is similar to AD User. I did some research how to implement this feature. Based on the implementation of the code in *ActiveDirectoryDsc.Common.psm1* and *MSFT_ADUser.ps1* a **CommonName** parameter implementation should be added to ADManagedServiceAccount for the long name. The ServiceAccountName will set the SamAccountName and the CommonName if no CommonName is specified.

[2021-01-25 15:36] ixniz opened #646 "ADServicePrincipalName: Add Credential parameter"
#### Details of the scenario you tried and the problem that is occurring
Using the ADServicePrincipalName resource on a _member server_ result in "Insufficient access rights to perform the operation".

#### Verbose logs showing the problem

[code]

#### Suggested solution to the issue

Add a Credential parameter, which would allow us to specify the Credentials when running on a server that is not

[2021-01-25 17:24] X-Guardian commented on #646
Hi @ixniz, as long as the device that you are executing the DSC on is domain connected and is running PowerShell 5 or above, you can use the automatic `PsDscRunAsCredential` property to specify your desired domain credentials for each resource. See [Use Credentials with DSC Resource](https://docs.microsoft.com/en-us/powershell/scripting/dsc/configurations/runasuser?view=powershell-5.1) for further

[2021-01-26 15:20] ixniz commented on #646
Thanks, it worked like a charm! I had completely forgotten about that.

[2021-01-26 17:44] johlju commented on #646
Closing this at this time.

[2021-01-26 17:44] #646 closed

[2021-02-06 16:07] Antiohne commented on #644
I am trying to implement it based on the ADUser implementation.

[2021-02-12 01:49] michaeltlombardi opened #647 "ADDomainController: Ensure Property should be renamed or reimplemented"
#### Details of the scenario you tried and the problem that is occurring
The schema for the `ADDomainController` Resource includes the `Ensure` property as a `read-only` `string`:

https://github.com/dsccommunity/ActiveDirectoryDsc/blob/9346a1d153515d5a4852375575bdddc917ea030e/source/DSCResources/MSFT_ADDomainController/MSFT_ADDomainController.schema.mof#L13

This is counter to the expectation and

[2021-02-12 07:56] gaelcolas commented on #647
Agreed on all accounts.
Given when this resource was originally written, I guess the reason it's still this way is to minimize breaking changes and the lack of time to refactor.

That said, you're right and I'll let the maintainers of @dsccommunity/activedirectorycsdsc to comment on feasibility and preferred approach.

[2021-02-12 10:55] johlju commented on #647
Yes it should use `Ensure` property as any other DSC resource, meaning using the two values `Present` and `Absent`. If I recall correctly the current implementation was a workaround to fix a bug and not make a breaking change.

This issue is related to issue https://github.com/dsccommunity/ActiveDirectoryDsc/issues/251 which suggest that the `ADDomainController` should be able to demote a domain c

[2021-02-12 10:55] johlju commented on #647
We are happy to review a PR that implements this breaking change, preferably that also fixes issue #251. 🙂

[2021-02-12 13:11] michaeltlombardi commented on #647
I probably can't commit to implementing the PR myself (I'm hip-deep in the [Puppet-DSC integration work](https://github.com/puppetlabs/puppet.dsc) myself, we found this via a customer raising a bug) at this time, unfortunately.

[2021-02-12 13:30] johlju commented on #647
No worries @michaeltlombardi. Hopefully someone in the community can pick this up.

[2021-03-22 07:40] #639 closed

[2021-04-05 23:52] #638 closed

[2021-04-06 11:58] raandree opened #648 "ADKDSKey Resource does does not work"
#### Details of the scenario you tried and the problem that is occurring
When trying to create a KDS key, the error "String was not recognized as a valid DateTime" is thrown on machines with culture en-us and de-de.

#### Verbose logs showing the problem
[code]

#### Suggested solution to the issue
Not throwing the conversion error.

#### The DSC configuration that is used to reproduce the issue (

[2021-04-07 12:57] Erwan-loot opened #650 "ADManagedServiceAccount: KeberosEncryptionType doesn't work on creation"
Exemple if you create a account with KerberosEncryptionType = AES256
The creation of a GMSA account let the parameter "KerberosEncryptionType"  in {RC4, AES128, AES256} (Default behavior when you let this paramter empty)
When you reapply a second time while the account is already created the parameter is changed correctly to AES256

Add the parameter kerberosencryptiontype in the creation as the C

[2021-04-23 09:20] indented-automation opened #652 "ADFineGrainedPasswordPolicy documentation"
Good morning!

Just a simple problem, ADFineGrainedPasswordPolicy is missing from the wiki.

[2021-04-28 06:55] #652 closed

[2021-05-13 05:07] jimchurches opened #653 "ActiveDirectoryDsc: No reboot after new forest install"
#### Details of the scenario you tried and the problem that is occurring

What am I missing?  Help!

Installing a brand new forest on a Windows Server 2019 server the DSC configuration seems to install ADDS without issue, however, the system does not reboot to complete installation/configuration.  A reboot is required to complete the installation
and configuration of the new ADDS forest.

The DSC

[2021-05-13 07:19] johlju commented on #653
Did you use `Set-DscLocalConfigurationManager` to configure the LCM on the target node with the meta configuration? See how to write the configuration here https://docs.microsoft.com/en-us/powershell/scripting/dsc/managing-nodes/metaconfig?view=powershell-5.1.

[2021-05-13 08:37] jimchurches commented on #653
Doh!

That will be it!

I'm use to that being handled in my automation (I think the DSC extension takes care of that for me) and messing around at the command prompt I have missed the step.

I will check tomorrow when back in the office.  Feeling dumb.

[2021-05-14 07:19] jimchurches commented on #653
So as @johlju points out, I've missed a step with `Set-DscLocalConfigurationManager` .  This step is done for you via the Azure DSC Extension so I'd forgotten about it from my pre-Azure days.  Thanks for the help.

[2021-05-14 07:19] #653 closed

[2021-05-14 17:51] johlju commented on #653
No worries. Glad I could help 😃

[2021-05-14 18:05] dslcleve opened #654 "ActiveDirectoryDsc: ADGroup still fails with members with foreign security principals in v6.2.0-preview0001"
#### Details of the scenario you tried and the problem that is occurring
We have ADGroup DSC resources that create several groups in different OUs. After some of these groups are created by DSC, we manually add cross-domain members (foreign security principals). With ActiveDirectoryDsc version 6.0.1, we get errors as specified here: https://github.com/dsccommunity/ActiveDirectoryDsc/issues/619. We

[2021-05-14 19:28] gaelicWizard opened #655 "ADUser, ADGroup: Specify samAccountName separately"
#### Details of the scenario you tried and the problem that is occurring
We have a need to set the samAccountName of a group created by an application installer which uses the group SID during installation, but which is named incompatibly with a different application. We can already set DisplayName and CommonName by specifying 'GroupName' key property as the full SID or by Distinguished Name, but

[2021-05-15 18:10] johlju commented on #654
@X-Guardian do you have time to look at this issue, if this solves the pending PR (in draft) from you?

Labeling this as a bug and help wanted so someone in the community can work on this.

[2021-05-15 18:12] johlju commented on #655
Happy to review a PR that fixes this.

[2021-05-16 11:48] X-Guardian commented on #654
No, this is not related to the pending ADGroup PR I have open. @dslcleve, can you post the output from `Get-ADGroup -Properties *` for a group that returns `8224` in the `Get-ADGroupMember` error, so that we can try and identity the difference in those groups.

[2021-05-16 12:02] X-Guardian commented on #648
@raandree, can you post the output of `Get-KdsRootKey` so that we can see what values are in the `EffectiveTime` properties of your keys.

[2021-05-16 18:59] dslcleve commented on #654
I ran Get-ADGroup and Get-ADGroupMember on the command line in a powershell window. Oddly the Get-ADGroupMember returns 0 instead of 8224. I added the log from the DSC and have some debug messages to confirm that it returns 8224 (See the DEBUG messages)

Get-ADGroup -Properties * -Identity Role_Admins

CanonicalName                   : ext.us.csod.corp/Servers/ulp/Role_Admins
CN

[2021-05-16 20:16] X-Guardian commented on #654
Thanks @dslcleve.  Can you output the full error object you are receiving in the DscResource? You can do this by adding `Write-Debug ($_ | ConvertTo-Json)` to the resource. I'm hoping we can find a better property to check for somewhere in the error object. `Exception.ServerErrorMessage` looks interesting.

[2021-05-17 00:33] gaelicWizard commented on #655
(Would it be inappropriate for me to post this same request under xPSDesiredStateConfiguration module for local accounts?)

[2021-05-17 02:45] gaelicWizard commented on #655
The local user/group version of this seems much simpler, so I've prepared a pull request for xPSDesiredStateConfiguration first.

For ActiveDirectoryDsc, ADUser seems like the existing code mixes and matches using '-Identity' and '-SamAccountName' parameters for exactly not that. It seems that the existing code would succeed in some circumstances and fail in others, for example using literally any

[2021-05-17 22:47] dslcleve commented on #654
Here you go, thanks.

VERBOSE: [TESTADML]: LCM:  [ Start  Resource ]  [[ADGroup]Role_Admins]
VERBOSE: [TESTADML]: LCM:  [ Start  Test     ]  [[ADGroup]Role_Admins]
VERBOSE: [TESTADML]:                            [[ADGroup]Role_Admins] Retrieving AD Group 'Role_Admins'. (ADG0021)
VERBOSE: [TESTADML]:                            [[ADGroup]Role_Admins] The AD Group 'Role_Admins' is present. (ADG0023)

[2021-05-18 00:50] gaelicWizard commented on #655
Narrator: The local version was not simpler.

[2021-05-18 07:20] X-Guardian commented on #654
This hasn't got the JSON output of the error object in it. You need to run `Start-DscConfiguration` with `-Debug`

[2021-05-18 07:41] X-Guardian commented on #655
Hi @gaelicWizard , a few notes on what you have submitted so far.

Any change to these resources must be non-breaking, i.e. not affecting their current use for this edge case. You must also consider the full life cycle of both the resource and the property, i.e. manage adds, changes and deletions of both the resource and any properties you add/change.

The ADGroup resource uses a mix of AD PowerSh

[2021-05-18 08:20] TorstenSchnitter opened #657 "ADGroup: Error with get group membership if number of members is too big (> 5000 ?)"
#### Details of the scenario you tried and the problem that is occurring
If a group does have to many members the "ADGroup" throws an error while getting members of this group.
This error occours with group membership based on "SamAccountName" and also with based on "DistinguishedName"

#### Verbose logs showing the problem

[code]

#### Suggested solution to the issue
No limit on group members

#

[2021-05-18 18:16] dslcleve commented on #654
Sorry, here it is:

VERBOSE: [TESTADML]:                            [[ADGroup]Role_Admins] DEBUG1 FullyQualifiedErrorId: ActiveDirectoryServer:8224,Microsoft.ActiveDirectory.Management.Commands.GetADGroupMember
VERBOSE: [TESTADML]:                            [[ADGroup]Role_Admins] {
    "Exception":  {
                      "ErrorCode":  8224,
                      "ServerErrorMessage":  "An opera

[2021-05-19 06:37] X-Guardian commented on #657
This due to a configuration restriction in Active Directory Web Services. See http://technet.microsoft.com/en-us/library/dd391908%28WS.10%29.aspx for details on the `MaxGroupOrMemberEntries` property and how to modify it on your domain controllers.

[2021-05-19 11:45] TorstenSchnitter commented on #657
Thanks for the link.
This worked well and solved the problem.

[2021-05-19 17:39] X-Guardian commented on #657
No problem @TorstenSchnitter

[2021-05-19 17:39] #657 closed

[2021-05-20 06:10] gaelicWizard commented on #655
@X-Guardian, thanks for the tips!

Could you help me understand what should be *returned* from Get-TargetResource? Should it include additional managed properties? I've got my wires crossed and now my brain is refusing to grok.

I'm no good at phrasing for documentation. The current resource for ADUser claims that UserName is SamAccountName, but that's only actually true (in the current resource)

[2021-05-20 19:28] gaelicWizard commented on #655
I think between ADUser, xUser, and xGroup there are three entirely different implementations of how to access and manage principals. I think I've figured them out, and I think I learned some unit testing too! I did my best with the parameter help descriptions.

I see that xGroup was refactored recently. Would it be helpful if I (separately) updated xUser to have a similar implementation? I expect

[2021-05-20 22:41] gaelicWizard commented on #644
@Antiohne, I've just put in a PR which I believe addresses this use case. If you have time, could you look if it would solve your need?

[2021-05-21 05:04] johlju commented on #655
Get-TargetResource should return all properties in the schema MOF.

Just write how you would want it to say and it is probably be good 🙂 During review if it is not clear the reviewer and you can bounce ideas how to make it better. But there should be something to go from at least. 🙂

Those resources are in a different module, please create an issue in that repo for those discussions.

[2021-05-21 05:05] johlju commented on #655
There is no hurry at all. Take your time. Personally I was happy to learn to be able to make tests, that is something I had used for a lot since then. Keep up the good work! 😃

[2021-05-22 22:48] gaelicWizard commented on #655
I split this up in to multiple pull requests so it's easier to review, and I'll open a separate issue under xPSDesiredStateConfiguration for that stuff. I kinda didn't expect there to be so many little bits to deal with here! Fun! 😃

[2021-05-23 08:59] Antiohne commented on #644
@gaelicWizard, I've just tested the code from your PR and my reaction you can find there.

[2021-05-24 17:21] dslcleve commented on #654
Hi @X-Guardian, have the outputs helped?

I found this: https://stackoverflow.com/questions/29808611/get-adgroupmember-stopped-working-for-some-users and it seems like 8224 is an error for the same problem, i.e. foreign security principals as members of the group. I have multiple groups and some succeed because it returns with 0 instead of 8224. The groups are all created via DSC in one automation

[2021-05-25 06:54] powertim commented on #624
Hi,

I'm still having the issue with version 6.2.0-preview0001 although it's marked as fixed in the release notes...

[2021-05-29 19:22] raandree commented on #648
@X-Guardian, the error is as mentioned earlier:

[code]

The configuration I use is:

[code]

These are the keys:

[code]

Most importantly, the EffectiveTime property is a DateTime object already. Why would you need to run the Parse method on a DateTime object?

[2021-06-05 16:14] Antiohne commented on #644
@gaelicWizard @johlju I've just opened PR #661 which implements the requested behavior.

[2021-06-12 17:26] SergeDubovsky opened #662 ""Read" attribute on resources. Needs some examples"
Namely, the ADGroup resource. As I understand, this:
DistinguishedName | Read | String | Returns the distinguished name of the Active Directory group

Is supposed to return the DN of created group. I have no idea how to read the output from DSC resources, if that even possible. Or, how to use this output in the parameter of other resource, such as ADManagedServiceAccount ManagedPasswordPrincipals,

[2021-06-13 15:53] johlju commented on #662
The read-only parameters cannot be used as an input to other resources in a compiled configuration. You can get read-only properties by calling `Get-DscConfiguration` or `Invoke-DscResource` using the method `Get`.

[2021-08-23 11:12] #662 closed

[2021-08-30 23:12] jambar42 opened #665 "ADObjectPermissionEntry: Inherited permissions are unable to be validated."
https://github.com/dsccommunity/ActiveDirectoryDsc/blob/5ea5a1300fcee61c447b6c544aab7c28a9339216/source/DSCResources/MSFT_ADObjectPermissionEntry/MSFT_ADObjectPermissionEntry.psm1#L86

By adding the `$access.IsInherited -eq $false` check to the Get-TargetResource function, the resource is unable to validate that the ADObject has permissions from an upstream source.

This results in a failed test,

[2021-08-31 00:33] jambar42 commented on #665
The existing code results in a second, explicit object permission entry even when the inherited entry already exists. I guess this isn't a blocker, it just makes the permissions dirtier.

[2021-08-31 17:51] johlju commented on #665
I think by having a configuration that enforce that a certain object should have a certain permission then that object should be set with explicit permission since the object would not have the permission if it is removed from the parent. So I think the current design is correct.

Though, thinking about it the resource could have another optional parameter (e.g. `EvaluateInherithedPermission`). If

[2021-11-08 20:18] matt2005 commented on #563
This is also useful when working with trusted domains. I'm working on a PR to add support

[2021-11-09 11:40] matt2005 opened #667 "Azure Pipeline VM Image"
Azure Pipeline is set to use Ubuntu16.04 which no longer exists.

[2021-11-09 11:48] gaelcolas commented on #667
ah, I was saying I need to bring this up to next DSC Community call.
Here's how I fixed it: https://github.com/gaelcolas/Sampler.GitHubTasks/pull/20

The issue we had with some newer versions was gitversion task failing, installing like this using dotnet tool install allows to work around the problem.
Make sure to update the variable value for ModuleVersion from `$(gitversion.NugetVersionV2)` to `

[2021-11-09 13:01] matt2005 commented on #667
I've updated it to 18.04 which is the LTS release.
This is the minimum required change to fix the pipeline.

I've not used the "latest" tag as that is not good practice for pipelines due to repeatability of the pipeline.
I'm sure you experienced issues due to using the "latest" tag as that is currently using 20.04 which may bring other issues with it as you have seen.

[2021-11-13 15:09] #667 closed

[2021-11-15 11:07] matt2005 opened #669 "PowerShell 7.2+ Errors due to Removal of PSDesiredStateConfiguration"
PowerShell 7.2 has removed the PSDesiredStateConfigurationModule.
[PowerShell 7.2 Removal of DSC Module](https://docs.microsoft.com/en-us/powershell/scripting/whats-new/what-s-new-in-powershell-72?view=powershell-7.2#separating-dsc-from-powershell-7-to-enable-future-improvements)

Need to Add PSDesiredStateConfiguration to required modules

[2021-12-10 15:30] Jetelaczek opened #671 "Condition for DSC resource deployment"
Good afternoon,

Could anyone help me with below issue? I would like to:

1. Reset local admin password on all servers as a first step of my DSC config - some are Domain Controllers and others are just member servers (works pretty well using below 'xUser' and all seems to be 'Compliant' at the beginning)
2. Then some servers become DCs later on and there's nothing to reset (no local admin account

[2021-12-11 06:43] johlju commented on #671
It is not possible to have conditions in a compiled DSC configuration. You have to add such logic to a resource, or maybe a composite resource might do the trick.

[2022-01-06 09:48] TorstenSchnitter opened #672 "ADObjectPermissionEntry: Ensure=Absent not removing entry"
#### Details of the scenario you tried and the problem that is occurring
Added an ACL entry with:
$Path = [System.String]::Format('cn=computers,{0}', $DomainDN)
ADObjectPermissionEntry ([System.String]::Format('[{0}]:{1}\ad_de_mandant_ComputerAccountOperators_U[c|d]', $Path, $DomainNetBIOSName)) {
  Path = $Path
  Ensure = 'Present'
  IdentityReference = 'ad_de_mandant_ComputerAccountOperators_U'

[2022-01-08 09:42] johlju commented on #672
I haven't tested this myself but labelling it as a bug.

[2022-02-16 21:02] CHDAFNI-MSFT commented on #265
@johlju - Is the ability to install a gMSA via DSC still outstanding?

[2022-03-10 13:46] jquinn99002 opened #673 "ADDomainController: MSFT_ADDomainController failed to execute Test-TargetResource functionality with error message: System.Exception: Current node could not find the domain"
#### Details of the scenario you tried and the problem that is occurring
I have 2 x VM's in Azure and I am using Azure Automation DSC to apply two DSC Configurations, one to each VM.

DC01 has the DomainController.Primary config applied to it and this works fine.

DC02 has the DomainController.Additional config applied to it...
If this is applied at the same time as DC01 having DomainController.Pr

[2022-03-10 17:14] johlju commented on #673
Hmm. `WaitForADDomain` finds the domain, probably on the primary controller, then the script continue with the `ADDomainController` which seems to fail on the row:

https://github.com/dsccommunity/ActiveDirectoryDsc/blob/f8bf122f3c412393ec41285bca25e3462f3845d3/source/DSCResources/MSFT_ADDomainController/MSFT_ADDomainController.psm1#L62

Following the verbose messages the function Test-TargetResou

[2022-03-17 12:43] Borgquite opened #674 "ADOrganizationalUnit: Cannot use single quote in the Name parameter"
#### Details of the scenario you tried and the problem that is occurring
When trying to create an 'ADOrganizationalUnit', if the 'Name' is set to a value with a single quote ' an error occurs

#### Verbose logs showing the problem

PowerShell DSC resource MSFT_ADOrganizationalUnit failed to execute Test-TargetResource functionality with error message: System.InvalidOperationException: Error gettin

[2022-03-17 13:59] Borgquite opened #675 "ADObjectPermissionEntry: The object name has bad syntax when configuring OU which requires escaped character"
#### Details of the scenario you tried and the problem that is occurring

When using ADObjectPermissionEntry to configure an ACL on a Path that requires escaping (comma, backslash, hash, plus etc), the command fails with 'The object name has bad syntax'

#### Verbose logs showing the problem

PowerShell DSC resource MSFT_ADObjectPermissionEntry failed to execute Test-TargetResource functionality w

[2022-03-24 10:38] powertim opened #676 "ADOrganizationalUnit - Recursive parameter is missing"
Hi,

It would be great to be able to delete all child objects of an OU with a boolean parameter with name like "Recursive" as it's an option of the Powershell cmdlet Remove-ADOrganizationalUnit.

Thanks for your help !

[2022-03-25 11:36] jquinn99002 commented on #673
@johlju Do we know when this might be looked into and a fix applied?

[2022-03-26 11:08] johlju commented on #676
From one point of view that would be great, but in another point of view it could result in a state that is not desired. I think it could potentially result in a configuration that both adds a child OU and the same configuration recursively deletes its parent OU. 🤔

[2022-03-26 16:31] johlju commented on #673
When someone in the community picks this up and propose a change that works.

Maybe you can test the suggestion I made above, in you local copy of the module? If someone can confirm what change is needed then it is easier for someone in the community to make the change.

[2022-03-28 17:26] jkattmann commented on #673
Just ran into this myself ... here is a fix that seems to work for me, I simply adopted the existing retry logic from `ADDomain` Get-TargetResource used when calling Get-ADDomain.

https://github.com/jkattmann/ActiveDirectoryDsc/commit/97c7021d1979a641d3c724bbadb4e7c6cd4de5be

I can open a PR if makes sense?

[2022-03-28 17:44] johlju commented on #673
@jkattmann it makes sense, but could we move it to a helper function in [ActiveDirectoryDsc.Common](https://github.com/dsccommunity/ActiveDirectoryDsc/tree/main/source/Modules/ActiveDirectoryDsc.Common)? There are unit tests that need to be moved/modified as well. Gladly see a PR for this.

[2022-04-02 13:18] jquinn99002 commented on #673
@jkattmann is this something you could do? This is all a bit beyond me. And I don't think I can use your fork of the branch because I'm importing the nodule into an Azure Automation account.

[2022-04-11 08:01] SimonRousingBerg opened #678 "ADDomainDefaultPasswordPolicy does not work on Windows Server 2022 in the ActiveDirectoryDsc resource"
#### Details of the scenario you tried and the problem that is occurring
This is the end result in the Active Directory Default Domain Policy.
![image](https://user-images.githubusercontent.com/29062169/162690633-163b9bd1-6be5-4d00-80f8-3c0e4a995527.png)

Info retrieved with Powershell
PS C:\Windows\system32> Get-ADDefaultDomainPasswordPolicy

ComplexityEnabled           : True
DistinguishedName

[2022-04-11 08:19] SimonRousingBerg commented on #678
Could the reason be that i'm not using the "Credential" in the ADDomainDefaultPasswordPolicy?

[2022-04-11 13:09] SimonRousingBerg commented on #678
Even if I specify the correct credential for the domain it still just tells me it is compliant...

[2022-04-12 00:01] #671 closed

[2022-04-13 05:09] SimonRousingBerg commented on #678
If i write my own script resrouce and trigger a reboot after the DC installation / promoting and before the ADDomainDefaultPasswordPolicy resource then it fixes the issue

[2022-04-14 14:28] johlju commented on #678
`ADDomain` and `ADDomainController` seems to restart the node after promoting, but you mean you need yet another boot for it to work?

[2022-04-15 17:25] doherty100 opened #679 "ADGroup fails with error 8227 `Exceeded groups or group members limit`"
#### Details of the scenario you tried and the problem that is occurring

`ADGroup` fails with error 8227 `Exceeded groups or group members limit`.  According to the answer to [Get-ADGroupMember : The size limit for this request was exceeded](https://stackoverflow.com/questions/46078880/get-adgroupmember-the-size-limit-for-this-request-was-exceeded), [ADWS](https://technet.microsoft.com/en-us/libr

[2022-04-17 16:09] albvar commented on #630
I am still highly interested in seeing this functionality supported.
Any additional guidance in terms of using "EmbeddedInstance("MSFT_KeyValuePair") MOF resource type."? If I can understand how to implement this I could potentially contribute the changes back to the repo and currently have the bandwidth to do so.

[2022-04-20 16:01] johlju commented on #679
Any suggestions how to accomplish this paging with `Get-ADGroup`?

[2022-04-20 16:05] johlju commented on #630
For reference how to implement it can be found in this resource https://github.com/dsccommunity/DnsServerDsc/tree/97f6ef720def5fc0d920c63607f3ed2f8e03f9fb/source/DSCResources/DSC_DnsServerRootHint. See both the schema and the code.

[2022-04-22 19:20] doherty100 commented on #679
The code would need to go get members in batches 5000 security principals at a time. As each batch of 5000 is retrieved, it would be checked to see if any of the princpals in "MembersToAdd" are already members. Once all result sets have been processed, only the remaining security principals that were not found would be added. This is the classic problem of processing results of indeterminate size.

[2022-04-28 17:33] Borgquite opened #680 "Builds & automated testing are currently broken"
I’ve submitted a bug report and a fix under pull #677 but there’s something wrong with the new automated built/test process.

‘Build log #L26
Error: The process '/usr/bin/dotnet' failed with exit code 150’

Please fix this & consider merging the pull?

[2022-04-29 09:07] salineselin commented on #265
I'm sorry, I should have opened a pull request years ago for this content to be added in. I built it as I thought it should be and didn't think the powershell community would want it based on the feedback I got in this ticket. I'll fork the repo and open a pull request for the module to be added. I'll still need to write documentation content that covers how it works.

[2022-04-30 09:33] #680 closed

[2022-04-30 19:02] #674 closed

[2022-05-01 10:04] johlju commented on #669
The reason for the pipeline did not work was because it wasn't using the latest pipeline files from the project Sampler. I updated the files now and the pipeline works again. HQRM Test are using Windows PowerShell to run.

I think the proposed change in PR #670 that suggests using the v2.0.5 version of PSDesiredStateConfiguration in the example might add a complexity to users still on Windows Powe

[2022-05-01 12:36] gaelcolas commented on #669
Yeah, and I see little benefit in moving to psdsc 2.0.5
Making it compatible with 3.0.beta1 directly would probably be best.
That does mean converting to class based DSC Resources though.

[2022-05-01 13:07] #648 closed

[2022-05-01 13:31] johlju commented on #669
Closing this for now. Another issue need to be opened to track moving to class-based and PS 7.

[2022-05-01 13:31] #669 closed

[2022-05-01 14:16] #644 closed

[2022-05-03 11:37] Borgquite commented on #674
Thank you :)

[2022-05-03 11:53] johlju commented on #674
You’re welcome 😊

[2022-05-10 01:42] jkattmann commented on #673
@johlju I opened a PR for this with your suggestions to move to a helper function in ActiveDirectoryDsc.Common and updated the unit tests that need to be moved/modified, please have a look.

[2022-05-10 06:35] johlju commented on #673
For sure I will look at it, thank you. I probably won't have time until this weekend, but it is at the top of the todo list. 🙂

[2022-05-17 15:51] #673 closed

[2022-05-18 10:05] rhys96 opened #689 "ADDomain: Add ability to specify DomainType to support TreeDomain use cases"
### Problem description

To support use cases where a regional domain acts as a forest root domain (see [Selecting the Forest Root Domain](https://docs.microsoft.com/en-us/windows-server/identity/ad-ds/plan/selecting-the-forest-root-domain) for more information) we need the ability to specify the DomainType separately.

### Verbose logs

[code]

### DSC configuration

[code]

### Suggested solutio

[2022-05-22 14:12] albvar opened #690 "AdUser: ProxyAddresses errors indexing null array"
### Problem description

I am passing in ProxyAddresses, I copied this from the MOF itself. The value is not null and seems to be treating the value as a string[]. The AD user is created but it does not populate ProxyAddresses. If I omit ProxyAddresses I no longer see the issue.
 ProxyAddresses = {
    "SMTP:myuser.last@email.com"
};

### Verbose logs

[code]

### DSC configuration

[code]

### Su

[2022-05-22 16:48] johlju commented on #690
I can't reproduce the problem with `ProxyAddresses`, are you sure that it is that property that make it throw?

Running this works (using v6.2.0):
[code]
Result:
[code]

[2022-05-25 07:58] TorstenSchnitter commented on #679
You can change the size limit for the ADWS Service. This solved same problem with group member limit for me.
On all domain controller got to: c:\windows\ADWS\
Edit file: Microsoft.ActiveDirectory.WebServices.exe.config
Add within section <configuration><appSettings>:
<add key="MaxGroupOrMemberEntries" value="5000" />
(change number 5000 fitting to your needs)

see this link for detailed informatio

[2022-05-27 05:05] albvar commented on #690
Bizarre, I updated to the latest version 6.2.0 and using the same exact payload the error was gone and the ProxyAddresses field was populated. Lesson learned, before asking for help make sure I am running latest version. Sorry for the lack of response, this is a Friday - Sunday project for me. Thanks for all you do!

[2022-05-27 05:05] #690 closed

[2022-05-27 05:05] albvar commented on #690
After updating from 6.0.1 to 6.2.0 I was no longer experiencing this issue.

[2022-05-29 07:30] johlju commented on #689
Tagged it so that someone in the community can run with it. Looking forward to review a PR for this.

[2022-06-02 12:08] Stefanbnilsson opened #691 "How do i set the AD Atribute extensionName"
As i understand i can use this Powershell to set the Attribute extensionName to a value of my choice

Set-ADUser -Identity "anyUser" -Add @{extensionName="myString"}

But how do i this with DSC?
or is this not suported by this module ActiveDirectoryDSC?

[2022-06-02 22:17] girvenj opened #692 "Cannot create Tree domain with ADDomain Resource"
### Problem description

Child domain works great, but I cannot create a tree in an existing forest with the ADDomain Resource

### Verbose logs

[code]

### DSC configuration

[code]

### Suggested solution

Add "TreeDomain" as an options to install a domain into an exiting resource

https://github.com/dsccommunity/ActiveDirectoryDsc/blob/main/source/DSCResources/MSFT_ADDomain/MSFT_ADDomain.psm1#

[2022-06-03 13:30] albvar opened #693 "AdUser: Add ability to show non-key values within Test-DSCConfiguration *DesiredState* properties"
I leverage Test-DSCConfiguration in scenarios where I don't trust the source of the data being fed to AdUser. Test-DSCConfiguration is being used to further build this trust.

Please feel free to change the subject of this topic as I am not sure what the correct technical term should be.
Currently when running Test-DSCConfiguration on a resource tied to ADUser I can only see the values tied to key

[2022-06-05 15:48] johlju commented on #691
The DSC resource ADUser does not yet support the ExtensionAttribute1-15 that is added to the AD Schema when running Exchange Server. Not sure if these properties should be added to ADUser resource or if there should be a resource in xExchange that supports these properties, [Custom attributes in Exchange Server](https://docs.microsoft.com/en-us/exchange/recipients/mailbox-custom-attributes?view=ex

[2022-06-05 15:50] johlju commented on #691
Hmm... I might have misunderstood, is it this property you mean? https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-adls/3d2ba9f3-2784-44e8-9a39-b31594bfb285

[2022-06-05 15:54] johlju commented on #692
This is also tracked in #689.

[2022-06-05 15:55] johlju commented on #689
More information in #692.

[2022-06-05 16:08] johlju commented on #693
That is not supported by the command `Test-DscConfigration`. What you looking for is that the resource supports ´Reason` from the Get() (or Get-TargetResource) so that when you run `Get-DscConfiguration` the resource outputs which properties are not in desired state and why. See more information in the article https://docs.microsoft.com/en-us/powershell/dsc/concepts/resources?view=dsc-3.0. But for

[2022-06-07 06:04] Stefanbnilsson commented on #691
Yes, its that property i mean

[2022-06-20 08:24] CodeGlitcher opened #694 "ADDomain invalid password after windows update"
### Problem description

We are using azure arm templates with a DSC extention to deploy a windows AD in our test environment.
For the last few years this worked without issue but since last week we cant deploy new environments.
Because of the following error message:
 The password supplied to the Desired State Configuration resource MSFT_ADDomain is not valid. The password cannot be null or empty

[2022-06-20 10:37] mikaelgz5 commented on #694
I have same issues as you do,. This is not only related to ActiveDirectoryDSC, got same issues with WapConfiguration, ADFS etc. I had to go back to last month image.

[2022-06-20 15:48] johlju commented on #694
Join the #dsc channel, there are mentioned on similar there: https://dsccommunity.org/community/contact/

[2022-06-20 18:43] abezverkov commented on #694
We are having the same problem with customers using new 2016-Datacenter images on azure.  We narrowed it down to the latest version (14393.5192.220612).  The previous version (14393.5125.220505) continues to work.  We dont yet know which KB in that release is causing it.

[2022-06-22 11:23] peterschen commented on #694
Same problem occurs on Windows Server 2022 Datacenter running 10.0.20348.643. Removing [KB5014678](https://support.microsoft.com/help/5014678) fixes the `The password cannot be null or empty` issue observed.

[2022-06-22 13:35] johlju commented on #694
Suggest open a support case with MS.

Also join the community channel mentioned above, and talk to others having the same issue. @mgreenegit is also in the community channel and have seen that there is an issue for users.

[2022-07-08 07:17] HariEY7 opened #695 "DSC Configuration 'AD-BDC' completed with error(s). Following are the first few: Either the target name is incorrect or the server has rejected the client credentials."
### Problem description

DSC Configuration 'AD-BDC' completed with error(s). Following are the first few: Either the target name is incorrect or the server has rejected the client credentials. PowerShell DSC resource MSFT_xADDomainController failed to execute Set-TargetResource functionality with error message: Domain "********' could not be found. The SendConfigurationApply function did not succe

[2022-07-13 18:50] neilpeterson commented on #694
Just happened upon this issue while looking for something else. I also experienced this issue and have confirmed that the issue has been resolved with one of the updates released yesterday.

Cc: @mgreenegit

[2022-07-16 14:53] johlju commented on #695
Are you experiencing this https://github.com/dsccommunity/ActiveDirectoryDsc/issues/694?

What version of ActiveDirectoryDsc are you using? Suggest trying out the version v6.3.0-preview0002 since it has changes to how domain controllers are detected.

[2022-07-22 04:29] HariEY7 commented on #695
Hi @johlju

Get-Module -Name 'ActiveDirectoryDsc' -ListAvailable | ft Name,Version,Path

Above command did not return any output.

[2022-07-22 11:38] johlju commented on #695
You should run that command on the node that throws the error.

[2022-07-22 12:09] HariEY7 commented on #695
@johlju I was running on the affected machine and it didnt return any response.

[2022-07-22 16:17] johlju commented on #695
I see in the configuration above that you referencing xActiveDirectory, any version of that module is very old - suggest you try ActiveDirectoryDsc as I mentioned above.

[2022-07-27 07:43] johlju commented on #694
The Azure DevOps build workers has gotten the patch now, that means that this issue is fixed . Closing this.

[2022-07-27 07:43] #694 closed

[2022-07-30 23:59] #676 closed

[2022-07-30 23:59] #678 closed

[2022-08-24 17:06] kourosh-forti-hands commented on #675
FYI This is still a problem.

` Error: Code="VMExtensionProvisioningError" Message="VM has reported a failure when processing extension 'Microsoft.Powershell.DSC'. Error message: \"DSC Configuration 'RegistrationMetaConfigV2' completed with error(s). Following are the first few: Exception calling \"AddAccessRule\" with \"1\" argument(s): \"Some or all identity references could not be translated.\"

[2022-09-07 11:36] HariEY7 commented on #695
@johlju

Above script works when we retry the same script.
Is it because of the version?

How can we update the version from xActiveDirectory? Does removing 'x' would be enough as mentioned here https://github.com/dsccommunity/ActiveDirectoryDsc/issues/312 ?

[2022-09-21 01:05] #693 closed

[2022-09-29 20:02] Chambras commented on #300
Is there a workaround for this? or plans to fix it?