[2019-03-21 12:43] johlju commented on #246
There are no parameter for it. But using that together with `$PasswordNeverResets` could probably work. But I think the first intention with this resource was to create accounts that should be able to be used right away. But your scenario might be able to be covered to.
If you get it working, please send in a PR. In the mean time I label this so that someone in the community can work on this, or a

[2019-03-21 12:45] johlju commented on #248
This is being worked on in PR #170. I haven't had the time to take it up again yet (a lot of maintainer work keeps me busy 🙂 ). Feel free to continue the work on that PR.

[2019-03-21 12:46] johlju commented on #248
I don't think we can remove the Enabled check. Please look at the PR #170 and see if it solves this issue.

[2019-03-21 17:36] brwilkinson commented on #248
@johlju right I saw that one. . . I felt like that matched with how the current default is right. so I wasn't sure if it was abandoned.

I will test that code and follow up over there.

[2019-03-25 16:11] #236 closed

[2019-03-25 21:25] devopsjesus opened #251 "'xADDomainController': Add ability to demote DCs with Ensure = Absent"
#### Details of the scenario you tried and the problem that is occurring
Issue #155 had the Ensure property added to the xADDomainController schema as a Read property, since there was no logic to support removing the DC role by setting Ensure to 'Absent'.  This issue is a request to add that logic, and enable users to set the Ensure property by tagging it as a _Write_ property.

#### Verbose logs

[2019-03-26 18:13] #155 closed

[2019-04-06 15:25] albvar opened #254 "xADUser: Add new property ProxyAddresses"
### Description
Currently there is no support for managing ProxyAddresses attribute of a user object in xADUser.
The ActiveDirectory module supports it by calling
Set-ADUser -Identity [identity] -Add @{Proxyaddresses='SMTP:fname.lname@domain.com'}
### Proposed properties
ProxyAddresses
### Special considerations or limitations

[2019-04-19 17:15] johlju commented on #52
This issue has been resolved in a recent PR.

[2019-04-19 17:15] #52 closed

[2019-04-25 16:21] kungfu71186 opened #257 "DSCResource Template Modules are missing"
The modules from https://github.com/PowerShell/DscResource.Template are missing from the repo.

Need for `Get-LocalizedData`

[2019-04-26 06:01] johlju commented on #154
A new resource for this was recently merged.

[2019-04-26 06:01] #154 closed

[2019-04-26 07:01] johlju opened #259 "xActiveDirectory: Remove the Misc folder and the content from the repo"
There is a [Misc folder](https://github.com/PowerShell/xActiveDirectory/tree/dev/Misc) in the repo with a file that no longer have a purpose. There are no one that would run the script file that exist there to update the schema.mof (if it will ever change). So I don't see a point of keeping it around. 🙂

[2019-04-26 07:06] #257 closed

[2019-04-27 07:28] johlju opened #262 "xActiveDirectory: Move the change log out from README.md to CHANGELOG.md"
We should move the change log out from the README.md into a separate file CHANGELOG.md

Example on CHANGELOG.md
https://github.com/PowerShell/SqlServerDsc/blob/dev/CHANGELOG.md

[2019-04-27 07:35] johlju opened #263 "xActiveDirectory: Move the examples in the README.md to Examples folder"
There are examples in the README.md. These examples should be moved out and added as example files under individual resource folder in the https://github.com/PowerShell/xActiveDirectory/tree/dev/Examples folder.

Moving the examples out to Examples folder allows the common test to validate the examples.

[2019-04-27 07:38] salineselin commented on #262
I'm working on this issue.

[2019-04-27 08:16] salineselin opened #265 "xADManagedServiceAccount: Add functionality to install and test MSAs, and manage group delegation on GMSAs."
## xADManagedServiceAccount: Add functionality to install and test MSAs, and manage group delegation on GMSAs.
### Description
This is a feature set that warrants discussion over how we want the resource to act.
- **MSAs**
    - Do we want a parameter that installs the accounts on the node?
    - Do we want to run `Test-ADServiceAccount` to confirm the account is working?
- **GMSAs**
    - Do we w

[2019-04-27 08:48] kungfu71186 commented on #265
**No, should be a new resource that installs the sMSA**

**In the new resource possibly, see below for further thoughts**

**xADGroup can create the group, the resource MSA can already associate it with the members parameter**

**Same as above, xADGroup can do this**

**this could be a new resource combine with testing sMSA. I'll show example below**

Further notes on test-adserviceacccount. Basic

[2019-04-27 08:57] salineselin commented on #265
Sorry, I glazed over that functionality and ended up missing it.

I wasn't aware of any requirement for a node reboot for MSAs. Is it to clear the kerberos tickets?

It sounds like you're pretty familiar with these optional features. Are you already working on a feature like this?

[2019-04-27 09:05] salineselin commented on #265
On `xADInstallSingleManagedServiceAccount` I would worry about the MSA being installed on two different nodes. There should probably be some kind of check to make sure there's not already a valid computer DN in the hostcomputers attribute.

[2019-04-27 09:37] kungfu71186 commented on #265
It's not heavily documented, but it does have to do with that i believe. If you set the gMSA and directly specify the node as a principal (member), then i believe it works ok, but if you put it in a group, you need to restart so it knows it's a member of that group. I'm not sure of a way around this, I would think there is a way, but i don't know what it would be. As far as install-adserviceaccoun

[2019-04-27 10:49] indented-automation commented on #265
We had to install gMSAs before they could be used with our SQL deployments.

We also use groups to grant access, and therefore have to reboot to update kerberos tokens. For us these are all separate resources.

1. A resource to create the gMSA (runs against a DC).
1. A resource to wait for group membership and reboot (runs on the gMSA consumer).
1. Finally a resource to install it (using this http

[2019-04-27 10:58] kungfu71186 commented on #265
@indented-automation

That's interesting. I've only had to restart, but it really doesn't hurt to run the install command for gMSAs. But agree with the way you have it setup with 3 resources.

That other good point you bring up is that you need domain tools installed. It would be nice to install it without having it installed.

[2019-04-27 11:43] indented-automation commented on #265
Doing so needs a win32 function call (P/Invoke), specifically these three functions:

https://github.com/indented-automation/Indented.SecurityPolicy/blob/master/Indented.SecurityPolicy/class/SecurityPolicy/UnsafeNativeMethods.cs#L72-L92

It's not much code really. I just did it in a lot of layers. DSC resource to manage installation of the account relies on functions (Install/Uninstall/Test), that

[2019-04-27 17:07] salineselin commented on #265
In my workplace, we clear the kerberos tickets with `klist purge –li 0x3e7` and the GMSA works without a reboot.

[2019-04-27 17:12] kungfu71186 commented on #265
Makes sense. I was gonna say probably with klist. Bit never tried. Good to know. Something to consider adding in the resource

[2019-04-27 17:28] salineselin commented on #265
One concern I have with `xADWaitForServiceAccount` being a separate DSC resource is if `xADManagedServiceAccounts` passes its tests and `xADWaitForServiceAccount` does not, you are limited with what `xADWaitForServiceAccount` can do to remediate the broken service account without stepping on the other resource's toes. If a GMSA fails `Test-ADServiceAccount` the following things could be wrong:

1.

[2019-04-27 17:51] kungfu71186 commented on #265
I believe resources should stay in their lanes and do it well. If msa passes, then the state is correct. It's lane is simply adding a service account to AD, nothing else. If the computer isn't in the group, it's not any of these resources job to fix it, that's xadgroup or do it manually.

Meaning
1. Not a problem these resources should do, but it could possibly check why it's not passing and notif

[2019-04-30 15:43] #262 closed

[2019-05-02 18:49] #75 closed

[2019-05-04 09:29] johlju opened #268 "Combine DscResource.LocalizationHelper and DscResource.Common into xActiveDirectory.Common"
We should combine the helper modules DscResource.LocalizationHelper and DscResource.Common into xActiveDirectory.Common.

We need to name the new module xActiveDirectory.Common so it does not conflict with another resource modules helper module if both resource modules would be using the same generic name.
That could result in missing helper functions if both moduels are used in the same configura

[2019-05-04 09:49] johlju opened #269 "Rename DomainAdministratorCredential parameter in resources"
The parameter `DomainAdministratorCredential` can be confused with that it requires actual credential that is a member of the "Domain Admins" group.
I suggest that we rename `DomainAdministratorCredential` to either `Credential` **in those resources that does not actually require domain administrator credentials**. That would be a BREAKING CHANGE.

Any parameter name works, but if we use `Credenti

[2019-05-04 09:52] johlju commented on #269
Candidates for the rename would be xADComputer and xADUser.

[2019-05-04 17:21] #259 closed

[2019-05-07 20:43] SSvilen commented on #268
Hi,

So basically what needs to happen here is to merge the code from both modules into a new module and then update all script module files and all pester test files(are they called like that or just unit test files?), where the the old modules are referenced(imported)?

[2019-05-08 05:34] npthl commented on #87
Just wondering if there is any update on this? We are also looking at setting up AD with BIND DNS server.

Thanks,
NP

[2019-05-08 21:05] SSvilen commented on #268
I made an attempt to combine them and I've create a PR. Let's see how that goes..
One question though - do I need to do some sort of testing on my machine first? Or is only the CI pipeline used for that part?

[2019-05-08 23:33] devopsjesus commented on #268
Combining the modules like that will require some forklifting in the unit tests as well, as those are part of what is validated during the pipeline.

[2019-05-11 06:50] #268 closed

[2019-05-11 13:49] johlju opened #271 "xADComputer: Restoring from recycle bin fails"
#### Details of the scenario you tried and the problem that is occurring
Restoring from recycle bin fails if there are more than one object with the same name.

#### Verbose logs showing the problem
[code]

#### Suggested solution to the issue
Pick up the lastest changed object from the recycle bin using the property `whenChanged`.

#### The DSC configuration that is used to reproduce the issue (a

[2019-05-11 13:50] johlju commented on #271
The same problem will occur for the objects User, Computer, Group, and Service Account. The fix is to change the `Restore-ADCommonObject`, and that will resolve all.

[2019-05-11 16:33] SSvilen commented on #153
I'll try to do it.I have a good reference with xADComputer.

[2019-05-11 16:34] SSvilen commented on #263
What about the examples , which include multiple resources?

[2019-05-11 17:11] johlju opened #273 "xActiveDirectory: Documentation how to run manual integration tests"
As part of the PR #170 integration tests are introduced. THose integration tests cannot be run in AppVeyor as the unit test are, because of the limitation on the AppVeyor build worker.

We should provide a simple guide to how to run the integration tests so they build a lab (when prerequisites are meet).

I suggest we start with Hyper-V and assume there are clean VM's that can be used. Mostly beca

[2019-05-11 17:22] johlju commented on #263
Either we split them up into individual examples. But if they are meant to describe a bigger scenario, then maybe we put them directly under the Examples folder and not in a individual resource example folder. 🤔

I'm okay with examples is using other resources in the example as well if that helps describe the examples, even if that means examples are duplicated. 🤔

If there are examples not part o

[2019-05-13 19:02] SSvilen commented on #273
I was thinking about the same in the last week. I wanted to do something based on Docker and DSC/ Hyper-V with DSC.
I lean more toward Docker - but that's just me.

[2019-05-13 19:22] johlju commented on #273
Can we run a domain controller in docker? I thought we couldn’t do that yet. If we can then I agree docker is the way to go.

[2019-05-13 21:43] SSvilen commented on #273
That is something i want to try. For testing should be ok- with persistent storage i guess it would work. I’ll report how is my testing going.

[2019-05-14 05:16] #271 closed

[2019-05-14 05:41] johlju commented on #273
If it works, then we could actually run tests in AppVeyor since we can run docker containers there. And the test framework supports running tests in a container.

[2019-05-14 08:41] SSvilen commented on #263
Cool thanks. I'll submit a PR later this week and then will work those cases out.

[2019-05-16 06:55] johlju opened #276 "xADOrganizationalUnit: Test-TargetResource showing wrong verbose message"
#### Details of the scenario you tried and the problem that is occurring
Due to a verbose message in the Test-TargetResource it is unclear if the resource actually works when setting `Ensure` to `'Absent'`.

#### Verbose logs showing the problem
First run:
[code]

Second run (verbose message says OU still exists):
[code]

#### Suggested solution to the issue
Probably just a verbose message that ne

[2019-05-19 12:01] johlju opened #279 "xActiveDirectory: Enable the tests "Common Tests - Validate Example Files""
To help contributors and maintainers we should enable the common test "Common Tests - Validate Example Files".

[2019-05-19 12:03] johlju opened #280 "xActiveDirectory: Enable the tests "Common Tests - Validate Markdown Links""
To help contributors and maintainers we should enable the common test "Common Tests - Validate Markdown Links".

[2019-05-19 12:05] johlju opened #281 "ActiveDirectory: Enable the tests "Common Tests - Validate Localization""
To help contributors and maintainers we should enable the common test "Common Tests - Validate Localization".

[2019-05-19 12:07] johlju opened #282 "ActiveDirectory: Enable the tests "Common Tests - Validate Module Files""
To help contributors and maintainers we should enable the common test "Common Tests - Validate Module Files".

[2019-05-19 12:09] johlju opened #283 "xActiveDirectory: Enable the tests "Common Tests - Validate Script Files""
To help contributors and maintainers we should enable the common test "Common Tests - Validate Script Files".

[2019-05-19 12:10] johlju opened #284 "xActiveDirectory: Enable the tests "Common Tests - Relative Path Length""
To help Azure users (and contributors and maintainers) we should enable the common test "Common Tests - Relative Path Length".

[2019-05-19 12:36] johlju opened #286 "xActiveDirectory: Resolve the flagged PSScriptAnalyzer rule 'PSAvoidGlobalVars'"
A few resources fails on the flagged PSScriptAnalyzer rule 'PSAvoidGlobalVars' (although the tests are skipped today). These errors should be resolved so this rule does not trigger when the common test is enabled in the future.

From a recent test run:
[code]

[2019-05-21 14:35] johlju opened #287 "xActiveDirectory: Add a link to each resource section"
Under the [Resource section](https://github.com/PowerShell/xActiveDirectory#resources) we should add a link to each resource section, so it is easy for a user to click the link and quicker see the information about that correct resource.

[2019-05-21 14:53] johlju opened #288 "xActiveDirectory: Move xADCommon to xActiveDirectory.Common.psm1"
The helper functions in the file [MSFT_xADCommon.psm1](https://github.com/PowerShell/xActiveDirectory/blob/dev/DSCResources/MSFT_xADCommon/MSFT_xADCommon.psm1) should be moved to the [xActiveDirectory.Common](https://github.com/PowerShell/xActiveDirectory/tree/dev/Modules/xActiveDirectory.Common) module. This is to align with the DscResource.Template, and have all the helper functions in one place

[2019-05-21 14:57] johlju commented on #288
THis blocked should be moved into a localization string according to the style guideline https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md#localization. See also already localized resources, xADComputer for example (once PR #170 is merged).

https://github.com/PowerShell/xActiveDirectory/blob/c95dddbed2eae679b082faad62513e51e332a8fa/DSCResources/MSFT_xADCommon/MSFT_xADCommo

[2019-05-21 15:13] johlju opened #289 "xActiveDirectory: Move resource module to auto documentation"
It would really be good to move this resource to automatic documentation. This would simplify for contributors and maintainers.
This can be an undertaking to get working. Suggest peeking at an existing resource like ComputerManagementDsc that uses this.

Some documentation here:
https://github.com/PowerShell/DscResource.Tests#documentation-helper-module

[2019-05-22 12:22] #167 closed

[2019-05-23 13:58] johlju opened #291 "xADGroup: Wrong description in the property RestoreFromRecycleBin"
The description should not say 'organizational unit'.

https://github.com/PowerShell/xActiveDirectory/blob/43f4be93484cbb2f9c87bdf8bffacaf4ec2bad7d/DSCResources/MSFT_xADGroup/MSFT_xADGroup.schema.mof#L19

[2019-05-23 13:59] johlju opened #292 "xADComputer: Wrong description in the property RestoreFromRecycleBin"
The description should not say 'organizational unit'.

https://github.com/PowerShell/xActiveDirectory/blob/43f4be93484cbb2f9c87bdf8bffacaf4ec2bad7d/DSCResources/MSFT_xADComputer/MSFT_xADComputer.schema.mof#L18

[2019-05-23 20:21] SSvilen opened #293 "ADUser: Remove unused non-mandatory parameters from the Get-TargetResource function"
According to DSC Resource Style Guidelines & Best Practices there should be [only mandatory parameters](https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md#get-targetresource-should-not-contain-unused-non-mandatory-parameters) in the Get-TargetResource function.
The unused non-mandatory parameters should be removed.

[2019-05-24 17:09] powertim opened #294 "xADReplicationSiteLink: Test-TargetResource threw one or more non-terminating errors when creating"
ISSUE DESCRIPTION:

#### Details of the scenario you tried and the problem that is occurring

When trying to create a new AD Site Replication Link (Ensure = Present), the test which should detect that the desired replication link doesn't exist, throws an error.

#### Verbose logs showing the problem
[code]

#### Suggested solution to the issue
Catch this error as this is expected (as the replicati

[2019-05-25 09:19] johlju opened #295 "xADComputer: Remove unnecessary cast"
We are casting the service principle names to `[System.String[]]` here, but it should not be necessary as they are already cast in the `Get-TargetResource` funciton.

https://github.com/PowerShell/xActiveDirectory/blob/43f4be93484cbb2f9c87bdf8bffacaf4ec2bad7d/DSCResources/MSFT_xADComputer/MSFT_xADComputer.psm1#L848

[2019-05-25 09:24] #153 closed

[2019-05-25 09:48] johlju commented on #294
It seems it was assumed that the `Get-ADReplicationSiteLink` handles like other cmdlets and supports the `-ErrorAction 'SilentlyContinue'`, but it seems few ActiveDirectory cmdlets does this.

https://github.com/PowerShell/xActiveDirectory/blob/58d8dfa9c4818a741552447ec85b6ce1f11102fd/DSCResources/MSFT_xADReplicationSiteLink/MSFT_xADReplicationSiteLink.psm1#L34-L36

It should instead use the patte

[2019-05-25 09:57] #286 closed

[2019-05-25 15:48] SSvilen commented on #40
Hi @johlju  - is this still relevant?

[2019-05-25 16:27] johlju commented on #40
@SSvilen If someone want to add this then I'm all for it, happy to review a PR that adds this. 🙂

[2019-05-25 22:00] X-Guardian opened #296 "xADObjectPermissionEntry: Fails when applied in the same configuration as xADDomain"
#### Details of the scenario you tried and the problem that is occurring

When deploying an `xADObjectPermissionEntry` resource in the same configuration as a new `xADDomain` resource, the `xADObjectPermissionEntry` will fail with the error ` Cannot find drive. A drive with the name 'AD' does not exist` the first time the configuration is deployed.

#### Verbose logs showing the problem

[code]

#

[2019-05-27 07:29] powertim commented on #294
Hi,

Yes that the problem with terminating errors and non-terminating errors.
I remember that the Get-ADObject returns null when the requested object doesn't exist.
Do you know when the fix will be available ?

Thanks for your help.

Tim.

[2019-05-28 08:31] powertim opened #297 "xADReplicationSubnet: System.UnauthorizedAccessException when creating new subnet (working without any errors with PS cmdlet)"
#### Details of the scenario you tried and the problem that is occurring
When trying to create a new AD Subnet (Ensure = Present), the creation of the subnet fails with an "Acces is denied" message. It's working correctly with the New-ADReplicationSubnet cmdlet and same account.
#### Verbose logs showing the problem
[code]
#### Suggested solution to the issue
No idea...
#### The DSC configuration

[2019-05-28 09:20] johlju commented on #294
This should be an “easy” fix for someone in the community. The code and tests should be able to be copied from xADComputer I think, so I labeled this “good first issue”.

Anyone in the community may send in a fix for this. I’m happy to review a PR once sent in. :smile:

[2019-05-28 09:31] powertim opened #298 "xADOrganizationalUnit: Test-TargetResource threw one or more non-terminating errors when creating OU"
#### Details of the scenario you tried and the problem that is occurring
When trying to create a new AD Organizational Unit (Ensure = Present), the test which should detect that the desired OU doesn't exist, throws an error.
#### Verbose logs showing the problem
[code]
#### Suggested solution to the issue
Catch this error as this is expected (as the replication doesn't exist yet)
#### The DSC conf

[2019-05-28 11:13] iainbrighton commented on #298
Hi @powertim I think it's failing because you are trying to create an OU called `\Sites\tim\tim` and the parent path `\Sites\tim` does not exist (the target name is not part of the path). I think you need to update your config to:
[code]
This of course assuming that the root `Sites` OU exists too 😉.

[2019-05-28 11:52] powertim commented on #298
Oh my bad...
I used a wrong example.
So yes, with the correct path it's ok for this step, but now I have a strange System.UnauthorizedAccessException like I have in #297...
New-ADOrganizationalUnit cmdlet working as expected with the same account.

[2019-05-29 11:37] jhoudi opened #300 "xADGroup key properties?"
#### Details of the scenario you tried and the problem that is occurring
Simple to reproduce: Just try to configure same group in different domains. This is because groupname is the only parameter which is part of the key properties.

#### Verbose logs showing the problem
Compilation errors occurred while processing configuration 'XXXXX'. Please review the errors reported in error stream and modif

[2019-05-29 17:50] JakeDean3631 opened #301 "ADDomainControllerProperties: New resource proposal"
### Description
Resource to set and manipulate properties specific to Domain Controllers

### Proposed properties
ContentFreshness - This would get, set, and test the MaxOfflineTimeInDays setting on Domain Controllers against the specified value.

### Special considerations or limitations
I am a PFE for a DoD customer with special requirements for DCs to be offline for over the 30-day default thre

[2019-05-29 18:00] JakeDean3631 opened #302 "ADForestProperties - TombstoneLifetime"
#### Details of the scenario you tried and the problem that is occurring
My customer is currently using a script resource to configure AD Forest TombstoneLifetime setting. This capability should be introduced into the ADForestProperties resource.

#### Verbose logs showing the problem
N/A

#### Suggested solution to the issue
Add TombstoneLifetime parameter to the Get/Set/Test-TargetResource scrip

[2019-05-29 18:05] devopsjesus commented on #301
@johlju @nyanhp @rchristman89 I couldn't find a great place for Domain Controller properties set after initial install. Where do you think settings for installed DCs should go? I was thinking a new resource that will configure settings applicable to the local DC.

[2019-05-29 18:05] devopsjesus commented on #301
Related issue: #302

[2019-05-29 18:28] JakeDean3631 commented on #301
To add to @devopsjesus point - ContentFreshness is just one setting that we need the capability to configure for our customer currently, but we can add additional post-promotion settings into this resource as needed as well.

[2019-05-30 06:38] johlju commented on #301
I suggest adding these properties to the xADDomainController resource. Once the domain controller is installed by the Set-TargetResource it will initiate a reboot. One the next run it will run Test-TargetResource, see that the node is a domain controller but other properties are not in desired state, and run Set-TargetResource to configure those properties.

So I don't see the benefit of adding an

[2019-05-30 06:55] johlju commented on #300
What of you use the distinguished name as the group name? Would that work?

[2019-05-30 07:02] johlju commented on #297
My guess is that because configuration runs as SYSTEM, and that account probably don't have access to AD you get permission denied. Could you try to add `PsDscRunAsCredential` to the configuration?
https://docs.microsoft.com/en-us/powershell/dsc/configurations/runasuser

[2019-05-30 07:04] johlju commented on #298
See https://github.com/PowerShell/xActiveDirectory/issues/297#issuecomment-497228043.

Since the initial question was resolved I closing this issue.

[2019-05-30 07:04] #298 closed

[2019-05-30 07:26] johlju commented on #296
How come that importing the module does not create the PSDrive? 🤔

https://github.com/PowerShell/xActiveDirectory/blob/e2fb20f8f51e1b81e1a2b1bb804155583be14e2c/DSCResources/MSFT_xADObjectPermissionEntry/MSFT_xADObjectPermissionEntry.psm1#L61

I curious if this is because the feature `RSAT-AD-PowerShell` is not part of the configuration, meaning that the ActiveDirectory module is not installed. Tho

[2019-05-30 09:06] X-Guardian commented on #296
Hi @johlju, when the DSC configuration first runs, the `xADDomain` resource creates Active Directory and then requires a reboot before the configuration will continue (it sets `$global:DSCMachineStatus` = 1).
After the reboot, the `xADDomain` resource will execute again, and as it uses `ActiveDirectory` cmdlets for its `Test-TargetResource` function, the module will be auto-loaded, but at this tim

[2019-05-30 17:56] Torch02 opened #305 "xADObjectRDN - New resource proposal"
### Description
Resource to set an object's location within the directory

### Proposed properties
**[String] ObjectName** _(Key)_:  Name of the Active Directory object to manage.
**[String] Path** _(Write)_: Specifies the X.500 path of the Organizational Unit (OU) or container where the object is located.

### Special considerations or limitations
The *Path* parameter in xADComputer, xADGroup, an

[2019-05-31 07:51] jhoudi commented on #300
Yes this works. Still I think it's better to change the key properties of this DSCResource. Just to be consistent with xADUser and I rather configure a group name by name, than specifying a distinguished name.

[2019-05-31 12:06] johlju commented on #300
In the resource xADUser the parameter `DomainName` is of qualifier type Key, not the parameter `DomainController`. In the resource xADUser the parameter `DomainName` is not actually being used to identify the user object in the AD. It is used to test the password.
When `DomainController` is specified (for both xADUser and xADGroup today) that domain controller will be used for the query/action. If

[2019-05-31 12:27] #263 closed

[2019-05-31 12:32] johlju commented on #296
@X-Guardian Thanks for that! Appreciate the detailed run down! I will review the PR you sent in to resolve this issue.

[2019-05-31 12:47] X-Guardian commented on #296
No problem @johlju. It would be great to get integration testing added to this module, as discussed in #121 so we could add tests for scenarios like this.

[2019-05-31 13:03] johlju commented on #296
Yep agree, I added one so far https://github.com/PowerShell/xActiveDirectory/tree/dev/Tests/Integration. Another PR will add another. I'm working on instructions on how to set up a test environment that I will send in as a PR eventually (half way done). It will be one of ways to set it up, we need to work on alternatives too.

[2019-05-31 13:08] johlju commented on #121
Since AppVeyor only support a reboot during the init stage, it will not work running integrations tests in AppVeyor. I'm working on instructions how to set up a Hyper-V private environment to be able to run integration tests manually.

I'm aiming at using PowerShell Direct in this first round. It will be one of ways to set it up, we need to work on alternatives too.

[2019-05-31 13:10] johlju commented on #121
My plan is that the manual testing environment will support testing multiple domain controller for larger scenarios. But one step at a time.

[2019-05-31 13:35] johlju commented on #305
Thank you for sending in this proposal. 🙂

How would this extend outside of the existing functionality in the existing resources that already have the ability to move "itself". Why would you just want to move an object and not assert that the object exists and have the correct properties?
Do you have a scenario where this resource would only work, and the existing or new resource managing a partic

[2019-05-31 14:33] johlju commented on #294
This is being worked on in PR https://github.com/PowerShell/xActiveDirectory/pull/304.

[2019-05-31 14:41] #296 closed

[2019-05-31 17:01] SSvilen commented on #40
I need to pre-provision the RODC account and then i need to promote it. Do I pick up a single domain controller to work with for both operations or is there another standard for such operations?

[2019-05-31 19:27] devopsjesus commented on #301
I think we were trying to keep the xADDomainController resource like it is to keep it from becoming overly complex.  If we agree that it won't add too much complexity, I don't mind having these properties added to the existing xADDomainController resource.

[2019-06-01 08:10] johlju commented on #301
It would be complex, but not sure it would become too much more complex. 🤔

But I would be okay to have xADDomainControllerProperties, but then I think we should move out the functionality that enforces the properties currently being enforced in the xADDomainController like SiteName and IsGLobalCatalog. The properties that can be set by the cmdlet Install-ADDSDomainController should then only be a

[2019-06-01 08:24] #294 closed

[2019-06-01 08:43] johlju commented on #40
The cmdlet [`Add-ADDSReadOnlyDomainControllerAccount`](https://docs.microsoft.com/en-us/powershell/module/addsdeployment/add-addsreadonlydomaincontrolleraccount?view=win10-ps) can only specify the domain name and site name, so you could create the account on any DC and it should replicate, and it must of course have replicated before promoting the RODC. You can also specify the replication source

[2019-06-01 08:53] johlju commented on #40
Not sure we should have a resource that creates that pre-staged account, should we? It is one-time thing, and nothing that can be enforced, and needs to be done by a domain admin. I think to solve this issue I think we just need to support the parameter `ReadOnlyReplica` in the resource xADDomainController (for the cmdlet `Install-ADDSDomainController`).

[2019-06-01 19:37] SSvilen commented on #40
You are right - you can provision RODC with Install-ADDSDomainController directly. But we could also build the functionality to pre-provision the account, couldn't we? I would still a part of xADDomainController - just a separate set of options.

[2019-06-01 19:50] johlju commented on #40
Creating a pre-staged (computer) account sounds more something xADComputer would do, not xADDomainController. Or another (new) resources.

But what node should create the prestige account? It wouldn’t be the node that will end up as RODC, because then it wouldn’t make since to use a pre-stage account in the first place. The node that should be RODC should be using xADDomainControlle with `ReadOnly

[2019-06-02 07:24] #280 closed

[2019-06-02 07:24] #282 closed

[2019-06-02 07:24] #283 closed

[2019-06-02 07:24] #284 closed

[2019-06-02 10:56] #291 closed

[2019-06-02 10:56] #292 closed

[2019-06-03 22:43] devopsjesus commented on #301
`Essentially we should make xADDomainController to just promote and demote a domain controller?`

Yes, this is what I was thinking, with the xADDomainControllerProperties resource containing all the post-deployment configuration properties and settings, similar to xActiveDirectoryProperties.

We'll go ahead and start planning to get that resource started unless there are any further hesitancies ab

[2019-06-04 08:14] #281 closed

[2019-06-04 08:18] johlju opened #311 "xActiveDirectory: Opt-in to "Common Tests - Validate Example Files To Be Published""
We should prepare the example to be published. Maybe this should be done once the module is renamed so we don't have examples published for an older module with 'x'.

- adding the PSScriptInfo block
- adding the DESCRIPTION in the comment-based help
- adding the #Requires statement.
- Rename the examples filename and configuration name to be prefixed with the resource name, and suffixed with _Conf

[2019-06-04 08:21] johlju opened #312 "ActiveDirectoryDsc: Rename module from xActiveDirectory"
Once community feels comfortable that this module follows the style guideline and test guidelines (minus the integration tests we can't enforce yet), then let's rename this module.

See issue https://github.com/PowerShell/xActiveDirectory/issues/172 that should be closed first before this one.

[2019-06-04 08:23] johlju commented on #172
We should at least clean up the resources against the style guideline. Removing any `;` that closes rows, add comment-based help to functions, replace any `"` with `'` where applicable, etc.

See style guideline https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

[2019-06-04 08:28] johlju commented on #301
At least I'm good with this. 🙂 Looking forward to the PR. I label this issue as a breaking change since we are removing properties from another resource?

[2019-06-04 11:57] powertim commented on #297
Yeah it's true I was not aware of that...
Sorry for the false positive.

Have a nice day,

Tim.

[2019-06-04 11:57] #297 closed

[2019-06-04 12:20] Torch02 commented on #305
Somehow I got it stuck in my head (misread something, mis-assumed something) that the Path parameter was only for object creation. After both looking at the source code and doing some testing, that parameter on those resources works fine for what I was intending. Closing the issue.

[2019-06-04 12:20] #305 closed

[2019-06-04 12:37] #279 closed

[2019-06-04 13:23] JoshuaJSwain opened #314 "ADObjectPermissionEntry: access denied when running under non domain administrator account"
#### Details of the scenario you tried and the problem that is occurring
When running this resource under a least privileged account (not domain admin) the resource errors with access denied setting the ACL. The identity reference account has full control of the OU and can edit the ACL using the UI and other powershell methods. The bug appears to be in get-acl | set-acl.

#### Verbose logs showing

[2019-06-04 13:31] X-Guardian commented on #149
@johlju, this issue can be closed as it was implemented as resource xADReplicationSite in PR #185

[2019-06-04 13:33] X-Guardian commented on #150
@johlju, this issue can be closed as it was implemented as resource xADReplicationSubnet in PR #180

[2019-06-04 15:12] #289 closed

[2019-06-04 15:13] johlju commented on #287
This issue is obsolete sine we have moved this resource to auto-documentation.

[2019-06-04 15:13] #287 closed

[2019-06-04 15:47] johlju commented on #314
Thanks for reporting this! I label this as a bug, and help wanted so that someone in the community can work on a fix.

[2019-06-04 18:16] johlju commented on #150
Closing this issue as per previous comment.

[2019-06-04 18:16] #150 closed

[2019-06-04 18:18] johlju commented on #149
Closing this as per previous comment.

[2019-06-04 18:18] #149 closed

[2019-06-05 16:45] johlju commented on #288
I will be working on this one.

[2019-06-05 16:53] johlju opened #316 "xActiveDirectory: Replace helper function ThrowInvalidOperationError"
The helper function `ThrowInvalidOperationError` should be replaced to use the new helper function [New-InvalidOperationException](https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md#new-invalidoperationexception).

Unit tests should also be replaced to test the actual error message, like below.

https://github.com/PowerShell/xActiveDirectory/blob/91a53534aa3708ffbb461537f502

[2019-06-05 16:55] johlju opened #317 "xActiveDirectory: Replace helper function ThrowInvalidArgumentError"
The helper function `ThrowInvalidArgumentError` should be replaced to use the new helper function [New-InvalidArgumentException](https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md#new-invalidoperationexception).

Unit tests should also be replaced to test the actual error message, like below.

https://github.com/PowerShell/xActiveDirectory/blob/91a53534aa3708ffbb461537f50272

[2019-06-05 17:08] johlju opened #318 "xADDomain: Localization should change to align with HQRM modules"
Resource should use localization https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md#localization

[2019-06-05 17:10] johlju opened #319 "xADDomainDefaultPasswordPolicy: Localization should change to align with HQRM modules"
Resource should use localization https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md#localization

[2019-06-05 17:13] johlju commented on #318
My bad. This is already resolved. Wasn't using the latest changes.

[2019-06-05 17:13] #318 closed

[2019-06-05 17:14] johlju commented on #319
My bad. This is already resolved. Wasn't using the latest changes.

[2019-06-05 17:14] #319 closed

[2019-06-05 20:21] johlju opened #321 "xActiveDirectory.Common: Add comment-based help to all functions"
In the module xActiveDirectory.Common helper functions are missing comment-based help on many function. We should add comment.-based help to to all the helper functions.

*PR #320 will add additional function, so this issue should be started once that PR is merged.*

[2019-06-05 20:35] johlju opened #322 "xActiveDirectory: Migrate Pester test syntax from v3 -> v4"
As of Pester v4 the syntax of the Should cmdlet has changed from for example `Should Be` to `Should -Be`.

There is a helpful script that can be used to easily perform the conversion:
https://gist.github.com/indented-automation/aeb14825e39dd8849beee44f681fbab3

This script should be used to correct the Pester syntax in all unit tests.

[2019-06-06 06:22] johlju opened #324 "xADDomainTrust: Missing unit test for the resource"
We should add a unit test for this resource.

[2019-06-06 06:35] johlju commented on #324
The resource xADDomainTrust looks like it is in need for a refactor as well.

[2019-06-06 15:28] johlju opened #325 "ActiveDirectoryDsc.Common: Code coverage does not hit rows when run in AppVeyor"
After the PR https://github.com/PowerShell/xActiveDirectory/pull/320 Pester started to miss hitting rows for code coverage, the missing rows are hit when run locally. For example the entire Assert-Module function is not hit, but it is obvious tested seeing the Pester output, still Pester reports not hitting rows. See complete list of misses below (some rows are positives though, but most are false

[2019-06-06 15:29] johlju commented on #325
I opened this issue to track this since I can't find any obvious solution. This might just go away by itself once we refactor unit tests to use stubs etc.

[2019-06-07 07:35] #288 closed

[2019-06-07 07:55] johlju commented on #322
I'm working on this one

[2019-06-07 08:22] johlju opened #327 "xADRecycleBin: Replace Write-Error with the correct helper function"
This resource is wrongly using `Write-Error` and then after that `throw`. It should instead use the helper functions here to throw errors https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md#helper-functions-for-localization

The unit tests should be updated accordingly, making sure it throws the correct error message (not just any error message).

[2019-06-07 08:30] johlju opened #328 "xADRecycleBin: Need to remove ShouldProcess from code"
This resource is using a non-supported function. Best practices are to not use ShouldProcess in DSC resources since DSC does not support that interactive function.

[2019-06-07 08:31] johlju opened #329 "xADObjectPermissionEntry: Need to remove ShouldProcess from code"
This resource is using a non-supported function. Best practices are to not use ShouldProcess in DSC resources since DSC does not support that interactive function.

[2019-06-07 08:34] johlju opened #330 "xADRecycleBin: This resource is missing comment-based help"
This resource is missing comment-based help for the functions.

[2019-06-07 08:40] johlju opened #331 "xADUser: Replace Write-Error with the correct helper function"
This resource is wrongly using Write-Error and then after that throw. It should instead use the helper functions here to throw errors https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md#helper-functions-for-localization

The unit tests should be updated accordingly, making sure it throws the correct error message (not just any error message).

[2019-06-07 08:43] johlju opened #332 "xADDomain.Tests: Replace Write-Error with throw"
The mocks in the unit tests for xADDomain are using `Write-Error`, I think it would be better if we changed that to `throw`.

[2019-06-07 08:49] johlju opened #333 "xADRecycleBin: Remove the ResourceDesignerScripts folder"
There is a folder that serves no purpose, since nobody will use it. This folder can be removed https://github.com/PowerShell/xActiveDirectory/tree/dev/DSCResources/MSFT_xADRecycleBin/ResourceDesignerScripts

[2019-06-07 08:51] johlju opened #334 "xADRecycleBin: Example is in wrong location"
There are an example located in the DSC resource folder; https://github.com/PowerShell/xActiveDirectory/tree/dev/DSCResources/MSFT_xADRecycleBin/Examples

This folder should be removed and the example should be moved to the correct location if it is not a duplicate; https://github.com/PowerShell/xActiveDirectory/tree/dev/Examples/Resources/xADRecycleBin

[2019-06-07 08:53] johlju opened #335 "xADDomain: This resource is missing comment-based help"
This resource is missing comment-based help for the functions.

[2019-06-07 08:54] johlju opened #336 "ADDomainDefaultPasswordPolicy: This resource is missing comment-based help"
This resource is missing comment-based help for the functions.

[2019-06-07 08:54] johlju opened #337 "xADDomainTrust: This resource is missing comment-based help"
This resource is missing comment-based help for the functions.

[2019-06-07 08:54] johlju opened #338 "ADGroup: This resource is missing comment-based help"
This resource is missing comment-based help for the functions.

[2019-06-07 08:54] johlju opened #339 "xADOrganizationalUnit: This resource is missing comment-based help"
This resource is missing comment-based help for the functions.

[2019-06-07 08:54] johlju opened #340 "xADUser: This resource is missing comment-based help"
This resource is missing comment-based help for the functions.

[2019-06-07 08:54] johlju opened #341 "xWaitForADDomain: This resource is missing comment-based help"
This resource is missing comment-based help for the functions.

[2019-06-07 09:11] johlju opened #342 "xADDomainTrust: Replace helper function New-TerminatingError"
The helper function `New-TerminatingError` should be removed and places where it is called should be replaced with appropriate function from https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md#helper-functions-for-localization

[2019-06-07 10:06] johlju opened #343 "WaitForADDomain: Handle timeout better"
The current code uses a for-loop to wait for the domain to be accessible.

https://github.com/PowerShell/xActiveDirectory/blob/44ca75e062beff431cf41e1efb89d71bc4a5d044/DSCResources/MSFT_xWaitForADDomain/MSFT_xWaitForADDomain.psm1#L90-L109

I suggest that we instead use `Start-Job -ScriptBlock {]` and `Wait-Job -Timeout`. The code in the `- ScriptBlock` will continuously try to access the domain be

[2019-06-07 11:29] johlju opened #344 "xActiveDirectory: Remove xActiveDirectory_TechNetDocumentation.html"
The following file is obsolete and should be removed;
https://github.com/PowerShell/xActiveDirectory/blob/dev/xActiveDirectory_TechNetDocumentation.html

*Personally I do not see it containing any relevant information.*

[2019-06-07 12:04] johlju opened #345 "ADDomain: Integration tests is missing for this resource"
We should add integration tests for this resource.

[2019-06-07 12:06] johlju opened #346 "xADDomainController: Integration tests is missing for this resource"
We should add integration tests for this resource.

[2019-06-07 12:07] johlju opened #347 "xADDomainDefaultPasswordPolicy: Integration tests is missing for this resource"
We should add integration tests for this resource.

[2019-06-07 12:07] johlju opened #348 "xADDomainTrust: Integration tests is missing for this resource"
We should add integration tests for this resource.

[2019-06-07 12:07] johlju opened #349 "ADForestProperties: Integration tests is missing for this resource"
We should add integration tests for this resource.

[2019-06-07 12:07] johlju opened #350 "ADGroup: Integration tests is missing for this resource"
We should add integration tests for this resource.

[2019-06-07 12:07] johlju opened #351 "ADKDSKey: Integration tests is missing for this resource"
We should add integration tests for this resource.

[2019-06-07 12:07] johlju opened #352 "ADManagedServiceAccount: Integration tests is missing for this resource"
We should add integration tests for this resource.

[2019-06-07 12:07] johlju opened #353 "xADObjectPermissionEntry: Integration tests is missing for this resource"
We should add integration tests for this resource.

[2019-06-07 12:08] johlju opened #354 "ADRecycleBin: Integration tests is missing for this resource"
We should add integration tests for this resource.

[2019-06-07 12:08] johlju opened #355 "ADReplicationSite: Integration tests is missing for this resource"
We should add integration tests for this resource.

[2019-06-07 12:08] johlju opened #356 "ADReplicationSiteLink: Integration tests is missing for this resource"
We should add integration tests for this resource.

[2019-06-07 12:08] johlju opened #357 "ADReplicationSubnet: Integration tests is missing for this resource"
We should add integration tests for this resource.

[2019-06-07 12:08] johlju opened #358 "ADServicePrincipalName: Integration tests is missing for this resource"
We should add integration tests for this resource.

[2019-06-07 12:08] johlju opened #359 "ADUser: Integration tests is missing for this resource"
We should add integration tests for this resource.

[2019-06-07 12:08] johlju opened #360 "WaitForADDomain: Integration tests is missing for this resource"
We should add integration tests for this resource.

[2019-06-08 12:00] laughtonsm opened #361 "ADDomainDefaultPasswordPolicy: Min and MaxPasswordAge always result in zero when set"
#### Details of the scenario you tried and the problem that is occurring
When using the xADDomainDefaultPasswordPolicy resource to set the MinPasswordAge and MaxPasswordAge policies, if defined the result is always zero (i.e. zero days)

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
[code]

#### The operating system the target node is running

OsName

[2019-06-08 17:35] JamesFrierson1 commented on #344
added #362 . I was unsure how much of the task list I needed to complete. Please let me know if there's more I can do!

[2019-06-08 19:02] johlju commented on #361
We should make an integration test (regression test) and then resolve this.

[2019-06-08 19:07] #344 closed

[2019-06-08 19:08] johlju commented on #344
@JamesFrierson1 For that PR (change) the change log entry was enough! Please continue sending in PR's. 😃

[2019-06-10 14:34] JamesFrierson1 commented on #344
Thanks, @johlju !

[2019-06-11 08:26] tmeckel commented on #343
Neat idea because that would allow the specification of a "real" timeout as a parameter and not those two arguments which only in combination will show the time the function will wait for the Domain to become available. More intuitive to use. But a breaking change if the "old" two parameters will be removed.

[2019-06-11 10:59] jhoudi commented on #300
@johlju
I think my conclusion was wrong, that configuring distinguished name as GroupName was working. I tested it when the group already existed and so I did not receive any errors. If you configure a group which does not exists it will not work and you will get an error.

"New-ADGroup : The name provided is not a properly formed account name"

I think this somehow changes the discussion. If you

[2019-06-11 18:34] #295 closed

[2019-06-12 13:07] X-Guardian commented on #341
@johlju How can this help be displayed?

[2019-06-12 15:32] johlju commented on #341
We have "debated" this in general in the issue https://github.com/PowerShell/DscResources/issues/253 if we need this or not. The conclusion was that this is not for the users but for the contributors to add notes about design choices. The style guideline also has this entry https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md#functions-have-comment-based-help
In reality it is

[2019-06-12 15:57] johlju commented on #300
You found a bug. It is meant to switch `Identity` property to `Name` property here

https://github.com/PowerShell/xActiveDirectory/blob/0ee8c7478b99dd667c30d479af0bf3eb9b608081/DSCResources/MSFT_xADGroup/MSFT_xADGroup.psm1#L500

But what it actually does is set the whole `Identity` parameter to the `Name` property here

https://github.com/PowerShell/xActiveDirectory/blob/0ee8c7478b99dd667c30d479af

[2019-06-12 16:03] johlju commented on #300
I change the title of this issue to track this bug, and also labeled it as 'help wanted'. Anyone in the community maybe send in a PR to resolve this, and I will review it.

[2019-06-12 16:18] johlju opened #367 "WaitForADDomain: Should be able to use PsDscRunAsCredential"
Currently it is not possible to run the resource using the built-in credentials `PsDscRunAsCredential`.

When using the `PsDscRunAsCredential` the username is stored in `$PsDscContext.RunAsUser` and can be used to evaluate (`$null -ne $PsDscContext.RunAsUser`) if the resource is running using a credential passas in `PsDscRunAsCredential`, or output the username in a verbose message.

[2019-06-12 16:21] johlju commented on #343
Yes, but I think it's better to change the parameters, right? Proposing this schema

[code]

[2019-06-12 16:23] johlju opened #368 "xADRecycleBin: Missing descriptions for the properties in the schema.mof"
We should add descriptions for the properties in the schema.mof so the auto-documentation works correctly.

[2019-06-12 16:25] johlju opened #369 "xWaitForADDomain: Missing descriptions for the properties in the schema.mof"
We should add descriptions for the properties in the schema.mof so the auto-documentation works correctly.

[2019-06-12 16:36] tmeckel commented on #343
I totally agree, but it's a "major" breaking change, so perhaps a more gradual phase out of the old parameters would be nice. Like we started with the firewall stuff in xDSCWebService https://github.com/PowerShell/xPSDesiredStateConfiguration/issues/536#issuecomment-468975278

[2019-06-12 17:35] #311 closed

[2019-06-12 17:49] johlju commented on #343
It’s possible to do that, or we gather a lot of breaking changes and do them at once. Next release would be a breaking change release already so would be good to get more breaking changes in. But not sure if someone have time to resolve this issue until then.

[2019-06-12 18:34] #342 closed

[2019-06-12 19:11] X-Guardian commented on #341
OK, no use to end users then. I've been experimenting with the `about*.help.txt` files that the `New-DscResourcePowerShellHelp` generates, and these are much more useful for the end user, as they are dynamically built from the MOF data and example files and allow you to run `get-help` on the resource name to show them. There is currently no mention of these in the style guidelines.
Currently the `

[2019-06-13 07:17] jhoudi commented on #300
Thanks. I think this is quite clear now.

I want to help but my time at the moment is very limited at the moment. I will give it a try in the coming weeks. I never did a PR before. Can you point me to something where this process is explained?  I'm using a lot of DSCResources and have written a lot of Powershell myself but if I do a PR I want to do it correctly.

[2019-06-13 16:35] #333 closed

[2019-06-13 16:35] #334 closed

[2019-06-13 17:16] johlju commented on #300
It would be awesome if you want to try to resolve this, and it is not a problem that you are new at contributing (creating PR's), I will help whenever you need it. Throw any questions my way and I help answer them.
Please read this to get you started: https://github.com/PowerShell/DscResources/blob/master/GettingStartedWithGitHub.md
And here is help about creating tests: https://github.com/PowerSh

[2019-06-15 10:58] #246 closed

[2019-06-15 12:18] johlju opened #374 "xActiveDirectory: Use fully qualified type names for parameters and variables"
We should change the type names to be fully qualified. For example

`[String]` to `[System.String]`
`[Boolean]` to `[System.Boolean]`
`PSCredential` to `[System.Management.Automation.PSCredential]`

[2019-06-15 13:08] #368 closed

[2019-06-15 13:08] #369 closed

[2019-06-15 16:32] X-Guardian opened #375 "xADUser: Exception When Setting ServicePrincipalNames to An Empty String"
#### Details of the scenario you tried and the problem that is occurring

An exception occurs when deploying an `xADUser` resource that sets the `ServicePrincipalNames` to an empty string when the User currently has one or more values present in the property.

#### Verbose logs showing the problem

[code]

#### Suggested solution to the issue

The `xADUser` resource is using the `Remove` parameter

[2019-06-15 16:47] johlju commented on #375
Instead of, what I'm guess, using _Clear_ and then _Add_, would it be better to use _ Replace_ so that some of the SPNs that are correct are not removed (even for milliseconds) and potentially result in service interruption.  Using _Replace_ could possible minimize that? Also, it will be using the same pattern as resource xADComputer.

[2019-06-15 16:50] X-Guardian commented on #375
This scenario is definitely a `Clear`. i.e. going from 'some SPNs' to 'no SPNs'. The code already uses `Replace` if you go from 'some SPNs' to 'some other SPNs.

[2019-06-15 17:24] X-Guardian commented on #375
Just tested `xADComputer` with the same scenario, and that fails too, but in a different way. The `ServicePrincipalNames` parameter of the 'Test-ServicePrincipalNames' function doesn't allow an empty string. Removing this limitation allows the scenario to work, but the coding for `xADComputer` is totally different to `xADUser`.

[2019-06-15 17:36] johlju commented on #375
Thanks for testing xADComputer. Could you please submit an issue for that too? :smile:

[2019-06-15 17:38] X-Guardian commented on #375
Will do. Its an easy fix.

[2019-06-16 11:50] johlju opened #377 "ActiveDirectoryDsc: Add documentation for helper functions and possible patterns that resources can use"
Helper functions are made to simplify code and made so the resources can use the same patterns. These patterns are not easily discovered.

I suggest we add documentation around this DSC module specific patterns and helper functions.

Also see issue https://github.com/PowerShell/DscResource.Tests/issues/326 to help automate parts of this.

[2019-06-16 17:19] johlju commented on #322
This was merged in PR https://github.com/PowerShell/xActiveDirectory/pull/326

[2019-06-16 17:19] #322 closed

[2019-06-18 06:25] X-Guardian opened #382 "xADComputer: Exception When Setting ServicePrincipalNames to An Empty String"
#### Details of the scenario you tried and the problem that is occurring

An exception occurs when deploying an `xADComputer` resource that sets the `ServicePrincipalNames` to an empty string when the Computer currently has one or more values present in the property.

#### Verbose logs showing the problem

[code]

#### Suggested solution to the issue

In the 'Test-ServicePrincipalNames' function,

[2019-06-18 06:58] X-Guardian opened #383 "xActiveDirectory: Some Resources are Missing Descriptions"
The following resources are missing descriptions in their `README.md` file:

- xADDomainTrust
- xADReplicationSite
- xADReplicationSiteLink
- xADUser
- xWaitForADDomain

These files are used for building the Wiki documentation.

[2019-06-18 11:19] #144 closed

[2019-06-18 21:59] X-Guardian opened #384 "xADUser: Password Property is Updated Whenever Another Property is Changed"
#### Details of the scenario you tried and the problem that is occurring

If an `xADUser` resource has the `password` property set, the password will be updated for the user account when any other property is changed.

#### Verbose logs showing the problem

Initial resource deploy:
[code]

Resource redeployed with no changes:
[code]

Resource redeployed after setting `GivenName`:
[code]

Notice th

[2019-06-19 19:25] #254 closed

[2019-06-19 19:25] #375 closed

[2019-06-21 09:02] #374 closed

[2019-06-22 15:49] #383 closed

[2019-06-22 17:32] johlju commented on #245
I tried to use @indented-automation's module https://github.com/indented-automation/Indented.StubCommand to generate the full stubs, but ran into a couple of issues (that I could not solve on my own). See the README.md my branch here https://github.com/johlju/xActiveDirectory/tree/add-stubs/Tests/Unit/Stubs which also links to the issues.

Feel free to continue this work and make it better. 😄

[2019-06-22 17:37] johlju commented on #312
I gathered the issues that I think we need to resolve before we rename the module in this project board https://github.com/PowerShell/xActiveDirectory/projects/2. If you think more issues should be added, or an issue should not be a part of the board then feel free to comment. I don't think we should enforce to have the integration tests since there are no easy way of running them yet (still worki

[2019-06-22 21:55] PlagueHO commented on #312
Nice! If I get time I'll pick some up.

[2019-06-23 08:23] johlju commented on #312
Would be great, and the reason we are so close is because @X-Guardian has put so much work closing issues! 😃

[2019-06-23 18:02] #382 closed

[2019-06-23 18:19] #384 closed

[2019-06-25 08:41] johlju opened #394 "xActiveDirectory: Resource have a requirements section (in wiki README.md)"
The resource xADComputer have a _Requirements_ section in the README.md that is used to generate the wiki documentation. See here https://github.com/PowerShell/xActiveDirectory/blob/dev/DSCResources/MSFT_xADComputer/README.md

I suggest we add this section to the other resources README.md as well. The *Requirements*  section is meant to list requirements for a resource, for example if the resource

[2019-06-25 08:44] #331 closed

[2019-06-25 10:07] johlju commented on #341
I like the idea of adding the `about*.help.txt  files to help the ends users. We should also update the GitHub pull request template that these should be updated (so that I remember to enforce it), and also it would be good to open an issue in the DscResource repo for this to be added to the style guideline.

This would not replace the comment-based help though, that I think is still needed for th

[2019-06-25 10:15] X-Guardian commented on #341
Yes, agreed. different audience.

I raised this PR PowerShell/DscResource.Tests#325 to make the `New-DscResourcePowerShellHelp` function more useful for this. We could then take it further and add a meta-test that checks that the help files are there and are correct...

If you want to raise an issue for the about_help files in this repo, I'll populate all of them from the output of the function.

[2019-06-25 14:29] JamesFrierson1 commented on #394
Hi @johlju I'd be happy to contribute! Just to be clear, are you interested in adding the Requirements section that states "Target machine must be running Windows Server 2008 R2 or later" to every README.md in the DSCResources folder?

[2019-06-25 15:14] X-Guardian opened #395 "xActiveDirectory: Some Resources are missing examples"
The following resources are missing examples:

- xADReplicationSubnet
- xADServicePrincipalName
- xWaitForADDomain

This should be placed within the relevant Examples/Resources directory and should conform to the standards required for [Publishing to PowerShell Gallery](https://github.com/PowerShell/DscResource.Tests#requirementsdependencies-for-publishing-to-powershell-gallery).

[2019-06-25 15:18] #327 closed

[2019-06-25 15:29] johlju commented on #394
You are very welcome to contribute this! Yes, we can add that if it is true. It is probably is true in most, right? :thinking: If you know any more requirements please add them, otherwise other PRs can complement the sections later. If you add the section without any requirements for a resource then we probably should write ‘None.’ :thinking:

I think it most important that the section exist so th

[2019-06-26 14:55] #276 closed

[2019-06-26 15:11] #395 closed

[2019-06-26 15:24] johlju opened #398 "ActiveDirectoryDsc: Add notice to pull request template about wiki content"
I think we should add a notice to the pull request template saying that the wiki content is generate automatically from certain files (schema, resource README.md, and resource examples files) so that new contributors know that they do not need to manually update the wiki, and doing so could remove the manually added content in the next release update.

[2019-06-26 15:26] johlju commented on #398
Also maybe a notice should be added to the first page of the Wiki? Maybe re-word this section

[2019-06-26 15:26] X-Guardian commented on #398
Definitely. I didn't realize that the Wiki was open for anyone to edit. Is that by default?

[2019-06-26 15:28] X-Guardian commented on #398
https://help.github.com/en/articles/changing-access-permissions-for-wikis

[2019-06-26 15:30] johlju commented on #394
@JamesFrierson1 I just tried the new "read-only assignee" functionality. If you decide that you don't have time to contribute this, just un-assign yourself from this issue. But looking forward to a PR. Thank you!

[2019-06-26 15:37] johlju commented on #398
Yes, default it is open for everyone. I don't have admin rights so can't change the permission (just collaborator). But having it open is okay I think, if we just could help avoid changes to files that is generated automatically so no one makes edits in the wrong place. Every change is logged in the normal commit history, so it could be traced (and reverted if need be). But if we feel we should ch

[2019-06-26 15:39] X-Guardian commented on #398
Does anyone get notified if the Wiki is updated?

[2019-06-26 15:56] johlju commented on #398
No, there ate nog GitHub notifikations for that I think. :thinking: Probably need a function that clones the wiki repo and look at the commit history.

[2019-06-26 15:58] X-Guardian commented on #398
I would recommend getting it set to collaborator update only then. Someone could change a page, and no one notices.

[2019-06-26 16:01] johlju commented on #398
My thought was that hopefully the community notices, and if a change is made to a markdown file that is automatically generated, that change will be reverted as soon as the new markdown file is published (assuming we have this automated in the near future).

[2019-06-26 16:01] johlju commented on #398
But if we have it fully automated then we could switch the permission :thinking:

[2019-06-26 16:02] johlju commented on #398
@gaelcolas what are you thoughts here?

[2019-06-26 16:19] JamesFrierson1 commented on #394
Sounds good, @johlju . I created PR #399 and added the Requirements section as we discussed. I went ahead and stated very DSCResource requires Windows Server 2008 R2 or later, but if that isn't true I can go back and just write "None" like you suggested

[2019-06-26 19:08] johlju commented on #394
@JamesFrierson1 it is probably true, if it is not for one resource, I think we let another PR resolve that. 🙂

[2019-06-26 19:37] johlju opened #401 "ADComputer: Reference to the cluster account example"
xADComputer is part of creating a cluster account, but the example of showing how to create a cluster accunt and enforce the enable propert is in the examples of resource xADObjectEnabledState. I suggest we add a reference to the examples in xADObjectEnabledState wiki page from the README.md of the resource xADComputer.

[2019-06-27 14:37] wpbrown opened #402 "xADUser: updating CommonName and Path at same time on existing object fails"
#### Details of the scenario you tried and the problem that is occurring

On an existing object, try to set a new Path and CommonName at same time. Only CommonName updated. Running again with CommonName already being updated, moves the object to the new Path properly.

#### Verbose logs showing the problem

See the invocation of resource below.

#### Suggested solution to the issue

There seems to

[2019-06-27 14:54] johlju commented on #402
Maybe we could move the `Move-Object` as the last thing to do, after having refreshed the user object with the update properties.

[2019-06-27 14:58] johlju commented on #402
@wpbrown Is it possible for you to run the invoke command wit the verbose parameter when the error is thrown so we can easier follow the code to see what is going on?

[2019-06-27 15:24] #394 closed

[2019-06-27 15:28] wpbrown commented on #402
[code]

[2019-06-27 15:49] johlju commented on #402
@wpbrown thank you I think that will help someone in the community to resolve this.

[2019-06-27 20:22] X-Guardian opened #404 "xActiveDirectory: Add 'about_<DSCResource>.help.txt' Files for each Resource"
None of the xActiveDirectory resources currently have an `about_<DSCResource>.help.txt` file. This file is displayed by PowerShell's `Get-Help` cmdlet when passed a parameter of the DSCresource name.

[2019-07-01 11:20] X-Guardian opened #407 "xADUser: Exception When Creating a User with an Empty String Property"
#### Details of the scenario you tried and the problem that is occurring

An exception occurs when deploying an xADUser resource that sets any string property to an empty string.

#### Verbose logs showing the problem

[code]
#### Suggested solution to the issue

There are still issues with `null` vs `empty` comparisons in the `xADUser` resource which are causing this. Maybe recommend setting all

[2019-07-02 14:50] X-Guardian opened #408 "xADOrganizationalUnit: Unhandled Exception when the Path Property specifies a Non-Existing Path"
#### Details of the scenario you tried and the problem that is occurring

An unhandled exception occurs when deploying an `xADOrganizationalUnit` resource that specifies a `Path` property that doesn't exists within Active Directory. It is not clear from the error that it is the path not existing that has caused the exception.

#### Verbose logs showing the problem

[code]

#### Suggested solution

[2019-07-02 15:36] #404 closed

[2019-07-02 15:40] johlju opened #409 "xActiveDirectory: CI pipeline failed to release examples"
During the latest release the CI pipeline failed to release the examples with the error `InvalidGuid`. The problem is probably an invalid GUID in one or more script file info at the top of the examples.

[code]

https://ci.appveyor.com/project/PowerShell/xActiveDirectory/branch/master?fullLog=true#L4394

[2019-07-02 15:41] johlju commented on #409
When the wrong GUID is found we should add an issue to the test framework (DscResource.Tests) to add a common test for this.

[2019-07-02 16:16] X-Guardian commented on #409
Not a very helpful message! Suggest we add some verbose messaging into the `Test-PublishMetadata` function in `DSCResource.Tests\DscResource.GalleryDeploy\DscResource.GalleryDeploy.psm1`

The first problem is with example `xADComputer\3-AddComputerAccountSpecificPath_Config.ps1` where `Test-ScriptFileInfo` reports the GUID being invalid. It is missing a character from the first set in the GUID.

I

[2019-07-02 16:28] johlju commented on #409
The example script needs to be able to be parsed for the Test-PublishMetadata to work, but I think the publish functionality is making sure the module exist in the build worked, or maybe it is just the common test that make sure the module exist so the common test can compile the examples.

[2019-07-02 16:29] X-Guardian commented on #409
Looking at the current `Common Tests - Validate Example Files To Be Published` tests, only duplicate GUIDs are checked, not whether they are valid. This would be easy to add. It is also currently ignoring any errors from `Test-ScriptFileInfo` which could be changed.

[2019-07-02 20:11] X-Guardian commented on #409
I used `Test-ScriptFileInfo` on `xADObjectEnabledState\2-CreateClusterComputerAccount_Config.ps1` and it does produce the parse error if any of the referenced modules are not installed. Should we have examples that reference other modules?

[2019-07-02 20:14] X-Guardian opened #410 "xADComputer: Example 3-AddComputerAccountSpecificPath_Config has an invalid GUID"
`a18e0a9-2a4b-4406-939e-ac2bb7b6e917` is not a valid GUID. It is missing a hex character in the first set.

[2019-07-03 06:59] #410 closed

[2019-07-03 14:57] X-Guardian opened #414 "xADUser: ChangePasswordAtLogon Property should only be set at User Creation"
#### Details of the scenario you tried and the problem that is occurring

If the `ChangePasswordAtLogon` property of the `xADUser` resource is set to `true`, this is checked for and set every time the state is refreshed. This is not useful, and this property should only be set at user creation.

#### Version of the DSC module that was used ('dev' if using current dev branch)

[code]

[2019-07-05 10:49] johlju opened #415 "xActiveDirectory: Using splatting when calling cmdlets that exceeds ~120 chars"
There are places in the code that make calls to cmdlets and use a long list of parameters.

Example:
https://github.com/PowerShell/xActiveDirectory/blob/07c878522df6015f5a74692e931ddeeeb5d9decf/DSCResources/MSFT_xADOrganizationalUnit/MSFT_xADOrganizationalUnit.psm1#L28

We should use splatting at these locations throughout the repo to make the code easier to read. See style guideline https://githu

[2019-07-05 10:52] #408 closed

[2019-07-05 13:10] johlju commented on #415
I gathered the lines that could potentially be affected using the [Get-ScriptLinesWithMinimumLength.ps1](https://gist.github.com/johlju/7579549c9d43fe9595e267242a9aabfc). But I changed the line length to 123 because there was a lot of rows between 120-122.

Also the 123 character limit used is calculated including any starting whitespace. 120 characters is not a hard limit, just a hint what might

[2019-07-05 14:12] #402 closed

[2019-07-05 14:12] #407 closed

[2019-07-07 08:03] johlju commented on #409
The test framework will install any additional modules on the build worker that are needed to compile the examples.

[2019-07-07 08:04] johlju commented on #409
I add a issue for that in DscResource.Tests.

[2019-07-07 08:06] johlju commented on #409
Oh that was already done! Awesome! 😄

[2019-07-07 08:08] johlju commented on #409
I'm closing this as I think @X-Guardian has resolved everything. 😄 Next release should publish the examples correctly. Maybe we eventhe module has been renamed so they are released with the new names without 'x'.

[2019-07-07 08:08] #409 closed

[2019-07-07 08:19] johlju opened #416 "ActiveDirectoryDsc: All examples should be prefixed with resource name"
When the examples are deployed to the PowerShell Gallery it will not be easy to find examples if they are not prefixed with the resource name.

For example the example [1-AddDomainControllerToDomainMinimal_Config.ps1](https://github.com/PowerShell/xActiveDirectory/blob/dev/Examples/Resources/xADDomainController/1-AddDomainControllerToDomainMinimal_Config.ps1) should instead be named `1-xADDomainCo

[2019-07-07 09:03] johlju commented on #316
I will run with this one.

[2019-07-07 09:40] johlju commented on #317
On this one.

[2019-07-07 10:40] johlju commented on #332
Seem to have fixed this in my recent PR.

[2019-07-07 13:12] johlju commented on #324
I looked into adding unit tests for this by adding stub C# classes for the namespace `System.DirectoryServices.ActiveDirectory`. But there is a problem that for example `System.DirectoryServices.ActiveDirectory.Domain` get loaded by PowerShell every time, so it is not possible to override it.

To solve that we have to move out code that references classes in the namespace `System.DirectoryServices

[2019-07-08 16:34] johlju opened #419 "xActiveDirectory: All localized strings should have a string ID suffix"
There are resources that currently does not have a localized string ID suffix. We should add this ID to all localized strings.

See style guideline here: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md#localization-string-id-suffix

[2019-07-09 07:07] #414 closed

[2019-07-09 10:46] johlju opened #420 "xActiveDirectory: All schema properties description should end in full stop (.)"
All the descriptions of the properties in the schema.mof file for each resource should end in a full stop (.). All sentences should end in a full stop (.).

[2019-07-10 10:17] johlju opened #421 "ADDomainTrust: Add 'AllowTrustRecreation' property to opt-in to allow trust recreation"
In the code for the xADDomainTrust there are a mention that we should add a property to handle if a trust is allowed to be recreated or not.

https://github.com/PowerShell/xActiveDirectory/blob/20a097c69651d38123de4dd7e4057ed480966293/DSCResources/MSFT_xADDomainTrust/MSFT_xADDomainTrust.psm1#L332-L335

The current default is that the resource recreates the trust, so if we ant to add 'AllowTrustRec

[2019-07-10 11:14] johlju opened #422 "ADDomainTrust: Replace the trust type (string) value 'External' with 'Domain'"
The resource is having a validate set with two valid values `'External'` and `'Domain'`. The value `'External'` is converted to `'Domain'` in the resource to get the correct context type value when using the the class methods to get a directory context.
The code code be simplified if we switch the value `'External'` to `'Domain`' in the validate set (and schema.mof).

Is it more logical/natural fo

[2019-07-10 11:16] johlju commented on #324
I'm currently finishing up refactoring this resource and completing unit tests, I will look into adding integration tests when I'm at it as I already have a lab setup with two forests.

[2019-07-10 11:16] johlju commented on #348
I'm currently finishing up refactoring this resource and completing unit tests, I will look into adding integration tests when I'm at it as I already have a lab setup with two forests.

[2019-07-10 14:34] johlju opened #424 "xADDomainTrust: Changing trust type does not work"
#### Details of the scenario you tried and the problem that is occurring
With the current implementation of xADDomainTrust (nor with the refactored version in PR #423) it is not possible to change the trust type. This was detected when creating integration tests.

The problem is that it is using the type `[System.DirectoryServices.ActiveDirectory.Domain]` or the type `[System.DirectoryServices.Act

[2019-07-10 14:46] johlju opened #425 "xADDomainTrust: Removing trust type does not work if using wrong 'TrustType'"
## Details of the scenario you tried and the problem that is occurring
This is related to issue #424. Please see description there.

If there are a trust with the trust type 'Domain' and a configuration is suppose to remove the trust, but the in the configuration the trust type is set to 'Forest' then the trust will not be removed.
This is because of the same problem as in issue #424. There is no

[2019-07-10 21:23] devopsjesus commented on #166
I've dug into this and found a couple things:

1. In the case described above, where a member that does not exist is listed as a member in the group resource, the resource will ultimately execute [Add-ADCommonGroupMember, line 1334](https://github.com/PowerShell/xActiveDirectory/blob/20a097c69651d38123de4dd7e4057ed480966293/Modules/xActiveDirectory.Common/xActiveDirectory.Common.psm1#L1334), which

[2019-07-11 08:17] #316 closed

[2019-07-11 08:17] #317 closed

[2019-07-11 08:17] #332 closed

[2019-07-11 08:41] johlju commented on #166
Thanks for fixing this @devopsjesus!

In regards to the wrong parameter name, it is not correct that it has the wrong parameter name, it is a typo (can be resolved in either end). It works since parameter names can be written so much as they are unique, e.g `Get-ChildItem -Pa c:\temp` works since 'Path` is the only parameter starting with 'Pa'.

[2019-07-11 10:05] johlju opened #426 "xActiveDirectory: Default values on parameters should be reflected in parameter description"
If there are default values on parameters they should be reflected in the schema.mof parameter description so the Wiki gets updated with this information. This helps user to know if there is a need to provide a value for certain properties.

For example on `Ensure` property is should say `Defaults to 'Present'.` (if that is true).

[2019-07-11 10:58] johlju opened #427 "ADUser: Unable to enter Debug Mode"
#### Details of the scenario you tried and the problem that is occurring
There are issues with entering debug mode (using `Enable-DSCDebug -BreakAll`) when a default value for a parameter is derived from a function or another parameter.

This issue has been reported both in issue PowerShell/SqlServerDsc#448 and in issue https://github.com/PowerShell/ComputerManagementDsc/issues/231.

These lines w

[2019-07-11 18:07] devopsjesus commented on #166
ah yeah...parameter name resolution, duh! I'll update the resource with the correct param name!

[2019-07-12 11:26] #419 closed

[2019-07-12 11:26] #420 closed

[2019-07-12 11:26] #426 closed

[2019-07-13 06:47] #324 closed

[2019-07-13 06:47] #337 closed

[2019-07-13 06:47] #348 closed

[2019-07-13 06:58] johlju opened #430 "xActiveDirectory: Use New-CimCredentialInstance for credential objects"
We should use the same pattern as in xADDomainTrust to return the credential objects from `Get-TargetResource`.

https://github.com/PowerShell/xActiveDirectory/blob/dd53b43a46a6e7ddd101a0b7f393af0d377b100e/DSCResources/MSFT_xADDomainTrust/MSFT_xADDomainTrust.psm1#L60-L66

The helper function `New-CimCredentialInstance` will create a MSFT_Credential CIM instance credential object without a password

[2019-07-13 07:01] johlju opened #431 "ADUser: Use helper function Add-TypeAssembly"
We should replace this call (and use the correct mock in the unit tests) with the helper function `Add-TypeAssembly`.

https://github.com/PowerShell/xActiveDirectory/blob/dd53b43a46a6e7ddd101a0b7f393af0d377b100e/DSCResources/MSFT_xADUser/MSFT_xADUser.psm1#L1759

[2019-07-13 07:07] johlju opened #432 "WaitForADDomain: Use helper function Get-ADDirectoryContext"
We should replace the below code with the helper function `Get-ADDirectoryContext` to simplify the code and not duplicating code.

https://github.com/PowerShell/xActiveDirectory/blob/dd53b43a46a6e7ddd101a0b7f393af0d377b100e/DSCResources/MSFT_xWaitForADDomain/MSFT_xWaitForADDomain.psm1#L215-L222

[2019-07-14 09:44] kungfu71186 commented on #328
This looks like there is no Ensure parameter. @johlju Would you agree to just remove the shouldprocess binding and add in ensure to enable/disable?

[2019-07-14 11:10] johlju commented on #328
This can only be enabled or disabled per forest, so I don't see the need to an `Ensure` parameter. `Ensure` parameter is normally used when removing and adding objects. This is just a existing property that can only have two states, enabled or disabled. 🤔

[2019-07-14 11:37] kungfu71186 commented on #328
Right, i forgot once it's enabled, you can no longer disable it. I guess just removing the shouldprocess would be sufficient enough.

[2019-07-14 12:14] johlju commented on #328
Yes that is sufficient :) Are you working on this one now?

[2019-07-14 12:21] kungfu71186 commented on #328
Maybe, I don't want to commit to it quite yet. I'll finish up a few things and see if I have time. It just depends on how long my other commitments take. For now, I'll keep it open for someone to grab if they wish.

[2019-07-15 07:49] johlju opened #434 "ActiveDirectoryDsc: Integration tests are comparing the wrong value for Test-DscConfiguration"
All integration tests was wrongly changed to `Test-DscConfiguration -Verbose | Should -BeTrue` in one of the last merges. This must be `Test-DscConfiguration -Verbose | Should -Be 'True'` since `Test-DscConfiguration` does not return a boolean, but a string of either `'True'` or `'False'`

/cc @PlagueHO

[2019-07-15 13:07] RobertCGouge commented on #341
I am going to take a shot at this.

[2019-07-15 18:20] #341 closed

[2019-07-17 15:24] johlju commented on #169
Clsoing this in favor of issue #245

[2019-07-17 15:24] #169 closed

[2019-07-17 15:29] johlju commented on #245
There seems to be a problem with the build worker loading in the assemblies so that classed are present, that means that our stub classes (for example `Microsoft.ActiveDirectory.Management.cs`) cannot be loaded. This can result in different results between running unit test locally and running them on the build worker.

I think this can have something to do with the meta tests running (common test

[2019-07-17 15:31] johlju opened #437 "ActiveDirectoryDsc: Split meta tests and init tests in different AppVeyor jobs"
There are issue running unit tests when stubs are not able to be loaded, see the
https://github.com/PowerShell/xActiveDirectory/issues/245#issuecomment-512331112. One solution that can mitigate this would be to split the jobs.

See example over at SqlServerDsc https://github.com/PowerShell/SqlServerDsc/blob/dev/appveyor.yml

[2019-07-17 15:39] #40 closed

[2019-07-17 16:04] johlju opened #438 "xADDomainController: Suggest renaming parameters"
I suggest renaming the parameters in xADDomainController that was added in a recent PR. The rename is meant to better show what the properties should be assigned. This needs to be done before next release so we don't need to do a breaking change.

Suggest renaming the property `AllowPasswordReplicationAccountName` to `AllowPasswordReplicationMembers`, and rename `DenyPasswordReplicationAccountName

[2019-07-17 16:10] johlju commented on #438
After looking in to this closer, it seems that the cmdlet `Install-ADDSDomainController` actually have this parameter names, so to be consequent maybe we should leave them as-is.

[2019-07-17 16:10] #438 closed

[2019-07-21 05:07] kungfu71186 commented on #340
@johlju I'll take these comment based ones and make one PR for all, #330, #335, #339, #340

[2019-07-21 05:07] kungfu71186 commented on #339
@johlju I'll take these comment based ones and make one PR for all, #330, #335, #339, #340

[2019-07-21 05:07] kungfu71186 commented on #335
@johlju I'll take these comment based ones and make one PR for all, #330, #335, #339, #340

[2019-07-21 05:07] kungfu71186 commented on #330
@johlju I'll take these comment based ones and make one PR for all, #330, #335, #339, #340

[2019-07-21 10:48] kungfu71186 commented on #328
Will wait until #330 is merged to work on this one.

[2019-07-21 11:18] johlju commented on #329
I try to resolve this one.

[2019-07-21 11:30] johlju commented on #328
@kungfu71186 I will run with this one.

[2019-07-21 12:18] johlju opened #442 "ADRecycleBin: Remove duplicate code"
Several rows of code that exist in Get-TargetResource is duplicated in Test-TargetResource. Suggest calling Get-TargetResource from Test-TargetResource and the use the read-only property `RecycleBinEnabled` to determine the state. This would also simplify the unit tests for Test-TargetResource since we could mock Get-TargetResource.

Duplicated code

https://github.com/PowerShell/xActiveDirectory/

[2019-07-21 13:31] #335 closed

[2019-07-21 13:31] #339 closed

[2019-07-21 13:31] #340 closed

[2019-07-21 13:31] #330 closed

[2019-07-22 06:50] PlagueHO commented on #321
I'll do this one.

[2019-07-22 07:34] johlju opened #443 "ActiveDirectoryDsc.Common: Refactor Remove-DuplicateMembers"
This function could be replaced by a one-liner

We could do this

[code]
Instead of this

https://github.com/PowerShell/xActiveDirectory/blob/621e28538148b5d668ae5eca673af42cdfe567e2/Modules/xActiveDirectory.Common/xActiveDirectory.Common.psm1#L679-L708

[2019-07-22 07:36] #329 closed

[2019-07-22 07:36] #328 closed

[2019-07-22 07:54] johlju commented on #443
The unit test should validate that the comparison is case-insensitive.

[2019-07-22 07:55] johlju commented on #443
Another suggestion from the Slack channel was

[code]

[2019-07-22 09:17] #321 closed

[2019-07-22 09:24] johlju commented on #312
This one is ready to be worked on!

[2019-07-22 15:54] jrdbarnes opened #446 "xADObjectPermissionEntry: Error creating AD: PS Drive"
#### Details of the scenario you tried and the problem that is occurring
Trying to configure AD Object permission entry. Puppet calls invoke-dscresource, so this is the configuration I've attached below.

Sometimes the Invoke-DSCResource completes successfully, but I haven't been able to identify what the difference is. These configurations were working successfully with 2.26.0.0.

#### Verbose lo

[2019-07-22 19:45] ChrisLGardner commented on #312
If I get some time tomorrow or this week then I'll look at getting this done. Shouldn't be too hard with a bit of regex.

[2019-07-22 19:52] johlju commented on #312
The one that starts work on this, please let me know so I can assign it so others know not to start too :smile:

[2019-07-23 01:41] timhaintz commented on #312
@ChrisLGardner let me know if you won’t get a chance. I should have some time tonight (Australia East time) to get started. Thanks.

[2019-07-23 14:28] jrdbarnes commented on #446
This seems to have been caused by using invoke-dscresource with multiple versions of the xActiveDirectory module. Closing as not an issue

[2019-07-23 14:28] #446 closed

[2019-07-25 09:27] johlju commented on #416
We should resolve this as soon as the module has been renamed (issue https://github.com/PowerShell/xActiveDirectory/issues/312 is closed).

[2019-07-25 09:29] johlju commented on #312
@gaelcolas PR for this issue is ready to be merged soon (just minor tweaks), so can you please rename this repo when you have some time? Also we need the token from AppVeyor since previously when renaming a repo the AppVeyor token for status badges changes.

[2019-07-27 10:01] gaelcolas commented on #312
Alright, the Repo has been renamed, let me know if you need anything else.

[2019-07-27 12:00] johlju commented on #312
@gaelcolas It seems that AppVeyor did not understand the rename of the repo. I think we need to readd the repo to the AppVeyor "PowerShell account". 😕 @kwirkykat not sure if @gaelcolas have permission there, is this something you can help with?

[2019-07-27 12:10] johlju commented on #312
This is a list from the rename of *SqlServerDsc*, the same need to be done here. *The list is from https://github.com/PowerShell/SqlServerDsc/pull/902#issuecomment-345773058*.

1. Rename repository to ActiveDirectoryDsc.
1. Connect AppVeyor if needed.
1. Connect CodeCov if needed. *This was not needed according to https://github.com/PowerShell/SqlServerDsc/issues/943#issuecomment-359148660*.
1. Cl

[2019-07-27 12:19] gaelcolas commented on #312
I should have access. It's tied with the repo's permission.

[2019-07-27 12:22] johlju commented on #312
Cool! When you have time please add the ActiveDirectoryDsc repo 😊

[2019-07-28 14:21] johlju commented on #301
@devopsjesus Did you work on this issue?

[2019-07-28 15:28] johlju opened #451 "ADUser: Using distinguished name and DomainAdministratorCredential fails when testing password"
#### Details of the scenario you tried and the problem that is occurring
Using distinguished name and DomainAdministratorCredential fails when testing password.

#### Verbose logs showing the problem
[code]

#### Suggested solution to the issue
The domain name here must be converted to FQDN before connecting to AD.

https://github.com/PowerShell/ActiveDirectoryDsc/blob/e2b3ce14952844910808780552b9

[2019-07-28 15:58] johlju commented on #269
PR for renaming parameter in ADUser in the works.

[2019-07-28 16:01] johlju commented on #172
Closing this issue as this is done to a high extent.

[2019-07-28 16:01] #172 closed

[2019-07-28 16:06] johlju commented on #248
This is resolved in the latest release.

[2019-07-28 16:06] #248 closed

[2019-07-29 10:28] #359 closed

[2019-07-29 10:28] #451 closed

[2019-07-29 11:13] #416 closed

[2019-07-30 15:59] #269 closed

[2019-08-02 09:30] johlju commented on #124
This resource has been refactored in PR #455 which will be merged shortly and available in the next release in a week or so.

If there are still issues using the refactored resource in the module ActiveDirectoryDsc, then please submit a new issue so the community can get the configuration used and the verbose logs together with the error that is occurring.

I'm closing this issue at this time.

[2019-08-02 09:30] #124 closed

[2019-08-02 14:14] #343 closed

[2019-08-02 14:14] #367 closed

[2019-08-02 14:14] #360 closed

[2019-08-02 14:14] #432 closed

[2019-08-02 14:18] johlju commented on #162
@rdbartram do you have a resource for this to send in, or maybe in a repo that you can share so I can help to get it in here?

[2019-08-02 14:20] rdbartram commented on #162
sure let me find it.

[2019-08-02 15:58] rdbartram commented on #162
I create a WIP PR. I need to complete the unit tests and then you can review it.

[2019-08-02 16:01] johlju commented on #162
Awesome! Thank you! 😃

[2019-08-03 07:42] johlju opened #463 "ActiveDirectoryDsc: Update module manifest"
To optimize the loading of the resource we should make sure we use the same pattern as in the manifest of ActiveDIrectoryCDDsc https://github.com/PowerShell/ActiveDirectoryCSDsc/blob/dev/ActiveDirectoryCSDsc.psd1.

There are some properties that need still be set to `@()` that is not part of our manifest, also make sure to export the resources (which will improve how the resource will look in Powe

[2019-08-03 08:45] #401 closed

[2019-08-03 09:09] #427 closed

[2019-08-03 09:44] #434 closed

[2019-08-03 09:52] johlju commented on #244
Closing this issue due to inactivity.

[2019-08-03 09:52] #244 closed

[2019-08-03 09:54] johlju commented on #239
Closing this and assume the issue is resolved, if it is not, then please reopen.

[2019-08-03 09:54] #239 closed

[2019-08-03 09:57] johlju commented on #171
Assume the new resource in ADObjectPermissionEntry resolved this, if it did not, then please reopen.

[2019-08-03 09:57] #171 closed

[2019-08-03 10:41] #431 closed

[2019-08-03 10:50] johlju commented on #463
An entry in the pull request template should be added as well, so there are a reminder to add new resource to the module manifest.

[2019-08-03 14:26] johlju commented on #44
I'm looking at fixing this issue by adding the ThumbnailPhoto property to ADUser. Continuing the work @iainbrighton started and reuses parts of the MIT licensed code he implemented in https://github.com/VirtualEngine/VirtualEngineLab/tree/master/DSCResources/VE_vADUserThumbnailPhoto

[2019-08-03 15:27] #336 closed

[2019-08-03 15:27] #338 closed

[2019-08-03 18:39] #421 closed

[2019-08-03 19:05] johlju commented on #99
If no value is set for `DomainControiller` the the default value for the cmdlets parameter `Server` is used, which will be the domain of the computer. Reads more here for the parameter `Server` https://docs.microsoft.com/en-us/powershell/module/addsadministration/get-adgroup. The default value will probably return/choose the fastest domain controller to respond (the closest), this can change from

[2019-08-03 19:05] #99 closed

[2019-08-03 19:54] johlju commented on #127
I'm closing this as the initial issue was solved in PR https://github.com/PowerShell/ActiveDirectoryDsc/pull/137

[2019-08-03 19:54] #127 closed

[2019-08-03 20:11] johlju commented on #156
Closing this issue as per previous comment. It is noted in the Wiki that it is used for searching for existence of the domain.

[2019-08-03 20:11] #156 closed

[2019-08-04 08:42] johlju opened #466 "ActiveDirectoryDsc: $PSBoundParameters.Remove() returns a [System.Boolean]"
Thanks too @PlagueHO I learned that using $PSBoundParameters.Remove() actually returns a boolean whether the property was removed or not, which a normal hashtable do not do.

So in all places where this exist

[code]

It should change to this to suppress the returned value.

[code]

[2019-08-04 09:03] johlju commented on #442
Closing this as this issue will be obsolete when PR #462 is merged.

[2019-08-04 09:03] #442 closed

[2019-08-04 09:04] johlju commented on #354
Closing this as this issue will be obsolete when PR #462 is merged.

[2019-08-04 09:04] #354 closed

[2019-08-04 11:03] johlju opened #467 "ADUser: Refactor unit tests for resource"
#### Details of the scenario you tried and the problem that is occurring
When adding unit test for new functionality in ADUser the existing test was messing up the new tests becuase they did not run it there own context and most likely left mocks that interfered with the new unit tests.

Quick solution was to add those test into a separate context block named `'When running unit tests that need re

[2019-08-04 17:22] johlju commented on #55
I thought of this a couple of days, and not sure a new resource is the right way to go. I can only see a reason to move Flexible Single Master Operation (FSMO) roles is to spread them to another domain controller when that domain controller is provisioned.
To move a FSMO role the DC that holds the role must be up and responding, that rules out moving roles to another domain controller to seamless

[2019-08-04 20:46] jhochwald commented on #55
A logic that takes the best (fastest?) available might be a good idea.

[2019-08-05 00:06] matthitchcock commented on #55
I disagree with seizing a FSMO role using this method. Seizing is an exceptional process and should be done with manual intervention. The DSC configuration should then be updated to reflect the change and to apply should the environment be reprovisioned or to cleanly move the role.

Having the DSC configuration fail to move the role if the original role holder is down is the right thing to do. Onc

[2019-08-05 05:46] johlju commented on #55
@matthitchcock Thank you for your input, I agree with what you are saying. I personally would feel more comfortable if no resource is having the ability to seize.

[2019-08-05 05:55] johlju commented on #55
@jhochwald Thanks for your input. Not sure it is practically possible. 🤔 I think we must assume the Active Directory cmdlets/classes have the best logic to give us the best possible domain controller. The domain controller that is "the fastest" might not be the one we want, because it might be fastest for that moment, but not in the next moment then another is "faster" because of various circumsta

[2019-08-05 08:31] jhochwald commented on #55
Hi @johlju I know. That would require a change within the AD concept. This kind of information is something that need a lot of information from the inside.
In such a use case the role model would be fluent and all the master roles would be moved around, based on load and network performance.

[2019-08-05 10:17] raandree commented on #55
During a couple of DSC / AD projects the question arose how to manage the FSMO roles with the DC deployment. As changes on the FSMO roles are happening very rarely it did not hurt that there was no converge in the DSC resources yet. But it is definitely nice to have.

I would not want to assign the FSMO roles dynamically considering replication costs or load. It should be a decision that someone w

[2019-08-05 11:12] #162 closed

[2019-08-05 11:45] johlju commented on #463
This is also documented in the article [*PowerShell module authoring considerations*](https://docs.microsoft.com/en-us/windows-server/administration/performance-tuning/powershell/module-authoring-considerations).

[2019-08-05 13:44] johlju commented on #55
@raandree thank you for your input!

[2019-08-05 13:44] johlju commented on #55
It sounds like adding a parameter to the resource ADDomainController might be a better approach than having a new resource. WIth a new parameter we get better control where the roles are when they are bound to a certain "DSC role"-configuration (domain controller), than any computer with enough permission could initiate a move if there were a dedicated resource for this. Using resource ADDomainCon

[2019-08-05 13:47] johlju commented on #55
Also, seizing should not be allowed. If a move cannot be done, the resource throws an error since the desired state cannot be set.

[2019-08-06 06:01] johlju commented on #463
I discussed offline with @PlagueHO regatrding exporting of the resources, and he thinks it was because of an edge case the resource was exported, but since we are not sure what the benefit is (or downside) lets leave it for now.

[2019-08-06 06:02] #463 closed

[2019-08-06 07:26] #44 closed

[2019-08-06 09:15] #466 closed

[2019-08-06 10:47] #443 closed

[2019-08-06 16:54] jojiklmts commented on #40
2019. Where is my RODC provisioned with PowerShell DSC?

[2019-08-06 17:00] johlju commented on #40
@jojiklmts sorry, not following you. But if you mean the support for RODC it has been merged and will be included in the release of ActiveDirectoryDsc (which hopefully be soon).

[2019-08-06 19:15] #55 closed

[2019-08-06 19:16] johlju commented on #55
Thank you all for this! I have merged a PR fixing this.

[2019-08-07 05:19] johlju commented on #301
I see another benefit of having a separate resource for properties not used by `Install-ADDSDomainController`, it is possible to add configuration to an existing resource and not provide the mandatory parameters required for ADDomainController, like SafeMode password.

Above I suggested moving out some properties, but those are actually used by `Install-ADDSDomainController`. So this is not a brea

[2019-08-07 05:22] johlju commented on #301
@JakeDean3631 question, why do you suggest the property should be called `ContentFreshness` and not just `MaxOfflineTimeInDays` as the property it would set? 🤔 Looking for a description of the property that would make the user know what it is used for. Is content freshness a well know term for "MaxOfflineTimeInDays"?

[2019-08-07 05:49] johlju commented on #301
I think I found something that explains the term
https://blogs.technet.microsoft.com/poshchap/2014/12/11/use-powershell-to-check-and-configure-dfsr-content-freshness/

[2019-08-07 18:31] johlju commented on #325
It looks like this have self healed, the problem does not show any more, but let's keep this issue open a while longer.

[2019-08-08 06:40] johlju commented on #437
A test was removed from the new resource ADDomainFunctionalLevel since the build worker could not run it due to worng classes was loaded on the buildworker. It works when using the stub classes, but not a build worker that running Windows Server 2012 R2 and loads a class with missing enum types.

This issue should resolve this and then this test should be able to be re-added.

[code]

Error on the

[2019-08-08 08:28] johlju commented on #265
Great discussions here, I label this as help wanted and resource proposal som someone in he community can grab this a run with it! Looking forward to one or more PR's to start support this.

Wouldn't it be better to actually have the Install-resource both test and install to get the desired state, if the test fail because the account is missing som prerequisites to function properly then the resou

[2019-08-08 09:00] #301 closed

[2019-08-08 11:08] johlju commented on #245
I suggest we simplify the stubs of the AD cmdlets. Parameters in the cmlets are today referencing various ActiveDirectory classes which also demands that we need to have stubs for those classes. I suggest that we just change all the stub cmdlet parameters to use PSObject. We use these in unit tests, so we are really just intrested if the cmdlet are called using a specific parameter, and maybe chec

[2019-08-08 14:38] Crusad opened #478 "WaitforADDomain: Throws an error when credentials are missing"
#### Details of the scenario you tried and the problem that is occurring
Running setup of an environment with Domain Controller and couple Windows nodes that should join the domain after it exist. I use `WaitforADDomain` to wait for Domain controller to boot and then `Computer` from `ComputerManagementDsc` renames the server and join the domain under the credentials I provided (the Administrator a

[2019-08-08 15:13] johlju commented on #478
Thanks for reporting this issue! 🙂  So something changed in the refactor version that gave you this error. 🤔  I'm having a little difficulty following your description of the problem without the full configuration, can you please provide the full configuration you are using? They could help to reproduce the issue, or see if we can add a new integration test.
Also, preferably full verbose logs of w

[2019-08-08 15:17] johlju commented on #478
I sounds like you have two configurations, one for the DC and one for a client/server? Please provide both configurations.

[2019-08-08 15:27] Crusad commented on #478
Yes, I am doing one PS DSC config on Domain Controller, in the meantime there are 4 other windows servers booting with PS DSC.
The client nodes are doing some basic configuration and when they need to join the domain, they use `WaitForADDomain` to wait for the Domain Controller to finish its setup. After `WaitForADDomain` confirms the domain, they join the domain and reboot (as I rename them while

[2019-08-08 15:43] #200 closed

[2019-08-08 15:44] Crusad commented on #478
DCconfig (removed some configuration about users and DNS as it was too long and not relevant):

[code]

[2019-08-08 15:50] Crusad commented on #478
1 client node configuration:

param (
    [Parameter(Mandatory=$true)]
    [string]$InternalDomain,
    [Parameter(Mandatory=$true)]
    [string]$OctopusApiKey,
    [Parameter(Mandatory=$true)]
    [string]$DomainAdminUsername,
    [Parameter(Mandatory=$true)]
    [string]$DomainAdminPassword
 )

$NetBIOSName = $InternalDomain.Split(".")[0]
$ClientCode = $NetBIOSName.Split("-")[0]
$Env_Name = $Net

[2019-08-08 16:57] johlju commented on #478
Thanks for providing the detailed description it made me understand better, will look further tomorrow, getting late here now.

Yes, the refactored version function detects the domain in a background job and check more often. So it will be a bit quicker.

[2019-08-08 20:09] Crusad commented on #478
I tried to confirm that the issue is in the client trying to register with a user before that user is created in the Domain Controller by adding some `Start-Sleep` into User Data (I am doing this in AWS with Terraform) and it seemes to work - all nodes joined the domain without issue.

[code]

Definitely not an ideal workaround as adding `WaitforADDomain` was very nice way how to get around any ha

[2019-08-09 05:24] johlju commented on #478
I'm curious what resource initiated the reboot, can you see that? Maybe in the event logs https://docs.microsoft.com/en-us/powershell/dsc/troubleshooting/troubleshooting

[2019-08-09 06:02] johlju commented on #478
If I just kick of the resource using credentials that does not exist.

[code]

Then the Get-TargetResource fails, so it never come so far as to the Set-TargetResource.

[code]

[2019-08-09 06:13] johlju commented on #478
How do we want this scenario handled? Suggestions much appreciated.

One solution would be do make the `Get-TargetResource` use the background job as well. Then make the background job handle the error `The user name or password is incorrect.` by just ignoring it, but output the error as verbose message instead, for debug purpose. But then we miss if the credentials that is provided are actually w

[2019-08-09 08:51] Crusad commented on #478
Checking the logs it was definitely DSC who rebooted the server (System log):
[code]

DSC Logs (in order of time)
8/9/2019 7:15:17 AM:
[code]

8/9/2019 7:15:18 AM:
[code]

approx. 8 minutes later this is in the log 8/9/2019 7:24:41 AM:
`The DscTimer is running LCM method PerformRequiredConfigurationChecks with the flag set to 1.`

8/9/2019 7:24:45 AM:
[code]
8/9/2019 7:24:55 AM:
[code]

I tried to

[2019-08-09 08:59] johlju commented on #478
You are welcome. 😃

An optional parameter in WaitForADDomain to ignore the error message is my best idea so far.

I as looking for any information say what resource actually triggered the restart. Is it possible to see what resource last run/started before/when the event log message `A reboot is scheduled to progress further.`?
I curious if WaitForADDomain is not throwing a correct error so that t

[2019-08-09 09:26] Crusad commented on #478
How would I find that? I am trying to do `Trace-xDscOperation -JobId c05a14d8-ba76-11e9-8221-849f74d87b4c` but getting a lot of errors like:
[code]

[2019-08-09 09:27] X-Guardian commented on #478
I vote for a a new optional parameter to ignore the authentication error and keep waiting, but how about naming the parameter `WaitForADUser` or something similar. That makes it more clear what it should be used for.
In all scenarios that I can think of where you are using `WaitForADDomain` on a non-domain controller, you are actually interested in waiting for the domain to be active AND a particu

[2019-08-09 09:32] X-Guardian commented on #478
@Crusad, add a `Start-Transcript` to your deployment script before the `Start-DscConfiguration`, then you can capture the verbose logs in a text file up to the reboot point.

[2019-08-09 09:37] Crusad commented on #478
I found it in `C:\Windows\System32\Configuration\ConfigurationStatus`

[code]

[2019-08-09 09:38] Crusad commented on #478
I have LCM set like this - why did it reboot it during consistency check?
Or is that "monitor" part only is the configuration is successful?
In any case it really seems like during this consistency check the ADUser is already available so it joins the domain.

[code]

[2019-08-09 09:47] X-Guardian commented on #478
If a resource fails, the DSC LCM ends up in a `PendingConfiguration` state, which it will then keep retrying the offending resource to try and get into a desired state. This is what you are seeing. See https://github.com/PowerShell/xPSDesiredStateConfiguration/issues/49

[2019-08-09 09:53] johlju commented on #478
@X-Guardian Thank you for commenting!

@Crusad to verify this, in the logs you _should not_ see WaitForADDomain fail, and then run Computer and reboot. You _should_ see WaitForADDomain succeed and then see Computer do the restart.

[2019-08-09 10:05] Crusad commented on #478
Yeah sorry, should have added the whole log:
https://gist.github.com/Crusad/8538e223c7467c7ac7b3a0bc5a8cde1f.js

[2019-08-09 10:11] johlju commented on #478
@Crusad Awesome! That looks good. Then the only issue is that the credential error should be handled. If nobody get to it before me I will try to fix it in a week or so.

[2019-08-09 14:54] johlju commented on #478
I have added parameter `IgnoreAuthenticationErrors` in this branch https://github.com/johlju/ActiveDirectoryDsc/tree/fix-issue-478/DSCResources/MSFT_WaitForADDomain.

If you want to try, copy the files in that folder to your local module, replacing the files there. Once merged it won't be released for sometime since we just made a release (at least 6 weeks away).

Would be awesome if you can try i

[2019-08-10 06:24] #437 closed

[2019-08-13 06:28] johlju commented on #422
Closing this due to lack of discussion. Let us leave it as is for now.

[2019-08-13 06:28] #422 closed

[2019-08-13 06:42] Crusad commented on #478
Sorry for the delay - I will test it just have been a bit busy past couple days. I will let you know.

[2019-08-13 09:22] johlju commented on #181
When configuring a child domain the domain name must be set to a single-label DNS name. So a validation would need to take that in account when `ParentDomainName` is also specified.

[2019-08-15 08:24] Crusad commented on #478
Finally got my test environment working again and was able to test. I am getting this:
[code]
It wouldn't be impossible that I would have the variable I pass into DomainName empty, but earlier in the resource there is message `[[WaitForADDomain]ForestWait] No domain controller was found in the domain 'tf-tf.local'. (ADCOMMON0051)` so I think the DomainName must be set there?

Full log for the reso

[2019-08-15 08:55] johlju commented on #478
Looks like a bug. The domain name doesn’t seem to be passed to the background job correctly. Strange. I thought I tested successfully myself, apparently not :)
I dig into this after work.

Thank you so much for testing! Get back to you.

[2019-08-15 15:47] johlju commented on #478
@Crusad I found the bug, and I missed it becuase of a basic mistake. I did the manual integration tests before I wrote the unit tests. When I wrote the unit tests I changed the order of the parameters in the background job script, and never tested it again after that.

Fixed the bug and I added unit tests that tests that the parameters are passed correctly. 😄 If you would be so kind to test it aga

[2019-08-16 10:09] Crusad commented on #478
Looks like the new version is working! I tested today, at first test I got `Directory Service is busy` from `Computer` resource, then I remembered seeing this fix 6.5.0.0 in `ComputerManagementDsc` so I upgraded (I was on 6.4.0.0), ran it again (all from the start - recreating both Domain Controller and the client from scratch) and now it looks ok.

End of the logs (Let me know if you want to see

[2019-08-16 17:46] johlju commented on #478
Awesome  that it worked this time and that your scenario flowed better! No need to get the full log, it looked great in the log you provided. Thank you for testing.

I got a proposal in the pull request to change the parameter name, please see if you agree with the name change proposal there.

[2019-08-18 07:21] johlju opened #486 "ADDomain: Get-TargetResource is not returning actual value for some properties"
The function Get-TargetResource of the resource ADDomain is not returning the actual value for some of the properties in the schema.mof.

Missing values for the properties:

- DnsDelegationCredential
- DatabasePath
- LogPath
- SysvolPath

A way of determine the actual value should be found a make sure to return the correct value in the hashtable when the domain exist.

[2019-08-18 14:09] johlju opened #488 "ADUser: Should always return all properties from Get-TargetResource"
If a AD user is not found the Get-TargetResource function should return all properties, but those properties that cannot be retrieved should be set to `$null`. Properties that cannot be retrieved regardless if the user exist or not should be set to the same value as passed in the parameter.

[2019-08-19 07:28] johlju commented on #488
This issue should also resolve that the unit test evaluates so that the properties are returned correctly. Also add these properties to the integration test.

[2019-08-19 08:47] X-Guardian commented on #488
Not sure this is a good idea. This will cause a much larger LDAP query getting all AD user attributes even if they are not being used in the configuration. This is not the model that the `Get-AdUser` cmdlet follows.

[2019-08-19 13:45] #478 closed

[2019-08-20 11:50] #181 closed

[2019-08-21 15:59] #245 closed

[2019-08-22 19:07] SSvilen opened #489 "Code formatting: new line before and after if statement block"
Hello,

Is the project standard to have a new line before and after if/ if else statement block?
This is not how I write my code and my PRs often have that problem.
If it is a standard, than I could do a custom PSScriptAnalyzerRule for that.
Always wanted to do something AST related.. :)

[2019-08-23 05:57] johlju commented on #489
I like to have air in the code so it easier for new contributors to read the code, it is easier for the eyes to see blocks, and those blociks are written the same throughout a repo. Most code is written with air, but there are no specific guideline around it (see https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md#whitespace). But I love to see this as a new custom rule, and

[2019-08-23 06:03] johlju commented on #489
While you wait for this being discussed (in the new issue  you create) you are more than welcome to create custom rules so code can easier comply with the style guideline.

Custom rules:
https://github.com/PowerShell/DscResource.Tests/blob/dev/DscResource.AnalyzerRules/DscResource.AnalyzerRules.psm1

Custom rules tests:
https://github.com/PowerShell/DscResource.Tests/blob/dev/Tests/Unit/DscResourc

[2019-08-23 19:19] SSvilen commented on #489
Ok, I created the issue in that repo. What kind of custom rule do you think would provide a benefit or what do you, as a maintainer, would like to see?

[2019-08-24 13:31] #293 closed

[2019-08-24 14:33] johlju commented on #489
Suggest starting with making sure keywords like if-statements etc. has lower case characters and is follow by a whitespace, e.g. `if (` is correct, any combination of `If (` or `if(` should be caught by a rule. Don't think there are a rule for that yet, and I see it often.

https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md#correct-format-for-keywords

You can see if you can

[2019-08-24 14:34] johlju commented on #489
Closing this at this time, let's move discussion to DscResource.Tests.

[2019-08-24 14:34] #489 closed

[2019-08-25 11:25] johlju opened #490 "ADDomainController: Add read-only property IsDnsServer"
When the parameter `InstallDns` is or have been used there are no indication that the DNS actually is installed. Suggest adding a read-only parameter `IsDnsServer`, `DnsServerInstalled`, or something  similar to the resource.

*This is to track a review comment in PR https://github.com/PowerShell/ActiveDirectoryDsc/pull/439.*

[2019-08-25 11:54] johlju commented on #486
Three of the values are return in the ADDomainController resource, so they could be fetch similarly

https://github.com/PowerShell/ActiveDirectoryDsc/blob/0b8790a09564e4c24c0ea55684def005f144460c/DSCResources/MSFT_ADDomainController/MSFT_ADDomainController.psm1#L133-L135

[2019-08-25 13:34] #87 closed

[2019-08-25 13:49] johlju commented on #325
This seems it is no longer an issue. Closing this.

[2019-08-25 13:49] #325 closed

[2019-08-25 14:04] johlju commented on #251
For reference, the cmdlet [Uninstall-ADDSDomainController](https://docs.microsoft.com/en-us/powershell/module/addsdeployment/uninstall-addsdomaincontroller) to demote a domain controller. I suggest we do not add parameters that ignores prerequisites or forcibly removes a domain controller, we should demote a domain controller the safest way possible with this cmdlet. 🤔

[2019-08-25 17:39] SSvilen opened #491 "PSScriptAnalyzer: Enable default rules"
I have noticed that the default rules for PSScriptAnalyzer were not enabled, although a bunch of them are part of IncludeRules array.
Adding following line in analyzersettings.psd1 would enable them:
IncludeDefaultRules = $true

[2019-08-26 16:39] johlju commented on #491
I thought using `IncludeRules` added them.

You mean that the above quote assumes the `IncludeDefaultRules = $true` have been added?

I see under `CustomRulePath` that it says

[2019-08-26 16:43] johlju commented on #491
I tested this and I agree. It does not hit the rules in the include list. Great catch @SSvilen! 😃

[2019-08-26 16:51] SSvilen commented on #491
I have the PR waiting on submit button. :)

[2019-08-26 16:56] johlju commented on #491
Happy to merge when you send it in :)

[2019-08-26 18:14] #491 closed

[2019-08-31 10:19] johlju opened #493 "ADGroup: Fails into the wrong code path when ManagedBy identity cannot be resolved"
#### Details of the scenario you tried and the problem that is occurring
If `ManagedBy` property cannot be resolved, then the code falls into the wrong path saying that the group does not exist.

#### Verbose logs showing the problem
[code]

#### Suggested solution to the issue
Refactor `Set-TargetResource` to correct use `Get-TargetResource`, then the existing `try`-block might be unnecessary. In

[2019-08-31 11:01] johlju opened #494 "ADGroup: Seemingly removing members even if they are present in property Members"
#### Details of the scenario you tried and the problem that is occurring
If a group already have one member 'Guest' and then the group should enforce two members 'Guest' and 'Administrator' it looks like in the verbose log that it actually removes the 'Guest' as member and the re-adds it.

#### Verbose logs showing the problem
[code]
#### Suggested solution to the issue
We should not remove member

[2019-08-31 14:58] johlju commented on #164
My last suggestion will add more logic to the resource, and since nobody else thought being able to be able to use anything else than DN i will close this. 🙂

[2019-08-31 14:58] #164 closed

[2019-08-31 15:00] johlju commented on #151
This is similar to issue #164 that the code enters into the wrong code path, fixing #164 will resolve this one too.

[2019-09-01 10:33] #350 closed

[2019-09-01 11:36] johlju opened #496 "ADGroup: Not restoring deleted object"
#### Details of the scenario you tried and the problem that is occurring
When removing a group and then trying to restore the deleted group it fails and instead a new group is created.

#### Verbose logs showing the problem
[code]
#### Suggested solution to the issue
None.

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
[code]

#### The operating system th

[2019-09-02 17:25] #151 closed

[2019-09-02 17:25] #166 closed

[2019-09-02 17:25] #189 closed

[2019-09-02 17:25] #493 closed

[2019-09-02 17:49] johlju commented on #300
After looking at this, I think the best solution to be able to configure the same group name for several domains in the same configuration is to make the property `Path` a key. Changing `GroupName` to be able to handle both group name and group distinguished name will add a lot of (what I think) unnecessary logic. But making `Path` a key is a breaking change.

Any other suggestions or comments?

[2019-09-03 12:41] johlju opened #498 "ADComputer: Not restoring deleted object"
#### Details of the scenario you tried and the problem that is occurring
When removing a computer account and then trying to restore the deleted computer account it fails and instead a new computer object is created.

#### Verbose logs showing the problem
[code]
#### Suggested solution to the issue

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
[code]

##

[2019-09-03 14:09] johlju commented on #498
So this did not work because I did not enable the Recycle Bin in the lab environment. I honestly thought the Recycle Bin was enabled by default.  🙂

But I will send in a PR that adds a bit of documentation around this.

[2019-09-03 14:09] johlju commented on #496
So this did not work because I did not enable the Recycle Bin in the lab environment. I honestly thought the Recycle Bin was enabled by default.  🙂

But I will send in a PR that adds a bit of documentation around this.

[2019-09-03 16:19] #496 closed

[2019-09-03 16:19] #498 closed

[2019-09-13 06:20] 1800Zeta opened #500 "ADSiteResource: Add description attribute"
#### Details of the scenario you tried and the problem that is occurring
Would like to be able to set the site description via DSC

#### Verbose logs showing the problem
N/A - new attribute

#### Suggested solution to the issue
Add ability to set the description on an AD Site resource

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
[code]

#### The operati

[2019-09-13 13:18] johlju commented on #355
Cool thank you!

[2019-09-15 08:59] johlju opened #502 "ADReplicationSite: The value returned for RenameDefaultFirstSiteName is wrong"
Current the value for `RenameDefaultFirstSiteName` is always returned as an empty string. That does not match the type in the schema.mof. This should return the value of the parameter `RenameDefaultFirstSiteName` (which defaults to `$false`).

https://github.com/PowerShell/ActiveDirectoryDsc/blob/ae42a2cb0eecb4b5f4f2abcb74edd5de58bb20a6/DSCResources/MSFT_ADReplicationSite/MSFT_ADReplicationSite.ps

[2019-09-16 12:03] 1800Zeta opened #503 "ADReplicationSubnet: Add description field"
Add the ability to set the description of the Replication Subnet via DSC. This is an additional parameter/attribute to the existing solution

[2019-09-17 14:08] 1800Zeta opened #504 "ADReplicationSiteLink: Support enable change notification replication"
It would be good for the ADReplicationSiteLink resource to be able to enable the change notification replication.

Done in PowerShell by setting the options attribute:

[code]

Suggest having a boolean option for EnableChangeNotification. If true, options = 1, if false, options not set.  Default value $false.

I am happy to look at this in the near future as I am looking to use this

[2019-09-17 14:23] 1800Zeta commented on #503
Have already done work on this and the integration tests, once my PR is completed, will submit a new PR with the changes

[2019-09-17 16:21] johlju commented on #504
I found this, so maybe we can't assume we can always set it to `1`. See another link in the site in the provided link to be inspired how this might be solved. 🤔

[2019-09-17 16:42] 1800Zeta commented on #504
Yeah I've not found any other value option set here through google (not studied all results).

There is the following script:
https://gallery.technet.microsoft.com/scriptcenter/61cb88bb-8c61-477f-834e-79ed0c153669
which runs
[code]
which might be a better option. I believe the other common value can be 5 which does no compression but notifiy.

I pulled the value 1 from the command Set-ADReplicatio

[2019-09-18 12:00] 1800Zeta commented on #357
I have written integration tests as part of adding the description field in #503 Will submit PR for this change soon

[2019-09-18 13:13] 1800Zeta commented on #356
Hi @johlju

To do the integration tests for the Site Links, existing sites will need to be created beforehand. Should I put the New-ADReplicationSite commands in the Try of the integration.tests.ps1 file just after the configFile = join-path or should I put them elsewhere? I will add a remove-ADReplicationSite at the end of the tests.

[2019-09-18 13:37] johlju commented on #356
I usually make a prerequisites integration test that creates dependencies using DSC. That integration test only runs the Start test and I skip Get-test and Test-test.

If that is not possible, there are no DSC resources to make why you need, then add the necessary code in the Before

[2019-09-18 13:39] johlju commented on #356
See example here https://github.com/PowerShell/ActiveDirectoryDsc/blob/ae42a2cb0eecb4b5f4f2abcb74edd5de58bb20a6/Tests/Integration/MSFT_ADObjectEnabledState.config.ps1#L32

[2019-09-18 13:41] 1800Zeta commented on #356
Perfect thank you very much. Will do that 👍

[2019-09-19 10:46] 1800Zeta commented on #504
OK, potential values are as follows:

0 Nothing enabled
1 USE_NOTIFY
2 TWOWAY_SYNC
3 USE_NOTIFY|TWOWAY_SYNC
4 DISABLE_COMPRESSION
5 USE_NOTIFY|DISABLE_COMPRESSION
6 TWOWAY_SYNC|DISABLE_COMPRESSION
7 USE_NOTIFY|TWOWAY_SYNC|DISABLE_COMPRESSION

Because of how the options are calculated (Bitwise), I will make it so that you can enable/disable all the above.  I will rename the task to be 'ADReplicatio

[2019-09-19 16:54] johlju commented on #504
So great! Thanks for working on this! Great addition to the resource!

[2019-09-20 12:35] 1800Zeta commented on #504
OK, got this all working, complete with Integration tests. Because of how I've done this, until the PR for Description on Sites is closed, I am unable to create a PR for this and the description of subnets (inc Integration tests) Once that's closed, I should be able to submit the two PR's as they are in separate branches (my bad for doing it wrong to begin with :))

[2019-09-20 12:54] johlju commented on #504
I will have a look at the PR this tonight or this weekend. I was waiting for the new release to be complete yesterday.

[2019-09-20 12:59] 1800Zeta commented on #504
Thank you @johlju

will have a look through and see if there is anything else I can pick off in the meantime

[2019-09-20 17:52] #355 closed

[2019-09-20 17:52] #500 closed

[2019-09-20 17:52] #502 closed

[2019-09-23 11:37] 1800Zeta commented on #398
Obvious answer is to lock down the permissions, but in light of this, would you want the wording under the top section (thanks for submitting) or the Task List? Any objections to the below?

[2019-09-24 15:56] X-Guardian opened #511 "ADManagedServiceAccount: Add KerberosEncryptionType Property"
#### Details of the scenario you tried and the problem that is occurring

I am hitting the issue described [here](https://blogs.technet.microsoft.com/joelvickery/cannot-install-service-account-the-provided-context-did-not-match-the-target/) with a Group Managed Service Account created with this resource.

#### Suggested solution to the issue

Add the 'KerberosEncryptionType' property to the `ADMan

[2019-09-24 16:08] johlju commented on #511
Looks like this is a highly needed property!

[2019-09-24 16:18] X-Guardian opened #512 "ADManagedServiceAccount: The Resource will Incorrectly have an Ensure state of 'Absent' if any of its 'PrincipalsAllowedToRetrieveManagedPassword' no longer exist"
#### Details of the scenario you tried and the problem that is occurring

For an `ADManagedServiceAccount` resource , if any of the `PrincipalsAllowedToRetrieveManagedPassword` identities on a Group Managed Service Account no longer exist. (A server is decommissioned for example), the `Get-TargetResource` function will return an `Ensure` state of `Absent` for the whole resource. This will cause th

[2019-09-24 21:19] 1800Zeta commented on #265
Just to add my 2 pennys worth to this. I do believe there are two aspects to this.

Create the GMSA, including Group with computer membership here. This should be contained within this AD module.

Install and use the module I think should be within the ComputerManagementDsc module. I don't think I've had to run the install cmdlet but I have done the reboot for refreshing the Kerberos ticket and gr

[2019-09-25 08:53] X-Guardian commented on #511
I'm working on a PR for this.

[2019-09-25 08:53] X-Guardian commented on #512
I'm working on a PR for this.

[2019-09-25 19:10] #357 closed

[2019-09-25 19:10] #503 closed

[2019-10-02 06:38] X-Guardian opened #513 "ActiveDirectoryDsc.Common: Test-DscPropertyState Fails Comparing $Null and Arrays"
#### Details of the scenario you tried and the problem that is occurring

The `Test-DscPropertyState` function in the ActiveDirectoryDsc.Common module raises an exception in the following scenarios:

- When evaluating an array, but the current value is $null
- When evaluating an array, when both values are $null

This is because `$null` does not have a `Get-Type()` method and `Compare-Object` can'

[2019-10-05 07:48] X-Guardian opened #515 "ADManagedServiceAccount: Proposed Breaking Change"
I am currently working on the `ADManagedServiceAccount` resource to fix issues #511 and #512. Going through the code, there are other issues with it which I am taking the opportuntity to fix, including the following breaking changes:

Breaking:

- `AccountType` parameter ValidateSet changed from `('Group', 'Single')` to `('Group', 'Standalone')` - `Standalone` is the correct terminology. ref: http

[2019-10-05 19:06] johlju commented on #515
Just wondering if we remove `$AccountTypeForce` how does the user opt-in to change a standalone to group or vice verse?
I think the opt-in was meant so that an existing account couldn't be changed by mistake. It would be more proper for the resource to throw if it needs to change the type but is not opt-in. 🤔

[2019-10-05 19:20] X-Guardian commented on #515
Throwing in this scenario would be better than the current code, but do we really need to protect against this? Part of the reason that I'm proposing to remove the default on `AccountType` is so that you are always making a positive choice in the first place.

[2019-10-06 07:19] johlju opened #516 "ActiveDirectoryDsc: Resolve style guideline violations for hashtables"
We are adding a PSSA rule that validates hashtables to be correct according to the style guideline (PR https://github.com/PowerShell/DscResource.Tests/pull/348).

Since we have opt-in to the common test that validates these rules we need to make sure to update all the hashtables that still does not comply to the style guideline. After that we will merge the rule into the test framework.

Below are

[2019-10-09 16:23] #513 closed

[2019-10-15 12:59] johlju opened #518 "ADReplicationSiteLink: Wrong verbose message when removing sites"
#### Details of the scenario you tried and the problem that is occurring

When a site that is part of `SitesExcluded` is present in the sites that are set, the verbose message that should show the site being removed does not show any site name.

[code]

#### Verbose logs showing the problem
[code]

#### Suggested solution to the issue
The parameter variable name has a typo.

https://github.com/Pow

[2019-10-15 13:07] johlju opened #519 "ADReplicationSiteLink: Verbose message does not show a current value when missing current value"
#### Details of the scenario you tried and the problem that is occurring
If the current value is not set (empty or null) the verbose message does not show a current value when testing the configuration.

#### Verbose logs showing the problem
[code]
#### Suggested solution to the issue
This could be enhanced to handle `$null` values to get a more descriptive verbose message.

#### The DSC configura

[2019-10-15 13:11] #356 closed

[2019-10-15 13:11] #504 closed

[2019-10-15 15:09] johlju opened #520 "ADServicePrincipalName: Remove duplicate code"
There are some duplicated code that could be removed to simplify the resource.

Instead of calling `Get-ADObject` here we could instead call `Get-TargetResource`.

https://github.com/PowerShell/ActiveDirectoryDsc/blob/c3c93ba1bc1b8168655cc971474dde277d7c9574/DSCResources/MSFT_ADServicePrincipalName/MSFT_ADServicePrincipalName.psm1#L95

Instead of having this code

https://github.com/PowerShell/Act

[2019-10-27 10:23] johlju opened #522 "ActiveDirectoryDsc: Remove helper function Test-DscParameterState"
The helper function `Test-DscParameterState` is no longer used by any resource and should be removed.

*The helper function `Compare-ResourcePropertyState` should be used for the resources in the `Test-TargetResource` where applicable. Some resource are already using this new helper function.*

[2019-10-31 21:12] kellymenzel opened #525 "ADComputer: Ensure=Absent does not recursively remove the computer object, fails with, "can perform the requested operation only on a leaf object.""
#### Details of the scenario you tried and the problem that is occurring

When using Ensure=Absent on ADComputer, if the computer object is not a leaf object, the delete fails.

#### Verbose logs showing the problem

I'm running this in Ansible so the error message looks different, but should be the same message:

[code]

#### Suggested solution to the issue

Add **-Recurse** to the Remove-ADCompu

[2019-11-02 12:23] #358 closed

[2019-11-02 13:31] johlju commented on #525
Looks like this would be a great enhancement to the resource. If the computer account has child objects then it could be removed by

[code]

But this will also delete objects marked as **ProtectedFromAccidentalDeletion** so maybe we should opt-in to this by specifying a parameter?

[2019-11-02 15:39] kellymenzel commented on #525
I wondered if it would be better to have to opt-in, perhaps by providing a **Force** or **Recurse** parameter on the resource. However, it would only make sense in the context of `Ensure=Absent`, which I would suspect is not a very common use. Most of the times, people will be using this resource to create or change AD computer object and a Recurse parameter might be confusing. I kind of don't thi

[2019-11-02 15:45] #511 closed

[2019-11-02 15:45] #512 closed

[2019-11-02 15:45] #515 closed

[2019-11-02 17:42] #351 closed

[2019-11-02 17:57] johlju commented on #525
You have a point. By adding `'Absent'` to the resource you are essentially opting in to remove the account regardless. We could just add to the documentation that by using `'Absent'` it will remove any child objects that are connected to the computer account.

[2019-11-06 03:01] oWretch opened #527 "ADObjectPermissionEntry: Occasional error creating PSDrive"
#### Details of the scenario you tried and the problem that is occurring
As part of a full SQL Server AlwaysOn configuration, I am attempting to set the permissions on the AlwaysOn Listener computer object. Occasionally this will fail with the following error:
[code]

I am running the following modules:
ActiveDirectoryDsc: 4.2.0.0
ActiveDirectory: 1.0.0.0 (as ships with Server 2016 build 14393.255

[2019-11-06 11:57] X-Guardian commented on #527
Hi @oWretch, the `AdObjectPermissionEntry` is the only `ActiveDirectoryDsc` resource that uses the AD PSDrive, so that is why the other resources aren't affected.

The problem is that the AD PSDrive is created  when the `ActiveDirectory` PowerShell module is loaded into the session. In your case, that will be when the `ADComputer` resource is executed. I have seen before that sometimes the AD PSdr

[2019-11-06 20:13] oWretch commented on #527
@X-Guardian It is pretty consistent at present. Let me know what other logs you want me to gather etc to help track it down.

[2019-11-06 21:07] X-Guardian commented on #527
Excellent, that should make life easier. Are you running your PowerShell session using the same credentials that you are specifying in the `PsDscRunAsCredential` when you are successfully getting the AD drive mounted?

[2019-11-06 21:11] X-Guardian commented on #527
Assuming you are, lets try force-loading the PowerShell module when the `AdObjectPermissionEntry` resource starts. This can be done by modifying the ActiveDirectoryDsc `Assert-Module` function in `Modules/ActiveDirectoryDsc.Common/ActiveDirectoryDsc.Common.psm1` and adding a `-Force` parameter onto the `Import-Module -Name $ModuleName` command on line 524.

[2019-11-06 22:18] oWretch commented on #527
Yes.

[2019-11-07 00:00] oWretch commented on #527
When I add the `-Force` parameter  on line 524 the DSC application succeeds.

[2019-11-07 00:24] oWretch commented on #527
I suspect the issue is that the AD module is still loaded, and it fails trying to load again. The modules I have loaded just before it tries to load the AD module are:
[code]

And the PSDrives available are:
[code]
Interestingly, the AD Module is loaded but the AD drive is not available.

[2019-11-07 08:06] X-Guardian commented on #527
Don't forget that the Dsc code is not running under your own user context, so modules you have loaded within your own PowerShell session have no bearing on Dsc, but what you are seeing there is likely to be the same scenario as what is happening when the Dsc runs. Interestingly, you don't even have the ActiveDirectory PSProvider loaded, so that it is the stage that is failing.
The only way to add

[2019-11-07 09:04] oWretch commented on #527
I meant to include that those dumps are taken when DSC is running. I added the export commands to the `Assert-Module` function to grab what was loaded in DSC.

[2019-11-07 09:12] X-Guardian commented on #527
OK, excellent. That proves it then.

I've raised PR #528 to force load the `ActiveDirectory` module if the AD PS Provider isn't installed. Do you want to test it?

[2019-11-08 00:17] oWretch commented on #527
Thanks @X-Guardian. That has solved the problem here.

[2019-11-10 10:59] X-Guardian commented on #527
Excellent news. I'll get the PR review finished and then we can look at getting a new release published including this fix.

[2019-11-16 11:04] #527 closed

[2019-11-17 16:02] X-Guardian opened #529 "ADComputer: Incorrect Description for the SamAccountName Property"
The description for the `ADComputer` resource `SamAccountName` property is incorrect.

It is currently 'Returns the security identifier of the computer object.' whereas it should be 'Returns the SAM account name of the computer object.'

[2019-11-19 16:00] Crusad opened #530 "WaitADDomain: fails if DC not ready"
#### WaitADDomain: fails if DC not ready

#### Verbose logs showing the problem
[code]
#### Suggested solution to the issue
Wait until the DC is ready

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)

I create new server and wait for DC to become ready to join the domain. If the DC is ready, server joins the domain without problem, but if WaitForADDomain ru

[2019-11-20 10:04] X-Guardian commented on #530
Hi @Crusad, looking at the `Find-DomainController` function, it looks like the `FindOne()` method call in `Find-DomainControllerFindOneWrapper` is returning an unexpected exception. To see what the exception is, can you add the following line to `Modules/ActiveDirectoryDsc.Common/ActiveDirectoryDsc.Common.psm1` before line 2260 (`throw $_`) to output the exception name to the logs and then run the

[2019-11-21 16:26] johlju commented on #530
Yes I agree, it looks like another error makes the resource not wait the 900 seconds (the timeout value) as it should 🤔

[2019-11-21 17:05] X-Guardian commented on #530
Yes, I see @Crusad is using Server 2019, so I'm suspicious that the exception name may have changed that the function is catching on.

[2019-11-21 17:08] Crusad commented on #530
I will definitely test what @X-Guardian suggested, just testing this is a bit time-consuming for me and I was too busy past two days to get into it. I will get back to you with results. And yep, I am using 2019 (1809).

[2019-11-21 17:19] X-Guardian commented on #530
No problem @Crusad.

@johlju, I was thinking that we should output the exception full name whenever we hit an unknown exception in any of the resources. It would make diagnosing these issues easier.

[2019-12-02 04:49] shurick81 commented on #527
When do you think it will be time to release this improvement?

[2019-12-02 06:19] gaelcolas commented on #527
To be released, this module will have to be updated with the new release Pipeline automation. So hopefully before Xmas, depending on contributions.

[2019-12-09 14:44] davidwallis3101 opened #531 "Release Date?"
When is the latest commit going to be pushed to the gallery?

Reluctant to package it and host internally and later cause issues if its imminent? (and there is functionality im interested in)

Thanks

[2019-12-10 17:25] X-Guardian commented on #531
The repo needs converting to the new CI process first, and the method to do that is still being finalized. I would doubt this will be completed before Jan.

[2019-12-10 21:08] johlju commented on #531
Getting closer and closer to be able to release SqlServerDsc, when that one is done it will go quicker doing this one and the rest of the modules. 😊

[2019-12-26 19:17] JohnCardenas opened #532 "ADGroup: Cannot set Standalone/Group Managed Service Account Members"
#### Details of the scenario you tried and the problem that is occurring

We're using cross-forest service accounts, and we want to represent the configuration in PowerShell DSC. However, it looks like `msDS-GroupManagedServiceAccount` and `msDS-ManagedServiceAccount` are not supported in the `Add-ADCommonGroupMember` function in the ActiveDirectoryDsc.Common module.

#### Verbose logs showing the

[2019-12-29 17:41] johlju commented on #532
Would be great to have this in. Would you be interested in sending in a PR?

[2019-12-29 17:43] johlju commented on #531
@X-Guardian is working on getting this to use the continuous delivery pipeline.

[2019-12-30 20:41] JohnCardenas commented on #532
Working on a PR now.

[2020-01-06 14:27] MartinVokurek opened #534 "ADReplicationSite: Test-TargetResource incorrectly reports site as not in desired state when there's no description defined"
#### Details of the scenario you tried and the problem that is occurring
For _ADReplicationSite_ resources that do not have `Description` property defined, the `Test-TargetResource` incorrectly reports the resource to be _not in desired state_ on every run, even though other properties are defined correctly and the site is in fact configured ok.

The problem seems to be in incorrect evaluation of

[2020-01-07 17:08] #534 closed

[2020-01-10 20:26] #312 closed

[2020-01-11 17:35] X-Guardian commented on #361
@laughtonsm, I am able to successfully set the `MinPasswordAge` and `MaxPasswordAge` properties using v4.20 of this resource, therefore I am going to close this issue.

Please re-open and add further detail if you still have an issue with this.

[2020-01-11 17:35] #361 closed

[2020-01-12 08:33] #529 closed

[2020-01-12 09:16] #518 closed

[2020-01-12 16:50] X-Guardian commented on #352
Integration tests were added for the `ADManagedServiceAccount` resource as part of PR #517.

[2020-01-12 16:50] #352 closed

[2020-01-14 17:31] #522 closed

[2020-01-14 20:15] X-Guardian commented on #63
Extended support for Server 2008 R2 has now ended so I am closing this issue.

[2020-01-14 20:15] #63 closed

[2020-01-15 08:07] X-Guardian commented on #531
Version 5.0.0 of ActiveDirectoryDsc has been released.

[2020-01-15 08:07] #531 closed

[2020-01-15 12:46] shurick81 opened #547 "ADObjectPermissionEntry: Cannot find drive. A drive with the name 'AD' does not exist"
#### Details of the scenario you tried and the problem that is occurring

I am trying to apply permissions to an OU and getting get an error when applying the configuration with `Start-DscConfiguration`

#### Verbose logs showing the problem

[code]

#### Suggested solution to the issue

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)

[code]

#### The oper

[2020-01-15 13:24] X-Guardian commented on #547
Hi @shurick81, thanks for raising this issue. I have tested your configuration and am not getting this error in my lab.
The `ADObjectPermissionEntry` resource uses the `Set-ACL`/ `Get-ACL` cmdlets and the AD PSDrive which should be created when the ActiveDirectory module is loaded by Dsc. We have seen issues before  whereby sometimes the AD PSDrive is not created, and we have previously added code

[2020-01-15 14:40] shurick81 commented on #547
Hi, thanks for prompt reply. The way I excute this config is basically running this script:
[code]

[2020-01-15 14:57] shurick81 commented on #547
Actually, when I am running it just like this on the AD01 machine in console, it works. The condition that I get error from is that I run it with Vagrant, I guess. I will get back with further details later.

[2020-01-15 15:45] X-Guardian commented on #314
Hi @JoshuaJSwain, I'm taking a look at this issue, and trying to understand the problem. The only way you can execute the DscResource with a least privileged account as by using the `PsDscRunAsCredential` on the resource.
The `IdentityReference` parameter on this resource is the account you want to give permissions to, not the account the DSC is running as.

I've tested this resource using `PsDscR

[2020-01-15 23:02] shurick81 commented on #547
Here's what I found. It does not matter if I execute it remotely or not.

When I run it like this, it works:
1. Domain creation with the following configuration:

[code]
2. machine reboot
3. domain validation with the same code as above
4. pause 60 seconds
5. OU creation with permissions customizations (as per my opening message in this thread)

However, if I don't do pause and run the configurati

[2020-01-16 08:14] X-Guardian commented on #547
If you are creating the domain as part of the same DSC configuration, you need to use the `WaitForADDomain`  resource before any other AD resources to make sure the domain is fully up and ready to accept connections.

[2020-01-16 10:22] X-Guardian opened #548 "ADForestProperties: ServicePrincipalNameSuffix and UserPrincipalNameSuffix Cannot be Cleared"
#### Details of the scenario you tried and the problem that is occurring

The ADForestProperties resource does not currently allow the `ServicePrincipalNameSuffix` and `UserPrincipalNameSuffix` to be cleared.

#### Verbose logs showing the problem

[code]

#### Suggested solution to the issue

Modify the code to check for empty `ServicePrincipalNameSuffix` and `UserPrincipalNameSuffix` parameters

[2020-01-17 23:23] shurick81 commented on #547
Hi, I'm not creating the docmain as part of the same DSC configuration and not even as part of the same PS session.
Anyway, I tried to use WaitForADDomain before running other resources and that did not make a difference. So the only case I made it working was making a pause before running the script with ADObjectPermissionEntry.

[2020-01-18 09:51] X-Guardian commented on #547
Ok, but you are creating the domain as part of the same 'process', whatever that may be, (set of scripts etc), so it is most probably a timing issue between the creation of the domain and applying the `ADObjectPermissionEntry` resource. If you want to post the DSC configuration and verbose logging that includes the `WaitForADDomain` and `ADObjectPermissionEntry` resource, I'll try and help.

[2020-01-20 17:53] #548 closed

[2020-01-20 17:53] #302 closed

[2020-01-20 17:53] #349 closed

[2020-01-20 18:14] shurick81 commented on #547
Ok, let me be more specific
I temporary set variable "VMDEVOPSSTARTER_NODSCTEST:TRUE" and run the following script:
https://github.com/shurick81/vm-devops-starter/blob/92bc3d2f798bb9c09320989f016336520ef45600/infrastructure/stacks/domain.ps1

Then as soon as it is finished, I restart the machine, then as soon as winrm is available again, I run the same script again, but this time I don't set this

[2020-01-23 18:53] johlju opened #550 "Should update the LICENSE copyright"
Suggest changing the license file copyright notice to "Copyright (c) DSC Community contributors."

[2020-01-24 11:57] johlju opened #551 "Azure DevOps is removing older build images"
The Windows Server Core 1803 image is being removed on March 23, 2020. This repository is using the image and must be removed or transition to another image as appropriate.

https://github.com/dsccommunity/ActiveDirectoryDsc/blob/5ea5a1300fcee61c447b6c544aab7c28a9339216/azure-pipelines.yml#L49

https://github.com/dsccommunity/ActiveDirectoryDsc/blob/5ea5a1300fcee61c447b6c544aab7c28a9339216/azure-p

[2020-02-03 07:38] oliveirt opened #552 "ADObjectPermissionEntry: throws an exception when target path does not yet exist"
#### Details of the scenario you tried and the problem that is occurring
Where a configuration contains both an Active Directory Object (that has not yet been created) and ADObjectPermissionEntry that applies to that object, it is not possible to successfully call either Get-TargetResource or Test-TargetResource, as they throw an exception where the object doesn't exist.

#### Verbose logs showing

[2020-02-03 08:59] oliveirt opened #553 "ADOrganizationalUnit: throws an exception when parent path does not yet exist"
#### Details of the scenario you tried and the problem that is occurring
Where a configuration contains both a Parent Organziational Unit and a child of that Parent, it is not possible to successfully call either Get-TargetResource or Test-TargetResource, as they throw an exception where the Parent object doesn't exist.

#### Verbose logs showing the problem
VERBOSE: Perform operation 'Invoke CimM

[2020-02-04 13:50] xpn commented on #530
@X-Guardian So I've come across this issue myself when I'm attempting to create a new lab environment. This involves a server waiting for a domain controller to come online and results in the following entry being added to the "Desired State Configuration - Operational" event log:

[code]

Reviewing the `Test-TargetResource` method, I have managed to recreate the issue with the following Powershel

[2020-02-04 14:57] X-Guardian commented on #530
Hi @xpn. Thanks for the extra info. With your code snippet I can reproduce the error and see the problem. The exception thrown is of type `System.Management.Automation.MethodInvocationException` with an inner exception of type `System.DirectoryServices.ActiveDirectory.ActiveDirectoryObjectNotFoundException`. The current code only checks for a base exception of `System.DirectoryServices.ActiveDirec

[2020-02-05 08:53] X-Guardian commented on #530
OK I've done some more testing on this, and I think we still have an issue with a different exception.

Expanding @xpn's code snippet with a `try/catch` block:

[code]

For me, both on a 2012 R2 server running PowerShell 4 and a 2019 server running PowerShell 5.1, the above code hits the `ActiveDirectoryObjectNotFoundException` specific catch, even though the original outer exception is of type `M

[2020-02-05 12:38] #552 closed

[2020-02-05 12:49] X-Guardian commented on #314
I'm closing this issue for now. If you have any more information to add to this, please feel free to re-open it.

[2020-02-05 12:49] #314 closed

[2020-02-05 19:34] #551 closed

[2020-02-05 20:17] #550 closed

[2020-02-06 01:20] mitch-meade opened #560 "ADDomain: ARM template deployment fails due to ActiveDirectoryDsc resource ADDomain throwing an error on first reboot after a DC Promo."
#### Details of the scenario you tried and the problem that is occurring

ARM template deployment fails due to ActiveDirectoryDsc resource ADDomain throwing an error on first reboot after a DC Promo.  The DC promo completes but the error breaks the ARM template in progress.  This is a reoccurrence of previously closed issues, #127 and #73.
Server is 2016 and ActiveDirectoryDsc module version is 5.

[2020-02-06 08:18] X-Guardian commented on #560
Hi @mitch-meade, thanks for raising this issue. I had a look at the old issues that you referenced and the retry code in the PR that resolved them is still present in the module.
Can you post the DSC verbose message logs for this run so that we can investigate this further? They will be in `C:\Windows\System32\Configuration\ConfigurationStatus` , with a suffix of `.details.json`. There will be two

[2020-02-06 08:28] X-Guardian commented on #547
Hi @shurick81, I need to be able to see the DSC configuration and verbose logging that includes the `WaitForADDomain` and `ADObjectPermissionEntry` resource to investigate this further.

[2020-02-06 09:23] ykuijs opened #561 "Document module prerequisites in the Wiki"
This ActiveDirectoryDsc module requires the AD PowerShell module (RSAT-AD-PowerShell) to function. Please add this as a prerequisite to the Wiki.

[2020-02-06 10:02] shurick81 commented on #547
here is the script: https://gist.github.com/shurick81/dc2931aabaf53d2601b8c96a0911810a

here is the output: https://gist.github.com/shurick81/2e4653b8447501dbf8bf9c559f02da03

[2020-02-06 11:21] X-Guardian commented on #547
Hi @shurick81, can you post the raw DSC logs from the run, rather than the vagrant script output? You can find these on the target server in 'C:\Windows\System32\Configuration\ConfigurationStatus' with a suffix of 'details.json'. Reason being as it is not clear from the script output exactly when the exception is occurring and it will be clearer from the raw DSC logs.

[2020-02-06 12:03] shurick81 commented on #547
Here's the output from the console itself, when I run manually: https://gist.github.com/shurick81/f6d7a1e19748d26449c977d5988a8a86

Here's the contents of 'C:\Windows\System32\Configuration\ConfigurationStatus\{BB5B9146-48D7-11EA-9DF9-080027009DD1}-0.details.json' file: https://gist.github.com/shurick81/077c3d3f4ca32a472a745b5a55837675

Here's the contents of 'C:\Windows\System32\Configuration\Con

[2020-02-06 12:18] X-Guardian commented on #547
OK, that's better. I can now see that it is attempting to create a new AD: PSDrive at the Test stage of the `[[ADObjectPermissionEntry]OUPermissions]` resource but looks like it is silently failing. We are going to need to manually add some debugging output to the resource to investigate this further. Are you ok to work with me on this?

[2020-02-06 12:50] shurick81 commented on #547
Yes, if you mean authoring source code of DSC module, it would be great for me to gain some hands on experience, I'm ready.

[2020-02-06 12:53] X-Guardian commented on #547
Great, shall we chat on the PowerShell Slack channel: http://slack.poshcode.org.

[2020-02-06 14:01] jacob-h1 opened #563 "ADOrganizationalUnit: Add DomainController parameter"
### Description
The ADOrganizationUnit DSC resource has a 'Credential' parameter but does not have the 'DomainController' parameter. Therefore it is not possible to create an OU if the computer is not member of the domain.
The *-ADOrganizationalUnit CmdLets in the ActiveDirectory module all supports the 'Server' parameter so it should be possible to add this the 'DomainController' parameter to the

[2020-02-06 15:04] jacob-h1 opened #564 "ADManagedServiceAccount: Fails when computer is not domain joined and the 'DomainController' and 'Credential' params are specified."
#### Details of the scenario you tried and the problem that is occurring
When the computer is not member of the domain and the 'DomainController' and 'Credential' properties are specified it fails. When the computer is member of the domain it works just fine.

#### Verbose logs showing the problem
The DSC Operations event log contains the following error:

Error Detail is The SendConfigurationAppl

[2020-02-06 15:28] xpn commented on #530
Hmm, yeah I can recreate this with the code example above, similar if you remove the catch for the `ActiveDirectoryObjectNotFoundException` from your code, you then hit the `MethodInvocationExcetpion` catch... It's Schrodinger exception :)

I'll spin up the lab and test with your requested code and get back to you.

[2020-02-06 16:33] mitch-meade commented on #560
logs attached...  Thanks for looking at this...

[before reboot 2-5-2020 358pm {B1AABD1D-4871-11EA-A80E-000D3A075975}-0.details.json.txt](https://github.com/dsccommunity/ActiveDirectoryDsc/files/4166355/before.reboot.2-5-2020.358pm.B1AABD1D-4871-11EA-A80E-000D3A075975.-0.details.json.txt)

[after reboot 2-5-2020 at 400pm {A44A8F4B-4873-11EA-A80F-000D3A075975}-0.details.json.txt](https://github.com

[2020-02-06 16:46] mitch-meade commented on #560
The next LCM cycle was successful…  Ignore the File resource, attempted to manually create the tracking file, this will be removed.

[Subsequent reboot 2-5-2020 at 409 pm {E6AFFA73-4874-11EA-A80F-000D3A075975}-0.details.json.txt](https://github.com/dsccommunity/ActiveDirectoryDsc/files/4166449/Subsequent.reboot.2-5-2020.at.409.pm.E6AFFA73-4874-11EA-A80F-000D3A075975.-0.details.json.txt)

[2020-02-06 17:56] X-Guardian commented on #563
Hi @jacob-h1, none of the resources in this module have been written or tested to work successfully when run from a non-domain joined computer. I'm not sure it is a scenario that we would want to support.

[2020-02-06 19:30] X-Guardian commented on #560
Hi @mitch-meade, thanks for these logs. As you have figured out, the problem is the tracking file that is written at the end of the `Set-TargetResource` function not being there after reboot when the `Get-TargetResource` function then looks for it.
Can you test by creating a file in c:\windows\temp on the instance, rebooting it and seeing if it is still there? (I'm wondering if there is a policy t

[2020-02-06 22:04] mitch-meade commented on #560
No policy to clear the system temp location on startup...

I added a file resource to create this tracking file as a futile attempt at working around this problem but this resource never gets evaluated before the reboot as the ADDomain resource is rebooting the machine.  As you can see, I have a Pending Reboot resource as well and this never triggers ether.

I monitored the C:\Windows\Temp folder

[2020-02-06 22:11] mitch-meade commented on #560
Certification, it never gets created before the ADDomain resource does the first reboot.  The File resource did create the tracking file at 4:09 PM and it’s still there now.

![Capture](https://user-images.githubusercontent.com/60720859/73983132-8f2f2480-48ea-11ea-9b9f-df459e8ce07a.PNG)

[2020-02-06 22:13] mitch-meade commented on #560
I watched this folder during this run and it never was created before the initial reboot by ADDomain.

[2020-02-06 22:19] X-Guardian commented on #560
OK, can you check what the system Temp variable is set to on the machine :

[code]

[2020-02-06 23:14] mitch-meade commented on #560
It is...
![Capture](https://user-images.githubusercontent.com/60720859/73986765-50519c80-48f3-11ea-8219-505ba41d26da.PNG)

[2020-02-07 08:09] X-Guardian commented on #560
OK, we need to know exactly where the function is trying to write the tracking file to. Can you edit your source of the ActiveDirectoryDsc module and modiify the `Set-TargetResource` function in the  `DSCResource\MSFT_ADDomain\MSFT_ADDomain.psm1` file with the following code:

Change:
[code]
to:
[code]

Then re run the DSC and we should see from the log the path that the tracking file is written t

[2020-02-07 09:26] jacob-h1 commented on #563
It is fully supported by the underlying *-ADOrganizationalUnit CmdLets used by the resource (using the 'Server' parameter). Most of the other resources in this module have the 'DomainController' parameter. So why not add it to the ADOrganizationalUnit resource as well?

[2020-02-07 09:33] X-Guardian commented on #563
Happy to accept a PR if you want to raise one, but just warning you that you are likely to come across a lot of issues with other ActiveDirectoryDsc resources running them from a non-domain joined machine.

[2020-02-07 14:34] mitch-meade commented on #560
{"time": "2020-02-07T06:29:56.504-8:00", "type": "verbose", "message": "[cwmgr1]: LCM:  [ Start  Resource ]  [[ADDomain]ADDomain]  "},
  {"time": "2020-02-07T06:29:56.504-8:00", "type": "verbose", "message": "[cwmgr1]: LCM:  [ Start  Test     ]  [[ADDomain]ADDomain]  "},
  {"time": "2020-02-07T06:29:56.599-8:00", "type": "verbose", "message": "[cwmgr1]:                            [[ADDomain]ADDoma

[2020-02-07 14:34] #553 closed

[2020-02-07 14:37] mitch-meade commented on #560
Did you want the configuration ran from a clean machine?

[2020-02-07 14:39] X-Guardian commented on #560
Yes please, we need to see the `Set-TargetResource` verbose log to see where it is writing the tracking file to in the first place.

[2020-02-07 16:31] mitch-meade commented on #560
Looks like the Temp path is pointing to the system profile (C:\windows\system32\config\systemprofile\AppData\Local\Temp) before the server becomes a Domain Controller.   I create the Temp folder in the System profile because the absence of this folder breaks some other chocolatey processes.

  {"time": "2020-02-07T08:11:34.059-8:00", "type": "verbose", "message": "[cwmgr1]: LCM:  [ Start  Resource

[2020-02-07 16:59] X-Guardian commented on #560
OK, well its good to know what the problem is.

My opinion is that the resource shouldn't write the file to `$env:Temp`, but to `$env:ProgramData` instead, then we can avoid this issue.

[2020-02-07 17:01] mitch-meade commented on #560
Or another “natural” trigger, i.e. a file or registry value that exists after the domain controller was promoted.

[2020-02-07 17:03] mitch-meade commented on #560
I’ll take a snapshot right before the promo and again after to find a good trigger.

[2020-02-07 17:04] X-Guardian commented on #560
Need to make sure the trigger is consistent from Server 2012 to Server 2019.

[2020-02-07 17:05] mitch-meade commented on #560
Might be able to pull that off...

[2020-02-07 19:44] mitch-meade commented on #560
How about something like this?  Validated on 2012R2, 2016 and 2019...

function testPromo ([string] $fqdn) {
    $sysVolPath = (Get-ItemProperty -Path HKLM:SYSTEM\CurrentControlSet\Services\Netlogon\Parameters).SysVol
    if (![string]::IsNullOrEmpty($sysVolPath)) {
        if (Test-Path $(Join-Path -Path $sysVolPath -ChildPath $fqdn)) {
            return $true
            } else {return $false}

[2020-02-07 19:47] mitch-meade commented on #560
Both the registry value and file path are populated after the DC promotion and before the first reboot.

[2020-02-08 00:46] X-Guardian commented on #560
Great find @mitch-meade! Definitely the way to go rather than the tracking file.

I'm wondering whether we need to test the sysvol path though, or whether just the existence of the sysvol reg item is enough?

Looking at the current `Get-TargetResource` function of the `ADDomain` resource, it could really do with some refactoring too if we are going to make this change. Would you like to raise a PR

[2020-02-08 15:10] X-Guardian commented on #560
I'm working on a PR that will refactor the `ADDomain` resource `Get-TargetResource` function and include this change to replace the tracking file with the NetLogon SysVol registry check.

[2020-02-08 21:46] #547 closed

[2020-02-10 02:01] mitch-meade commented on #560
So...  I'd like to become more involved but I don't even know what a PR is,.. LOL Just too busy. Can you point me to documentation how I can contribute?

[2020-02-10 07:59] X-Guardian commented on #560
A PR is a GitHub 'Pull Request'. Have a read of the DSC Community [Getting Started as a Contributor](https://dsccommunity.org/guidelines/getting-started/).

[2020-02-12 11:12] #345 closed

[2020-02-12 11:12] #486 closed

[2020-02-12 11:12] #560 closed

[2020-02-13 08:07] X-Guardian opened #571 "ADReplicationSiteLink: Exception is Thrown When Creating a Site Link with any Options"
#### Details of the scenario you tried and the problem that is occurring

When creating a new Site Link, the `ADReplicationSiteLink` throws an exception stating that "the parameter could not be found" if any site link options have been specified.

#### Verbose logs showing the problem

[code]

#### Suggested solution to the issue

Add Site Link option processing to the `New-ADReplicationSiteLink`

[2020-02-17 22:02] mitch-meade commented on #560
Attempted the Resource in 6.0.0-preview0001.
Another error occurred after the machine was promoted during the first boot.
Subsequent configuration evaluations succeeded…

"time": "2020-02-14T16:52:50.425-8:00", "type": "verbose", "message": "[cwmgr1]: LCM:  [ Start  Resource ]  [[ADDomain]newDomain]  "},
  {"time": "2020-02-14T16:52:50.425-8:00", "type": "verbose", "message": "[cwmgr1]: LCM:  [ St

[2020-02-18 07:50] X-Guardian commented on #560
Hi @mitch-meade, can you raise a new issue for this error please?

[2020-02-18 15:20] mitch-meade opened #574 "ADDomain: ARM template deployment fails due to ActiveDirectoryDsc resource ADDomain throwing an error on first reboot after a DC Promo #2"
#### Details of the scenario you tried and the problem that is occurring

ARM template deployment fails due to ActiveDirectoryDsc resource ADDomain throwing an error on first reboot after a DC Promo. The DC promo completes but the error breaks the ARM template in progress.

#### Verbose logs showing the problem

[code]

#### The DSC configuration that is used to reproduce the issue (as detailed as

[2020-02-18 19:45] X-Guardian commented on #574
Hi @mitch-meade, can you edit the issue comment and add your Dsc config, O/S details and PowerShell version as requested in the issue template. I've removed the references to the other incidents as this is a different error.

[2020-02-18 20:07] X-Guardian commented on #574
It looks like you are hitting an unexpected exception when the server first reboots and the Dsc is re-evaluated and the `Get-ADDomain` cmdlet is run.

Can you add the following code at line 111 of the `MSFT_ADDomain\MSFT_ADDomain.psm1` file in your copy of the module and run the build again on a new machine so that we can get details of the exception in the verbose logs:

[code]

[2020-02-18 23:48] mitch-meade commented on #574
Below are the verbose logs requested...

{"time": "2020-02-18T23:39:27.547+00:00", "type": "verbose", "message": "[DC1]: LCM:  [ Start  Resource ]  [[ADDomain]newDomain]  "},
  {"time": "2020-02-18T23:39:27.547+00:00", "type": "verbose", "message": "[DC1]: LCM:  [ Start  Test     ]  [[ADDomain]newDomain]  "},
  {"time": "2020-02-18T23:39:27.765+00:00", "type": "verbose", "message": "[DC1]:

[2020-02-19 07:04] X-Guardian commented on #574
Thanks @mitch-meade. This one is an `AuthenticationException` rather than the 'Server instance not found on the given port' error of the first logs you posted. These may all be transient errors that occur when the Dsc resource runs `Get-ADDomain` when the domain controller isn't full ready.

Can you modify line 103 of the `MSFT_ADDomain\MSFT_ADDomain.psm1` file and add the `AuthenticationException

[2020-02-19 17:20] mitch-meade commented on #574
The logs requested...

{"time": "2020-02-19T17:04:01.717+00:00", "type": "verbose", "message": "[DC1]: LCM:  [ Start  Resource ]  [[ADDomain]newDomain]  "},
  {"time": "2020-02-19T17:04:01.717+00:00", "type": "verbose", "message": "[DC1]: LCM:  [ Start  Test     ]  [[ADDomain]newDomain]  "},
  {"time": "2020-02-19T17:04:02.014+00:00", "type": "verbose", "message": "[DC1]:

[2020-02-19 20:01] X-Guardian commented on #574
Thanks @mitch-meade. It's a very generic exception, so can we capture some further details of the error record and exception to test against.

Please add the following code before line 109 (the second `catch` block) to catch this exception and give us some more details about it.

[code]

[2020-02-19 21:46] mitch-meade commented on #574
@X-Guardian below are the additional details requested:

  {"time": "2020-02-19T21:33:57.379+00:00", "type": "verbose", "message": "[DC1]: LCM:  [ Start  Resource ]  [[ADDomain]newDomain]  "},
  {"time": "2020-02-19T21:33:57.379+00:00", "type": "verbose", "message": "[DC1]: LCM:  [ Start  Test     ]  [[ADDomain]newDomain]  "},
  {"time": "2020-02-19T21:33:57.629+00:00", "type": "verbose", "message

[2020-02-19 22:34] X-Guardian commented on #574
Cheers @mitch-meade, I'll raise a new PR to add checks for these exceptions into the resource.

[2020-02-19 23:10] mitch-meade commented on #574
Thanks for your fast response…  I the mean time while 6.0.0 is making its way to production, I've created a custom version of 5.0.0 with the check discovered earlier and it appears to be working.  I'll use this resource until 6.0.0 has been tested and available.

[2020-03-03 15:06] J4yD4n commented on #314
I just came across this issue. It does still exist as a problem and it does keep permissions from applying unless you run as a DA. Can this issue be re-opened or should I open a new issue and reference this one? After this week I can work on some code to apply permissions without requiring DA.

[2020-03-03 15:30] X-Guardian commented on #314
Please create a new issue @J4yD4n.

[2020-03-03 17:08] J4yD4n opened #575 "ADObjectPermissionEntry: access denied when running under non domain administrator account"
#### Details of the scenario you tried and the problem that is occurring
When you use ADObjectPermissionEntry, it requires DomainAdmin in order to run. This was reported in #314 but closed due to a lack of response. Based on the powershell code I am using as a temporary replacement, it does seem like the solution @JoshuaJSwain suggested should work.

#### Verbose logs showing the problem
[code]
##

[2020-03-03 17:09] J4yD4n commented on #575
I'm unable to work on a PR this week, but afterwards I will work on a PR.

[2020-03-03 19:49] X-Guardian commented on #575
Hi @J4yD4n, you've just copied and pasted the issue description from #314. Please edit this and instead detail the actual Dsc config you are using where you see the problem, along with the verbose logs that are generated from it. Thanks.

[2020-03-03 21:55] jcuzzi commented on #530
@X-Guardian I added verbose logging on both ```throw``` statements in the ```Find-DomainController``` function.  Here is the output when using the resource:

[code]

[2020-03-04 14:48] J4yD4n commented on #575
There's really nothing useful to add to his report. I could maybe update the version numbers and the suggested solution, but right now the solution is in PR #576. Otherwise it is the exact same issue.
How to repeat in existing code:
1. Create a user account and only grant it access to a specific OU or object
1. Attempt to change permissions using Set-TargetResource <- This will fail

[2020-03-04 14:55] X-Guardian commented on #575
@J4yD4n, the module is not designed to be used in this way. It is designed to be called through either the DSC LCM or Invoke-DscResource. Please provide DSC that demonstrates the issue, not direct calls to the module functions.

[2020-03-04 19:20] X-Guardian commented on #575
I've updated the initial issue text with the code you supplied, formatted to make it readable. Please update it with the additional info marked as TBC on the issue from your execution of the DSC.

I also don't see you specifying [PsDscRunAsCredential](https://docs.microsoft.com/en-us/powershell/scripting/dsc/configurations/runasuser?view=powershell-5.1), so how are you intending this resource to b

[2020-03-04 19:39] X-Guardian commented on #530
Cheers @jcuzzi, you are right, having the `FindOne` method call in a function does affect the catch handling of any exception from it. Here is the above test code modified with the `FindOne` call in a function:

[code]

For me, the exception is now caught by the `MethodInvocationException` catch instead of the `ActiveDirectoryObjectNotFoundException`. I'm going to take a look at the two exceptions

[2020-03-04 20:26] J4yD4n commented on #575
Using Set-ACL even in a standard powershell script doesn't work. It still requires more permissions than it should, so PSDscRunAsCredential won't help the original code. However, it may negate the need for the Credential parameter. If I do that though, it would be inconsistent with the rest of the resources (ADComputer, ADGroup, ADManagedServiceAccount, ADUser, possibly more). It's up to you on wh

[2020-03-07 07:35] johlju commented on #575
@J4yD4n The parameter `Credential` in other resource is a legacy thing for PowerShell 4.0 that did not have `PsDscRunAsCredential`. Since this module is no longer supported on PS4.0 we could remove that parameter from all resources since we should use PsDscRunAsCredential to change the user context from the default SYSTEM.  🤔

[2020-03-09 06:48] #574 closed

[2020-03-09 17:47] #488 closed

[2020-03-09 17:47] #467 closed

[2020-03-09 22:15] #519 closed

[2020-03-09 22:15] #571 closed

[2020-03-09 23:23] #490 closed

[2020-03-10 07:37] #530 closed

[2020-03-11 17:17] #532 closed

[2020-03-12 21:26] X-Guardian commented on #561
WikI updated. Thanks @ykuijs!

[2020-03-12 21:26] #561 closed

[2020-03-12 21:47] X-Guardian commented on #398
Closing this as the Wiki is now only editable by dsccommunity team members.

[2020-03-12 21:47] #398 closed

[2020-03-19 12:21] lkt82 opened #581 "ADDomain fails after reboot"
#### Details of the scenario you tried and the problem that is occurring
After rebooting a node the state is reported as failed. The problem is that the ADDomain resource fails with "Server instance not found".

Eventually the node will reach the state of Compliant

#### Verbose logs showing the problem

[code]

#### Suggested solution to the issue
Detect that the node is starting and wait for dep

[2020-03-19 13:34] X-Guardian commented on #581
hi @lkt82, thanks for reporting this.  This is a similar issue to #574, and we added an additional exception to the try/catch block around `Get-AdDomain` for `System.InvalidOperationException` in PR #577 to solve this. This was released in v6.0.0 of the module. Are you a !00% sure you are using v6.0.0 of the ActiveDirectoryDsc module, not one of the pre-release versions?

[2020-03-20 08:06] lkt82 commented on #581
I have just tried to reprovision a new VM. Waited until DSC was completed and the ran a manuel reboot. The VM reports the same error as described.

output from get module on the vm

[code]

[2020-03-23 18:47] wmaniek123 opened #582 "ADUser: PasswordAuthentication - parameter is not handled properly"
#### Details of the scenario you tried and the problem that is occurring

The issue appeared after upgrade from 4.2 to 6.0 (didn't tested previous versions). This parameter is not removed from parameters list and module is checking ad user if property match and try to set this parameter witch is not possible as well. This parameter should be removed from the write parameter list inside the test an

[2020-03-23 19:11] X-Guardian commented on #582
Hi @wmaniek123, thankyou for reporting this issue. Please edit your issue and provide all the information requested in the 'Problem with a Resource' issue template, including verbose logs, DSC configuration that reproduces the issue etc.

[2020-03-26 18:44] JasonNagin commented on #575
I did a test with PsDscCredential before submitting an update to the merge request and it somehow worked even though it shouldn't have. Sorry for the waste of time. If someone else comes across this problem, make sure PsDscCredential is set. Set-Acl will fail in any other powershell window, but in Dsc it will work as long as PsDscCredential is set. Feel free to close this.

[2020-03-26 18:46] J4yD4n commented on #575
I did a test with PsDscCredential before updating the merge request and it somehow worked even though it shouldn't have. Sorry for the waste of time. If someone else comes across this problem, make sure PsDscCredential is set. Even though Set-Acl will fail in powershell windows. Dsc gets around that somehow. Make sure PsDscCredential is set.

[2020-03-26 18:46] #575 closed

[2020-03-26 21:10] andreacuozzo opened #583 "ADGroup: unable to remove trusted domain members from group"
#### Details of the scenario you tried and the problem that is occurring

DomainA and DomainB are trusting each other with external trusts. Using the ADGroup resource, I can add `DomainA\TestUser` to `DomainB\group`, but removing the same `DomainA\TestUser` from `DomainB\group` generates the error:

[code]
I've tested both using the `Member` and `MembersToExclude` properties, with the same result.

[2020-03-29 07:01] johlju commented on #583
It is the function `Add-ADCommonGroupMember` that calls `Add-ADGroupMember` but have logic to handle multiple domains.

https://github.com/dsccommunity/ActiveDirectoryDsc/blob/4cbeae1da770cf29376e83e00dd912d2aa6a15c6/source/Modules/ActiveDirectoryDsc.Common/ActiveDirectoryDsc.Common.psm1#L1261-L1336

Would it be so easy to create `Remove-ADCommonGroupMember` with the same logic expect replace `Add

[2020-03-29 07:20] johlju commented on #581
@lkt82 Can you add verbose messages too to better see what is happening. See this https://github.com/dsccommunity/ActiveDirectoryDsc/issues/574#issuecomment-588420838, but the added code should be before line 113, as the first thing in the catch-block.

[2020-04-06 03:12] erictorbenson commented on #581
@johlju  and @X-Guardian  -- I just ran into this when trying to provision a brand new domain/DC in Azure. I triple-checked that I was using the most current ActiveDirectoryDSC (6.0.0) and am still stuck. The DSC gets down to the VM fine, the domain build happens, but the "domain not found" exception is triggered after the first reboot, and kills my ARM template deployment.

One thing I did find i

[2020-04-06 07:06] X-Guardian commented on #581
Hi @erictorbenson. Can you add the following verbose messages at line 113 of `MSFT_ADDomain.psm1` (within the `GetAdDomainUnexpectedError` catch block) so that we can see full details of the exception being thrown.

[code]

[2020-04-06 21:52] erictorbenson commented on #581
Done! (And I learned that `Publish-AzVMDSCConfiguration` will download the latest dependencies instead of using what you have in the folder...after running through a whole build. :-)

File is attached. Interestingly I found a positional parameter error: "[ERROR] A positional parameter cannot be found that accepts argument '+'." (I replaced the actual domain name with "redactedfqdn")

Any help woul

[2020-04-07 05:42] johlju commented on #581
@erictorbenson it was a bug in the snippet that @X-Guardian provided above that you hit instead of the actual error we are looking for. It didn't like the `+` sign in the last two rows :/. Sorry, but can you change to the following snippet and run again? 🙏

I verified that this snippet below will output what we are looking for.
Last two rows has parentheses now:

[code]

[2020-04-07 07:38] wmaniek123 commented on #582
Updated the issue details

[2020-04-07 18:54] erictorbenson commented on #581
No problem, I'm happy that someone is able to look at this because it's holding up a project for me!

I do have another clue to contribute though...it took me 3 tries to reproduce this. It has to have something to do with timing because successful attempts worked flawlessly. Maybe it's a startup-order thing where DSC is starting before the basic AD services? It takes a good 4 or 5 minutes for new

[2020-04-07 22:49] X-Guardian commented on #582
Hi @wmaniek123, I agree with your suggested solution. I'm happy to review a PR if you would like to raise one.

[2020-04-07 23:04] X-Guardian commented on #581
Thanks @erictorbenson, It looks like we need to add `System.ArgumentException` to the list of retry exceptions in the resource.

If you want to prove this yourself, you just need to add `[System.ArgumentException]` to the list of exceptions in the `catch` statement at line 103 of the `MSFT_ADDomain.psm1` file in the module.

[2020-04-08 02:32] fl0p3k opened #584 "ADFineGrainedPasswordPolicy: New resource proposal"
### Description
New resource to support fine grained password policies for AD Principals.

### Proposed properties
The new resource will be using the Active Directory module commands below:

[code]

The resource will contain the following properties:

| Parameter | Attribute | DataType | Description | Allowed Values |
| --- | --- | --- | --- | --- |
| Name | Key | String | Specifies an Active Dire

[2020-04-08 07:27] X-Guardian commented on #584
Hi @fl0p3k, thanks very much for this!

To help create a high quality resource that follows the patterns used in this module, can you fill out the proposed properties in this issue description, and detail what Cmdlets the resource calls. We can then discuss  here whether any changes are needed before you finalise your PR.

[2020-04-09 12:57] #581 closed

[2020-04-09 13:08] johlju commented on #581
This will soon be published as a preview release. As soon as the pipeline finishes running.

[2020-04-09 13:25] johlju opened #588 "ActiveDirectoryDsc: To lenient when to raise minor version"
For example if the commit message contains the word `ADDomain` or `additional` it raises the minor version even if only patch version should be raised.

For example the commit message `Fix an additional exception message to ADDomain.` would raise the minor version even if the intent was to raise the patch version.

Suggest changing the regular expression for `minor-version-bump-message` in GitVers

[2020-04-09 14:07] erictorbenson commented on #581
Update for anyone who finds this later via search...Adding the exception to the list worked! It only needed the one retry.

One thing I did notice is that everything is timing after the first reboot. After I moved on from this, other DSC configuration resources I had built (creating reverse lookup zone in DNS, enabling AD Recycle Bin, etc.) would also fail with similar "can't find the domain" erro

[2020-04-09 14:22] #582 closed

[2020-04-09 14:23] johlju commented on #582
A fix for this was merged and will be published when the pipeline finishes running.

[2020-04-09 14:39] johlju commented on #581
@erictorbenson It doesn't work having the `WaitForADDomain` that waits for the domain, you need the above `Script` resource on top of the below? 🤔

[code]

[2020-04-09 16:15] #588 closed

[2020-04-10 09:52] johlju commented on #584
The property `DisplayName` is set to type qualifier `Write` and not `Required`, what is your thought here, that `DisplayName` is set to the Name if not provided in a configuration?

The property `ComplexityEnabled` says in the description `...is enabled for the default password policy`, what default password policy is that? Is the description meant to say that it is enabling this _make use_ of the

[2020-04-10 11:19] X-Guardian commented on #584
Hi @fl0p3k , I've put the properties in a table to be easier to read.

Initial comments:

1. As this resource can be added and deleted, the resource needs to have an `Ensure` property, with allowed values of `Present` or `Absent`. It will therefore need to additionally use the `Remove-ADFineGrainedPasswordPolicy` cmdlet.
2. The resource should manage subjects that the policy applies to using the `

[2020-04-10 15:34] erictorbenson commented on #581
Actually I forgot about WaitForADDomain. :-) The first thing that came into my head to fix the problem fast was a Script that sleeps.

I just redid everything and WaitForADDomain works, **BUT**, I did have to increase the timeout to 300 seconds, otherwise DSC reboots the DC before it gets a chance to respond and you run the risk of never initializing the DC the whole way before the restarts expire

[2020-04-11 05:22] fl0p3k commented on #584
I am not sure DisplayName is required since the underlying ActiveDirectory cmdlet does not require it.

As for the complexity enabled option I simply had a typo in the context.  Corrected.

Regarding the credentials, when I look at the syntax of the module, I do see it as PsDscRunAsCredential:

ADFineGrainedPasswordPolicy [String] #ResourceName

[2020-04-11 05:27] fl0p3k commented on #584
Thanks for the feedback and comments.  As for the time span parameters, this module was closely based off the existing ADDomainDefaultPasswordPolicy DscResource in this module.  I'm not sure changing the parameter type would be good unless we change both to ensure consistency for the operator experience, plus any existing configuration dependence would break if we did.

ADDomainDefaultPasswordPoli

[2020-04-11 14:54] X-Guardian commented on #584
The `ADDomainDefaultPasswordPolicy` was written four years ago, and is on my list of resources needing a refactor.
I've discussed the `TimeSpan` properties with @johlju, and we would prefer for them to be `TimeSpan` string representations, as implemented by [xWebAdministration](https://github.com/dsccommunity/xWebAdministration). We will raise a future breaking change PR to update the `ADDomainDef

[2020-04-15 22:18] wmaniek123 opened #593 "ADReplicationSiteLink: When ensure absent test-targetresource return false if other parameters are set."
When you want to remove the sitelink ensure absent generate false positive test-targetresource false and set-targetresource "site link is not found"

#### Details of the scenario you tried and the problem that is occurring

I created the site using DSC and now I want to remove them, switching the parameter from present to absent. Site resource is working fine, deletes the site but site link resour

[2020-04-16 07:30] X-Guardian commented on #593
Thank you for raising this issue @wmaniek123. I have edited your issue to format it, but it looks to me as if you have pasted the verbose logs twice. Can you double check and edit as applicable. Also, you don't need to paste the Windows event logs, the DSC verbose output is good enough.

You mention that you are using v4.2 of the module because of another bug. What bug is this and is there an issu

[2020-04-16 07:39] wmaniek123 commented on #593
Thanks for comment @X-Guardian . I'm using this version becasue of #582  witch was closed but still in preview I belive. I cleanup the logs  and raised pull request witch is simple elseif clause.

[2020-04-16 16:47] X-Guardian commented on #593
OK, thanks for spotting that. We released v6.0.1, but it didn't get published to the PowerShell Gallery. I'll get it fixed and published.

[2020-04-16 16:56] wmaniek123 commented on #593
Thanks a lot. I raised the pull request for this one but don't know if have all nessesary steps added, so the pipeline would not fail.

[2020-04-17 16:10] X-Guardian commented on #584
@fl0p3k, can you please update the initial issue comment with the final list of cmdlets and properties.

[2020-04-17 16:33] fl0p3k commented on #584
Issue updated

[2020-04-17 16:48] X-Guardian commented on #584
Can you add `Remove-ADFineGrainedPasswordPolicy` to the cmdlet list and the `Description` parameter.

Please also update the property descriptions where applicable from the New-ADFineGrainedPasswordPolicy cmdlet documentation.

[2020-04-17 16:58] fl0p3k commented on #584
Thanks added.  I also updated the descriptions

[2020-04-17 17:12] X-Guardian commented on #584
Regarding the descriptions, can you check again? Lost of them still aren't correct.
- For the three `Subjects`, properties, base the description on the `Subjects` property in [Add-ADFineGrainedPasswordPolicySubject](https://docs.microsoft.com/en-us/powershell/module/activedirectory/add-adfinegrainedpasswordpolicysubject).
- Remove the 'TimeSpan minutes/days' comments which are no longer valid.
- `

[2020-04-25 09:58] #593 closed

[2020-04-27 20:20] X-Guardian opened #605 "ADReplicationSiteLink: Fails to Set Options After the Resource is Initially Created"
#### Details of the scenario you tried and the problem that is occurring

The `ADReplicationSiteLink` resource fails to set `OptionChangeNotification`, `OptionTwoWaySync` or `OptionDisableCompression` if they are set after the resource is initially created.

#### Verbose logs showing the problem

[code]
[code]

[code]
[code]
[code]
[code]
#### Suggested solution to the issue

Adjust `Set-TargetRes

[2020-05-02 12:24] #605 closed

[2020-05-02 17:34] #377 closed

[2020-05-12 07:14] X-Guardian commented on #584
@fl0p3k, can you please add the `Description` property to the proposal, and your PR. The spelling of `ADPrincipal` is also not correct, so can you fix that too. Thanks.

[2020-05-15 09:00] paveldokov opened #607 "ADGroup: External group membership not supported"
### Description

We use this module to create groups in AD. Nonetheless, Group membership is managed via a separate automation process. When we update the group membership via the separate process, the subsequent run of the ADGroup module will fail, because there is members mismatch.
I guess, similar issues might occur when property 'ManagedBy' is specified and the group manager adds users manuall

[2020-05-15 15:22] X-Guardian commented on #607
Hi @paveldokov, can you give an example of the DSC configuration you are using?

The `ADGroup` resource has three membership properties `Members`, `MembersToInclude` and `MembersToExclude`. It sounds to me like you are using the `Members` property rather than the `MembersToInclude` property. See the [ADGroup Wiki Page](https://github.com/dsccommunity/ActiveDirectoryDsc/wiki/ADGroup) for further de

[2020-05-15 15:45] paveldokov commented on #607
Hello,

I am do not specify any of these properties - as I said the members are managed outside the DSC module.
We use Ansible for triggering the DSC configuration. Here is a snippet of my code:

`
- name: Add AD groups
  win_dsc:
    PsDscRunAsCredential_username: "{{ user }}"
    PsDscRunAsCredential_password: "{{ pass }}"
    resource_name: ADGroup
    GroupName: "{{ groupName }}"
    GroupScop

[2020-05-15 15:49] X-Guardian commented on #607
OK, @paveldokov, that Ansible code is of no use to me to reproduce the issue. Please can you provide vanilla DSC configuration and the verbose DSC output when this is applied, showing the issue.

[2020-05-15 15:55] paveldokov commented on #607
I will come back to you.
Thanks!

[2020-05-23 13:25] #607 closed

[2020-05-29 01:39] briantist opened #608 "Offline Domain Join with ADComputer fails when OU Path contains spaces because Start-ProcessWithTimeout doesn't properly quote arguments"
#### Details of the scenario you tried and the problem that is occurring

When using Offline Domain Join (`RequestFile` parameter) with the `ADComputer` resource, the  process fails if the OU (`Path` parameter) contains spaces.

Running `djoin.exe` myself from the command line worked.

#### Verbose logs showing the problem
The error is very confusing:
[code]

I was finally able to track down a log

[2020-05-29 02:08] briantist commented on #608
I tried to work around this by adding double quotes to the OU myself, as in:
[code]
This does successfully create the computer account in the correct OU, and it creates the ODJ file, but the rest of the commands in the DSC resource fail as it tries to move the computer to the "correct" OU and update its hostname for some reason, so the overall DSC run will fail.

[2020-05-31 16:55] johlju commented on #608
Thanks for the detailed issue report! Sounds like the best it to make sure the argument `MachineOU` is properly quoted and escaped.

This article explains, as you said, that any character is allowed https://support.microsoft.com/en-us/help/909264/naming-conventions-in-active-directory-for-computers-domains-sites-and

Labeling this as help wanted so that someone in the community can run with it.

[2020-05-31 17:14] briantist commented on #608
One other possible (if unlikely) alternative, is to p/invoke the underlying functions that make ODJ possible, avoiding use of `djoin.exe` completely.

[NetProvisionComputerAccount](https://docs.microsoft.com/en-us/windows/win32/api/lmjoin/nf-lmjoin-netprovisioncomputeraccount?redirectedfrom=MSDN)
[NetRequestOfflineDomainJoin[(https://docs.microsoft.com/en-us/windows/win32/api/lmjoin/nf-lmjoin-netr

[2020-06-02 19:04] DanteNahuel opened #609 "ADGroup - What does it do if the Domain Group already exists?"
Hi
Sorry for the silly question but I want to be sure that if the specified domain group already exists, the DSC won't delete it or replace it.
I'm asking this because I want to add a computer object to an existing Domain Group

[2020-06-03 13:13] DanteNahuel opened #610 "ADGroup Members consequences should be highly remarked"
#### Details of the scenario you tried and the problem that is occurring
I'm testing ADGroup to not only create groups but also to add computers and users as members to previously existing AD Groups.
However, when testing the configurations I found that members is not only adding the new members but deleting all members not mentioned in the DSC configuration.

After some testing I found out that w

[2020-06-04 15:19] briantist commented on #610
I have to agree with @X-Guardian , I think the documentation is clear.

I also want to point out that typically in DSC you're looking for a specific state, and the behavior of `Members` follows that most closely.

`MembersToInclude` and `MembersToExclude` are sort of murky in terms of idempotence and are really the odd ones out (to be clear I think they're incredibly useful and needed though; it's

[2020-06-04 15:37] DanteNahuel commented on #610
I guess it's only me, then.
Although I did test everything and didn' "break" anything in my environment, I was confused at first on what was happening and, once I understood it, I got the chills when thinking of what could have happened if I didn't check every angle of it.
But, again, could be just me.
Closing this, thanks for your replies.

[2020-06-16 08:59] TorstenSchnitter opened #611 "AdDomainController: MSFT_ADDomainController failed to execute Test-TargetResource functionality with error message: System.InvalidOperationException: Cannot convert a existing domain controller to a Read-Only Domain Controller (RODC)"
# Details of the scenario you tried and the problem that is occurring

Installed a RODC with ActivDirectoryDSC (success).

Next run of DSC fails with error.

#### Verbose logs showing the problem

[code]

#### Suggested solution to the issue
N/A
#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
[code]

#### The operating system the target node is running

[co

[2020-06-18 18:03] #609 closed

[2020-06-19 12:12] alexmartinio opened #612 "ADManagedServiceAccount: The term 'Get-LocalizedData' is not recognized"
#### Details of the scenario you tried and the problem that is occurring
Trying to use the ADManagedServiceAccount resource to create a service account with the current pre-release of the DSC module fails with an `ObjectNotFound` exception.

Importing the module manually also fails.

#### Verbose logs showing the problem
[code]

#### Suggested solution to the issue
Unknown

#### The DSC configurat

[2020-06-19 12:31] alexmartinio commented on #612
It seems `6.1.0-preview0001` also had this problem. Will revert back to `6.0.1`.

[2020-06-19 15:38] X-Guardian commented on #612
Hi @alexmartinio. Thanks for reporting this, I'll take a look.

The last big refactor of the `ADManagedServiceAccount` resource was released in version 5, so there is nothing to be released in 6.1.0 that changes this resource, so no need to use the preview versions.

[2020-06-19 15:42] X-Guardian commented on #611
Thanks for reporting this @TorstenSchnitter. I'll look into it.

[2020-06-23 07:09] X-Guardian commented on #611
Hi @TorstenSchnitter, I can see the faulty code in the  `DomainController` resource, `Test-TargetResource` function. I'll get this fixed.

[2020-06-23 11:27] anorstrom opened #613 "ADReplicationSite: No Credential Parameter"
#### Details of the scenario you tried and the problem that is occurring
We want to use the ActiveDirectoryDsc module to manage our AD Sites. However, the AD Site resources does not support the Credential parameter, so we cannot use it in our production since we need to run with a certain credential in our environment.

The resources we want to use:
ADReplicationSite
ADReplicationSubnet
ADReplicat

[2020-06-23 12:52] X-Guardian commented on #613
Hi @anorstrom, as long as the device that you are executing the DSC on is domain connected and is running PowerShell 5 or above, you can use the automatic `PSDscRunAsCredential` property to specify your desired domain credentials for each resource. See [Use Credentials with DSC Resource](https://docs.microsoft.com/en-us/powershell/scripting/dsc/configurations/runasuser?view=powershell-5.1) for fur

[2020-06-23 16:43] #612 closed

[2020-06-24 00:48] jeremyciak opened #616 "ADGroup: Group Members From One-Way Trusted Domain Break Functionality"
#### Details of the scenario you tried and the problem that is occurring
The scenario is that we have 2 domains "Domain A" and "Domain B" where a one-way trust is established so that it is outgoing from Domain A and incoming for Domain B. This setup ensures that users from Domain B are trusted by Domain A. If I am trying to manage AD groups in Domain A where any resources from Domain B have been s

[2020-06-24 01:49] jeremyciak commented on #616
#617

[2020-06-24 14:47] davidwallis3101 commented on #616
are you able to create the group memberships across a trust? I am not managing it currently.. I have two forests and a one way trust and trying to add a computer to a domain local group as a test but it always try to look up the account in the wrong domain, even when I use the SID for the computer. (I have working powershell for the adding now by using the sid..) but would rather do this with DSC.

[2020-06-24 14:52] anorstrom commented on #613
Thank you @X-Guardian
I tested and it seems to work 👍

[2020-06-24 14:52] #613 closed

[2020-06-24 14:58] jeremyciak commented on #616
I am not even to the point where I am attempting to manage the group membership, just the group creation and details. I am managing the domain on the side of the trust where I do not have permissions into the other domain so I would not be able to manage membership. However, after my DSC runs and creates the groups and once any resources from the other domain are added as members then every subseq

[2020-06-24 15:56] X-Guardian commented on #616
Hi @jeremyciak, thanks for reporting this, but before you spend any more time on the PR, can you please edit the issue description and add the DSC configuration you are using so we can better understand the problem.

[2020-06-24 17:29] jeremyciak commented on #616
Hey @X-Guardian, this has been done. The main thing to note is that I do not care at all about the group membership, but because there are members from another domain in the groups I am trying to manage, this DSC resource breaks down due to some issue with the `Get-ADGroupMember` command.

[2020-06-24 21:28] jeremyciak commented on #616
I'm excited that I was able to get my PR to pass and I'm curious what the next steps are to proceed further from here.

[2020-06-25 19:48] X-Guardian commented on #616
HI @jeremyciak, I have reproduced the error with `Get-ADGroupMember` with a one way external trust as you describe. With a two way external trust, `Get-ADGroupMember` successfully returns the properties of the same group. Unfortunately, with your suggested solution,  both with a one way trust and and a two way trust, the `SamAccountName` is not returned from `Get-AdObject`, and the `objectClass` i

[2020-06-25 21:21] jeremyciak commented on #616
Would you be open to a try/catch solution?

[2020-06-25 21:28] X-Guardian commented on #616
Expand on what you had in mind, preferably with a code snippet to try.