[2015-04-16 04:45] GoateePFE opened #2 "Add xADRecycleBin to xActiveDirectory"
I have written a MOF-based resource to enable the AD recycle bin.

[2015-04-16 05:16] GoateePFE commented on #2
Per the guidelines I "transfer full ownership of xADRecycleBin to the PowerShell organization".

[2015-04-16 13:28] vors commented on #2
Thank you @GoateePFE ! Transfer of ownership is applicable to the whole repository (). In this case, you are contributing one resource to existing repository. Does it make sense?

[2015-04-17 03:34] GoateePFE commented on #2
Yes. Thank you.

[2015-04-18 03:54] vors commented on #2
Fixed per #6 and #5

[2015-04-18 03:54] #2 closed

[2015-04-20 18:44] adbertram opened #7 "cADGroup"
I would like to develop a DSC resource for AD groups.  I've forked the repo and am beginning to work on this.  Let me know if you'd like for me to do anything else.  I'm pretty new to Github.

[2015-04-21 01:40] GoateePFE commented on #7
Thanks. Can you test this resource over in the PowerShell.org repo pull queue?
https://github.com/PowerShellOrg/cActiveDirectory/pull/1

[2015-04-22 00:12] adbertram commented on #7
I apologize.  I've got way too much going on right now and am going to have to renig on this. :/

[2015-04-22 00:12] #7 closed

[2015-04-22 02:07] GoateePFE commented on #7
No sweat. No one wins when you (or anyone else) over commits. Good to see you draw boundaries with your time.

[2015-04-23 00:01] vors opened #8 "Merge xOU module into xActiveDirectory module"
Per discussion in https://github.com/PowerShell/DscResources/issues/11
xOU module can be found in PSGallery:

[code]

[2015-04-25 18:51] enu235 opened #10 "ADPS_LoadDefaultDrive"
On the resources that may not directly run on a domain controller, it may speed things up to test for ADPS_LoadDefaultDrive before running any ActiveDirectory module commands. If it is something that is done, the environment variable would need to be reset to its previous value before exiting the function. Any resource that would want to take advantage of the AD provider could load one directly or

[2015-04-30 14:26] irwins commented on #7
Hi guys, I also tried creating a DSC for ADGroups. Is there going to be a new one? Just wondering...

Regards,

Irwin

[2015-05-18 12:24] adweigert opened #11 "xADUser Doesn't Lookup Alternate Domain"
The DomainName attribute is not operating on a user in an alternate domain, e.g. node in TEST domain, trying to xADUser in PROD domain (PROD one way trust TEST).

Fix: Add -Server $DomainName to *-AD cmdlets.

[2015-06-25 19:03] BladeFireLight opened #19 "Pester test not passing"
xActiveDirectory\DSCResorce\MSFT_xADRecycleBin\Test\ResorceDesigner.Tests.ps1
fails

Describing xADRecycleBin
   Context xDscResouceDesigner
    [-] Pass Test-xDscResource 355ms
      The term 'Test-xDscResource' is not recognized as the name of a cmdlet, function, script file, or operable program. Che
ck the spelling of the name, or if a path was included, verify that the path is correct and try

[2015-07-15 13:32] GoateePFE opened #21 "Version 2.4 in the PSGallery dropped properties on xADDomain"
xActiveDirectory version 2.4 in the PSGallery dropped properties on xADDomain:
DatabasePath
LogPath
Must add these back to the latest version.

[2015-07-15 13:40] GoateePFE commented on #21
Please replace xADDomain resource in 2.4 with code from 2.3.

[2015-07-16 18:21] KarolKaczmarek commented on #21
Fixed by #9

[2015-07-16 18:21] #21 closed

[2015-07-16 18:26] GoateePFE commented on #8
Hello, vors.  Please proceed with this change.  It is needed and welcomed to bring these into one module.

[2015-07-16 18:44] KarolKaczmarek commented on #19
Hi @BladeFireLight
Do you have DscResourceDesigner installed? https://github.com/powershell/xdscresourcedesigner

I just run tests on both master and dev branches and they pass.

[2015-07-29 03:02] BladeFireLight opened #27 "xADDomain creates domain but no longer passes test-target resource"
after the reboot folowing a sucsessfuly configuration the first domcain contoler no longer works and DSC failes to complete.

VERBOSE: [DC01]: LCM:  [ Start  Resource ]  [[xADDomain]FirstDC]
VERBOSE: [DC01]: LCM:  [ Start  Test     ]  [[xADDomain]FirstDC]
VERBOSE: [DC01]:                            [[xADDomain]FirstDC] Resolving 'Contoso.com' ...
VERBOSE: [DC01]:                            [[xADDo

[2015-08-17 04:09] enu235 commented on #10
After using this module in practice for months now, I now better understand that this request is of very little value. If it does come up as a concern, rethink your design and layout.

Closing.

[2015-08-17 04:09] #10 closed

[2015-08-21 21:41] kenazk opened #29 "AD DS and AD WS won't start"
Using the 2.2 extension, the AD will not start the service. This results in failure when querying or adding another machine to the domain.

![adds](https://cloud.githubusercontent.com/assets/1482985/9419695/bd8d7d0a-4812-11e5-9fa6-df9d4deb74cf.png)

[2015-08-29 01:37] kenazk opened #30 "Domain join fails on reboot"
After the DC promo + reboot, the configuration does a TEST of all the resources. This ends up failing on my xWaitForADDomain resource because it can't find the domain after 10 minutes. Note, this is post domain join (2nd reboot) -- so I don't know why it can't find the domain after the reboot.

VERBOSE: [2015-08-27T03:01:46] [ERROR] PowerShell DSC resource MSFT_xWaitForADDomain  failed to execute

[2015-09-02 00:53] aarsan commented on #30
+1

[2015-09-02 18:55] scottzilla commented on #30
+1

[2015-09-03 16:00] iainbrighton commented on #27
+1. I see this issue with v2.5.0.0 of the resource. Looking back through my configs, it looks like it was working with v2.2.. I will try some more testing.

[2015-09-04 10:26] tcsatheesh commented on #27
+1 I also see this issue with v2.5.0.0 of the resource.

[2015-09-04 16:23] xtophs commented on #30
See my response in https://github.com/Azure/azure-quickstart-templates/issues/557#issuecomment-137604041

A different configuration for the LCM fixed it for me.

[2015-09-04 23:11] TravisEz13 opened #32 "Resources don't validate they have the prerequisite - WindowsFeature AD-Domain-Services"
We should make sure we give a clear error message when this pre-requisite is not met so that it is easy to troubleshoot.

[2015-09-04 23:24] TravisEz13 commented on #30
@kenazk Could this be a dupe of Issue #32 ?

[2015-09-05 13:03] iainbrighton opened #33 "Add xADGroup Resource"
We could do with a resource for creating AD Groups - or more importantly controlling/enforcing group membership.

[2015-09-07 09:37] iainbrighton commented on #33
I'm not sure how this will integrate with pull request #20. The default 'Group' resource will create/remove local groups as well as set membership. I think it's better to split the logic into two resources? Thoughts?

[2015-09-07 14:37] iainbrighton commented on #33
I have a first pass at a xADGroup resource here: https://github.com/iainbrighton/xActiveDirectory with Pester test coverage. It doesn't implement group memberships as there's an outstanding pull request. Would you like me to send a pull request for this?

[2015-09-16 00:12] KarolKaczmarek commented on #33
@HemantMahawar , @GoateePFE - can you take a look?

[2015-09-21 18:56] HemantMahawar commented on #33
I had an in-person chat with @iainbrighton  at PowerShell Summit Europe 2015 to understand the outstanding pull request #20 and this pull request. It would be best to merge these 2 resources to have an ability to create ADGroup and its members ... just like the built-in local group resource.

@GoateePFE and @MGreenegit ... do you agree?

[2015-09-25 17:59] tysonjhayes commented on #19
#31 removed these tests so I think this isn't an issue anymore.

[2015-09-29 01:51] kenazk commented on #30
This was due to a bug in WMF that has been fixed in the DSC 2.6 version. Please use that one.

[2015-09-29 01:51] #30 closed

[2015-09-29 01:53] kenazk commented on #29
This was due to not explicitly specifying dependencies within the DSC resources causing the DC promo prerequisites to never complete. See an example here:

https://github.com/Azure/azure-quickstart-templates/blob/master/sharepoint-three-vm/dsc/CreateADPDC.ps1.zip

[2015-09-29 01:53] #29 closed

[2015-10-06 14:33] iainbrighton commented on #8
I'm happy to do this and write some Pester test coverage if that's wanted?

[2015-10-06 14:36] iainbrighton commented on #33
@KarolKaczmarek @HemantMahawar there's been no update on this? Are you happy for me to send a pull request for https://github.com/iainbrighton/xActiveDirectory ? I can look at merging in the Group membership functionality from #20 with a similar syntax to the local User resource?

[2015-10-06 15:45] GoateePFE commented on #8
Thank you.  Please proceed.

From: Iain Brighton [mailto:notifications@github.com]
Sent: Tuesday, October 6, 2015 10:34 AM
To: PowerShell/xActiveDirectory <xActiveDirectory@noreply.github.com>
Cc: Ashley McGlone (GOATEEPFE) <Ashley.McGlone@microsoft.com>
Subject: Re: [xActiveDirectory] Merge xOU module into xActiveDirectory module (#8)

I'm happy to do this and write some Pester test coverage if t

[2015-10-06 16:11] HemantMahawar commented on #33
@iainbrighton @KarolKaczmarek  @GoateePFE and @MGreenegit... Yes, Ian go ahead with that.

[2015-10-27 12:22] iainbrighton commented on #33
@KarolKaczmarek @GoateePFE @MGreenegit @KarolKaczmarek - Pull request submitted. Once merged I'll get to work on adding the Members, MembersToInclude and MembersToExclude functionality.

[2015-10-27 12:23] iainbrighton commented on #8
@GoateePFE @vors - I have this functionality ready go once pull request #36 is merged!

[2015-10-27 12:27] iainbrighton commented on #7
There is an outstanding pull request #36 for this functionality, but only to create AD groups.

Group membership functionality will be follow shortly. Pull request #20 implements group membership but it's been decided to merge the group membership functionality into the xADGroup resource to mirror the behaviour of the built-in Group resource.

[2015-10-27 12:31] GoateePFE commented on #7
I like that direction.  Sorry I cannot be more help.

Ashley

From: Iain Brighton [mailto:notifications@github.com]
Sent: Tuesday, October 27, 2015 8:27 AM
To: PowerShell/xActiveDirectory <xActiveDirectory@noreply.github.com>
Cc: Ashley McGlone (GOATEEPFE) <Ashley.McGlone@microsoft.com>
Subject: Re: [xActiveDirectory] cADGroup (#7)

There is an outstanding pull request #36<https://na01.safelinks.p

[2015-10-29 20:40] olljanat commented on #8
xOu module should be definitely merged to this module.

I also found that there is small issue on xOu module which should be also fixed:
https://gallery.technet.microsoft.com/xOU-PowerShell-Module-DSC-be133067/view/Discussions

[2015-10-29 23:35] #33 closed

[2015-11-04 10:58] dovreshef opened #38 "Add the ability to create forest without installing local DNS server"
Please externalize the InstallDns parameter on Install-ADDSForest to xADDomain.
We usually build AD without DNS server role.

[2015-11-04 11:23] RafPe opened #39 "[Exception] Could not find mandatory property DomainAdministratorCredential for xAdDomain"
Hey ,

I have been just trying to setup a domain using xAdDomain with help of DSC resource based on xActiveDirectory

[code]

When executing local DSC confifguration I get the following exception :

[code]

I'm using for this Windows Server 2012 R2 (just downloaded newest ISO for trial) with the following PS version :

[code]

For running configuration I have used the following dsc script

[code]

[2015-11-04 17:08] HemantMahawar commented on #39
Your script has bug, which can be fixed by doing one of the following 2:
- Use **$Node.Credos** (using the value from **$ConfigurationData**) in xADDDomain resource
- Specify the **-Credos** parameter (with value) during calling the configuration **Adin4**

[2015-11-04 17:59] RafPe commented on #39
@HemantMahawar You were right - I should have used localhost and pass the credentials when compiling MOF. Now of course it works as it should :)

thanks!

[2015-11-04 17:59] #39 closed

[2015-11-07 08:19] PlagueHO opened #40 "Add RODC Creation Support"
Is there any plan to add support to install a server as an RODC?

[2015-11-11 21:12] iainbrighton opened #43 "Add xADGroup membership"
As per #33, this issue is here to reference the implementation of the Active Directory group membership functionality.

The xADGroup resource will be expanded with the following parameters which will mirror the built-in Group resource:
[code]

[2015-11-12 17:31] iainbrighton commented on #43
There is an initial implementation [available here](https://github.com/iainbrighton/xActiveDirectory/commit/79a84b60f8ddb255e4fff7b1d50e0597201d79d9). It has complete test coverage, I just need to do some "real" AD testing too!

[2015-11-12 17:33] iainbrighton opened #44 "ADUser: Add additional properties"
I would love to be able to set additional properties on xADUser resource, like department and phone numbers etc..

This would be great for our lab and demo setups! Any requests, before I get to work?

[2015-11-14 02:37] BrianFarnhill opened #45 "Property NewDomainNetBiosName not found"
Running the resource xADDomain currently returns this error:

Looking in to this I found that [there was a change made](https://github.com/PowerShell/xActiveDirectory/commit/4b07ffba205419c545ab6d76a800f8fb11fb6333) which changed the property from DomainNetbiosName to NewDomainNetbiosName. This appears to have caused the issue, looking at this on Windows Server 2012 R2 there is no property called

[2015-11-14 11:12] dougbrw commented on #45
Hey,

It looks like this is a mistake and those parameters need to be reverted for "Install-ADDSForest". The parameters for "Install-ADDSDomain" were wrong as you can see here https://technet.microsoft.com/en-us/library/hh974722(v=wps.630).aspx it does have a parameter named "NewDomainNetbiosName", but I seem to have changed it in both places. I don't have an environment to test this in at the mom

[2015-11-14 11:14] BrianFarnhill commented on #45
I tested it on an environment today and changed it back worked fine, I'll roll it back and put in the pull request. Thanks Doug!

[2015-11-14 11:19] dougbrw commented on #45
I noticed there is a pull request which fixes "Install-ADDSForest" but breaks "Install-ADDSDomain" again: https://github.com/PowerShell/xActiveDirectory/pull/42

I will link that thread to this issue to prevent us from going around in circles. If you are creating a new domain & forest then you end up using "Install-ADDSForest" but if you are creating a child domain then you end up using "Install-A

[2015-11-14 11:20] BrianFarnhill commented on #45
Good call doug - the fix that will work for both is in my PR #45 and that's the one we should move forward with.

[2015-11-15 22:50] iainbrighton commented on #11
I'm working on implementing #44 and this should be closed off with this implementation.

[2015-11-16 17:00] 1RedOne commented on #45
Hi Doug,

Do you have a link to your commit with this fix?  This issue is biting me today but I don't see where to make the change you recommended.

Thanks

Stephen

[2015-11-16 19:57] SimonWahlin opened #47 "xWaitForADDomain does not validate prerequisite of ActiveDirectory module"
The resource xWaitForADDomain is typically run on a member server or a client.
The resource uses Get-ADDomain which isn't available on either by default.

Any error thrown by Get-ADDomain results in a message stating:
"Domain $DomainName not found. Will retry again after $RetryIntervalSec sec"

The resource should have a requirement of the module ActiveDirectory, or if the error is "The term 'Get-

[2015-11-16 21:35] BrianFarnhill commented on #45
For anyone else looking at the fix, its at #46 :)

[2015-11-17 20:02] #45 closed

[2015-11-17 23:29] anwather commented on #27
Can you please provide more information on the adminCred and how you resolved the issue.

[2015-11-18 12:37] iainbrighton commented on #47
And that's why I wrote https://github.com/iainbrighton/cWaitForTcpPort ! In v5.0 you can use the DSC WaitFor resources.

In answer to that actual problem, this is almost identical to #32 and should be addressed at the same time?

[2015-11-20 15:21] mattmcnabb commented on #44
Iain,

I totally agree! I've done some extensive AD user automation in the last couple years and I have a new project coming up in this space. I have considered considered building what I have done out into a reusable framework for user automation. However, with DSC now in full swing I believe the AD resource could be this framework.

I've been thinking about how to go about this and would love to

[2015-11-20 16:44] iainbrighton commented on #44
The pulling data from SQL and CSV would be done by a composite resource or via ConfigurationData (that's what I'm using for our training and lab environments). This resource is pretty much done, I'm just testing internally.

Here's the current syntax I have working and will push shortly:
[code]
As you can see it's a bit of a monster :)

[2015-11-20 23:47] mattmcnabb commented on #44
It is huge, but at the same time there is plenty more it could do, like Exchange attributes. That's what makes this a real challenge. Looks like your well on your way here, though! Hopefully we can mold this into something really flexible and usable.

Nice work, can't wait to see the PR!

[2015-11-21 00:52] iainbrighton commented on #44
@mattmcnabb - that sounds like you volunteering?! The PR has been submitted but has a merge conflict in the readme that requires someone to merge some existing PRs. You can always use this: https://github.com/iainbrighton/xActiveDirectory/commits/dev that has all those PRs in it..

[2015-12-02 13:32] prateekjain0608 opened #50 "New Commits not being updated in powershellgallery?"
The latest commits in the Module are not being updated when we download using the powershell command
Install-Module -Name xActiveDirectory
The commit
https://github.com/PowerShell/xActiveDirectory/commit/2b2f142076750b2b19a013e7fb8cccace7341e6a

was not updated when!

[2015-12-02 19:34] 1RedOne commented on #27
I've got the same problem.  DC Promo, prereqs, etc all work, then we get the identical failure on Test-DSCResource.  I bet there is a problem w/ Test-DSCResource.  Seems like the newest wave of Resources have a LOT of test problems.

[2015-12-02 19:48] 1RedOne commented on #27
I would suggest that we Omit the domain administrator credential used here.  If you run the cmdlet of Get-ADDomain -DomainName $DomainName on it's own, that will always work.  The issue is that incorrect creds (which is the real issue here, not the absence of AD WS on a Domain Controller) is incorrectly caught as 'Invalid Credentials'

[2015-12-02 19:49] iainbrighton commented on #27
I had this issue but it turned out to be mismatched passwords. This was what was happening:

* the local Administrator password on the DC (before promotion) was different to the password/credential used in the resource.
* When the domain was created, the local administrator password remained the same as it was before the promotion.
* When the Test-TargetResource pass ran, it was using the incorrec

[2015-12-02 19:50] 1RedOne commented on #27
When I specified the same credential I used before, the test passed, so you're right on the money, Ian.

[2015-12-15 17:25] jaymedavis opened #52 "xADDomainController: Missing Ensure in MSFT_xADDomainController.schema.mof"
I'm pretty sure we need to add `[read] String Ensure;` in MSFT_xADDomainController.schema.mof. Get-TargetResource in MSFT_xADDomainController.psm1 has Ensure in the return value, which is not specified in the schema file.

This seems to have fixed it locally. Let me know if this sounds right and I will submit a PR.

[2015-12-18 14:23] simongdavies opened #53 "xADDomain - check for domain existence returns wrong error message"
Check for domain existence in https://github.com/PowerShell/xActiveDirectory/blob/2b2f142076750b2b19a013e7fb8cccace7341e6a/DSCResources/MSFT_xADDomain/MSFT_xADDomain.psm1#l42 returns incorrect error messages.

For example if I pass invalid domain credentials it will fail with ***Current node is not running AD WS, and hence is not a domain controller.***

[2016-01-14 21:53] mprahl opened #55 "ADDomainController: Add the ability to transfer/seize the FSMO roles"
Hello,
Being able to manage the FSMO roles via transfer or seizure would be beneficial in the xADDomainController resource. That way if you need to rebuild a Domain Controller, it can be configured entirely via DSC without manual steps at the end of the configuration being applied.

[2016-01-15 22:20] #19 closed

[2016-01-15 23:46] #11 closed

[2016-01-15 23:48] #8 closed

[2016-01-17 13:27] BrunoReboul commented on #52
I use the same fix locally, seems right from my experience.
If not fixed then Get-dsccompliance breaks, with error events 4097 and 4252 in operational log

[2016-01-26 22:14] TravisEz13 opened #56 "xADDomain needs unit tests for Get, Set and Test"

[2016-01-27 14:19] Sjark opened #57 "Resource for AD Delegation of Control"
I would like a resource to be able to Delegate Control in Active Directory to Users and Groups.

You should be able with DSC to set Active Directory permissions to users and groups.

For instance, let a user Create and Update other users, let a user Modify memberships to groups in a specific OU etc.

[2016-01-27 16:12] tamas7 opened #58 "xADUser invalid $PSBoundParameter index for the $UserName parameter"
Creating a new user will fail with:

    A parameter cannot be found that matches parameter name 'Name'.
    Index operation failed; the array index evaluated to null.

The issue is that `$PSBoundParameter` is declared for `$Name`, instead of `$UserName`, hence the failed index operation.

Changing the two occurrence of:

    $PSBoundParameters['Name'] = $Name;

to:

    $PSBoundParameters['UserNa

[2016-01-27 23:02] iainbrighton commented on #43
Implemented in PR https://github.com/PowerShell/xActiveDirectory/pull/48

[2016-01-27 23:02] #43 closed

[2016-01-27 23:05] iainbrighton commented on #44
Implemented in PR #49.

However, I need to implement setting a person's picture stored in AD. It can be added into the xADUser resource, but this is probably an edge-case. Therefore, should it be added to xADUser or put into a separate xADUserPicture resource? @TravisEz13 @HemantMahawar ?

[2016-01-27 23:33] iainbrighton commented on #58
Hi @tamas7 - thanks for reporting this. I'll get it fixed. Is this on the dev branch? If so, I'm not sure how it got passed all the unit tests... :confounded:

[2016-01-28 10:37] iainbrighton commented on #58
@tamas7 I've fixed this, added test coverage and submitted PR #59. I've actually removed that assignment as the `UserName` PSBoundParameter will always be there as it's mandatory!

@TravisEz13 @KarolKaczmarek Can we make sure this is merged before the next release is pushed to the PSGallery as the updated xADUser resource won't work without it?!

[2016-01-28 11:08] tamas7 commented on #58
@iainbrighton Thanks for the PR, tested it in Azure, works!

[2016-01-28 12:47] #58 closed

[2016-01-28 22:39] iainbrighton commented on #56
@TravisEz13 FYI - I'm working on this whilst fixing #27, #32, #38, #47, #52 and #53 in the process. I think that'll close about half of the outstanding issues!

[2016-01-28 23:39] TravisEz13 commented on #56
@iainbrighton Thanks.

[2016-01-29 00:19] TravisEz13 commented on #44
If it's an optional property, I don't see a problem with keeping it in xADUser and  when it is not assigned it doesn't affect the stability of the resource.  Then again, I agree its probably not going to be used enough that a separate resource wouldn't be horrible and might even be prefered if when not assigned it will affect the stability of the resource.  @HemantMahawar @BrucePay What do you thi

[2016-01-29 20:43] CtrlDot commented on #27
I'm not completely sure this is a problem with this particular lib, but I thought I would post it here.

I have installed the xActiveDirectory V2.8.0.0 via the PSGallery to Azure Automation.

Relevant code:
        xADDomain FirstDS{
            DomainName = $Node.domainName
            DomainAdministratorCredential = $domainCredential
            SafemodeAdministratorPassword = $domainCredential

[2016-01-29 22:40] iainbrighton commented on #50
@prateekjain0608 Only the published releases are pushed to the PSGallery. Therefore, until the dev branch is merged, it won't appear in the gallery. If you want to pull the development branch you can refer to: http://blogs.msdn.com/b/powershell/archive/2015/08/27/development-builds-for-dsc-resources-are-available.aspx.

@KarolKaczmarek I think this issue can be closed?

[2016-01-29 22:45] iainbrighton commented on #55
@PrahlM93 I can see a reason for being able to specify with node should hold a FSMO role. I can't really see a situation that you'd want to seize a role though. Could you elaborate on when/why you would use this?

[2016-01-29 22:56] PrahlM93 commented on #55
@iainbrighton, I was thinking if a Domain Controller is destroyed or becomes corrupt, you'd be able to rebuild it from the MOF file. Since the Domain Controller which contained the FSMO roles is now offline because it was destroyed or corrupt, you would have to seize the FSMO roles instead of being able to transfer them.

[2016-01-31 19:51] DFineNormal opened #61 "xADUser error if personal Client Authentication intent certificate exists"
xADUser fails with the following error if a Personal certificate exists with 'Client Authentication' intent

[code]

Error occurs in latest dev and master branches.

The certificate is being used to encrypt credentials in a DSC push configuration but even if .mof files are set to contain plain text passwords the error still occurs.
Disabling the certificate in mmc -> Certificates stops error from

[2016-02-01 09:24] iainbrighton commented on #61
@DFineNormal Hmmm. I'm not sure we want to default to basic authentication! Is this in the published module or the development release?

Perhaps we can try Kerberos/NTLM and if that fails, fall back to basic? I wouldn't want to trap all exceptions, just the one that throws when personal certificates are used.

If you run the DSC configuration interactively, is the exception message exposed? If so,

[2016-02-01 21:24] corydwood opened #63 "Some resources not compatible with Server 2008 R2"
I've modified a few of the **xActiveDirectory** resources to be compatible with Server 2008 R2 (such as **xADDomain**, **xADDomainController** and **xWaitForADDomain**) for use at my company.

I'd like to contribute these to GitHub, but I'm not sure where they should be placed. Should they be placed in a seperate **Pre2012ActiveDirectory** module or something similar?

[2016-02-01 21:27] HemantMahawar commented on #63
@corydwood  Is there a reason to not update the existing version of **xActiveDirectory** module? IMHO, you should update the existing resources.

[2016-02-01 21:40] corydwood commented on #63
@HemantMahawar One example would be the **xADDomainController** resource. In order to use this resource to build 2008 R2 DCs, I had to replace **Install-ADDSDomainController** with **dcpromo.exe**, which isn't compatible with 2012.

Another example is xWaitForADDomain. I had to replace **Get-ADDomain -Identity $DomainName -Credential $DomainUserCredential** with **New-Object DirectoryServices.Dire

[2016-02-01 22:06] iainbrighton commented on #63
I'm in the process of rewriting xADDomain to correct the authentication errors and logging. Bringing in 2008R2 support might be worth the effort, however, I don't think we need to worry about creating a new AD domain on anything old than 2008R2?

I don't like xWaitForADDomain's reliance on the AD cmdlets as it doesn't work on client OSes. Bringing in your changes in here would definitely make sens

[2016-02-01 23:00] corydwood commented on #63
The xWaitForADDomain change is pretty small, so I'll create a PR for that.

I'm less concerned with creating new domains older than 2012. I'm more concerned with adding new 2008 R2 DCs to an existing domain/forest, which requires dcpromo.

Would it make sense to update the existing xADDomainController resource to add an OS check so that it uses dcpromo for 2008 and 2008 R2, and Install-ADDSDomainC

[2016-02-01 23:21] HemantMahawar commented on #63
@corydwood @iainbrighton @TravisEz13 @KarolKaczmarek  Yes, an if/else based on OS version would be appropriate to address scenarios where cmdlets don't exist. This will ensure, over time, that the resource code layers on top of cmdlets only (when older version of OS are non-existent or not supported)

[2016-02-01 23:48] GoateePFE commented on #63
I agree with Hemant's latest comment. If/else would be appropriate based on OS.

[2016-02-02 00:55] DFineNormal commented on #61
@iainbrighton If by 'run the DSC configuration interactively' you mean with -Wait then everything that's exposed is already in my initial issue post.  Apologies if I misunderstand; I'm brand new to DSC and learning as I go.

I altered the code to output the exception and inner exceptions:
[code]

[code]

I can confirm that this problem exists in both the published and development releases.

Fallin

[2016-02-02 18:56] iainbrighton commented on #63
I'd say that's a good place to start! We can look at merging in the other changes into xADDomain later if necessary?

[2016-02-02 20:37] TravisEz13 commented on #63
I agree with @HemantMahawar 's last comment.

[2016-02-02 21:27] KarolKaczmarek opened #66 "PSScriptAnalyzer errors need to be fixed"
[code]

[2016-02-03 07:53] iainbrighton commented on #61
Thanks - I'll try and trap the specific error and fallback to Basic with SSL if Negotiate fails. Does that sound like logic that will solve your issue?

[2016-02-03 22:19] iainbrighton commented on #66
@KarolKaczmarek When did the PSScriptAnalyzer start kicking in?! I'll need to suppress these errors, as being able to specify a user's username and password during account creation is kinda important! :wink:

[2016-02-03 22:27] iainbrighton commented on #55
@PrahlM93 I think a resource to specify the FSMO role placement might be in order, seizing the role if necessary, might be better option. My only concern would be that you could easily specify the same FSMO role on multiple nodes and things could get messy very quickly! @GoateePFE @HemantMahawar what are your thoughts?

[2016-02-03 22:28] iainbrighton commented on #50
This commit should now be in the PSGallery. @KarolKaczmarek @TravisEz13 I think this can be closed?

[2016-02-04 00:23] TravisEz13 commented on #66
I believe this is a PSScriptAnalyzer issue.
You may just need to add the CredentialAttribute  to the credential parameters.

The actual password is passed as a credential object.  I believe there was a reason that the user name was not passed in the credential object, but you will have to remind me.

[code]
@raghushantha Can you help here?

[2016-02-04 10:57] DFineNormal commented on #61
No problem @iainbrighton.

I'm not sure is Basic with SSL will fix the issue since I don't actually have SSL set up; the certificate is purely being used to encrypt the MOF file credentials at rest, in a DSC Push configuration.

When I tried adding the explicit SSL context option along with Basic into  the 3rd ValidateCredentials() param then I get the exact same error.  Only Basic without SSL see

[2016-02-05 19:41] KarolKaczmarek commented on #66
@iainbrighton
We run PSSA for repos using WMF 5 test VM since few weeks during every appveyor run. This doesn't apply to this repo, however we will eventually enable it here as well.

The error log attached is from PS Gallery team which runs PSSA for every submission and forwards results to the owner of the module.

Why can't we use PSCredential here?

[2016-02-05 19:44] #50 closed

[2016-02-05 20:50] GoateePFE commented on #55
Hmm. Yes, FSMO shifting in a loop would not be cool. I see the value in the resource. This would take some planning. Maybe some kind of check on the FSMO role holder attributes to see if they have been updated lately as a dampening technique to keep them from swapping.  Maybe you could enumerate the current FSMOs, check their DSC configurations to make sure they do not have the same FSMO role set

[2016-02-06 19:56] iainbrighton commented on #66
@KarolKaczmarek Username is a currently a key and I didn't think you could have a PSCredential as a key? Any change here will be a breaking change..

[2016-02-08 15:22] iainbrighton commented on #66
@KarolKaczmarek @TravisEz13 Any update on this? I can add the `[Diagnostics.CodeAnalysis.SuppressMessageAttribute()]` attribute to stop the PSScriptAnalyzer reporting the error but that won't solve the underlying problem..

[2016-02-08 20:07] raghushantha commented on #66
We plan to have updates to these rules in the Feb release (week of 2/15).

Here is the gist of changes:
securestring/PSCredential (+Credential attr) type for password is ok, Having String type for Username is ok.

When using PSCredential type, supply the Credential() attribute also. Here is the reason:
https://github.com/PowerShell/PSScriptAnalyzer/issues/363

For this instance, can you suppress t

[2016-02-08 20:41] TravisEz13 commented on #66
@iainbrighton, after the updated rule I believe you will be good if you add the credential attribute.  No need to suppress. @KarolKaczmarek Do we need to deal with this before the rule update?

[2016-02-15 16:13] chlsmith opened #67 "Bug in xADDomainController"
On the Get-TargetResource section, the write-verbose statement calls for a $fullDomainName variable that isn't defined.

[2016-02-15 20:29] iainbrighton commented on #66
@TravisEz13 @KarolKaczmarek I also receive the following warnings:
[code]
Do these warnings need fixing too (except the `PSDSCDscTestsPresent` one)?

The `PSUserSingularNouns` and `PSUseApprovedVerbs` aren't really a problem as they're not exported. Can I just suppress these where appropriate to stop the analyzer picking them up in the future or do you want me to rename them completely?

[2016-02-15 20:37] iainbrighton commented on #44
@TravisEz13 @HemantMahawar @BrucePay Any decision on this? I have [implemented it here](https://github.com/VirtualEngine/VirtualEngineLab/tree/master/DSCResources/VE_vADUserThumbnailPhoto) as I needed it for our lab environment. The thumbnail can either be specified as a file path to a .jpg or a Base64-encoded jpg.

I'm happy to add the contribution either to the xADUser resource or as a separate

[2016-02-15 20:40] iainbrighton commented on #67
@chlsmith Thanks for the report. Are you willing to submit a pull request to fix this? If not, I'm sure I'll get around to it :wink:

[2016-02-15 20:48] kilasuit commented on #44
I agree that this thumbnail property should be added to xADUser

Re properties that are added as part of an AD Schema extension I think these properties should be in a new resource named along the lines of xADUserExtendedSchema as these aren't always going to be required so can be used or not used as needed

[2016-02-15 21:01] iainbrighton commented on #38
@dovreshef It's been raised by @TravisEz13 that if we externalise the -InstallDns parameter that we actually need to manage the DNS role state (see #60). Just throwing this out there; can you not use the `WindowsFeature` resource to with `Ensure = 'Absent'` to remove the DNS role when/if installed by the `xADDomain` resource?

[2016-02-15 21:02] iainbrighton commented on #52
This should be fixed at the same time as #67

[2016-02-15 22:29] TravisEz13 commented on #66
@iainbrighton  I believe we only validate errors currently.

[2016-02-15 22:33] TravisEz13 commented on #38
@iainbrighton Assuming that the dcpromo simply installs the feature, managing it with WindowsFeature should work.  But to actually know, I think someone would have to try it.

[2016-02-15 22:45] PlagueHO commented on #66
@TravisEz13, that is correct, but there is an [enhancement being proposed](https://github.com/PowerShell/DscResource.Tests/issues/28) that will run warnings as well - but potentially only on a subset of warning rules. So it is possible that some of these issues might need to be resolved too.

[2016-02-15 23:10] chlsmith commented on #67
The pull request is not something I really know how to do.   I know how to clone it, make the change, and then post it back, but there are tests and things always required that I really don't know how to do.

[2016-02-16 07:06] dovreshef commented on #38
@iainbrighton I don't think it is workable. Considering the resource will be converged every half an hour or so, it seems woefully inefficient to install the DNS only to remove it immediately. Also, since that windows server is supposed to be connected to a BIND server we'll have to keep restoring the setting again & again.

[2016-02-16 09:08] iainbrighton commented on #67
@chlsmith It looks like @mgreenegit has PR #68 in already for this :smile:

[2016-02-16 09:11] iainbrighton commented on #66
@TravisEz13 @PlagueHO I would not normally use `Validate-Parameters` as a private function name; I would name it `ValidateParameters` as it's not exported. This would resolve the above errors, but I'm not sure this meets the style guidelines?

[2016-02-16 09:20] PlagueHO commented on #66
@iainbrighton - we have the same problem in some of the xNetworking resources. And I'm sure it's common in lots of other resources.

My thoughts are that the styleguidelines should be updated to allow for this - any non-exported function names can use unsupported Verbs if they don't have a dash in them. @TravisEz13, @tysonjhayes ?

And then we could change any non-supported functions to use names

[2016-02-16 10:26] mgreenegit commented on #67
Yes, chlsmith reported it to me yesterday

[2016-02-16 21:16] tysonjhayes commented on #66
Personally I have a pet peeve for non approved verbs and non dashes. So basically everything should be verb-noun with an approved verb, but this is purely IMO. :grin:

My reasoning is purely because we have approved verbs, you get warnings for non-approved verbs when importing the module, and it maintains a readability and standards. Now we could make an arguement of if approved verbs are needed a

[2016-02-16 21:38] PlagueHO commented on #66
I'm sure I could look this up or experiment with it but I'm being awfully lazy :smile:, but does PS give you warnings if non-dashed non-approved verb functions are not exported in the module? I had a feeling PSSA only throw warnings for exported function names with dashes - so I assumed (perhaps wrongly) that PS was OK without verb-noun function naming if they weren't exported.

I don't really hav

[2016-02-16 22:23] iainbrighton commented on #66
@tysonjhayes @PlagueHO You only get warnings for unapproved verbs when they're exported. This I 100% agree with.

Now whether we need to use only approved verbs with non-plural nouns for internal functions should be defined in the style guidelines. IMHO I don't think it matters too much. I would much rather have an internal function name that is descriptive than having to find an approved verb.For

[2016-02-16 22:32] PlagueHO commented on #66
Right, so what we really need is someone to make an executive decision here ( @KarolKaczmarek, @tysonjhayes, @TravisEz13 I'm looking at you here :smile:) about what the rule should be and just document it in the guidelines.

-[ ] Option 1: All functions must obey verb-noun (singular) rule regardless if they are exported.
-[ ] Option 2: Non-exported functions can ignore verb-noun (singular) rule.

[2016-02-16 22:51] iainbrighton commented on #66
@PlagueHO Does option 2 need updating to state that the hyphen should be removed? If not, they will still trip the PSSA?

__All__ Obviously there __should only ever be 3 exported functions__ from each DSC resource. I'm not sure that this should make a difference when picking an option though. I guess picking one rule that works across all repositories (DSC or not) would make the most sense?

[2016-02-16 23:30] PlagueHO commented on #66
@iainbrighton - Doh - fixed.

[2016-02-21 23:06] #27 closed

[2016-02-21 23:06] #56 closed

[2016-02-22 00:01] TravisEz13 commented on #38
@dovreshef My proposal was to model it in the xADDomain resource with the following property:
[Write,
    ValueMap{"Present", "Absent", "NoChange"},
    Values{"Present", "Absent", "NoChange"},
    Description("Specifies the DNS Server service state for this machine")]
    String EnsureDns;

This would allow you to describe a state, that you can test for, and get the machine to the state.
Here is

[2016-02-22 11:37] dovreshef commented on #38
@TravisEz13 That would be great for my use case.

[2016-02-22 13:59] iainbrighton commented on #53
@simongdavies this should have be fixed in PR #60. Can you confirm whether the changes fix this?

[2016-02-22 14:00] iainbrighton commented on #32
@TravisEz13 PR #60 should now have resolved this..

[2016-02-22 14:02] iainbrighton commented on #47
@SimonWahlin PR #63 resolves this and the AD module is no longer required! Can you confirm that this is resolved?

[2016-02-22 16:02] SimonWahlin commented on #47
Nice work! Looks good to me, thanks!

[2016-02-23 23:37] gmatusko opened #69 "Add xADComputer"
I'm using DSC to create clusters and it would be nice/easier if there was a xADComputer to add computer objects to the domain ahead of creating the cluster.  Suggested parameters would be OU location and account Enabled = True/False.  Looking for the Enabled parameter as cluster computer objects need to be disabled before creating the cluster.

[2016-02-23 23:49] iainbrighton commented on #69
Sounds like a legitimate request!

What about a generic xADObject resource instead? Might be handy for moving any object too.

It could be a precursor to a resource that can set permissions on an AD object... ;)

[2016-02-23 23:55] gmatusko commented on #69
I like the sounds of that but how would you account for all the various properties for AD objects the command would cover?  If you are thinking about any AD object that is, not just computer objects.

[2016-02-24 00:17] PlagueHO commented on #69
I can see the benefit in this too.

As well as an xADManagedServiceAccount/xADGroupManagedServiceAccount too (while we're on the topic).

[2016-02-24 14:30] iainbrighton commented on #69
@gmatusko By using the *-ADObject cmdlets to create a computer object (or any other object type) :wink:

[2016-02-24 19:39] PlagueHO commented on #69
@iainbrighton - although I guess what @gmatusko means is that because the different types of objects have different property requirements, which properties would be exposed in the resource schema.

Specifically, a way of supporting the "OtherAttributes" parameter on the *-ADObject cmdlet would be awesome - but I've not had a lot of luck implementing any kind of "Hashtable" like property on a resou

[2016-02-24 20:49] iainbrighton commented on #69
@gmatusko I wasn't planning on implementing all properties; just a DN, object class and an enabled property would have made for a simple generic resource. That was until @PlagueHO waded in with his size 10's :stuck_out_tongue_closed_eyes:

Could we cover computer accounts, managed service accounts and group managed service accounts with a single resource?

[2016-02-24 21:27] PlagueHO commented on #69
LOL :smile: More like size 11's!

I think maybe we should just leave gMSA/MSA out of this. It would be a nice to have one day but no point in slowing more important stuff down with it.

You know what would be really nice? Being able to subclass DSC resources. Then we could create gMSA/MSA resources by subclassing the computer resource (they are after all a subclass of the computer AD class). I won

[2016-02-24 21:38] PlagueHO commented on #69
Or perhaps an xADObject could be implemented and also an xADObjectProperty as well which could be used to set the more esoteric properties required in some situations (e.g. MSA user bindings and what-not)?

[2016-02-25 02:11] #32 closed

[2016-02-25 11:47] iainbrighton opened #71 "Add xADDomainDefaultPasswordPolicy"
In our lab and training environments, we need to be able to configure the default domain policy accordingly.

[2016-02-25 14:52] iainbrighton commented on #69
@gmatusko @PlagueHO Having looked into this in more detail, I'm just gonna stick with the xADComputer resource! Creating a Computer object, for example, does lots behind the scenes including placing the object in the 'Domain Computers' group and setting various attributes. I'm not saying having a generic isn't worthwhile - it just needs thinking about a bit more.

[2016-02-25 14:54] iainbrighton commented on #44
@TravisEz13 @HemantMahawar @BrucePay Are you in agreement with @kilasuit that this should be added to xADUser?

[2016-02-25 21:23] PlagueHO commented on #69
@iainbrighton - completely - seems like a generic might create more problems than it solves.

[2016-02-25 21:56] GoateePFE commented on #69
Agreed. Sounds like object-specific resources are the way to go for now. Eventually I would like to see a generic AD object resource as a catch-all for other things.

[2016-02-27 01:07] kwirkykat opened #73 "xADDomain: Set-TargetResource Throws Terminating Error When DC Promotion in Progress"
The first time DSC tries to install xADDomain, it runs Install-ADDSForrest (or Install-ADDSDomain but I haven't tried that one) appropriately.

If DSC comes back again to run this resource while the domain is still starting up (which happens in the Azure DSC extension), the Get method (which is run by the Test method) will catch the resulting ADServerDownException error and then return nothing.
Th

[2016-03-08 00:12] PlagueHO opened #74 "xADDomain: Add Exclude DNS parameter"
I know this parameter was just removed, but I'm just querying why? @iainbrighton - I've tried to track back through the issues list and PR's but can't figure out if this was removed because it didn't work properly or for another reason. I didn't see anything specific about it in the readme.md.

I have a need to be able to exclude DNS installation for child domains where the child DC's don't need a

[2016-03-08 09:31] iainbrighton commented on #73
@kwirkykat I don't know how we fix this, but a timeout is not the right solution. In theory, the LCM should not be restarting/continuing with the configuration until after AD is installed/initialised.

I presume this is specific to the Azure DSC service/extension starting before the domain is actually up-and-running, invoking the LCM sooner than it would start naturally? Perhaps @HemantMahawar or

[2016-03-08 09:39] iainbrighton commented on #74
@PlagueHO In short it was removed temporarily whilst we discussed the ins and outs over in #38.

[2016-03-08 10:03] PlagueHO commented on #74
Ah! I missed that that. Thanks for the into - I'll close this one. No point cluttering things up.

[2016-03-08 10:03] #74 closed

[2016-03-08 20:49] TravisEz13 commented on #38
@iainbrighton @PlagueHO Do you have any comments on the above design proposal?

[2016-03-08 21:31] PlagueHO commented on #38
I'm thinking the "choose a default" would "do nothing" as well and would need to detect the current state of the DNS and promote the DC accordingly.

Also, as this is an optional parameter, I would think that the if the parameter was not provided in the Config it would default to "Present". That way existing configs will still work just fine and install the DNS server as expected.

But it all look

[2016-03-08 21:46] HemantMahawar commented on #38
@TravisEz13 @PlagueHO  @iainbrighton  Is there a reason to make the DNS property on this resource a tri-state when the default in underlying cmdlets is $true? - https://technet.microsoft.com/en-us/library/hh974720.aspx. cc .. @grayzu @nanalakshmanan

[2016-03-09 02:01] TravisEz13 commented on #38
@HemantMahawar There should be a state that you do not what to change this, if it is an explicit try state, on a tri-state via a nullable parameter with two explicit value.  There are cases, where you do not explicitly care about the state of this option and should be able to not affect it.  I think it is clearer to have a tri-state validate set, but it could also be model this way, which is techn

[2016-03-09 02:07] TravisEz13 commented on #38
@PlagueHO I agree not specifying the parameter would be the equivalent of 'NoChange", but I believe this should be an option.  I've gotten feedback from people that it is confusing when `$null` means something explicit that cannot be specified any other way.

[2016-03-09 02:41] PlagueHO commented on #38
@TravisEz13  - I think not specifying the EnsureDNS parameter in a config should be the same as setting it to "Present", because most configs are not going to specify this parameter and you want them to keep on working as expected.

E.g.
[code]

[2016-03-09 03:19] PlagueHO opened #75 "xADDomain and xADDomainController: Ability to enable/disable Global Catalog"
Currently all DC's promoted using xADDomain and xADDomainController are set as GC's.

This is fine for the first DC on in a domain (or site), but usually undesirable for additional DC's added to a domain (usually only one GC per site is recommended).

Could we add a parameter to disable GC when promoting a DC? If the DC is already promoted then this switch would need to disable GC on the DC by cal

[2016-03-09 18:23] TravisEz13 commented on #38
@PlagueHO I think the default depends on the most common use case.  Do you think we need the no change option, or can it be eliminated?

[2016-03-10 01:05] PlagueHO commented on #38
@TravisEz13 - the most common use case would be to always install DNS with AD, so that is presumably how most people using the resource have got it set currently. @iainbrighton ?

Ideally the EnsureDNS parameter would only be used in a config when you specifically don't want DNS on an DC or it has already been promoted with DNS and you now want to get rid of it for what ever reason.

I don't actua

[2016-03-10 10:22] josch710 opened #76 "Add possibility to install secondary DC in different AD Site"
Please add optional parameter to install secondary DC into a specific AD Site

[2016-03-10 11:35] iainbrighton commented on #38
@PlagueHO @TravisEz13 @HemantMahawar My concern is that you can (and probably should) use the WindowsFeature resource if you don't want DNS installed. You could quite easily create a configuration that keeps installing/uninstalling the role as two resources could now implement the same functionality!

__In hind sight, it would probably have been better if the xADDomain had never installed the DNS

[2016-03-10 21:03] TravisEz13 commented on #73
In a reboot LCM will restart almost immediately after a reboot.  Some way we need to know what to wait on.  Depending on the machine it can take some time for the directory to actually become available on the machine.  We need some resource to tell us how to wait.

[2016-03-10 21:05] PlagueHO commented on #38
@iainbrighton - I understand now (a bit of a doh moment).

So this option is essentially a "I want to manage DNS using WindowsFeature".

This option is definitely required.

In this case I think the table should be:
[code]

That way any existing configs won't break.

[2016-03-11 02:17] kilasuit commented on #73
I'm getting this in an on-prem machine using Server 2016 TP4 - In this instance LCM seems to not be kicking off immediately after the reboot or immediately erroring out with the Error as mentioned above.

However if left until the LCM does its consistency check it seems to just kick off again with no issue and the configuration completes as expected.

I believe that this may be an issue to Server

[2016-03-11 05:01] PlagueHO commented on #73
I'm getting some long delays (5+ minutes) promoting Windows Server 2016 TP4 to a DC using xADDomain. It does eventually get there though.

I have not seen this error though:
[ERROR] Verification of prerequisites for Domain Controller promotion failed. The specified argument 'DataBasePath' was not recognized.

[2016-03-11 12:13] kilasuit commented on #73
The issue doesn't occur on a 2012R2 VM with WMF5 so I think it is limited to Server 2016 TP4

[2016-03-11 15:56] iainbrighton commented on #73
@kwirkykat @kilasuit I've tested this today on both 2012 R2 and 2016 TP4. There is no issue with 2012 R2 with WMF4 and event log is clear.

2016 TP4 is another issue entirely. As @PlagueHO mentioned, it does seem to take a lot, lot longer to promote to a DC on TP4. This might be causing the issue? Here are the DesiredStateConfiguration errors logged in the Event Viewer:

[code]
[code]
[code]
[code

[2016-03-11 15:57] iainbrighton commented on #76
@josch710 This will presumably need to go into the xADDomainController resource?

[2016-03-11 16:13] josch710 commented on #76
@iainbrighton Yes - would say so...

[2016-03-11 22:33] derekgroh opened #77 "README.md contains broken link"
`
Please check out common DSC Resource [contributing guidelines](https://github.com/PowerShell/xDscResources/blob/master/CONTRIBUTING.md).
`
Should be:
`
Please check out common DSC Resource [contributing guidelines](https://github.com/PowerShell/DscResources/blob/master/CONTRIBUTING.md).
`

[2016-03-14 13:57] kev111 opened #78 "xADGroup Get-TargetResource doesn't use the Credential parameter for all AD calls"
In xActiveDirectory/DSCResources/MSFT_xADGroup/MSFT_xADGroup.psm1, some of the AD calls such as the Get-ADGroupMember on line 96 do not use the Credential parameter.  This causes, for example, Test-TargetResource to fail when the script running it is being run as Local System.

The error is something like this:

 [Invoke-DscResource], CimException + FullyQualifiedErrorId : ActiveDirectoryServer:0,

[2016-03-14 17:03] iainbrighton commented on #78
@kev111 Good catch! I've submitted a PR for this that includes additional test coverage :smiley:

[2016-03-15 01:15] TravisEz13 commented on #73
@iainbrighton I don't think you have to query.  Just create a list of errors which you retry for and the rest you abort.  I don't think we will find a reliable way to find if the DC promotion is in progress... only if it is complete.

[2016-03-15 06:08] HemantMahawar commented on #73
@iainbrighton @kwirkykat @PlagueHO @TravisEz13 I have seen this issue on W2K16 TP4 bits as well. I had started making some change to the resource, but never finished the work. My thought process was as follows:
- During the Set-TargetResource, after the DSC promo command was succeeded  and before MachineReboot is set, create a file on the disk (name TBD)
- In the Get-TargetResource (which is calle

[2016-03-15 21:58] TravisEz13 commented on #38
@dovreshef I have twitter contact information in my profile.  could you contact me?  I'd like to understand more about your scenario.

[2016-03-16 05:04] #77 closed

[2016-03-16 05:13] #78 closed

[2016-03-24 21:39] #71 closed

[2016-04-06 07:56] paulieguk opened #83 "DomainName Missing when using CreateADPDC.ps1 with ARM template"
I am working on quite an urgent project and I am trying to promote a Windows VM to a domain controller in a new domain, using the PowerShell DSC extension in the RM templates.  I am using the CreateADPDC.ps1 solution unmodified, with my own template.  When I run the deployment:
1)The package get downloaded from my external blob storage
2) Installs all the modules
3) when it goes to run it, it erro

[2016-04-06 09:39] iainbrighton commented on #83
@paulieguk Do you have a DomainName, RetryCount and RetryIntervalSec properties set? Is the problem here?
[code]
Should this be:
[code]

[2016-04-06 10:52] paulieguk commented on #83
Iain,

Thank you for your reply.  Those properties for interval count and Intervalsec are in the PS1 file, of course Domain is a parameter.  I am testing those changes (takes about 25mins).  But the file is unmodified from the original and this section happens quite late in the process and not of the preceding steps (e.g. create the disk have happened).  Fingers crossed.

Thank you,
Paul

From: Ia

[2016-04-06 12:22] iainbrighton commented on #83
It will attempt to compile that configuration into a .mof file. If there's a problem it'll moan before you even start to apply it!

[2016-04-07 09:49] PlagueHO opened #84 "Add xProvisionODJ Resource"
Create a new resource for provisioning a computer in AD for ODJ. The ODJ file created can then be consumed by the xOfflineDomainJoin resource I've just [submitted to xComputerManagement](https://github.com/PowerShell/xComputerManagement/pull/27).

The main purpose of this is to allow automated provisioning of Nano Server via DSC, although it will work for other any machine.

DJOIN will be used to

[2016-04-08 11:16] iainbrighton commented on #84
@PlagueHO There are a load of switches on DJOIN.EXE! Do you know what happens if you specify `/MACHINEOU <OU Name>` and `/REUSE`? Here's the description of the switches:

[code]
It looks like we might need to check whether the computer account exists before we can determine whether to use the `/REUSE` switch or not. What's your experience?

[2016-04-08 11:17] iainbrighton commented on #83
@paulieguk How did you get on?

[2016-04-08 12:58] paulieguk commented on #83
Hi Iain,

You help got me on the right track.  The main problem was I trusted the file too much, and there were a number of typos.  So the Node.$domainname you highlighted plus in addition $domaincreds was not used consistenantly, sometimes it was $domaincred  (no 's' on the end).

Thank you very much for you assistance.

Regards,

Paul

Paul Gregory
Head of Microsoft Infrastructure

QA - transfor

[2016-04-08 17:06] iainbrighton commented on #53
@TravisEz13 I think this can now be closed?

[2016-04-08 17:07] iainbrighton commented on #47
@SimonWahlin Can this now be closed?

[2016-04-08 17:23] SimonWahlin commented on #47
Yes, I consider this solvef

[2016-04-08 17:23] #47 closed

[2016-04-08 19:30] iainbrighton commented on #83
@paulieguk Cool - where is the `CreateADPDC.ps1` file as that should be updated? Are you happy to close this issue out?

[2016-04-08 22:40] PlagueHO commented on #84
@iainbrighton - you're right.

I've had to use the /REUSE parameter a couple of times and it resets the secure channel password of the computer account when you use it. So it's not something I like to use unless necessary - especially on Nano Server because neither ```Test-ComputerSecureChannel -Repair```, ```NLTEST /SC_RESET``` or ```netdom``` are available - so no way to repair a broken secure c

[2016-04-09 00:04] PlagueHO commented on #84
Here's the Schema I'd propose using for this:
[code]

[2016-04-11 09:31] iainbrighton commented on #84
@PlagueHO I best finish the xADComputer resource then!

If we don't implement the /REUSE switch we'll be OK. We only invoke the Set-TargetResource if the computer account is not present.

However, I'm still trying to wrap my head around how we make the ODJ request idempotent if we implement the /REUSE switch. We cannot use the presence of the computer account indicating that we need to invoke the

[2016-04-11 10:51] PlagueHO commented on #84
@iainbrighton - Cool. So:

 - I'll not implement the /REUSE flag.
 - I'll use the existence of the account in AD to determine the outcome of Test-TargetResource.

We definitely can't use the existence of the file either because in many situations you'd want to write the DJOIN to a share on another machine (accessible to machines outside the domain) and last thing you want is a transient network fa

[2016-04-11 20:07] iainbrighton commented on #84
@PlagueHO So are you going to submit a PR for this? If so, thanks - saves me job :+1:

[2016-04-11 20:17] iainbrighton commented on #69
@PlagueHO @GoateePFE Here is what I have so far. Is there anything else you think needs to be implemented?:
[code]
[code]

[2016-04-11 20:38] gmatusko commented on #69
Iain,

Configuring delegation would be helpful as well but not sure how difficult that would be to implement.  I see you are covering SPN which is great but the ability to add an SPN to the delegation tab would be very helpful in our environments.  I wouldn't hold up the release for this but something to think about for the future.

Greg

________________________________
From: Iain Brighton <notif

[2016-04-11 21:42] PlagueHO commented on #84
For xProvisionODJ? Absolutely - it's already nearly finished. Just working on unit tests.

[2016-04-11 22:07] PlagueHO commented on #69
@iainbrighton: Looks pretty good to me. Nice one!
@gmatusko: Implementing the delegation would be nice but from a purely technical standpoint I reckon we'd probably need to implement delegation in it's own resource - so we could do this:
[code]
My 2c :smile:

[2016-04-11 22:15] PlagueHO commented on #84
@iainbrighton - I bet as soon as this is released WS2016 TP5 will come out and a non ODJ method of joining a Nano Server to a domain will be included :smile:

[2016-04-12 19:24] TravisEz13 commented on #38
@dovreshef Can you describe the scenario you want this for?  I don't think the direction in this issue will work for us?  I need to understand what you are trying to do.  The most likely  case we can think of is that you want to create a child domain (or a second controller in an existing domain) without DNS server.

[2016-04-12 19:45] dovreshef commented on #38
@TravisEz13 Sorry for being out of touch.
What we were trying to do is add active directory to an application that runs primarily on Linux and its DNS is managed by BIND.
We have gone back to using PowerShell scripts (called from Chef) to manage it for now, so I'm ok with closing this.

[2016-04-12 20:31] TravisEz13 commented on #38
@dovreshef My suggestion, close this issue and reopen one saying "Add the ability to create forest using existing BIND DNS server"  Is that closer to your scenario?

[2016-04-12 20:50] iainbrighton commented on #38
@TravisEz13 Does @PlagueHO still need this functionality (or close to it)?

[2016-04-12 21:12] PlagueHO commented on #38
@PlagueHO, lets close it I think. The new "Add the ability to create forest using existing BIND DNS server" would cover my scenarios too:
"Add the ability to create forest using existing Microsoft DNS server"

[2016-04-13 00:43] TravisEz13 opened #87 "ADDomainController: Add the ability to create forest using existing Microsoft and/or BIND DNS server"

[2016-04-13 00:44] TravisEz13 commented on #38
I filed issue #87.  Closing this issue

[2016-04-13 00:44] #38 closed

[2016-04-13 04:36] dovreshef commented on #38
@TravisEz13 Thanks!

[2016-04-16 01:57] TravisEz13 commented on #83
@iainbrighton there are many copies of CreateADPDC.ps1.

1. https://github.com/Azure/azure-quickstart-templates/blob/master/sharepoint-three-vm/dsc/CreateADPDC.ps1.zip
2. https://github.com/Azure/azure-quickstart-templates/blob/master/sharepoint-server-farm-ha/dscv2/CreateADPDC.ps1.zip
3. https://github.com/Azure/azure-quickstart-templates/blob/875d139c16c9c023dce519e6dd48c707e3473346/sql-server-2

[2016-04-16 21:52] TravisEz13 commented on #53
@simongdavies Please re-open if this still occurs with the lastest module.

[2016-04-16 21:52] #53 closed

[2016-04-18 08:04] iainbrighton commented on #83
@TravisEz13 Why are they all .zip files? Gonna be a bit difficult to send a PR for them?

[2016-04-18 08:18] iainbrighton commented on #84
@PlagueHO Here's my current implementation of xADComputer: https://github.com/iainbrighton/xactivedirectory/tree/Issue69

[2016-04-18 22:57] TravisEz13 commented on #83
@iainbrighton First, another team did this.  because the Azure DSC extension needs a zip file built a certain way.  So they just put it on GitHub.  My suggestion, don't fix their zip.  In some repo, build CreateADPDC.ps1.zip using AppVeyor and file an issue with them to pick up the zip from AppVeyor instead of GitHub.

[2016-04-25 11:23] gmatusko opened #90 "Issue with xADGroup when using MembersToInclude"
We've been using the xADGroup resource for some time without an issue.  I saw with the latest version 2.10 that we could use the resource to add/remove members to the group as well.  The issue is when we try to add members to the group we get an error saying the group already exists.  Looking into the logs, the test resource successfully shows there are missing members in the group which then move

[2016-04-25 15:42] iainbrighton commented on #90
@gmatusko It looks like the Test method finds the group and determines that the membership is incorrect. Looking at the verbose output, it looks like the Set method doesn't find the group and tries to recreate it.

However, I don't think this is the issue. I'm guessing `rd-stan-01` is a computer account? If this is the case you need to specify `rd-stan-01$`. Can you confirm this works?

[2016-04-25 18:25] gmatusko commented on #90
@iainbrighton you are correct.  I'm trying to add computer objects to a group and forgot the samAccountName includes the $.  I've modified my array to include the computer name with a $ and all seems to be working as it should.  Thanks for helping me out on this one.

[2016-04-25 18:25] #90 closed

[2016-04-25 20:55] iainbrighton commented on #90
No problem! It is reporting the wrong error though as it says the group doesn't exist, not the AD member doesn't exist. I'll fix this to make it clearer in future :)

[2016-04-26 18:26] Duffney commented on #52
This issue still isn't fixed, I ran into when resolving a different issue relating to the xActiveDirectory module. It is present in version Releasing version 2.10.0.0 and hasn't been updated on GitHub as of yet. Let's see if I can figure out this pull request thing. :)
![capture](https://cloud.githubusercontent.com/assets/8146181/14829710/70de4462-0bb2-11e6-887e-596ff23554ca.PNG)

[2016-04-26 18:56] iainbrighton commented on #52
That's the attitude! It's on my list but was waiting to Mr Greene to resolve his merge conflicts.

I see no reason not to proceed as other changes have since been pushed. If you need any help, just ask!

[2016-04-27 04:13] TravisEz13 opened #91 "PR # 68 should be ported to the current code base and brought to current contribution standards"
https://github.com/PowerShell/xActiveDirectory/pull/68

[2016-04-27 04:15] TravisEz13 commented on #52
@iainbrighton I've closed the 2 PRs and submitted an issue asking to port the smaller of the two.  I'm working with Mr Greene to resubmit the other request.

[2016-04-27 17:49] kwirkykat commented on #73
@HemantMahawar That sounds good to me. @iainbrighton @PlagueHO @TravisEz13 Thoughts?

[2016-04-27 21:40] PlagueHO commented on #73
@kwirkykat, @HemantMahawar - sounds good, although looping infinitely might not be a good idea - I prefer a "long number" to be safe.

[2016-05-04 21:20] PlagueHO commented on #69
Soooo @iainbrighton, how is xADComputer coming along :smile: Now that TP5 is out and unfortunately there is still no was of domain joining a Nano Server, we'll need to implement ODJ blob support in xADComputer. So once you've got xADComputer in place I'll then go about adding the ODJ support to it. No hassle though - I've got a more than enough to keep my busy at the moment :+1:

[2016-05-06 08:38] iainbrighton commented on #69
Weeeeeeeeeeell @PlagueHO, I've nearly finished the test coverage! I still need to update the readme.

I've pushed my latest commits [upstream](https://github.com/iainbrighton/xActiveDirectory/tree/Issue69/DSCResources/MSFT_xADComputer) if you want to review before I submit a PR?

[2016-05-07 10:45] oliveirt commented on #61
I faced the same issue after a certificate authority was installed in our development environment. Domain Controllers will automatically enrol a Domain Controller certificate when a Microsoft CA is present. I was fortunate enough to find the following post:

http://stackoverflow.com/questions/2538064/active-directory-services-principalcontext-what-is-the-dn-of-a-container-o

This describes how Con

[2016-05-08 01:08] PlagueHO commented on #69
@iainbrighton - cool! Thank you sir! I'm checking through your branch now and will let you know if I see anything untoward. It will also give me an opportunity to plan what would need to be added to support the ODJ. Cheers!

[2016-05-08 02:00] PlagueHO commented on #69
Just a couple of things (and I am aware that they are extremely nitpicky :smile: ) :
1. Property spelled wrong in comment (https://github.com/iainbrighton/xActiveDirectory/blob/Issue69/DSCResources/MSFT_xADComputer/MSFT_xADComputer.psm1#L92).
2. These lines are > 100 chars - could we split them?
https://github.com/iainbrighton/xActiveDirectory/blob/Issue69/DSCResources/MSFT_xADComputer/MSFT_xADCom

[2016-05-09 20:55] iainbrighton commented on #69
@PlagueHO No problem with being nitpicky - at least someone picked up on my copy'n'paste errors! Thanks for the feedback - I think I've addressed it all :smile:

Let me know if there's anything else needed. I'm not sure I've covered all the test cases yet, e.g. ServicePrincipalNames..

Once this is done it'll be on all the required updates to xADDomainController...

PS - Who's idea is 100 chars?!

[2016-05-09 21:26] PlagueHO commented on #69
@iainbrighton - I know what you mean about the 100 chars. Looking at the blame it was @KarolKaczmarek :smile: I understand the reasoning though - long lines can be a PITA for reviewers and just looking at code and I guess there needed to be a cut off somewhere.

I'll take a better look at your unit test coverage and see if I can suggest any tests to add (especially around the SPN). Thanks again fo

[2016-05-18 22:07] GoateePFE commented on #67
I ran into this with a customer today.  No fix yet?

[2016-05-19 06:07] kvaes opened #94 "Packages of releases 2.10.0 & 2.11.0 are missing?"
Dear Sir/Madam,

Since yesterday, the package with version 2.10.0 disappeared from the repository...

https://powershellgallery.azureedge.net/packages/xactivedirectory.2.10.0.nupkg

I noticed that there was a newer version too, so I tried that one... And no luck either.

https://powershellgallery.azureedge.net/packages/xactivedirectory.2.11.0.nupkg

When trying the previous version, this  still wo

[2016-05-19 06:48] PlagueHO commented on #94
Hi @kvaes, I tried the links you provided and they all seem to be available (downloads worked). Are you able re-check?

Thanks

[2016-05-19 06:52] kvaes commented on #94
Not for me... Could it be that the packages on the "edge" are using CDN underneath and that I'm experiencing an issue with a certain node?

[2016-05-19 07:05] PlagueHO commented on #94
It is certainly possible it is a CDN issue.

Are you able to use ```Install-Module xActiveDirectory -RequiredVersion 2.11.0.0``` or are you using WMF 4.0?

[2016-05-19 07:18] PlagueHO commented on #67
@GoateePFE - it looks like a fix was made, a PR issued but was closed without being merged because their were merge conflicts weren't fixed.

I'll fix it and issue a new PR.

[2016-05-19 07:31] PlagueHO commented on #67
I have reissued a PR to fix this:
https://github.com/PowerShell/xActiveDirectory/pull/95

[2016-05-19 07:55] kvaes commented on #94
I'm using Azure Automation... Where we do a lot of automated deployments. When setting up an AA (azure automation) account, we also automaticlly import the modules. A code snipplet ;

        New-AzureRmAutomationModule `
            -ResourceGroupName $ResourceGroupName `
            -AutomationAccountName $AutomationAccountName `
            -Name $ModuleName `
            -ContentLink $ActualUr

[2016-05-19 08:04] PlagueHO commented on #94
I'm located in New Zealand - a long way away - and so I assume I'm probably using West US or Southeastern Australia CDN's. Are you able to try out any of the other Resources that were released today? E.g. xNetworking v2.9.0.0?

This URL:
https://powershellgallery.azureedge.net/packages/xNetworking.2.9.0.0.nupkg
Does not work for me, but I would expect it to.

How to you retrieve the $ActualUrl fro

[2016-05-19 08:06] PlagueHO commented on #94
I just noticed that these are all stored as Azure blobs, so it very well take some time for replication, although I would have expected xActiveDirectory v2.10.0.0 to be available by now as that was published some time back.

[2016-05-19 08:25] PlagueHO commented on #69
@iainbrighton - sorry I still haven't got around to reviewing this yet! :frowning:

[2016-05-19 08:26] kvaes commented on #94
The full code we use (including the lookup)

[code]

[2016-05-19 08:44] PlagueHO commented on #94
Oh I see!

The xNetworking resource is here:
https://powershellgallery.azureedge.net/packages/xnetworking.2.9.0.nupkg
I can download it just fine - can you check it from your side?

I just found out the blob name is case sensitive. Could you possibly try downloading the file using a US proxy service to see if it is indeed a delay with the CDN's?

[2016-05-19 09:06] kvaes commented on #94
It appears to be working again... A glitch in the system I guess?

[2016-05-19 09:44] PlagueHO commented on #94
My guess would be a delay in the blobs propagating between data centers.

Are we able to close this one?

[2016-05-19 11:02] kvaes commented on #94
Issue closed

[2016-05-19 11:02] #94 closed

[2016-05-19 12:05] iainbrighton commented on #67
@PlagueHO @GoateePFE @mgreenegit This is inbound with the xADComputer PR..

[2016-05-19 16:37] iainbrighton commented on #61
@oliveirt @DFineNormal I can accept the 'Negotiate' context if that works? It doesn't mean explicitly dropping the security to 'Simple'.

[2016-05-31 15:49] iainbrighton commented on #76
@josch710 Is the assumption with the `xADDomainController` resource, that the target AD site already exists? If not, I don't think creating sites should be the responsibility of the `xADDomainController` resource and we would need to log an issue to get a `xADSite` resource put together.

[2016-06-01 07:56] josch710 commented on #76
@iainbrighton : Yes - the target AD Site should already exist - so it will install the Domain Controller as a secondary DC into an already existing Domain structure

[2016-06-07 19:52] #67 closed

[2016-06-07 19:52] #69 closed

[2016-06-09 06:19] PlagueHO commented on #84
I'm working on this one now.

[2016-06-10 00:27] davnport opened #99 "ADGroup: generates an error that a group already exists when run from a different domain"
When the xADGroup resource is executed from our TEST domain to create AD groups in the PRODUCTION domain a group is created on the first execution. Subsequent executions generate an error that the AD group already exists.

When the xADGroup resource is executed from our PRODUCTION domain to create AD groups in the PRODUCTION domain a group is created on the first execution. Subsequent executions d

[2016-06-16 13:02] slapointe commented on #73
We also encounter this issue extensively running 2012R2 with WMF & DSC Extension on Azure.

On the second reboot, it find the domain and I get:
VERBOSE: [2016-06-15T19:30:41] [VERBOSE] [SLAPPDEVDC0]: LCM:  [ Start  Resource ]
[[cADDomain]FirstDS::[cPrimaryDomainController]primaryDc]
VERBOSE: [2016-06-15T19:30:41] [VERBOSE] [SLAPPDEVDC0]: LCM:  [ Start  Test     ]
[[cADDomain]FirstDS::[cPrimaryDoma

[2016-06-28 15:50] aig79 commented on #55
I am new to DSC, and do not know much about Active Directory internals. I do know the FSMO Roles are important and it does not matter what server holds them, also there is clean up work to do when a domain control has to be rebuilt, and was not demoted; remove DNS records, seizing roles, I have been thinking about building configurations for my current environment. Now I am also thinking about mig

[2016-07-02 00:24] PlagueHO opened #104 "Move Assert-*.ps1 files into Tests\Integration Folder"
These files appear to be _manually run_ integration tests. Therefore they belong in the tests\Integration folder.

Is there any objection or reason they can't be moved?

[2016-07-02 05:15] #84 closed

[2016-07-05 09:58] Sjark commented on #61
What is the status on this?

[2016-07-05 10:36] iainbrighton commented on #61
@Sjark There is https://github.com/PowerShell/xActiveDirectory/pull/97 in the works. I was just waiting for https://github.com/PowerShell/xActiveDirectory/pull/100 to be merged as that fixed the PSSA v1.6.0 errors that were flagged in the build process.

[2016-07-08 14:56] #61 closed

[2016-07-08 20:20] stephenbonar opened #106 "PsDscRunAsCredential is not passed to Set-ADGroup in xADGroup"
Trying to manage an xADGroup resource using a PsDscRunAsCredential fails on certain operations. The creation of a group works, but when setting the properties of an existing group, we get "Set-ADGroup : Insufficient access rights to perform the operation". Debugging reveals that this occurs at the call to Set-ADGroup on line 387 of the MSFT_xADGroup.psm1 module. In inspecting the code, it appears

[2016-07-08 20:57] iainbrighton commented on #106
@stephenbonar That's correct. When you use PsDscRunAsCredential, the LCM is responsible for elevating the process the resource is executed in, to run under the specified credential (and the resource knows nothing/never sees this credential).

Have you tried swapping the `PsDscRunAsCredential` to `Credential` instead? This will call the *-ADGroup cmdlets with the credential parameter.

[2016-07-08 21:01] iainbrighton commented on #106
@stephentoub Having said that, I think you're correct in that fact that, if you do use the `Credential` parameter, it doesn't get passed to the `Set-ADGroup` cmdlet. That's a problem.

[2016-07-11 20:40] stephenbonar commented on #106
Yeah, I wrote PsDscRunAsCredential out of habit but I really meant Credential. I went back and looked at my DSC script and I was correctly referencing Credential there.

[2016-07-12 09:23] iainbrighton commented on #106
@stephenbonar You might have already seen, but I've submitted PR https://github.com/PowerShell/xActiveDirectory/pull/107 that should fix this. Would you mind reviewing it and seeing whether it fixes the issue?

[2016-07-12 09:25] iainbrighton commented on #99
@davnport I'm not entirely sure, but I think PR https://github.com/PowerShell/xActiveDirectory/pull/107 might resolve this issue for you. Would you mind testing and letting me know?

[2016-07-12 09:30] iainbrighton commented on #66
@KarolKaczmarek @TravisEz13 Can this now be closed out? I'm sure @PlagueHO has "fixed" all the PSSA errors?

[2016-07-13 00:09] davnport commented on #99
@iainbrighton PR #107 corrected the issue I reported. I encountered a new issue while testing:

I setup the scenario from the initial report and generated the expected error. I replaced "C:\Program Files\WindowsPowerShell\Modules\xActiveDirectory\2.11.0.0\xActiveDirectory.psd1" with the code in the pull request. An error was not generated for groups that already exist. Awesome; thank you.

When a

[2016-07-13 19:09] iainbrighton commented on #99
@davnport Do you mean the following?:
* You don't specify the `DomainController` parameter
* The AD group may be created on one server, for example `SERVERA`
* The AD group updates may then be invocate on another server, for example `SERVERB`
* If the AD group hasn't replicated from SERVERA to SERVERB and therefore, the update fails

I don't think there's any way to determine on what server an upd

[2016-07-15 15:53] GoateePFE opened #108 "Add IFM option to xADDomainController install"
Need an option for Install From Media for DC deployments with large NTDS.DIT files.

[2016-07-25 23:36] #66 closed

[2016-07-27 20:19] gordonbondon commented on #76
This is what we need in our environment. I'm currently working on adding Site support to `xADDomainController`. I might submit a PR in a while.

[2016-07-29 10:31] gordonbondon commented on #76
While working on this feature I've noticed that I need to add handling on whether  domain was not found or domain controller was not found. Because [this](https://github.com/PowerShell/xActiveDirectory/blob/dev/DSCResources/MSFT_xADDomainController/MSFT_xADDomainController.psm1#L56) catch block catches both errors. Should i add this in the same brunch with Site property or in separate one?

[2016-08-02 21:36] #106 closed

[2016-08-05 12:44] danSpotter opened #110 "get-help about_activedirectory_filter incorrect attribute"
The help references email as an AD attribute multiple times. It should be mail

[2016-08-05 14:08] gordonbondon commented on #110
Yes, reference is wrong but about_activedirectory_filter help is not a part of DSCResource. It is a part of ActiveDirectory module help. You can probably submit feedback here https://technet.microsoft.com/en-us/library/hh531527(v=ws.10).aspx

[2016-08-05 14:21] danSpotter commented on #110
my apologies, got some bad info on where to submit issues on powershell.

[2016-08-09 03:09] markreno commented on #73
Wondering whether this is being addressed? Testing with TP5 repros for me 100%.

[2016-08-14 20:21] TravisEz13 commented on #73
@markreno, what version of the resource where you using?

[2016-08-14 23:27] markreno commented on #73
@TravisEz13 Version is 2.12.0.0

[2016-08-18 18:48] kwirkykat commented on #91
The issue #68 was fixing was fixed in #96

[2016-08-18 18:48] #91 closed

[2016-08-18 18:51] kwirkykat commented on #83
Closing this as it is external to xActiveDirectory

[2016-08-18 18:51] #83 closed

[2016-08-18 18:53] kwirkykat commented on #104
Yes you can move them to tests as long as they aren't used in the resources in which case these files would be moved into DSCResources. Either way they shouldn't be in the root folder as they are now.

[2016-08-18 18:55] #110 closed

[2016-08-19 00:42] TravisEz13 commented on #73
@markreno This currently does not look like it has been addressed since 2.12

[2016-08-19 01:47] kilasuit commented on #73
@markreno - 2016 TP5 is still Preview software though and I expect that the issue we see on there will be fixed at RTM unless it is a change in how the cmdlet that does the underlying domain install is completed (which could easily be the case)

@slapointe - Regarding the Azure DSC Extension it could as easily be an issue with that as I have no issues at all with this on an on-premises 2012R2 Hype

[2016-08-19 07:40] iainbrighton commented on #73
I'm pretty sure this is addressed in PR #73. That was waiting for the PSSA errors to be resolved, which @PlagueHO has since done?

[2016-08-19 08:05] kilasuit commented on #73
Not sure what PR your alluding to @iainbrighton as the link came out as for this issue

[2016-08-19 08:07] iainbrighton commented on #73
DOH! Try #101 instead :)

[2016-09-02 20:58] RobBiddle opened #113 "xADDomainController needs provision for DNS Delegation"
xADDomain works as intended when creating a child domain and supply credentials for the parent domain via the DnsDelegationCredential parameter; xADDomainController does not so the DNS Delegation for the additional Domain Controller is never created in the parent domain.  xDnsServer doesn't support using NS type, so it can't be added that way via DSC either.  I'm sure the latter could be done via

[2016-09-22 00:13] #76 closed

[2016-09-24 16:46] Naboo2604 opened #115 "xADUser - POBox - attribute or value does not exist..."
I try to create a new user with the xADUser and a value in the PostOffice attribute - that gives me the following error:
`The specified directory service attribute or value does not exist`
`Parameter name: POBox`

Think there is a missing property mapping in MSFT_xADUser
original:
`@{ Parameter = 'POBox'; }`

but it should be:
`@{ Parameter = 'POBox'; ADProperty = 'postOfficeBox'}`

reference: [ht

[2016-09-25 20:52] rcarpenter79 opened #116 "Can't specify members for xADGroup when processed in a foreach loop"
The parameter validation [ValidateNotNullOrEmpty()] on Members, MembersToInclude, and MembersToExclude is preventing the easy use of this resource in a foreach loop in our DSC configuration.

I have  made changes that will allow null and zero length values to be passed to get, set, and test.
Could this change be included as an enhancement to xADGroup?

[2016-09-28 13:23] StefanSchoof commented on #73
If you set not a DataBasePath the error message could:  `Verification of prerequisites for Domain Controller promotion failed. The specified argument 'NewDomain' was not recognized.` (Just adding this, so that google finds this issue if people search the error)

[2016-10-06 16:03] bodunjo opened #118 "XAduser Service Account Access Denied!"
I got the following error mesaage trying to create a service account  in Azure VM. I ran powershell as an administrator and the credential that creates the account has permission to create account in AD.

    Directory: C:\Temp\TestScript

Mode                LastWriteTime         Length Name
----                -------------         ------ ----
-a----        10/6/2016   3:51 PM           2298 loc

[2016-10-12 11:05] petetakacs opened #119 "xADDomainController"
Deploying xADDomainController as a Azure template extension. I'm receiving the following error;
ssage: \\\"DSC Configuration 'CreateADBDC' completed with error(s). Following are the first few: Cannot bind argument to parameter 'SiteName' because it is an empty string.

In the readme.md it states that SiteName is optional which it isn't. I have adjusted the deployment script to.
		xADDomainControll

[2016-10-12 18:03] #119 closed

[2016-10-12 19:00] iainbrighton commented on #118
@bodunjo It looks like you don't have permissions to add the user to the domain:
[code]
Can you confirm that the __machine you're running the DSC configuration on is a domain controller__? If not, you'll need to specify the `DomainController` parameter.

[2016-10-12 19:27] bodunjo commented on #118
Hi,

I'm not running on the domain controller, I'm running from the SQL server, but looks like it's in sync with  the on-prem DC but not in real time. What parameter is it in xaduser that I need to pass to enter the DC name?

Sent from my iPhone

On 12 Oct 2016, at 20:00, Iain Brighton <notifications@github.com<mailto:notifications@github.com>> wrote:

@bodunjo<https://github.com/bodunjo> It looks

[2016-10-13 00:29] neil-white-iHerb opened #120 "After installing xActiveDirectory from PSGallery and attempting to use xADUser resource, error message appears"
The error message is:
The PowerShell DSC resource MSFT_xADUser from module <xActiveDirectory,2.13.0.0> does not exist at the PowerShell module path nor is it registered as a WMI DSC
resource.

I've looked in as many places as I can to try and resolve this issue on my own, including:

Removing the xActiveDirectory DSC resource and re-adding it from the PSGallery
Verified that the DSC resource is be

[2016-10-13 02:16] markreno commented on #73
Just tried on 2016 RTM - same failure.

[2016-10-13 08:04] iainbrighton commented on #120
@neil-white-iHerb What version of the module is deployed on the target node? If you open a PowerShell prompt on the machine and run `Get-DscResource -Module xActiveDirectory` what do you get?
[code]

[2016-10-13 08:09] iainbrighton commented on #118
@bodunjo If it's not running on a domain controller you'll need both the `DomainController` and `DomainAdministratorCredental` parameters. Something like this:
[code]

[2016-10-13 08:09] iainbrighton commented on #115
@Naboo2604 Oops! I'll get this fixed.

[2016-10-13 17:02] neil-white-iHerb commented on #120
The same output as you're showing on your screen there, oddly enough. I checked that as well as one of my first steps, which is why the whole issue sort of bewildered me:

![image](https://cloud.githubusercontent.com/assets/22802971/19358793/21bc5bda-912c-11e6-8698-5097c8788b54.png)

[2016-10-14 07:44] PlagueHO opened #121 "Create Integration Tests for Resources"
Because AppVeyor CI now supports reboots during the Install phase, it should be possible to add Integration tests for many of the resources in this Module.

See https://github.com/appveyor/ci/issues/204

[2016-10-14 09:22] iainbrighton commented on #121
When did this happen?! Assuming promoting to a DC is a supported operation, we (the Royal kind) should start thinking about a HQRM for AD.

[2016-10-14 10:36] PlagueHO commented on #121
@iainbrighton - I'm not sure - I only found out tonight (thanks @Indhukrishna).

I just implemented it for xADCSDeployment Integration tests (https://github.com/PowerShell/xAdcsDeployment/pull/19) so that AppVeyor.yml installs ADCS components and restarts the server, then tests execute. Seems to work fine.

Not sure whether or not it will manage if the LCM reboots the node though. I have a feeling

[2016-10-14 20:18] PlagueHO commented on #121
I have thought about this some more and this might still not be possible.

The problem is that AppVeyor must execute the text under a  local account context when it first starts. However, after a test runner machine is promoted to a DC the local account context will no longer exist (domain context only). So depending on how AppVeyor logs into the machine once it has rebooted after the promotion, t

[2016-10-18 00:03] kwirkykat commented on #120
@neil-white-iHerb Are you calling the resource 'MSFT_xADUser' in your configuration or 'xADUser'?

[2016-10-18 00:07] neil-white-iHerb commented on #120
I'm calling the xADUser resource

[2016-10-18 21:26] neil-white-iHerb commented on #120
Here's some example code (I'm using plain-text just for demonstration purposes):

configuration DomainConfig
{
    Import-DscResource -ModuleName "PSDesiredStateConfiguration","xHyper-V","xPSDesiredStateConfiguration","xActiveDirectory","xDnsServer","xDhcpServer"

    Node "RWDC01"
	{
		xADUser "contoso\ExampleUser"
		{
			UserName = "ExampleUser"
			Password = (New-Object System.Management.Automa

[2016-10-18 21:29] neil-white-iHerb commented on #120
[code]

[2016-10-18 21:41] iainbrighton commented on #120
@neil-white-iHerb Can you post output the from that configuration? If you are running on the DC itself, can you humour me and try removing the `DomainController` and `DomainName` parameters? I'll try and the equivalent tomorrow in our lab environment.. What OS are you running this configuration on?

[2016-10-18 21:44] iainbrighton commented on #121
@PlagueHO I guess we can, but try it?!

[2016-10-18 22:36] PlagueHO commented on #121
@iainbrighton - gets my vote. I'll try and spare some time this weekend to do a POC.

[2016-10-18 22:47] neil-white-iHerb commented on #120
I'm running it on a member server. Is that okay? This is actually on a test domain, but Ops controls the domain controller. So I can't run it on the domain controller unless I want a phone call from our IT department :-).

[2016-10-18 23:02] neil-white-iHerb commented on #120
Here is the output from the error record object (attached)

[DSCError.xml.txt](https://github.com/PowerShell/xActiveDirectory/files/537548/DSCError.xml.txt)

[2016-10-19 06:15] PlagueHO commented on #120
Hi @neil-white-iHerb - are you able to run this command and show the output?
[code]

Also, when you run ```Start-DSCConfiguration```, I notice you're asking for a credential - is this credential a Domain credential and does it also have access to the c:\Program Files\WindowsPowerShell\Modules folder on this node?

I'm making the assumption that this error occurs when the config is applied, not whe

[2016-10-19 16:44] neil-white-iHerb commented on #120
Thanks for the info @PlagueHO . I'm verifying that the targets have the DSC resources installed now,

[2016-10-19 17:54] neil-white-iHerb commented on #120
Yep. @PlagueHO   had it right. On the xHyper-V module that was working, I had forgotten I had installed the corresponding module on the Hyper-V server, so I assumed that all DSC resources (including xActiveDirectory) used a mechanism that exists in all WMF frameworks (4+). Feel a little dumb for missing something seemingly obvious. Thanks for your help guys.

[2016-10-19 17:54] #120 closed

[2016-10-19 18:35] PlagueHO commented on #120
@neil-white-iHerb - no worries! Done the same thing myself many times. Glad to help.

[2016-11-07 16:01] oradcliffe commented on #73
Yep, I am getting the same failure as well with 2016, redeploying with 2012R2 datacenter right now to see if that makes a difference.

[2016-11-07 21:15] oradcliffe commented on #27
I'm getting this issue when applying DSC to an Azure RM template, relevant DSC stuff is here:

`configuration CreateFirstDC
{
   param
   (
        [Parameter(Mandatory)]
        [String]$DomainName,

        [Parameter(Mandatory)]
        [System.Management.Automation.PSCredential]$Admincreds,

        [Int]$RetryCount=20,
        [Int]$RetryIntervalSec=30
    )

    Import-DscResource -ModuleNam

[2016-11-07 21:17] oradcliffe commented on #27
Additionally, do I even need to do a wait?  Could I skip using this module all together?  From the DSC event logs it looks like almost as soon as it realizes it needs a reboot for dcpromo, it does so, even without the wait for domain.  I am guessing if I was going to add a second or third machine to the domain I would need to wait for it?

[2016-11-07 21:54] oradcliffe opened #124 "WaitforADDomain: Get-Domain in WaitforADDomain"
$domain = Get-Domain -DomainName $DomainName -DomainUserCredential $DomainUserCredential

Should this be Get-ADDomain?

Get-ADDomain -Identity?

I am trying to figure out why deploying DSC configured AD with Azure template keeps failing on the wait for AD domain when it's there, but it says "MSFT_xWaitForADDomain  failed to execute Set-TargetResource functionality with error message: Domain NOT fo

[2016-11-07 22:20] iainbrighton commented on #73
@oradcliffe Just a word of warning - the `DomainAdministrator` property is only used to attempt to query for the domain - it is not the domain's 'Administrator' password. ___The existing local administrator password is used for the domain 'Administrator' password.___ Therefore, you'll need to use the whatever the local 'Administrator' password was for the  `xWaitForADDomain` domain admin credentia

[2016-11-07 22:23] oradcliffe commented on #73
Yep, and for simplicity's sake I am passing the same creds I use to set up the machine as those creds in 'xWaitForADDomain' so they should be good there.  I did update the timers and wait and I am still getting errors on the wait.

[2016-11-07 22:24] iainbrighton commented on #124
@oradcliffe As per #73 - can you ensure you're using the whatever the local 'Administrator' password was (before the domain promotion) for the `DomainUserCredential` in `xWaitForADDomain`.

[2016-11-07 22:26] iainbrighton commented on #124
@oradcliffe `Get-Domain` is an [internal function](https://github.com/PowerShell/xActiveDirectory/blob/dev/DSCResources/MSFT_xWaitForADDomain/MSFT_xWaitForADDomain.psm1#L149) used to query for the domain.

[2016-11-07 22:31] oradcliffe commented on #124
Oh thanks for that; I kind of thought that was the case but didn't see that.

I have the following in my template:

`"resources": [
        {
          "name": "Microsoft.Powershell.DSC",
          "type": "extensions",
          "location": "[resourceGroup().location]",
          "apiVersion": "2016-03-30",
          "dependsOn": [
            "[resourceId('Microsoft.Compute/virtualMachines', par

[2016-11-08 23:41] oradcliffe commented on #124
@iainbrighton Rather than using the `xWaitForADDomain` maybe I can just use a custom script section in DSC that checks for the domain and the rest depends on that?  Would there be any issues with that approach?

[2016-11-09 19:25] oradcliffe commented on #30
So I am having this issue as well, using `RebootNodeIfNeeded = $true` using `xWaitForADDomain`.  This is a domain controller that is joined to the domain, and I am passing the same credentials that are passed as local administrator.

[2016-11-09 20:56] oradcliffe commented on #124
@iainbrighton - I dug around a bit to see what `xWaitForADDomain` required and noticed that the domain credential was optional - after removing that it seems to have worked, but I'm going to nuke that resource group and try again to see.  Is there any reason to keep that parameter in there?

[2016-11-11 18:21] theJasonHelmick commented on #61
Any word if this is in a  release?  Running into the same issue -- currently using 2.14.0.0....thanks!!!

[2016-11-13 14:08] iainbrighton commented on #61
@theJasonHelmick This change was merged in 2.13.0.0? You'll need to set the `xADUser`'s `PasswordAuthentication` property to `Negotiate`.

[2016-11-13 14:12] iainbrighton commented on #124
@oradcliffe I'm not sure that you need the `xWaitForDomain` on a domain controller? The xADDomain (or xADDomainController) resource should wait until the domain is created/joined.

_There may well be an issue using the `xWaitForDomain` resource on a domain controller itself (I'm not sure anyone has tried that!)?_

[2016-11-13 14:13] theJasonHelmick commented on #61
Thank you!! Sorry for my misunderstanding!!!

_________________________________

Jason Helmick
Author/Evangelist | Pluralsight
www.pluralsight.com <http://www.pluralsight.com/>

[2016-11-13 15:41] oradcliffe commented on #124
Oh, OK, that makes life easier then.  I was just following some of the active directory quickstart templates and noticed that they were using `xADDomainController` to wait for the domain on domain controllers prior to the `xPendingReboot` module.

[2016-11-13 15:43] oradcliffe commented on #124
Do you happen to know if there's a problem passing credentials into DSC if the password is stored in a key vault and referenced in the parameters JSON file?  Or does that require some access to the key vault other than just whoever is running the template's @outlook or whatever account?

[2016-11-13 20:40] oradcliffe commented on #40
Commenting here as I am also curious if this will be supported.  Otherwise, I guess using a custom script block in the DSC template will do?

[2016-11-16 19:14] invisibleaxm commented on #73
Hi there, I am getting the same error on my end. Do you all know of a work-around that we can use in the mean time?

[2016-11-16 23:42] ripclawffb commented on #119
I have the same issue. This should either be fixed or the documentation needs to be updated.

[2016-11-17 08:26] StefanSchoof commented on #73
You can use the Module from the PR #101 on https://github.com/slapointe/xActiveDirectory/tree/Issue73. I use this for some time now and it works for me.

[2016-11-17 11:00] invisibleaxm commented on #73
@stefanschoof thanks a lot, I did try it and it is working for me as well, so two thumbs up :)

[2016-11-18 19:09] emmanuelpare commented on #119
Got the same issue here. Will investigate

[2016-11-18 20:12] jpogran commented on #119
The root cause of the issue is here: https://github.com/puppetlabs/puppetlabs-dsc/blob/master/lib/puppet_x/dsc_resources/xActiveDirectory/DSCResources/MSFT_xADDomainController/MSFT_xADDomainController.psm1#L140. If ensure is set to true, then sitename is required.

[2016-11-21 01:34] markreno commented on #73
Yeah agreed. PR 101 seems to work for me also. 2.13.0.0 fails.

[2016-11-23 19:30] oradcliffe commented on #124
I am seeing similar issues when trying to create a second DC using `xADDomainController` - could this be an issue with credentials?

I have one DC that comes up, domain is there, hooray.  I have a server that successfully joins the domain using a JSON domain join extension, so I know the domain is up and available.

The second DC I am trying to create with another DSC extension - I have it dependi

[2016-11-24 01:01] vhusker opened #127 "Deployment through ARM Template Fails: The specified argument 'NewDomain' was not recognized"
I am deploying a VM through an ARM Template using the DSC Extension.  I am using the xADDomain resource to build the domain.  When doing so the domain is built (and I can login as a domain user), but the deployment throws an error at the end and Server Manager still thinks that I need to promote the server to a DC.  Server OS is 2016.  xActiveDirectory Module Version is 2.14.0.0.

PSVersionTable:

[2016-11-24 01:41] oradcliffe commented on #127
If you run this with Server2012R2 does it work?

[2016-11-24 01:45] oradcliffe commented on #127
Also for reference, here's what my DSC resource for my first domain looks like:

`{
          "name": "CreateFirstDC",
          "type": "extensions",
          "location": "[resourceGroup().location]",
          "apiVersion": "2016-03-30",
          "dependsOn": [
            "[resourceId('Microsoft.Compute/virtualMachines', parameters('GTM-DC01Name'))]"
          ],
          "tags": {

[2016-11-24 01:47] oradcliffe commented on #127
And here is my actual DSC file:

configuration CreateFirstDC
{
   param
   (
        [Parameter(Mandatory)]
        [String]$DomainName,

        [Parameter(Mandatory)]
        [System.Management.Automation.PSCredential]$Admincreds
    )

    Import-DscResource -ModuleName xActiveDirectory, xNetworking, xPendingReboot
    [System.Management.Automation.PSCredential ]$DomainCreds = New-Object System

[2016-11-24 12:07] vhusker commented on #127
I got a different but similar error when I changed the SKU to 2012-R2-Datacenter.  Going to take a look at the other two things you posted this weekend and see if I can figure out what I am doing wrong.

[2016-11-24 12:11] vhusker commented on #127
Also, where are you getting the typeHandlerVersion of 2.9 from?  When I look here: https://blogs.msdn.microsoft.com/powershell/2014/11/20/release-history-for-the-azure-dsc-extension/ the highest one listed is 2.9.  Two separate things?

[2016-11-24 15:34] oradcliffe commented on #127
Oh thanks for the catch, I think that's a typo.  It's meant to be 2.19 but I'll update to 2.20.  It's funny that that still works.  Let me know where you get with this - I am struggling getting another DSC extension to work for adding a second domain controller to the domain.

[2016-11-24 20:58] vhusker commented on #127
I messed around with this some more this morning and here is what I know. My DSC Configuration is exactly like yours. If I use extension 2.19 or 2.20 with Server 2016 and xADDomain version 2.14 or 2.13 I get the error referenced in the original post. If I try it with extension 2.19 or 2.20 with Server 2012 and xADDomain version 2.14 or 2.13 I get a different error (forgot to write it down and I do

[2016-11-24 21:30] oradcliffe commented on #127
Your LCM settings are the same as mine and the actual dependencies are all the same? I had an issue with DC promo initially but I was using the xADWaitfordomain resource and that was failing - turned out I didn't need it.

[2016-11-24 22:13] vhusker commented on #127
Yes. I re-ordered everything so it was in the same order as yours. I also had the xADWaitForDomain resource and got rid of it after seeing your Configuration. I will double check everything tonight and post it on here so you can take a look and see if I am missing something obvious since I've been staring at it so long.

[2016-11-25 18:09] vhusker commented on #127
I attempted to deploy your DSC Configuration this morning, and I received the exact same error message I was getting with mine.  So, I am not sure what you are doing to get yours to work.  Ideas?

[2016-11-25 18:14] oradcliffe commented on #127
My config from my GitHub?  The only issue with that would be the way my
passwords are stored - in the parameters file you'll see that they are
referenced from a key vault that only I have access to, so you'd have to
edit that to use something else before deployment would work, but otherwise
it should.  At least the master branch should; the other branches I'm using
to figure out adding another dom

[2016-11-25 18:16] vhusker commented on #127
Update:  The domain did get built (the server shows up as a DC in AD) and I can login to the server using the domain\username that I specified in the ARM template..  Server Manager doesn't think so, but I think that's a known thing that the GUI does when building a domain through DSC (please correct me if I am wrong).

Relevant Event Logs:
`Job {E9BB262B-B323-11E6-A941-000D3A927748} :
This event i

[2016-11-25 18:20] oradcliffe commented on #127
So in server manager it looks like it still needs you to promote the domain controller?  I don't see that when deploying from my master template, but it's been like a week since I've used it so maybe something changed?  I recently had to change the Ethernet adapter name because the alias changed from Ethernet to Ethernet 2 and I'm not sure why, but other than that everything's been solid.

[2016-11-27 13:15] vhusker commented on #127
After much testing, I can definitively say that this is an issue only with the 2016-Datacenter SKU (both versions).  It works fine with all 2012-R2-Datacenter SKUs.  I tested both DSC extension version 2.19 and 2.20

[2016-11-27 21:14] oradcliffe commented on #127
Nice, well I am glad you got it working.  Did you happen to figure out anything about how credentials are handled when they're pushed to a DSC config?  I don't think the DSC config is actually using any credentials at all when standing up that first domain controller; I think it's using the first user's (local admin) account.

The reason I think this is because now that I am working on adding a se

[2016-11-28 01:35] oradcliffe commented on #127
Oh hey, it looks like there is a version 2.21 that we can use.. but I am not sure what difference the publisher of the extension makes.

For instance, logged in with my Azure account added to powershell, I can run a Get-AzureVMAvailableExtension - which returns a lot of stuff.

If we save that as like, $extensions, then $extensions.ExtensionName will show us there are several DSC extensions availa

[2016-11-29 12:04] d700qt opened #128 "Issue with xADUser when target node uses SSL PS- and CIM-Sessions"
Hi,

I am using DSC to create AD service accounts, using the xADUser resource, e.g.

    _xADUser SQLEngineServiceAccount {
        DomainName = $MachineDomain
        Username = $($SQLEngineServiceAccountCredential.UserName).Split("\")[1]
        CannotChangePassword = $true
        Ensure = "$Ensure"
        Password = $SQLEngineServiceAccountCredential
        PsDscRunAsCredential = $AllNodes.S

[2016-12-01 20:56] vhusker commented on #127
I got a second server to join my domain via ARM/DSC.  If you want to continue this conversation hit me up on twitter @vhusker

[2016-12-02 07:13] oradcliffe commented on #127
Hey I sent you a message there, but I also have a thread open on Powershell.org if you want to check it out - https://powershell.org/forums/topic/dsc-azure-templates-and-key-vaults/#post-59218

[2016-12-03 16:33] oradcliffe commented on #127
@vhusker This guy is using typehandlerversion 2.8 - https://blog.kloud.com.au/2016/01/11/easy-debugging-of-powershell-dsc-for-azure-virtual-machines/

[2016-12-04 20:49] oradcliffe commented on #127
Also, this is still applicable - https://blogs.msdn.microsoft.com/powershell/2014/11/20/release-history-for-the-azure-dsc-extension/

[2016-12-21 20:54] narrieta opened #130 "MSFT_xADDomain should request reboot only when there are no errors"
The resource requests a reboot unconditionally (https://github.com/PowerShell/xActiveDirectory/blob/dev/DSCResources/MSFT_xADDomain/MSFT_xADDomain.psm1#L273)

If there is an error in Set, the resource should not request a reboot (there is a potential for going into an infinite reboot loop)

[2016-12-23 23:11] narrieta commented on #130
I double-checked the behavior of the LCM and it will not reboot if the resource has reported an error, so the resource is OK.

[2016-12-23 23:11] #130 closed

[2017-01-07 00:44] Merto410 opened #132 "SiteName is still required as of 2.15.0.0"
Sitename is being passed as an empty string when not included instead of $Null.

Line 135 of the file MSFT_xADDomainController.psm1
Is currently:

if ($SiteName -ne $null)

and needs to be modified to:

if ($SiteName -ne $null -and $Sitename -ne “”)

[2017-01-07 00:48] Merto410 commented on #132
fixed in
[MSFT_xADDomainController.txt](https://github.com/PowerShell/xActiveDirectory/files/691124/MSFT_xADDomainController.txt)

[2017-01-07 00:59] Merto410 commented on #132
Pull request submitted with fix

[2017-01-08 00:41] Merto410 commented on #75
Couple comments.  Be careful about GC placement without planning your FSMO holders.  The scenario you paint would be bad in a multi-domain forest since the infra master would be a GC and your other DC's would not.
I think this should be an option, but also I think your info on recommendations is outdated.  In single domain forests it is expected that all DC's will be GC's (there is no impact eithe

[2017-01-08 20:50] Merto410 commented on #75
I am submitting a pull request with the IsGlobalCatalog option for the xAdDomainController.

[2017-01-09 23:02] bill-dall commented on #73
I have the same experience - I was hard-down until I switched to the PR 101 code. I would also up-vote that this issue get resolved somehow.

[2017-01-10 18:45] nitinbps opened #136 "Compilation to MOF take 1.5 hours"
This issue is reported by customer. They are generating 5500 MOFs, and it is taking 1.5 hours for the script to finish. They build the ConfigData for 5500 servers, pass that to the configuration containing approximately 100 service and registry resources, and generating the MOFs. This is triggered from a Jenkins build server on server class hardware.

The issue is that we are generating all MOFs f

[2017-01-11 23:07] #73 closed

[2017-01-11 23:47] bill-dall commented on #73
@kwirkykat, thanks!

[2017-01-12 01:31] kwirkykat commented on #132
Fixed by #133

[2017-01-12 01:31] #132 closed

[2017-01-12 01:36] kwirkykat commented on #127
@vhusker @oradcliffe This may be the same issue as #73 (the original error message looks similar).
Just released version 2.16.0.0 which should have a fix for that issue. Let me know if it helps with this issue too

[2017-01-12 01:38] kwirkykat commented on #136
@nitinbps Do you know what resource(s) from this repo they are using?

[2017-01-12 17:49] vhusker commented on #127
Nice.  That does look to be the same issue (with a much more technical explanation).  I will try out my ARM template with Server 2016 and this version of the AD extension and let you know in the next couple of days.

[2017-01-13 16:27] vhusker commented on #127
Tried my template just now with a Server 2016 DC and module version 2.16.0.0.  The domain creation completed successfully, but every DSC Configuration for each of the 4 other servers all failed with the same error message:
New-AzureRMResourceGroupDeployment : 10:22:54 AM - Resource Microsoft.Compute/virtualMachines 'myvm01' failed with message '{
  "status": "Failed",
  "error": {
    "code": "Res

[2017-01-13 17:08] vhusker commented on #127
Just tested my ARM template with a 2012R2 DC, everything completed fine with no errors.

[2017-01-13 17:19] oradcliffe commented on #127
@kwirkykat Thanks!  I will give it a shot with 2016 and the new module version as soon as I can and update here.

[2017-01-16 10:11] rdbartram commented on #63
I have a series of helper functions that I wrote for just this scenario among others like creating sites and subnets etc. Would it not make more sense the generalise the resource to one command and then load the separate helper module based on the OS Version. I can make a pull request to add the 2k8r2 helper psm1. Thoughts?

[2017-01-18 07:50] FrodeOA opened #140 "xADDomainController fails when site is left out"
Hi I'm currently running a two DC server environment and according to your documentation the site parameter is optional when configuring the xADDomainController but if I leave it blank it get an error saying Install-ADDSDomainController can't continue because SiteName is empty.

Here is the configuration I'm using:

configuration AssertDC
{
   param
    (
        [Parameter(Mandatory)]
        [ps

[2017-01-18 22:42] grayzu commented on #136
Here is the original thread... not sure how to get link but in PowerShell/General Microsoft Team's channel on 11/16/2016. Summary of initial comment:
_So I've got the code and plugging through it now. Basic config. 69 resources (file, registry, service). Nothing fancy. Just 5,490 nodes. When I turn on debug output I can watch PSDesiredStateConfiguration.psm1 crank through the MOF builds. The inter

[2017-01-18 22:44] grayzu commented on #136
I did a quick test with the following config and it took about 15 min. I did not see CPU and Memory spike, however:
$servers = for($i = 1; $i -lt 10001; $i++){"server" + $i}

Configuration Scale
{
    Node $servers
    {
        Environment SuperHero
        {
            Ensure = 'Present'
            Name = "SuperHero"
            Value = "Man of Steel"
        }

        Environment SuperHeroPo

[2017-01-18 22:44] nitinbps commented on #136
Filed the issue in wrong repository, hence closing it.

[2017-01-18 22:44] #136 closed

[2017-01-19 20:07] kwirkykat commented on #127
@vhusker Maybe xWaitForADDomain just needs to be able to retry more/longer? So far my experience with Active Directory on Server 2016 is that it seems to take a lot longer for everything to complete

[2017-01-19 20:13] vhusker commented on #127
Interesting.  I can test this some more I suppose.  In the DSC Configs I have RetryCount=20 and RetryIntervalSec=30.

[2017-01-20 19:25] kwirkykat commented on #140
@FrodeOA What version of xActiveDirectory are you using? This same bug was fixed in #133 which went out in the latest version (2.16.0.0)

[2017-01-20 19:40] kwirkykat commented on #124
@oradcliffe Are you running on Server 2016? Have you tried the newest version of xActiveDirectory (2.16.0.0)? There were some issues fixed with waiting for domain controller promotion to complete specifically with the Azure DSC extension.

[2017-01-20 19:42] oradcliffe commented on #124
@kwirkykat Hey, I haven't had a chance to try yet - I'll branch and try it ASAP.  I just got a lot of new equipment at home so I've been setting up a little homelab so I haven't had a ton of free time.

[2017-01-20 19:45] oradcliffe commented on #124
@kwirkykat do you think that could solve the issue of not being able to pass in real credentials using the protected settings?  Right now I have it working, but I had to do it like this:

`"properties": {
            "publisher": "Microsoft.Powershell",
            "type": "DSC",
            "typeHandlerVersion": "2.21",
            "autoUpgradeMinorVersion": true,
            "settings": {

[2017-01-20 19:56] kwirkykat commented on #124
@oradcliffe From the schema you provided in a previous comment, I think you may have combined the old extension schema with the newer schema. Specifically I see both public settings --> configurationArguments (new schema) along with protected settings --> Items (old schema).

You can see the old schema vs. the new schema in this blog: https://blogs.msdn.microsoft.com/powershell/2016/02/26/arm-dsc-

[2017-01-20 20:08] oradcliffe commented on #124
@kwirkykat This was very much a work in progress for a long time while I learned how all of this worked - I see what you're saying though, and thank you for that link.  I'm going to update the DSC extension settings tonight; maybe that was my issue all along.  Thank you for pointing that out - I actually used as many samples as I could find to learn this stuff and there were quite a few like that

[2017-01-20 20:27] oradcliffe commented on #124
@kwirkykat within the new schema, do we still reference the private settings with privatesettingsref?  So it would look like:

"properties": {
            "publisher": "Microsoft.Powershell",
            "type": "DSC",
            "typeHandlerVersion": "2.21",
            "autoUpgradeMinorVersion": true,
            "settings": {
              "wmfVersion": "latest",
              "configuration":

[2017-01-20 20:50] oradcliffe commented on #124
@kwirkykat Also, just as an FYI, I do have this working in 2012R2 with whatever version of xAD I have - the issue I think I was having was with credentials on the domain join, which is why in my master branch I kind of just have them hardcoded in there.  If you care to take a look, it's all here in the master branch:

https://github.com/oradcliffe/AzureRm-Windows-Domain

[2017-01-20 20:55] oradcliffe commented on #124
@kwirkykat so I just reran with the new settings in the DSC extension and it did in fact fail with "A parameter cannot be found that matches parameter name 'parameterOfTypePSCredential1'.\\n\\nAnother common error is to specify parameters of type PSCredential without an explicit type. Please be sure to use a typed parameter in DSC Configuration, for example:\\n\\n    configuration Example {\\n

[2017-01-20 21:37] oradcliffe commented on #124
OK, I have updated the secure arguments to look like:

"configurationdata": {
                "url": "[concat(parameters('assetLocation'), variables('adPopulationData'))]"
              },
              "configurationArguments": {
                "domainName": "[parameters('domainName')]"
              }
            },
            "protectedSettings": {
              "configurationArguments": {

[2017-01-20 21:37] kwirkykat commented on #124
@oradcliffe There is no more PrivateSetttingsRef because the whole credential object now goes into the protected settings. So using the new schema your config arguments should look like this:

"properties": {
"publisher": "Microsoft.Powershell",
"type": "DSC",
"typeHandlerVersion": "2.21",
"autoUpgradeMinorVersion": true,
"settings": {
"wmfVersion": "latest",
"configuration": {
"url": "[variables(

[2017-01-20 21:38] oradcliffe commented on #124
@kwirkykat  OK, so what I just posted is the correct way to do it, right?  That would be awesome if this worked; it was the only part of my template that I really hated because the credentials would never be encrypted that way.

[2017-01-20 22:23] oradcliffe commented on #124
Ah, well this time it failed with:
"        "message": "VM has reported a failure when processing extension 'CreateSecondDC'. Error message: \"DSC
Configuration 'CreateSecondDC' completed with error(s). Following are the first few: PowerShell DSC resource
MSFT_xADDomainController  failed to execute Set-TargetResource functionality with error message: Domain
'gametimeor.priv' could not be found.  U

[2017-01-20 22:25] oradcliffe commented on #124
@kwirkykat would the way I'm defining my parameters be an issue?

"GTM-DC01AdminUserName": {
      "type": "string",
      "minLength": 1
    },
    "GTM-DC01AdminPassword": {
      "type": "securestring"
},

If I'm including adminusername in the protected settings, does that need to have type securestring?

[2017-01-20 22:37] kwirkykat commented on #124
@oradcliffe I don't think the admin user name needs to be a secure string but maybe try it with the password as a 'string' rather than 'securestring'? I know it's not as secure but it could be that the extension is re-encrypting the secure string and then only decrypting it once rather than twice.

The example in the blog seems to have just a string:
"configurationArguments": {
        "parameterO

[2017-01-20 22:39] oradcliffe commented on #124
@kwirkykat Ok, I'll give that a shot and report back.  I just started a deployment with kind of the opposite, with both set to secure string in the parameters section so I want to test that quick and then I'll try it the other way.

[2017-01-23 06:49] FrodeOA commented on #140
I pulled down the master branch a few weeks ago and the version is 2.15.0.0 so I guess that's the issue then, thanks.

[2017-01-23 23:43] #140 closed

[2017-01-26 22:43] alexaymonier commented on #124
I also ran into this problem with a brand new Server 2016 Coire box and removing the domain credential did the trick. Thanks @oradcliffe

[2017-01-27 13:35] Qrazee opened #141 "Add RODC install option to xADDomainController"
Would like support to install a Read Only Domain Controller with xADDomainController.

[2017-01-27 13:37] #141 closed

[2017-01-29 00:26] GregoryT8 opened #142 "Mock Not Returning Expected Results"
Taking my first stab at mocking today. I'm writing unit tests for a function in a module, and the mock command doesn't return anything when calling the mocked function within the module scope. The mock command does return the expected value when calling the mocked function within the test script scope.

Issue is similar to #issue204 (https://github.com/pester/Pester/issues/204), which still has an

[2017-01-29 00:57] GregoryT8 commented on #142
#issue204 contained a reference to another issue, https://github.com/pester/Pester/issues/311, which offered a suitable workaround -- and that is to use InModuleScope{}

In my case, I was using InModuleScope.  However, I was defining my mocks within the It block, and that was causing the mock to fail within the module scope. I moved the mock definition up one level underneath the context block, an

[2017-01-29 00:57] #142 closed

[2017-02-11 17:59] oradcliffe commented on #124
@alexaymonier What do you mean remove the domain credential?  Like removed it from protected settings or?

[2017-02-11 18:00] oradcliffe commented on #124
I'm refactoring this thing so it can be deployable with an Azure button and it's making me rethink this again haha.

[2017-02-13 14:31] andyrdavidson commented on #124
I think I'm having the same issue. I'm use Lability to build a lab environment and when a member server tries to domain join using DSC it just sits there forever. If i stop the server manually and log into the server the Lability bootstrap log states: Could not find domain.

Looking into the error I tried pasting in the commands from the Get-Domain function into a PowerShell window (with appropria

[2017-02-14 10:19] iainbrighton commented on #124
@andyrdavidson In what format are you passing in the username part of the  `DomainUserCredential` parameter? We do use the xWaitForDomain resource with with the `DomainUserCredential` in most of our internal configurations.

PS - Thanks for trying out Lability 😉.

[2017-02-14 10:31] andyrdavidson commented on #124
@iainbrighton I tried passing in Domain\Username.

The function works just fine if the virtual machine is already a domain member, it seems to fail only when the virtual machine isn't joined to a domain. In which case I guess you shouldn't be passing in the domain credentials anyway! Removing the credentials works just fine. So that's what I'm now doing - I learnt something! :-)

I mention it so t

[2017-02-15 19:55] MathijsHofkens commented on #127
I have the same issue as provided above. Did the test while increasing retryintervalsec to 60, but this doesn't change anything, still having the same issue:

Error message
PowerShell DSC resource MSFT_xWaitForADDomain failed to execute Set-TargetResource functionality with error message: Domain 'contoso.com' NOT found after 20 attempts.

xActivedirectory version: 2.16
+ Windows Server 2016

[2017-02-15 20:46] oradcliffe commented on #127
@MathijsHofkens I think this is the same problem I was having, and it seemed to be a credential issue that I never resolved.  Can you post your code?  One way I was confirming that it was a credential issue was using a custom DSC resource:

`# This Script ParametersFile is for troubleshooting passing credentials into the second domain controller from the ARM template
# It shows that when passing c

[2017-02-22 06:47] PlagueHO opened #143 "Convert to use Shared AppVeyor Code and Add CodeCov.io"
I'll submit a PR for this.

[2017-02-22 07:09] PlagueHO opened #144 "Remove Assert and other files from Repository Root"
The files appear to be some sort of legacy tests, but the purpose is not documented and they are not executed by any automation. They should be removed to avoid confusion - or at least moved to a subfolder.

The files are:
- Assert-HADC.ps1
- Assert-ParentChildDomains.ps1
- HADCConfiguration.psd1
- ParentChildConfig.psd1
- xActiveDirectory_TechNetDocumentation.html
- Misc/New-ADDomainTrust.ps1

If

[2017-03-01 20:57] Hindy-UK commented on #57
@Sjark I wanted to be able to do this too. I came across this article by Joe Corey:
[https://blogs.technet.microsoft.com/joec/2013/04/25/active-directory-delegation-via-powershell/](url)

I then had a go at using this in a DSC script resource, which you can see at line 230 here:
[https://github.com/Hindy-UK/CustomScripts/blob/master/phit-azure-deployment-scripts/ActiveDirectoryProd.ps1](url)

It's

[2017-03-05 16:18] gmatusko commented on #124
OK, so been using this resource for ages in our dsc scripts to deploy Server 2012R2 DCs.  We're testing moving our DC deployments over to Server 2016 and now the WaitforADDomain resource fails on the second DC.  I read through this entire thread trying the various suggestions to get this to work but still no luck.  Not sure why simply changing the deployment image to 2016 breaks this but probably

[2017-03-07 13:09] raandree commented on #108
working on it

[2017-03-07 22:41] raandree opened #146 "xADDomainController test method does not check all values"
Test-TargetResource has some issues.

- It does not look for properties SysvolPath, LogPath and DatabasePath
- It throws an exception if the site name is wrong instead of returning a bool

[2017-03-09 13:11] bodunjo opened #147 "xADUser: retrieve password from Keepass and apply to xaduser"
I pre-created service accounts in Keepass as part if my SQl Install.
How do i apply the password to xaduser?

Script function to create the password in Keepass

 Script AddAgtsvcAccountKeePass
        {

             GetScript =
            {
                # Do Nothing

            }

             SetScript =
            {
            #CREATE FUNCTION FOR PASSWORD GENERATION
Function GET-Passwor

[2017-03-13 20:55] capocruz commented on #40
nope, doesn't look like it...

[2017-03-15 10:31] Hindy-UK opened #148 "New resource for xActiveDirectory: xADSiteLink"
I'd like to contribute a new resource to this module:

- xADSiteLink - creates and manages Active Directory site links

Opening an issue before forking as per the contribution guidelines.

(Edited to split resources into seperate issues as requested below)

[2017-03-20 20:52] iainbrighton commented on #148
Hi @Hindy-UK - great idea 👍. It might be better to open an issue each resource so that the schema for each resource can be discussed separately?

[2017-03-21 07:49] Hindy-UK commented on #148
Hi,

Will do. I've edited this issue and will open 2 new issues for the other resources.

[2017-03-21 07:50] Hindy-UK opened #149 "New resource for xActiveDirectory: xADSite"
I'd like to contribute a new resource to this module:

- xADSite - creates and manages Active Directory sites

Opening an issue before forking as per the contribution guidelines.

[2017-03-21 07:51] Hindy-UK opened #150 "New resource for xActiveDirectory: xADSubnet"
I'd like to contribute a new resource to this module:

- xADSubnet - creates and manages Active Directory subnets

Opening an issue before forking as per the contribution guidelines.

[2017-03-24 11:36] gladier opened #151 "ADGroup: Member logic incorrectly creates new group"
If you use xADGroup with any of the membership management functions and the member you are trying to add or remove does not exist, the resource throws a Microsoft.ActiveDirectory.Management.ADIdentityNotFoundException exception when it invokes add-adgroupmember.

This exception currently triggers the resource to create a new group, opposed to failing due to the member not being found.

[code]

Exa

[2017-04-03 09:29] Hindy-UK commented on #148
With the exception of one issue that I'm struggling with, I have xADSiteLink ready to go. Even though the resource works properly via the pull server, it is failing Get-DscConfiguration and when calling Get-TestResource directly with a general error/CimException.

This only occurs when using the optional ReplicationSchedule parameter, which results in the raw schedule from an ActiveDirectorySchedu

[2017-04-17 17:24] RobBiddle opened #152 "xADGroup: Fails to add members from parent domain"
xADGroup when run on a domain controller in a child domain is unable to add objects from the parent domain.

I think solving this issue would also solve issue [#99](https://github.com/PowerShell/xActiveDirectory/issues/99)

The problem stems from the way Get-ADGroup & Get-ADGroupMember function; neither of these cmdlets return objects from a different domain unless the -Server parameter is used to

[2017-04-17 17:39] RobBiddle commented on #152
This MSDN article from 2010 explains how this should be accomplished:
https://blogs.msdn.microsoft.com/adpowershell/2010/01/20/addingremoving-members-from-another-forest-or-domain-to-groups-in-active-directory/

[2017-04-18 22:17] #143 closed

[2017-04-26 15:50] solbirn commented on #149
@Hindy-UK You working on this yet or should I create?

[2017-04-26 21:11] Hindy-UK commented on #149
hi,

I did the initial test version, but I need to update it so that it incorporates everything I've learned doing the xADSiteLink one; and add in the other optional parameters for the underlying cmdlets. I'm back on contract though and haven't got a lot of free time. I'll try and upload what I had done previously when I get a chance, but TBH xADSite and xADSubnet probably won't be too different t

[2017-04-26 21:36] solbirn commented on #149
That would be great. I started creating and then realized you may have something in progress already.

I will check that out those failures.

[2017-04-27 03:36] solbirn commented on #148
@Hindy-UK
Appears the issue is occurring due to a mismatch of return between Get-TargetResource and the schema.

The **ReplicationSchedule** which is defined as type **String[]** in the schema (two dimensional [string] array) but is being returned in the $targetResource hashtable as a straight up ActiveDirectorySchedule.RawSchedule which is of type **Boolean[,,]** (three dimensional [boolean] arra

[2017-04-30 18:21] Identitry opened #153 "xADUser: Add ServicePrincipalNames property"
Enhancement
ServicePrincipalNames property is currently only available on xADComputer but being able to set SPN using xADUser would make it easier to create and update service accounts.

[2017-04-30 18:23] Identitry opened #154 "New resource for Group Managed Service Accounts"
Enhancement
Currently there's no way of creating Group Managed Service Accounts, that would be a great feature since this kind of accounts are being used more but currently SQL Server is where it's mainly used.

[2017-05-02 18:25] bdanse commented on #151
I have this issue with 2.16.0.0 also.

[2017-05-02 18:32] jibinpeng opened #155 "xADDomainController: Get-DscConfiguration fails"
The PowerShell DSC resource  returned results that are not valid from Get-TargetResource. The Ensure key is not a valid property in the corresponding DSC resource schema file. The results from Get-TargetResource
must be in a Hashtable format. The keys in the Hashtable must be the same as the properties in the corresponding DSC resource schema file.

[2017-05-03 18:37] jibinpeng commented on #155
This is for xActiveDirectory version 2.16.0.0.

[2017-06-02 20:41] GoateePFE commented on #124
Hi folks, What's the latest on this one. I ran into this today with a fresh build of a DC on 2016. Thanks.

[2017-06-15 15:44] gordonbondon commented on #146
SysvolPath, LogPath and DatabasePath not being detected are valid points.
But I'm not sure about wrong site name. If `Test-TargetResource` won't catch it you'll get an error later when `Set-TargetResource` kicks in for example.

[2017-06-15 16:07] iainbrighton commented on #146
Can you move all of the paths after a machine has been promoted? If they cannot be moved easily, then I suggest we document this rather than try to implement it.

[2017-06-15 16:12] iainbrighton commented on #146
Doesn't look it's particularly easy 😢
* https://support.microsoft.com/en-us/help/842162/how-to-relocate-the-sysvol-tree-on-a-domain-controller-that-is-running-nt-file-replication-service-for-sysvol
* https://technet.microsoft.com/en-us/library/cc816594%28v=ws.10%29.aspx

[2017-06-22 02:10] alexaymonier commented on #155
Yep getting this too. Have other xActiveDirectory resources in use and this is the only one (i've seen so far). Looking in a bit deeper the return statement is returning 'ensure' which is not in the schema.mof. In the resource this is reference on line 31 and 52. Is this actually needed for the Get? If i remove the entries for 'ensure' it works fine.

[2017-06-27 18:48] melchugin opened #156 "ADDomain: DomainAdministratorCredential not using if new forest created"
Hi.
I want to create new domain using xADDomain DSC resource. And can not understand, why after creating, domain administrator password is incorrect. It's not the same, like I specify it in DomainAdministratorCredential parameters.
I looked in the module's source code and find, that if created new forest (without parent domain), this parameter does not use.
So, could you make DomainAdministratorCr

[2017-06-27 19:29] iainbrighton commented on #156
@melchugin The DomainAdministratorCredential parameter is used to query whether the domain exists or not. The domain's Administrator password __will be the password that was the machine's local Administrator account password before promotion to a domain controller__. Does this answer your questions?

[2017-06-29 06:25] melchugin commented on #156
Oh, yes. I miss this.
Thank you alot.
I think you could close this issue.

[2017-07-07 00:59] pcarnella commented on #155
Same here...other resources in the xActiveDirectory module 2.16.0.0 that I've used seem fine, just xADDomainController causing this error.

[2017-08-17 12:10] GamerLivingWill opened #158 "xActiveDirectory 2.16.0.0 - Fails in Azure Automation DSC with 'not digitally signed' error."
I'm getting the following error when attempting to deploy to Azure RM virtual machines through Azure Automation DSC.

ErrorMessage\":\"Importing module MSFT_xADDomain failed with error - File C:\\\\Program Files\\\\WindowsPowerShell\\\\Modules\\\\xActiveDirectory\\\\2.13.0.0\\\\DscResources\\\\MSFT_xADDomain\\\\MSFT_xADDomain.psm1 cannot be loaded. The file C:\\\\Program Files\\\\WindowsPowerShell

[2017-08-17 13:37] GamerLivingWill commented on #158
Looking further into it, it appears that the files that the DSC Configuration is attempting to use are being blocked.  Once the files that are being called are unblocked, it appears to run fine.

This is not happening on all of the resources that are retrieved from my Azure Automation Modules repo.  In particular, my custom resources are not having the issue, nor are some of the ones from the gall

[2017-08-21 22:44] rdavisunr opened #159 "xADGroupManagedServiceAccount"
Hello

I was wondering if an xADGroupManagedServiceAccount resource is being developed? I found it referenced in issue #69, but no further discussion of it beyond that.

Assuming its release is not imminent , is a Script Resource my best bet to presently Create/Configure gMSA accounts? I am newish to DSC, so I haven't tried Script Resources yet...

[2017-08-25 15:56] #159 closed

[2017-08-25 15:57] rdavisunr commented on #159
Closing since I figured out how to do this via the Script resource.

[2017-09-22 13:16] cwegener commented on #153
Looks like it should be easy to implement and it might have just been an oversight? Both, Set-ADComputer and Set-ADUser support the -ServicePrincipalNames hastable. Yet only xADComputer has implemented it as a DSC parameter.

[2017-10-03 19:39] RobBiddle commented on #152
@kwirkykat I've written some forest related functions that may be useful for fixing this issue, possibly without a breaking change:
https://github.com/RobBiddle/ActiveDirectoryForest/blob/master/ActiveDirectoryForest.psm1

[2017-10-16 07:32] andikrueger commented on #124
I'm facing this issue too. During the setup of a DC the following message appears:
[code]
The Domain was provisioned successfully.
I tested the PowerShell commands used in the xWaitForADDomain manually and everything worked as expected.

WIN2016, xActiveDirectory 2.16.0.0 via AzureAutomation

[2017-10-20 05:35] AlexeyArzhenovskiy opened #161 "xADGroup fail on get-dscconfiguration when there's only 1 user in group"
Configuration:

[code]

Set-TargetResource work perfectly, but when you run get-dscconfiguration you'll get

http://take.ms/BVtvI

[code]

Error in event log:

[code]

DSC can handle this if 'Members = $adGroupMembers' return value is array, not string.
aka if you add 2 users to group - everything works fine. (Or you already have users in group)

If you specify type for $adGroupMembers inside MSFT

[2017-10-21 00:08] kwirkykat commented on #124
@RichardSiddaway @raandree

[2017-10-23 13:49] nebffa commented on #124
Yeah, adding my 'plus one' to this issue. `xWaitForADDomain` fails when using a domain credential on a computer that is outside the domain.

[2017-11-05 04:56] glennmate commented on #57
Being able to update permissions on an OU would be a great benefit when prestaging CNO objects for failover clustering.

[2017-11-08 07:09] rdbartram opened #162 "ADOptionalFeature: New Resource (to replace ADRecycleBin)"
I'm about to create a pull request for a new resource to support any ADOptionalFeature.

I needed to be able to activate the "Privileged Access Management Feature" on a domain controller and realised this feature didn't already exist.

The question is should this resource supersede xADRecycleBin?

Perhaps its easier for people not in the know to simply turn on the recycle bin this way, but is it n

[2017-11-28 19:23] johlju opened #164 "ADGroup: When ManagedBy is set to SamAccountName the Test-TargetResource fail"
In the README.md for the parameter `ManagedBy` it says

It is true for the function `Set-TargetResource`, but in reality only DistinguishedName can be used by the function `Test-TargetResource`, because DN is what the code evaluates.

https://github.com/PowerShell/xActiveDirectory/blob/e858c98fceb3e1b2039ea9a0884e66cac0bdc8cb/DSCResources/MSFT_xADGroup/MSFT_xADGroup.psm1#L244-L248

The actual valu

[2017-11-28 21:47] iainbrighton commented on #164
@johlju Correct - that text was copied from the Set-ADUser cmdlet. I'd change the readme it to say only the DN is supported.

[2017-11-29 10:36] johlju commented on #164
Thats the easiest solution. But would it not be possible to query for the user object using the value in `$adGroup.ManagedBy`. With that user object Maybe we could compare if any of the four properties match the parameter `ManagedBy`.

[2017-11-29 10:43] johlju commented on #164
Although I see my suggested solution could potentially be a problem if the user set as `Credential` does not have permission to read the user that is set in `ManagedBy`. Can that occur?

[2017-12-08 19:27] johlju opened #166 "ADGroup: Throws incorrect error message when MembersToInclude syntax is wrong"
When adding a member to a group using the SamAccountName.

[code]

It throws an error indicating it tried to create the group again.

[code]

If changing the configuration to use the distinguished name for the member to add, it correctly adds the member and does not try to create the group.

[code]

[code]

1. I would expect the resource to not try to create the group again if it encounters an err

[2017-12-09 15:33] johlju opened #167 "xADComputer: Computer account cannot be created disabled"
Currently the logic is made so that a computer account is always enabled by default, Default value of parameter `Enabled` is $true.

https://github.com/PowerShell/xActiveDirectory/blob/e858c98fceb3e1b2039ea9a0884e66cac0bdc8cb/DSCResources/MSFT_xADComputer/MSFT_xADComputer.psm1#L429-L435

https://github.com/PowerShell/xActiveDirectory/blob/e858c98fceb3e1b2039ea9a0884e66cac0bdc8cb/DSCResources/MSFT_

[2017-12-10 13:16] johlju opened #169 "xActiveDirectory: Unit tests would benefit from stubs of the cmdlets"
When writing unit tests I need to validate the tests on a node that has the Active Directory cmdlets. It would be better if there was stubs of the cmdlets that then can be used to mock the cmdlets.

Example here:
https://github.com/PowerShell/SqlServerDsc/tree/dev/Tests/Unit/Stubs

[2017-12-10 13:29] johlju commented on #169
I had trouble with `Set-ADComputer` in the PR #168. Pester failed when invoking the mock, and debugging Pester made it seemed that it was expecting `Remove` and/or `Replace` parameters to be assigned a hash table (giving me null reference errors if not). But running the cmdlet without those works perfectly in manual testing.
So I had to create a wrapper for Set-ADComputer to be able to mock the wr

[2017-12-11 03:24] mohamednazar opened #171 "ADComputer: How to add user to the adcomputer object"
Hi,

I am able to create computer object in AD using xADComputer module. Now I am looking how to assign user to that computer object? Please find the screenshot for more info.

![image](https://user-images.githubusercontent.com/23080585/33814541-dd4d7ac4-de50-11e7-9c11-a7b7ee349305.png)

Please help!

Regards,
Mohamed Nazar

[2017-12-11 13:41] johlju commented on #169
Just to clarify. It seemed that Pester correctly mocked the `Set-ADComputer` cmdlet on my lab domain controller, which actually is a Domain Controller. But running the tests on the AppVeyor build worker that only has the Active Directory PowerShell module installed seemed to fail. As mentioned above, debugging the build worker seemed to indicate that Pester failed when building the mock - when it

[2017-12-11 13:45] johlju opened #172 "ActiveDirectoryDsc: Convert the module to HQRM standards"
I suggest that we updated this module to bring it inline with current HQRM standards.

[2017-12-11 13:50] johlju commented on #171
@mohamednazar There are currently no resource for doing this. If you can, then please help us create it.
I'm in need of it too.

[2017-12-18 21:04] matt6697 commented on #166
Having the same issue when adding computer accounts to "Terminal Server License Servers" built-in group. After a few research, I found the answer on #90 thanks to @iainbrighton .

No more error when adding a $ at the end of the computer account.

**_The sAMAccountName attribute of a computer object is the NetBIOS name of the computer with a trailing dollar sign, "$", appended. Besides flagging the

[2017-12-20 23:53] RobBiddle commented on #152
I have fixed this issue!!!
https://github.com/RobBiddle/xActiveDirectory/commits/issue-152

[2017-12-22 16:02] johlju commented on #166
I also see that in the README.md it says that if `MembershipAttribute` is not specified it defaults to use SamAccountName. This is not the case since I needed to change to DN in the above example.

[2017-12-22 16:13] matt6697 commented on #166
Have you tried with the following syntax  (add a **$** at the end of TESTCLU01 if TESTCLU01 is a computer account) ?

[code]

[2017-12-23 11:27] johlju commented on #166
@matt6697 My bad. That does work. As you said in your comment above, we should just fix so the resource return a correct error message. It wouldn't hurt to update the README.md that SamAccountName of computer objects should be suffixed with '$'.

[2017-12-29 05:23] theonlyway opened #175 "xActiveDirectory: 2016 domain"
Hi,

I'm in the process of creating a config for a 2016 domain and appear to be running in to a weird issue with both 2012 R2 and 2016 member servers. Below is my AD config:

[code]
It's pretty basic and I can't see anything fundamentally wrong with it. The problem occurs when I attempt to join a domain using the following:

[code]

I get the following which is weird because it's the default passw

[2017-12-29 08:26] johlju commented on #175
@theonlyway The configuration is run as SYSTEM, but not when you run it manually (from PS or GUI), so maybe that's the problem? What happens if you add `PsDscRunAsCredential = $UserAccountCredential` to the configuration when joining the computer, where `$UserAccountCredential` is a user with permission to join a computer to the domain.

[2017-12-29 08:32] johlju commented on #175
It seems the resources uses `New-ADComputer`, please see if that cmdlet gives the same error when run manually.

https://github.com/PowerShell/xActiveDirectory/blob/e858c98fceb3e1b2039ea9a0884e66cac0bdc8cb/DSCResources/MSFT_xADComputer/MSFT_xADComputer.psm1#L398

[2017-12-29 09:21] melbit-anthonyw commented on #175
Yeah I was weary it was the context which is why I threw a script before the xComputer block to see what context it was running under and it is being run as NT AUTHORITY\SYSTEM which is to be expected of the LCM so I think that's working alright.
[code]
It has no issues creating the domain for the domain controllers but any member servers I attempt to join using [xComputer ](https://github.com/Pow

[2017-12-29 09:22] theonlyway commented on #175
Yeah I was weary it was the context which is why I threw a script before the xComputer block to see what context it was running under and it is being run as NT AUTHORITY\SYSTEM which is to be expected of the LCM so I think that's working alright.
[code]
It has no issues creating the domain for the domain controllers but any member servers I attempt to join using [xComputer ](https://github.com/Pow

[2017-12-29 11:42] theonlyway commented on #175
Interesting I think I've narrowed it down to something. I'm using partial configurations so my LCM config looks like this:

[code]
The config for each partial config is

[code]
[code]
If I remove the partial config for webConfig it actually joins the domain. Any ideas?

[2017-12-29 12:02] johlju commented on #175
No ideas, sorry. Not using partial configurations. Maybe somebody else has an idea.
What if you use two simple partial configurations, first just adding the computer to the domain, and the other adding a AD user for example, so you only have one Import-DscResource for both configurations. Trying to rule out partial configurations.

[2017-12-29 13:46] theonlyway commented on #175
Ah, thanks for the suggestion. Tried moving everything out of the windowsConfig configuration except the part where I join the domain and instead move it all to the webConfig configuration, then changed the order of the LCM and put a depends on the webConfig doesn't appear to have any positive impact :(

I'm curious if this is a bug or I'm missing something or doing something wrong. As it stands I

[2018-01-03 16:23] johlju commented on #175
@kwirkykat Do you have any idea if using Partial Configuration behaves differently some how?

[2018-01-08 22:53] jmos5156 commented on #149
Hi I was wondering if I could branch from your repo for xADSite and xADSubnet?

[2018-01-08 23:02] jmos5156 commented on #150
Hi I was wondering if I could branch from your repo for xADSite and xADSubnet?

[2018-01-09 00:14] solbirn commented on #149
Fine by me

[2018-01-11 02:01] RobBiddle opened #176 "DNS Delegation is no longer working."
DNS Delegation is no longer working.

In version 2.14 DNS Delegation for Child Domains was working fine.
In 2.16 it no longer works.

I'm fairly certain it's due to changes in 2.15, specifically this change @iainbrighton  [https://github.com/PowerShell/xActiveDirectory/commit/7223fbc77f095474db27c2788c7c0193ef1ddd10#diff-a7c07329742e59a436bee9ed08a3f411L232](url)

That looks like it was a major br

[2018-01-11 02:14] RobBiddle commented on #176
Ideally this change should be reverted.

Alternatively a DSC Resource Property for InstallDns could be added, which would still be a breaking change from previous releases.

If this DSC Resource is going to remain as-is then there needs to be a test for the presence of the DNS server feature, at-least when the user specifies DnsDelegationCredential (which implies the user needs/wants DNS running o

[2018-01-22 03:01] regedit32 opened #177 "xActiveDirectory: new resource for UPN and SPN suffix management"
I'd like to recommend adding a new resource to manage User Name Principal (UPN) and Service Principal Name (SPN) suffix properties in a forest.  This resource can be called xADPrincipalNameSuffix.  I have a current need for this, so I've started working on it in a fork.

[2018-01-22 07:26] johlju commented on #177
@regedit32 There are already a resource ready to be merged that handles SPN's (see PR #163). Also xADUser already have a parameter `UserPrincipalName`, so if something is missing in that resource, maybe we could extend that instead? Or is it necessary creating a separate resource for handling UPN's?

[2018-01-22 08:01] johlju commented on #177
@regedit32 Maybe I missunderstood. Are you proposing a resource that adds an alternative UPN suffix,
 like mentioned in the article [Add User Principal Name Suffixes](https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2008-R2-and-2008/cc772007(v=ws.11)?

[2018-01-22 08:38] regedit32 commented on #177
@johlju Yes, exactly like that article. The same can be done for Service Principal Name suffixes for a forest.

[2018-01-22 14:12] johlju commented on #177
@regedit32 Ah good, then I understand the new resource proposal. Would you mind posting the schema.mof you are proposing? Then it can be discussed if needed. 😄

[2018-01-22 14:22] regedit32 commented on #177
@johlju Sounds good, here's the link to the mof I'm working on.  I should have the tests done shortly. https://github.com/regedit32/xActiveDirectory/blob/xADPrincipalNameSuffix/DSCResources/MSFT_xADPrincipalNameSuffix/MSFT_xADPrincipalNameSuffix.schema.mof

[2018-01-23 00:15] rsganta opened #179 "Quesition: How to add computer to an existing account with tree of nodes in OU"
Context: I have OU created under the domain  oudomain.host.corp.company.com .  My goal is to if OU is already created, add computer A to that OU. If it can't finds OU, it should create an OU and add computer A to it.

My OU is
Labs -> sphome->sphosted->sp13->991farm->AP

 $Name = "OU=AP,OU=991farm,OU=SP13,OU=SPHosted,OU=SPHome,OU=Lab"
  $Path = "DC=oudomain,DC=host,DC=corp,DC=company,DC=com"

I us

[2018-01-23 08:32] johlju commented on #177
@regedit32 Just a thought. What if we named this xADForest or xADForestProperties so we could get more properties of a forest in the resource than adding a new resource for each property? Just looking ahead if we one day stand with 10+ resources for different properties, maybe we should see if we can concatenate those today already.  Just raising a thought, what do you think? Are there more proper

[2018-01-23 21:53] regedit32 commented on #177
@johlju I like the name xADForestProperties.  I'm not sure what other properties we would support in the future.  The Set-ADForest cmdlet is pretty limited and those are the only two properties available to change with that.

[2018-01-24 18:05] kwirkykat commented on #175
@johlju @theonlyway We do seem to have some large sections of our code that just deal with partial configurations to handle all the possible conflicts, dependencies, and putting the configs together. So it's possible there's bug in partial configs that doesn't happen when you don't use them. I can raise the issue with the team to see if anyone knows how to work around this, but I wouldn't hold any

[2018-01-24 18:11] kwirkykat commented on #175
@PlagueHO is the maintainer for the xComputerManagement module that contains xComputer. @PlagueHO have you seen issues with domain joins in partial configs?

[2018-01-24 22:46] kwirkykat commented on #175
@theonlyway @johlju @PlagueHO It looks like we do have an internal bug filed that when you mix plaintext and encrypted passwords in partial configurations, the decryption of the encrypted passwords stops working. I'm not sure if this is exactly your issue, but they could be related. The workaround for that issue is listed as "make sure that an encrypted (any others can come later) partial configur

[2018-01-25 00:27] theonlyway commented on #175
Thanks for looking in to it @kwirkykat. That does sound like my particular issue and there does appear to be a few people floating around who have encountered the same thing as me. I'll rework the partial config and try putting the credential from the secondary config alphabetically at first and see how I go.

[2018-01-25 06:30] PlagueHO commented on #175
@kwirkykat - I haven't run across an issue like this in partial configs (and our teams do use them). But we're not using xComputer to join the domain. That is great info there @kwirkykat - and I'm eager to hear if this solves your issue @theonlyway .

@kwirkykat - do you know if there is likely to be a patch to the LCM that will fix this?

[2018-01-26 20:59] dcrreynolds opened #181 "ADDomain: attempt counting issue"
xADDomin is struggling counting giving me the error below.

Attempt 6 of 5 to call Get-ADDomain Failed.

![6of5](https://user-images.githubusercontent.com/12203247/35460387-7803b746-02a9-11e8-8f4d-21264f6a066c.PNG)

[2018-01-27 15:26] johlju commented on #177
Sorry that I haven't reviewed or commented on this. Been busy with the day job. :/

If we rename it to xADForestProperties then if there were to come more properties then we probably could get those properties in to this resource if it was named xADForestProperties. If we keep the name, we would need to rename it (breaking change) or create another resource.
My personal opinion is that we should r

[2018-01-28 07:35] johlju commented on #181
If think it's a logical error here. The `$domainShouldExist` I can't see it being assigned again in the `do-while`-loop, and it should probably be a `-or` instead of `-and` in the evaluation. That's why you are seeing 'Attempt 6 of 5...'.

https://github.com/PowerShell/xActiveDirectory/blob/e858c98fceb3e1b2039ea9a0884e66cac0bdc8cb/DSCResources/MSFT_xADDomain/MSFT_xADDomain.psm1#L170

[2018-01-31 17:49] kwirkykat commented on #175
@PlagueHO Not any time soon

[2018-02-01 06:54] PlagueHO commented on #175
@kwirkykat - Is this something that would likely be addressed when the LCM is open sourced? :grin:

[2018-02-01 13:23] johlju commented on #175
You mean before it’s Open Sourced? Beacuse after anyone could fix it, unless it must first start with an RFC, if so, then it’s a little more work to change things. :)

[2018-02-13 13:27] mvaneijken opened #183 "xADGroup Applying MembersToInclude also changes GroupScope when not specified"
xADGroup is changing the GroupScope of a Universal group to a Global group  when using the following settings:

 GroupName = "Group"
 MembersToInclude = $UserName
 MembershipAttribute = "SamAccountName"

Shouldn't it only add the member specified instead of changing other attributes of this group?

[2018-02-16 07:03] csmathon opened #184 "dependency on "" in xADDomain"
Hi,
I'm using xActiveDirectory-2.17.0.0 to create a new domain.
as part of the creation process, I'm running first the following command:
test-dscconfiguration -path $FolderFullPath

This command fails everytime on a new server with the following error:
<><><><><><><><><><><><><><><><><><><><><><><><><><><><>
PowerShell DSC resource MSFT_xADDomain  failed to execute Test-TargetResource functionali

[2018-02-16 09:45] iainbrighton commented on #184
@csmathon I'm not sure this can be fixed, at least easily. Here's a summary of what I think is going on:

* It looks like you're running Test-DscConfiguration before you are attempting to run the configuration.
* The internal `Test-DscResource` function requires the ADDSDeployment module to check if the domain is available!
* Unfortunately, the ADDSDeployment module is only actually installed when

[2018-02-19 07:46] csmathon commented on #184
Hi  iainbrighton,
Your summary is correct.
I'm running Test-DscResource first in my script so I know if have to run run Start-DscConfiguration:
if Test-DscResource returns false, then I run Start-DscConfiguration
if Test-DscResource returns true, then I do not run Start-DscConfiguration

That way Start-DscConfiguration is run only if necessary (the full script does other thing too ).

NB: why not

[2018-02-28 11:32] Dxpk commented on #158
Was a fix for unblocking DSC Configuration modules found in the end? I have the same issues and have been attempting to change the Powershell Execution Policies as a temporary fix, but so far no luck.

[2018-03-13 07:34] leegh123 opened #187 "Windows Server 2016 forest functional level features"
when i config ad with dsc, how can i set the forest functional level features to windows server 2008 R2?

[2018-03-13 08:16] leegh123 commented on #187
i have done it

[2018-03-13 09:08] leegh123 commented on #187
i add DomainMode, ForestMode  two parameters to the MSFT_xADDomain.psm1 file and change the MSFT_xADDomain.schema.mof too,now it is ok .

[2018-03-26 18:21] GoateePFE commented on #61
I just stumbled onto this in my lab today. Started seeing it when ADCS is added to a DC. The

did the trick. Thanks!

[2018-03-28 00:35] GoateePFE commented on #181
+1 on WS2016

[2018-04-30 11:26] voigtsv opened #189 "ADGroup: Not removing members if MemberParameter is null"
Hi,

in xActiveDirectory 2.18.0.0 when setting the member parameter of a xADGroup resource to null, existing groupmembers will not be removed. Instead the  membership will be reported as "in the desired state".

[code]

This looks like the place where null values are skipped in the code
`if ($PSBoundParameters.ContainsKey('Members') -and -not [system.string]::IsNullOrEmpty($Members))`

Is there an

[2018-04-30 11:38] johlju commented on #189
Your scenario haven't been thought of. Normally having a group with empty members have no point, then the group could be removed instead. But that is not the case for the 'Schema Admins', since that group should not be removed.

Not sure of your scenario, I'm sure you have valid reasons for doing this (seeing your configuration). Although if you run this from a pull server then 'Schema Admins' wil

[2018-04-30 12:02] voigtsv commented on #189
Having the group emptied every 15 minutes is exactly what I want. For Schema Admins and a couple of other groups that need to be there but empty in our default configuration.
In case of a schema update my plan is to pull a new configuration before and after.

@johlju I can see my case being a bit extraordinary though.

[2018-04-30 12:26] johlju commented on #189
@voigtsv I label this as a bug and 'help wanted' so that someone in the community can run with this.

[2018-05-01 13:37] johlju commented on #44
@iainbrighton Are you still able to work on this?

Can we just add this to the xADUser resource with requirement that it requires for example the 2008 Schema? If a future property needs xxxx schema, then that is a requirement to use the property, it doesn't stop the resource from functioning. It will just ignore fetch those properties that are not supported. Would that work?

[2018-05-08 05:45] johlju commented on #57
This is being worked on in PR #186.

[2018-05-08 05:51] johlju commented on #63
It looks like this work never started? It has so long now,  is someone still interested in adding 2008 R2 support?

[2018-05-08 06:38] rdbartram commented on #63
For me it's not necessary, but I still have my helper functions if they're still needed

[2018-05-08 07:15] johlju commented on #115
This was resolved in PR #49.

[2018-05-08 07:15] #115 closed

[2018-05-08 07:59] johlju commented on #144
This seems to be a duplicate of issue #104. Keeping this open, and closing #104. Please see https://github.com/PowerShell/xActiveDirectory/issues/104#issuecomment-240820871.

[2018-05-08 08:00] johlju commented on #104
Closing this as duplicate in favour of newer issue #144.

[2018-05-08 08:00] #104 closed

[2018-05-08 08:05] johlju commented on #147
Not sure retrieving a Password from a password manager is relevant to this resource module. Closing this issue. If this was closed in error, then please reopen or comment.

[2018-05-08 08:05] #147 closed

[2018-05-08 08:13] johlju commented on #150
@Hindy-UK Sorry that nobody answered you for so long. Please PR in you new resource.

[2018-05-08 08:32] johlju commented on #154
Do this need to be an entire new resource? Could this maybe be added to the existing xADUser resource?

[2018-05-08 08:53] Identitry commented on #154
Yes it needs it’s own resource and there is an open pull request for a resource like this where you asked the same question.
https://github.com/PowerShell/xActiveDirectory/pull/157

[2018-05-08 09:12] johlju commented on #154
@Identitry thank you for answering. Sorry for asking the same question twice, it's a lot of PR's and issues, and didn't remember the correlation between this and the PR. Labeling this as in progress and making sure this issue is closed when PR #157 is merged.

[2018-05-08 11:42] johlju commented on #155
The ensure property is returned in the hashtable.

https://github.com/PowerShell/xActiveDirectory/blob/4fa284e895760931ed651b8daed26c56dabac753/DSCResources/MSFT_xADDomainController/MSFT_xADDomainController.psm1#L52

But the property does not exist in the schema.

https://github.com/PowerShell/xActiveDirectory/blob/4fa284e895760931ed651b8daed26c56dabac753/DSCResources/MSFT_xADDomainController/MSFT

[2018-05-08 12:01] johlju commented on #156
Label this as documentation and help wanted, so that someone in the community can run with this.

[2018-05-08 12:05] johlju commented on #158
I haven't seen this error before, although I haven't used xActiveDirectory much. Which files are being blocked? All files in the xActiveDirectory module folder? Is this just happening for this resource module? Trying to figure out what can cause this. 🤔

[2018-05-08 12:08] johlju commented on #161
This seemed to have been resolved in PR #173.

[2018-05-08 12:08] #161 closed

[2018-05-08 12:14] johlju commented on #162
@rdbartram I personally feel like having such a resource would be unnatural PowerShell-wise. It wouldn't be obvious to use the resource to turn on different features.  It would be more natural if there was a setup program where you could choose different options. But if this is different, for example, cmdlets, I would propose that these new "feature" get's it own resource. But I can be convinced t

[2018-05-08 12:27] johlju commented on #175
@theonlyway Closing this as 'external' meaning cannot be resolved in the resource module. If this was closed in error then please reopen or comment.

[2018-05-08 12:27] #175 closed

[2018-05-08 12:43] johlju commented on #176
This seems to have been removed "temporarily", but the new planned functionality was never implemented, and the prior functionality was never reverted. Agree that this should be added back in, in a way that wouldn't make a breaking change again.

[2018-05-08 12:55] johlju commented on #162
@rdbartram I take back my previous comments. Since there is a cmdlet to set these options `Enable-ADOptionalFeature` I see that a resource xADOptionalFeature could work here. It would be natural to use in a configuration.

[2018-05-08 12:59] johlju commented on #183
This happens because the default value is set to 'Global'. The resource should not change a value that is not part of a configuration.

https://github.com/PowerShell/xActiveDirectory/blob/4fa284e895760931ed651b8daed26c56dabac753/DSCResources/MSFT_xADGroup/MSFT_xADGroup.psm1#L280

[2018-05-08 13:14] johlju commented on #187
@leegh123 Can you describe what changes you did to the schema.mof?

[2018-05-08 13:40] johlju commented on #184
I understand what you are getting at. The same problem will happen if using Get-DscConfiguration when the PowerShell module does not exist.
I'm not certain that this is a bug, since normally you would configure a target node with the desired configuration, then the target node (the LCM) will monitor the state and correct the problem (if configured to do so).

If we think that a possible solution w

[2018-05-08 13:49] johlju commented on #179
If I understand this correctly, then the parameter `$Path` should include the entire DN to the OU where you want to create the computer object.

[2018-05-09 01:59] leegh123 commented on #187
in the schema.mof file i add two lines
[Write, Description("set domain mode")] String DomainMode;
[Write, Description("Set Forest Mode")] String ForestMode;

[2018-05-09 05:50] johlju commented on #187
@leegh123 Thanks for the information! Let's keep this issue open and I labeled it as an enhancement. Would you be interested in sending in a PR with this change?

I think we should use a `[ValidateSet()]` with the appropriate values the user can choose.

[2018-05-09 14:12] johlju opened #190 "xADUser: schema.mof has a version number different from all other resources."
All resource has version 1.0.0.0 in the schema.mof, but xUser has 1.0.1.0. Unless there is a good reason for keeping it, I suggest we change xUser to use the same version number as all other resources.

[2018-05-09 15:14] johlju commented on #63
@rdbartram if you don't have use for it in these resource, then if you like you could publish them in a public GitHub Gist together with a MIT license, then someone could use them if they see a use for them.  🙂

[2018-05-09 15:14] johlju commented on #63
Let's keep this issue open at least until [extended support ends](https://support.microsoft.com/en-us/lifecycle/search?alpha=Windows%20Server%202008%20R2%20Service%20Pack%201).

[2018-05-18 18:25] ryanspletzer opened #191 "Should there be xADReplicationSiteLink Resource?"
Hi folks. This may be due to my own ignorance, but as I was browsing the module I didn't see any resource for manage AD Site Links. And I didn't see any reference in the code or issues elsewhere about it so I thought I'd post something so it's at least out here for other curious people like me.

Is there a reason why there does not currently exist an xADReplicationSiteLink resource? Perhaps some t

[2018-05-21 07:03] johlju opened #192 "xActiveDirectory: Add Codecov badges for both master and dev branch"
I suggest we should add a badges for both branches and a [section Branches](https://github.com/PowerShell/SqlServerDsc#branches).

[2018-05-21 07:15] johlju opened #194 "xActiveDirectory: Resources should be listed in alphabetical order in the README.md"

[2018-05-21 13:19] johlju commented on #191
There seems to be a PowerShell cmdlet for that [New-ADReplicationSiteLink](https://docs.microsoft.com/en-us/powershell/module/activedirectory/new-adreplicationsitelink?view=winserver2012-ps).

Most likely nobody in the community has ran with it again.
Are you seeing this as a new resource or could this be added to an existing resource? If you see this as a new resource, please propose a schema.mof

[2018-05-21 13:35] ryanspletzer commented on #191
Yes I should have been more specific: I didn't see any DSC resource in this module for managing AD Site Links. :) Did know about the Get/New/Remove/Set-ADReplicationSiteLink cmdlets.

I think this could be a new resource, let me see if I can get around to a proposed schema.mof and perhaps a PR, too. Thanks!

[2018-05-23 07:22] #194 closed, assigned to johlju

[2018-05-24 11:45] #192 closed

[2018-05-25 14:32] johlju commented on #183
This was resolved in PR #197.

[2018-05-25 14:32] #183 closed

[2018-06-01 16:36] AspenForester opened #198 "Duplication of code in example in readme.md"
In the first example, asserting a highly available domain, the entire block of code intended for the example has been pasted in twice.

[2018-06-01 16:39] AspenForester commented on #198
Likewise, the code for configuration AssertParentChildDomains shows up again at the end of the next example.

[2018-06-04 12:01] johlju commented on #198
Label this as help wanted so that anyone in the community can run with this.

[2018-06-07 10:06] nyanhp commented on #187
Hi @johlju , I had the same problem at a customer of mine, extended the resource and quickly forgot about submitting the changes... Since there is no reaction from @leegh123 , I will go ahead and submit a pull request ~tomorrow after I have added some tests for the added functionality if that's ok.

[2018-06-07 10:40] johlju commented on #187
@nyanhp Sounds great. Please send a PR.

[2018-06-08 09:05] nyanhp opened #200 "ADDomain: Raising Domain and Forest Functional Level: Resource or extension to ADDomain needed"
It should be possible to raise the domain and forest functional level with DSC as well. I propose a new resource so as not to pollute xADDomain, but I would like to hear what the community thinks.

If this is implemented in xADDomain the behavior of Set-TargetResource needs to be overhauled a bit to support raising only the DFL/FFL for an existing domain/forest. In this case a Force parameter woul

[2018-06-09 11:47] johlju commented on #200
I like the idea of the `Force` parameter. Although I think a separate resource for this might be better as this is something you should thoughtfully do, and adding a separate resource would clear show in the configuration that a raising of function levels are done. But I'm good with either option.

[2018-06-09 12:03] johlju opened #201 "MSFT_xADCommon.ps1 should be made a module script file (.psm1)"
The file MSFT_xADCommon.ps1 is not a module files, instead it's dot sourced by MSFT_xADCommon.psm1, Because it's dot source it's not covered by the code coverage. We should change this so that MSFT_xADCommon.ps1 is renamed to MSFT_xADCommon.psm1 and the old MSFT_xADCommon.psm1 is removed.

[2018-06-11 12:22] #201 closed

[2018-06-12 08:49] johlju commented on #198
Re-opening this as there is still a duplicate of AssertParentChildDomains.

[2018-06-12 13:18] thequietman44 commented on #198
I created a new pull request with the duplicate AssertParentChildDomains removed.

[2018-06-13 19:20] #190 closed

[2018-06-13 19:20] #198 closed

[2018-06-18 11:11] #187 closed

[2018-06-28 15:57] nyanhp opened #211 "Proposal: Restore users and groups from Recycle Bin if possible"
Hi!

I would like to add some functionality so that users and groups that have been removed are restored from the Active Directory recycle bin, if it is available. My customers have the case that it is possible that someone deletes users and groups accidentally, which DSC easily corrects - however, since new objects are created instead of deleted ones recovered, there are all kinds of issues.

Imp

[2018-06-29 09:43] johlju commented on #211
Would this be a optional property on an existing resource(s) so that it first checks if the account to be created is present in the recycle bin, if it is, then it is restored from the recycle bin?

[2018-06-30 15:41] nyanhp commented on #211
Sure, that might be a good idea. Sounds good! I'll get started then :)

[2018-07-01 22:49] shurick81 opened #213 ""Unable to find a default server with Active Directory Web Services running" when running test"
### Steps to reproduce
1. Install windows 2016 server
2. Install AD module:

[code]
3. Install "AD-Domain-Services"
4. Start configuration with domain:

[code]
5. Start configuration with user account:

[code]
6. Test the configuration using `Test-DscConfiguration`.

### Expected result
true returned

### Actual outcome
An error,
[code]

### Additional information
When I test the very same sequenc

[2018-07-03 10:32] johlju commented on #213
Does it fail on `Get-DscConfiguration` as well? It looks like it fails in the `Get-TargetResource` that `Test TargetResource` fails. If so it must be `Get-ADUser` that fails?

[2018-07-03 10:33] johlju commented on #211
Sound great, looking forward to the PR. Labeling this as in progress.

[2018-07-12 23:58] sakhatri commented on #187
Do we have a timeline when to expect this feature to be available as a part of master branch?

[2018-07-13 09:13] johlju commented on #187
@sakhatri nest community call is set for the 18th so approximately a week after that there will be new releases for resource modules in DSC Resource Kit.

[2018-07-16 17:29] nyanhp commented on #211
Hi @johlju , will take a bit more time I think. One conceptual question: When restoring, there is currently one error that can theoretically occur, while the other errors that could happen during a restore are already being checked.

The issue is that the parent container of an object could have been deleted as well. In this case the restore fails of course. Since we certainly don't want to simply

[2018-07-17 07:55] shurick81 commented on #213
Hi, I found that the resource works fine when I use normal user session. So the issue only happens when I provision via Vagrant. It can be probably related to privilege elevation.

[2018-07-17 10:46] shurick81 commented on #213
I think I managed to solve it now. The thing is that my scenario is
1. create domain
2. restart the machine
3. add accounts
It seems that It was machine restart and then trying to run the script too early. So what I had to do is adding this waiting resource:

[code]

10 x 100 gave me 1000 seconds of waiting and it can depend on your hardware performance and resource allocation of course. In my VM

[2018-07-17 10:46] #213 closed

[2018-07-17 10:55] shurick81 commented on #213
One can actually find useful some best practices for this coupling of resources. I mean it can be a best practice: before applying any domain customizations it won't hurt to run the xWaitForADDomain and set DependsOn. What do you think @johlju?

[2018-07-18 07:44] johlju commented on #213
If the same configuration installs the AD, it can't be assumed the AD is running, so I think there should be a xWaitForADDomain resource in the those configurations. If the a configuration can assume there will always be an AD then there should be no need. But it won't hurt having it, probably will just add a few more seconds when running the script.

[2018-07-18 09:42] johlju commented on #211
Since this functionality is added as a new optional property that determine if the account should always be tried to be restored from the recycle bin, I think it correct to throw the exception that is returned by the restore command, or another appropriate error message, so the user know what happened.
If the user has opt-in to restore the object from Recycle Bin if it exist there, before creating

[2018-07-18 17:11] mattcanty opened #214 "AWS Directory Services - Access Denied"
Hello,

I am trying to use this module as part of automating AD in AWS.

## Script
[code]
## Log
[code]

## Notes
* I am logged into server as domain admin which has connectivity to AD.
* I can add users manually.
* I can add users via `New-ADUser`

I would actually want to execute this remotely, via CloudFormation or Run Command which means I'd probably need to incorporate `PSCredential` somehow.

[2018-07-18 17:41] iainbrighton commented on #214
I think you need to specify valid credentials to connect to AD with.

[2018-07-18 18:16] mattcanty commented on #214
Given I’m executing the script from an Admis PS window and logged into the
server as the domain admin, does that not count?

On Wed, 18 Jul 2018 at 18:41, Iain Brighton <notifications@github.com>
wrote:

[2018-07-18 18:42] johlju commented on #214
If using PowerShell 5.0 it’s also possible to use built-in `PsDscRunAsCredential` to run the resource using another account. But not sure that is applicable in this case.

[2018-07-18 18:46] mattcanty commented on #214
Pretty sure I tried that, but can’t remember the outcome. I’ll give it
another go tomorrow.

Thanks

On Wed, 18 Jul 2018 at 19:42, Johan Ljunggren <notifications@github.com>
wrote:

[2018-07-18 18:54] johlju commented on #214
Here is how you [Securing the MOF File](https://docs.microsoft.com/en-us/powershell/dsc/securemof) - if you don't do that, it is possible to override that, buy then the password will be saved in clear text in the .mof file that are kept on the target node. You can read overriding from being secure here; https://blogs.technet.microsoft.com/ashleymcglone/2015/12/18/using-credentials-with-psdscallowp

[2018-07-19 09:17] mattcanty commented on #214
I'm out of the woods. It is working for me now (without encryption). I mostly wanted to see it working before committing much more effort towards it.

Thanks for your help, I would not have managed it without the information provided here.

I am now happily generating OUs, Users and Groups!

[2018-07-19 09:17] #214 closed

[2018-07-24 02:17] riponbanik commented on #124
I am having the issue on the primary domain controller running Windows 2012R2, in Get-TargetResource

 started: RSAT-AD-AdminCenter
VERBOSE: [RBW1201]:                            [[WindowsFeature]RSAT-AD-AdminCenter] The operation 'Get-WindowsFeature
 succeeded: RSAT-AD-AdminCenter
VERBOSE: [RBW1201]: LCM:  [ End    Test     ]  [[WindowsFeature]RSAT-AD-AdminCenter]  in 0.8590 seconds.
VERBOSE: [RB

[2018-07-26 21:12] JibinPeng1 commented on #155
This bug exists in version 2.19.0.0 as well. Will this be fixed in the near future?

[2018-07-27 06:33] johlju commented on #155
This work is abandoned in PR #111. Anyone in the community may continue the work, by sending in a new PR that resolves this and have a unit test that tests that this property is returned correctly (and updated the Unreleased section in the change log).

[2018-07-30 09:43] nickfriday-kainos opened #218 "Test-TargetResource fails for xADDomain when ForestMode is not specified"
When ForestMode is not specified in xADDomain on Server 2012 R2, the Test-TargetResource method fails with:

`PowerShell DSC resource MSFT_xADDomain  failed to execute Test-TargetResource functionality with error message: Unable to find type [Microsoft.DirectoryServices.Deployment.Types.ForestMode].`

Perhaps this .NET object type does not exist until Install-ADDSForest has run inside the Set-Targ

[2018-07-30 10:41] johlju commented on #218
Can you provide the verbose log output when you get this error?

[2018-07-30 11:05] nickfriday-kainos commented on #218
Excuse the formatting. It would appear that the Test-TargetResource fails _after_ the domain/forest has successfully been created.

[code]

[2018-07-31 07:36] johlju commented on #218
@nickfriday-kainos Is this failing on every consistency check, or just the first time, directly after the domain has been created?

[2018-07-31 07:54] johlju commented on #218
@nyanhp In PR #199 this type was added, but it seem it is not part of the ActiveDirectory module. Did this work for you when you tested this PR? Do you have something else installed on the domain controller where you tested this that made this work? 🤔

Tested this on a Windows Server 2012 R2 and Windows Server 2016 domain controller. The type `[Microsoft.DirectoryServices.Deployment.Types.ForestMo

[2018-07-31 10:35] nickfriday-kainos commented on #218
@johlju: It is failing on every consistency check (i.e. any time the Test method is run).

[2018-07-31 11:04] johlju commented on #218
Labeling as a bug, and help wanted so that anyone in the community can run with this.

@nickfriday-kainos As a workaround until this bug is fixed, you can use the previous version of the resource module. Unless you need functionality that are only in this version.

[2018-08-01 14:48] mattcanty opened #219 "Repeated runs - Passwords reset"
Wondering what the approach is when using this in an environment endeavouring for everything-as-code.

I have AD set up, and wish to store configuration of users and groups as code.

This means that the DSC will run periodically, eg when it has changed. It appears that this is resetting the passwords of any users who have changed them.

1. Users should be able to change their passwords.
2. I want

[2018-08-01 18:58] r00nster opened #220 "xADGroup members does not support Computer Objects"
The "MembersToInclude" property (and I suspect "Members" & "MembersToExclude" properties) only support AD Group and AD User account types. If the property contains an AD Computer account the following errors are displayed.

"_The specified local group already exists_"

"_The PowerShell DSC resource [xADgroup]<ResourceName> with SourceInfo <scriptpath> threw a non-terminating errors while running t

[2018-08-02 08:51] johlju commented on #220
@r00nster Could you please provide the configuration that generates the problem, and the verbose logs where the problem occur.

[2018-08-02 08:54] iainbrighton commented on #220
@r00nster You are specifying the computer names ending with a $, e.g. `COMPUTERNAME$`?

[2018-08-02 09:25] johlju commented on #219
Thanks for reporting this.

Did not know it did this, apparently it tests the password here in the `Test-TargetResource` function. I think this test should only be done if `$CannotChangePassword` equals to `$true`. If ´$CannotChangePassword` equals to `$false` (the default value) this test cannot be done, since the password can be changed on the user account.

https://github.com/PowerShell/xActive

[2018-08-02 09:27] johlju commented on #219
Labeling this as a bug, and a breaking change since all configuration will need to add `CannotChangePassword = $true` to use the same check as was done by default previously.

[2018-08-07 02:04] MayPLaY opened #221 "Error creating new domain with xADDomain with 2.20.00"
Hi,

With 2.20.0.0, since this introduction :

LCM is giving me `"PowerShell DSC resource MSFT_xADDomain  failed to execute Test-TargetResource functionality with error message: Unable to find type [Microsoft.DirectoryServices.Deployment.Types.ForestMode]. "` after rebooting when creating a forest/domain.

The problem happens with or without `ForestMode` parameter.

LCM's error :
[problem_2.20.0.0

[2018-08-07 05:53] johlju commented on #221
It seems the type that was introduced with that change does not exist on a AD server, see issue #218. Since this is already being tracked in issue #218 I'm closing this as a duplicate.

[2018-08-07 05:53] #221 closed

[2018-08-07 12:40] r00nster commented on #220
"School Boy" error!!

for the $ on the end of the computernames as iainbrigton stated above.

Been a long week....

[2018-08-07 12:40] #220 closed

[2018-08-07 12:41] johlju commented on #220
@r00nster Think I did the same mistake a while back 😄 Glad you got it solved.

[2018-08-10 08:15] johlju commented on #218
@nyanhp no worries. Thanks for the detailed explenation!

Yes, if there are no cmdlets that are used in that ADDSDeployment module prior to using the type, then the module is not auto-loaded, then we must explicitly import that module.

We could add a optional switch parameter `ImportModule` to helper function `Assert-Module`, If the module is found to exist, it is also imported.

https://github.c

[2018-08-10 08:16] johlju commented on #218
Is someone up to sending in a PR for this? 😃

[2018-08-10 08:43] Blankf opened #222 "xADDomainController issue after deployment"
i've installed my new dc (2016 Core) with xADDomainController and the installation completed, server rebooted and i have myself a new domain controller.
Replication seems fine and domain seems fine, so far so good.

But with a new dsc-configuration run it fails with the following error: The specified argument 'ConfirmGc' was not recognized.

so i checked the code of the resource, and saw that Inst

[2018-08-10 10:58] nyanhp commented on #218
Yeah. I am working on it,i feel somewhat obligated to ;)

[2018-08-10 12:49] johlju commented on #218
@nyanhp Nah, you shouldn't feel that way! It's not your fault, things like this happens when we can't have integration tests that can cover install scenarios (or any scenario for this resource module). But I really appreciate you putting in the work on this! 🙇 👍 Thank you!

[2018-08-10 13:26] johlju commented on #218
@nickfriday-kainos @MayPLaY an update that should resolve this has been merged to the Dev branch. Please use the dev-branch until this can be released (in the first half of September). If this does not solve your issue, then please comment on this issue. I keep this issue open until the next release is out, if others has this problem.

[2018-08-10 15:12] johlju commented on #222
I'm not following you. Are you running `Test-ADDSDomainControllerInstallation` in a PowerShell console on the new Windows Server 2016 that you want to promote to a domain controller?
Are you trying to install a second domain controller and join the same domain as the first domain controller that was successfully installed?

Can you provide the verbose logs where you get the error, and the configur

[2018-08-13 11:13] #211 closed

[2018-08-15 06:27] Blankf commented on #222
so after the first dsc configuration the machine is promoted to a dc, then the second run fails with the error `The specified argument 'ConfirmGc' was not recognized.`

Then investigating i tried indeed `Test-ADDSDomainControllerInstallation` and it gives the same result.

Then i had a look at the code and tried the `Install-ADDSDomainController @params` and got the same result

`Install-ADDSDomai

[2018-08-16 09:50] johlju commented on #222
You are right that this isn't the DSC resource. Since you making a jump from 2008 R2 to 2016 I would recommend you talk to Microsoft Support to get a migration path and so they can help you make sure the environment is stable for migration.

[2018-08-17 14:00] jrdnr commented on #181
@johlju Just ran into this trying to build a lab domain,  I think the `-and` on [line 170](https://github.com/PowerShell/xActiveDirectory/blob/e858c98fceb3e1b2039ea9a0884e66cac0bdc8cb/DSCResources/MSFT_xADDomain/MSFT_xADDomain.psm1#L170) is intentional, I'm a little less clear on why it is not working.

immediately [before](https://github.com/PowerShell/xActiveDirectory/blob/e858c98fceb3e1b2039ea9

[2018-08-17 19:33] johlju commented on #218
If you just copied the code for xADDomain then you didn’t get the fix. The fix was made in the helper module MSFT_xADCommon.psm1', in the helper function `Assert-Module`. Can you make sure you also have that file updated?

[2018-08-21 07:47] #57 closed

[2018-08-22 19:27] jasonfare commented on #218
I updated the entire xActiveDirectory and it's working now.  Thank you! :)

[2018-08-23 03:03] anwather opened #225 "Deploy to Azure Automation link not working"
Hi all,

Am trying to deploy this module to Azure Automation - however it loads the portal, the blade shows available automation account - and then the original blade displays the broken cloud icon.

I'll attach a screenshot.

[2018-08-23 03:05] anwather commented on #225
https://awsaug01.blob.core.windows.net/temp/boken.png

[2018-08-23 03:29] anwather commented on #225
Closing as it is affecting all module in the PowerShell Gallery

[2018-08-23 03:29] #225 closed

[2018-08-24 15:35] johlju commented on #181
Hmm.. Since this happens inconsequentially, maybe we should add in `Write-Verbose` outputting nice "debug" messages with the variables more frequently so that it's possible to trace what happened.
For example
[code]

Other suggestions?

[2018-09-21 02:25] riponbanik opened #228 "xADDomainController fails with user cred"
ISSUE TITLE:
    xADDomainController fails with user cred

    ISSUE DESCRIPTION (this template):

   Using template like this below -

    xADDomainController ReplicaDC  {
          DomainName = $DomainDnsName
          DomainAdministratorCredential = $DomainAdministratorCredentials
          SafemodeAdministratorPassword = $SafeModeCredentials
          DatabasePath = 'C:\NTDS'
          LogPath

[2018-09-21 13:39] johlju commented on #228
Could you please provide the verbose logs showing the error? Run `Start-DscConfiguration -Path <path_to_mof_folder> -Wait -Verbose`. Obfuscate any sensitive information.

[2018-09-21 13:46] #219 closed

[2018-09-23 22:47] riponbanik commented on #228
I have resolved the issue. I needed to provide user name as user@domain.

[2018-09-23 22:47] #228 closed

[2018-09-26 13:05] #177 closed

[2018-10-03 04:25] ameyaagashe opened #231 "Unable to compile PowerShell DSC script to deploy a ADForest"
Hi there
[CreateADForest.zip](https://github.com/PowerShell/xActiveDirectory/files/2440604/CreateADForest.zip)

Please find attached PowerShell DSC script to deploy an AD Forest along with input parameters.

I am unable to understand the error message below:
`**Credential with name 'HashDollar135' not found for account '49437a73-d126-4e50-bd1f-5a4fd460665f'**.`

I would sincerely appreciate any he

[2018-10-03 15:06] johlju commented on #231
Looks like you are deploying this from within Azure Automation? Did you create a Credential in Azure Automation, and referencing that credential name?

[2018-10-04 01:45] ameyaagashe commented on #231
@johlju Yes, I did, the screenshot in the attached zip file.

Please let me know if you have any questions.

Thanks and Regards,
Ameya Agashe

[2018-10-06 13:05] ameyaagashe commented on #231
@johlju Any update mate?

[2018-10-06 14:16] johlju commented on #231
@ameyaagashe Just to make sure we are talking about the same thing. Before you wrote the credential name in the credential parameter field of the configuration compilation, did you add the credential object to the Credential blade? See credential in the below screen shot - it looks like on the error message that it doesn't find a credential object here?

![image](https://user-images.githubusercont

[2018-10-08 00:15] ameyaagashe commented on #231
@johlju I get the same error even after adding the credentials..

[Unable to compile PowerShellSC script to deploy a ADForest.docx](https://github.com/PowerShell/xActiveDirectory/files/2454478/Unable.to.compile.PowerShellSC.script.to.deploy.a.ADForest.docx)

What I am not clear and do apologize if I sound silly as I am very new to this, is, I have been challenged to enter the credentials to the va

[2018-10-10 05:42] johlju commented on #231
In the parameter fields you should use the same name that is visible under the name file under Credentials, 'AdminCreds', etc. Azure Automation should automatically pick up the credential object then.

[2018-10-12 04:58] ameyaagashe commented on #231
Unfortunately, it's not happening so what is the next step for resolution?

[2018-10-12 13:08] johlju commented on #231
@ameyaagashe Sorry to hear that it's not working for you. Unfortunately I'm not seeing this as a problem with the resources in this resource module, but instead you are having an issue using Azure Automation. This is an issue that is outside of the scope of these resources.
Please look at https://docs.microsoft.com/en-us/azure/automation/automation-dsc-compile, or other articles around compiling c

[2018-10-18 15:33] andyKalman commented on #124
+1 here. Exact same behavior here with 2016 core. First DC no problem, second DC has the same Set-target resource error as above.

[2018-10-18 16:34] andyKalman commented on #124
It looks like there may be a DNS requirement for `Get-Domain` and `Set-TargetResource`. I set the DNS server for the second DC to be the IP of my first DC but still no joy. To be clear I am in Azure and have not changed my vnet over from Azure Global DNS just yet. Is my OS override going to conflict with that and further, is the DNS bit just a red herring in all of this?

[2018-10-18 17:42] ronhowe commented on #219
I support this implementation.  I am deploying users with xADUser.  I have to add them to configuration, deploy, then take them out and redeploy so that they don't keep getting their password set back to the default.

[2018-10-25 12:30] #222 closed

[2018-10-26 21:06] Absoblogginlutely commented on #156
From my understanding and reading of Readme.MD (line 99) I think this issue is actually closed?.

[2018-10-31 19:57] andyKalman commented on #124
@gesandovalr I did get this to work. I wish I could say what the silver bullett was because I addressed a number of things but I will list them here. Also, full disclosure, I am using this in Azure so I may have faced some different issues compared to others:

1. My first issue was Azure networking. I had some offending routes in routetables that needed corrected ; i.e. I had bad routes with next

[2018-10-31 20:58] gesandovalr commented on #124
I'll give it try tomorrow, I'm trying to deploy something very simple https://github.com/citrix/Citrix-Cloud-VDI-ARM-Template I read the readme.md that this guy had and I didn't saw the part of an automation account was required.

Thanks.

[2018-10-31 21:37] andyKalman commented on #124
Looks like he is building the automation credential object himself. If you're deploying to Azure it becomes fairly simple in your script to get the credential if you have it stored in an automation account already vs building the object yourself by using `Get-AutomationPSCredential`. Surely the other way works too but this is how I am achieving the result. It may be more overhead than you want to

[2018-10-31 22:14] gesandovalr commented on #124
I'm creating the credentials first with the Automation Account and see if this maybe works if iot works I'll proceed to change the code.

[2018-11-01 02:32] gesandovalr commented on #124
Well it didn't work, I been with this issue for almost one month, I can't sort this out, I do not understand why I keep bothering doing this, DSC is just utter crap. I'll create this infra manually.

Thanks for your help Andy.

[2018-11-07 23:28] claudiospizzi opened #235 "xADGroup: Member logic executed even if it not was specified"
#### Details of the scenario you tried and the problem that is occurring
I've used the xADGroup resource in a complex multi Forest multi Trust environment to create a so called "Local Administrators" group for each server in AD, to control the local server Administrators in a central place. Creating is no problem. But as soon as a group has a member, which belongs to a different trusted forest, th

[2018-11-07 23:29] claudiospizzi commented on #235
PoC for the solution:
https://github.com/claudiospizzi/xActiveDirectory/compare/dev...claudiospizzi:xADGroupOptimize

[2018-11-20 23:11] devopsjesus commented on #181
Hi all,

I kept running into this during a lab setup, so I tracked my issue down to this scenario:

If the `Install-ADDSDomain` cmdlet fails during the **initial** consistency check, the tracking file is still written to the temp folder, since it seems there is currently no error handling for that cmdlet in the Set-TargetResource function:

[code]
Then, every time the resource runs, the Get-Target

[2018-12-21 21:11] #231 closed

[2018-12-28 11:48] DennisGaida opened #236 "xADObjectPermissionEntry: Cannot find a provider with the name 'Microsoft.ActiveDirectory.Management\ActiveDirectory'"
#### Details of the scenario you tried and the problem that is occurring
Trying to set the replicating changes permission for a user account I get the error message "Cannot find a provider with the name 'Microsoft.ActiveDirectory.Management\ActiveDirectory'" in DSC log.
Maybe a missing Windows Feature? Some dependency? @claudiospizzi since you created the resource in #186 maybe you have some input

[2019-01-02 03:50] PlagueHO commented on #121
@kewalaka Nice! It sounds like this could work! Very keen to get some great test automation in for this module.

[2019-01-16 01:43] rchristman89 commented on #146
I could see implementing a check to make sure the path is passed can be created if it doesn't exist. But as long as it is a valid path meaning the drive letter exists, then it will create those files in that location.

[2019-01-17 15:46] #235 closed

[2019-01-27 21:51] DennisGaida commented on #236
Well there is nothing I can do here, right? I'm just waiting for input from someone from the team.

[2019-01-29 21:23] #108 closed

[2019-02-01 23:39] albvar commented on #44
Can we add ChangePasswordAtLogon to this as well?

[2019-02-08 11:30] liambarnett commented on #236
Are there any updates on this? I have been experiencing a similar issue. @DennisGaida have you continued with your workaround or made any more progress?

[2019-02-09 19:31] DennisGaida commented on #236
Still running my customized version of `MSFT_xADObjectPermissionEntry.psm1` and as you can tell no input or update on this issue 😢

[2019-02-13 14:33] Keldandorin opened #239 "ADServicePrincipalName Need $credential attribute"
#### Details of the scenario you tried and the problem that is occurring
Trying to add SPN to service account from server that dont have AD permission

#### Verbose logs showing the problem

#### Suggested solution to the issue
    add $credential attribute so its possible to add SPN from server client that do not have permission

#### The DSC configuration that is used to reproduce the issue (as

[2019-02-19 05:23] darkedges commented on #124
I am using `xWaitForADDomain` to wait for services to become available, but although it reports it is available when I use `xADUser` it reports
[code]

I have found adding

[code]

to my powershell some makes this work.

[2019-02-28 06:35] johlju commented on #236
Labeling this as a bug and help wanted. Anyone in  the community can work to resolve this.

[2019-02-28 06:37] johlju commented on #239
Is it possible for you to use the built-in `PsDscRunAsCredential` which will make the resource run as that user?

[2019-03-05 07:33] #152 closed

[2019-03-08 09:06] wrighbr opened #244 "ADGroup: Importing module MSFT_xADGroup failed"
#### Details of the scenario you tried and the problem that is occurring

#### Verbose logs showing the problem
[code]

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
[code]

#### The operating system the target node is running

#### Version and build of PowerShell the target node is running
Name                           Value
----

[2019-03-12 16:07] #148 closed

[2019-03-12 16:07] #191 closed

[2019-03-12 16:09] johlju opened #245 "ActiveDirectoryDsc: Add stubs to be used with unit tests"
I think we need to add stubs to use in the unit tests, similar that was done in SqlServerDsc https://github.com/PowerShell/SqlServerDsc/tree/dev/Tests/Unit/Stubs.

For example there is no need to add helper functions to support mocking (which lowers the code coverage also). An example is here, a function that was added because we are missing stubs.

https://github.com/PowerShell/xActiveDirectory/b

[2019-03-12 16:54] johlju commented on #244
I could not reproduce this using your example. Could it be that the group you are adding to contains members that generate this issue?
If so could you see if there is a way to reproduce the scenario?

My result:

[code]

[2019-03-14 04:49] Chirag1233 opened #246 "xADUser: Unable to add ChangePasswordAtLogon to the New-ADUser cmdlet"
Hi guys I am trying to add the ChangePasswordAtLogon Parameter to the new-aduser so everytime a new users gets created they have to reset the password at first logon. do you know why I can't just simply replace New-ADUser @newADUserParams -SamAccountName $UserName;  to  New-ADUser @newADUserParams -SamAccountName $UserName -ChangePasswordAtLogon $true -Verbose; or is there any other way I can chan

[2019-03-18 11:11] RobC-CTL opened #247 "xADDomainController: Get-ADDomain fails on Server 2019"
#### Details of the scenario you tried and the problem that is occurring
xActiveDirectory version: 2.24

Deploying a AD forest with two DCs via ARM templates in Azure.  When promoting the second DC the DSC crashes out with the following error:
[code]
#### Verbose logs showing the problem
**DSC Log output**
[code]
#### Suggested solution to the issue
From what I can tell the Get-ADDomain command is

[2019-03-18 19:14] RobC-CTL commented on #247
If anyone else has this issue in the future, it looks like the ADWS port has been left out of this MS document ([link](https://support.microsoft.com/en-gb/help/179442/how-to-configure-a-firewall-for-domains-and-trusts)).  Check that TCP9389 is permitted on your firewalls and Get-ADDomain will work as expected.

[2019-03-18 19:14] #247 closed

[2019-03-20 20:23] brwilkinson opened #248 "ADComputer: Disabled computer account after the initial set"
When creating AD resources, including the Computer account often they are used for Cluster Name Objects (CNO).

Often we pre-stage computer accounts for the CNO in a particular OU in ActiveDirectory, so that when the cluster comes only it has permissions to reset the cluster account password and enable the account.

The ability to create a computer account that is not enabled was added to this res